# Introduction to CGAP data objects #

CGAP data universe begins with the original 18 CGAP surveys (three surveys for each of six countries).  The data are cleaned and aligned, and secondary data products are built, as shown in the following data map.  Most of these data products are flat files that lack metadata.  This notebook describes my first attempt at a json-based representation of data objects.

In [1]:
import sys
import os, json
import copy
from types import SimpleNamespace

import numpy as np
import pandas as pd

# Change this filepath to one for your machine
sys.path.append('/Users/mordor/research/habitus_project/mycode/predictables/Data/Data Objects/Code and Notebooks')

from CGAP_JSON_Encoders_Decoders import Question_Decoder, CGAP_Encoded, CGAP_Decoded, Country_Decoded


# Change this filepath to one for your machine. The actual file is on our Box
# folder at https://pitt.app.box.com/folder/136317983622

Data = CGAP_Decoded()
Data.read_and_decode('/Users/mordor/research/habitus_project/mycode/predictables/Data/Data Objects/CGAP_JSON.txt')

countries = ['bgd','cdi','moz','nga','tan','uga']

Before you begin, go to https://pitt.app.box.com/folder/134211910534 and open one of the User Guides.  Scroll down to page 30 or thereabouts -- it varies by country -- and familiarize yourself with the three surveys (Household, Multiple-respondent and Single-respondent).  Note that each survey item has an label such as H28 or A13. These are unique: No label appears in more than one survey.  In general, though not without exception, the same question in different countries gets the same label.

The `Data` object holds decoded json strings that hold data and metadata for each question.  `Data` is actually a Python SimpleNamespace, which makes it easy to access data using dot notation.   Thus, `Data.__dict__.keys()` gives you all the question keys:

In [11]:
for k,v in Data.__dict__.items(): 
    print(f"key={k}{v}")

key=bgd_A1namespace(answers={'lease_certificate': 1, 'customary_law': 2, 'communal': 3, 'state_ownership': 4, 'Kott': 5, 'other': 6}, country='bgd', df=         A1
1       1.0
2       1.0
3       NaN
4       1.0
5       1.0
...     ...
800129  1.0
800130  6.0
800131  1.0
800132  1.0
800133  1.0

[3136 rows x 1 columns], df_name='bgd_rr', label='A1', qtype='single', survey='rr', text='What is the form of ownership of your land?')
key=cdi_A1namespace(answers={'lease_certificate': 1, 'customary_law': 2, 'communal': 3, 'state_ownership': 4, 'sharecropping': 5, 'other': 6}, country='cdi', df=           A1
31416320  2.0
31416321  1.0
31416322  6.0
31416323  6.0
31416324  6.0
...       ...
31186932  2.0
31186933  2.0
31186934  2.0
31285239  2.0
31416319  2.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A1', qtype='single', survey='rr', text='What is the form of ownership of your land?')
key=moz_A1namespace(answers={'lease_certificate': 1, 'customary_law': 2, 'communal': 3, 'state_ownership': 4, 'other': 5}, country='moz', df=           A1
22552580  1.0
22487045  4.0
22159366  2.0
22790149  3.0
22790150  3.0
...       ...
22757331  2.0
22552539  5.0
22200293  1.0
22102008  1.0
22167545  2.0

[2462 rows x 1 columns], df_name='moz_rr', label='A1', qtype='single', survey='rr', text='What is the form of ownership of your land?')
key=nga_A1namespace(answers={'lease_certificate': 1, 'customary_law': 2, 'communal': 3, 'state_ownership': 4, 'other': 5}, country='nga', df=           A1
40509448  3.0
40509449  2.0
40503694  3.0
40503695  3.0
40542247  1.0
...       ...
40501230  3.0
40525806  2.0
40304631  1.0
40344123  1.0
40344124  1.0

[2858 rows x 1 columns], df_name='nga_rr', label='A1', qtype='single', survey='rr', text='What is the form of ownership of your land?')
key=tan_A1namespace(answers={'lease_certificate': 1, 'customary_law': 2, 'communal': 3, 'state_ownership': 4, 'other': 5}, country='tan', df=           A1
29073409  2.0
29007876  2.0
28852233  1.0
28852234  1.0
28975115  1.0
...       ...
28884943  1.0
28901353  1.0
28909557  NaN
28909558  2.0
29351928  1.0

[2812 rows x 1 columns], df_name='tan_rr', label='A1', qtype='single', survey='rr', text='What is the form of ownership of your land?')
key=uga_A1namespace(answers={'lease_certificate': 1, 'customary_law': 2, 'communal': 3, 'state_ownership': 4, 'other': 5}, country='uga', df=           A1
23068679  2.0
22716424  1.0
22716425  3.0
23306249  1.0
22945803  1.0
...       ...
23306221  2.0
23306222  2.0
22872056  2.0
22904826  1.0
22945787  1.0

[2859 rows x 1 columns], df_name='uga_rr', label='A1', qtype='single', survey='rr', text='What is the form of ownership of your land?')
key=bgd_A2namespace(country='bgd', df=              A2
1       0.404858
2       0.485830
3            NaN
4       0.161943
5       0.809717
...          ...
800129  0.242915
800130  0.000000
800131  0.000000
800132  0.000000
800133  0.000000

[3136 rows x 1 columns], df_name='bgd_rr', label='A2', qtype='single', survey='rr', text='How many hectares of agricultural land do you own?')
key=cdi_A2namespace(country='cdi', df=            A2
31416320  20.0
31416321   NaN
31416322   NaN
31416323   NaN
31416324   NaN
...        ...
31186932   3.0
31186933   5.0
31186934   5.0
31285239   4.0
31416319  30.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A2', qtype='single', survey='rr', text='How many hectares of agricultural land do you own?')
key=moz_A2namespace(country='moz', df=           A2
22552580  5.0
22487045  2.0
22159366  0.0
22790149  1.0
22790150  2.0
...       ...
22757331  2.0
22552539  2.0
22200293  1.0
22102008  2.0
22167545  1.0

[2462 rows x 1 columns], df_name='moz_rr', label='A2', qtype='single', survey='rr', text='How many hectares of agricultural land do you own?')
key=nga_A2namespace(country='nga', df=                A2
40509448  0.333333
40509449  0.066667
40503694  1.000000
40503695  2.000000
40542247       NaN
...            ...
40501230  0.533333
40525806  0.066667
40304631  0.133333
40344123  0.200000
40344124  0.200000

[2858 rows x 1 columns], df_name='nga_rr', label='A2', qtype='single', survey='rr', text='How many hectares of agricultural land do you own?')
key=tan_A2namespace(country='tan', df=                A2
29073409  2.834008
29007876  1.214575
28852233  3.000000
28852234  0.809717
28975115  3.000000
...            ...
28884943  2.429150
28901353  0.404858
28909557       NaN
28909558  0.005574
29351928  2.000000

[2812 rows x 1 columns], df_name='tan_rr', label='A2', qtype='single', survey='rr', text='How many hectares of agricultural land do you own?')
key=uga_A2namespace(country='uga', df=                 A2
23068679   0.404858
22716424  16.194332
22716425        NaN
23306249   0.202429
22945803   1.214575
...             ...
23306221   0.607287
23306222   0.404858
22872056   1.619433
22904826   8.097166
22945787   0.404858

[2859 rows x 1 columns], df_name='uga_rr', label='A2', qtype='single', survey='rr', text='How many hectares of agricultural land do you own?')
key=bgd_A3namespace(country='bgd', df=              A3
1       0.283401
2       0.425101
3            NaN
4       0.020243
5       0.000000
...          ...
800129  0.364372
800130  0.607287
800131  0.364372
800132  0.421053
800133  0.315789

[3136 rows x 1 columns], df_name='bgd_rr', label='A3', qtype='single', survey='rr', text='How many hectares of agricultural land do rent, borrow or have the right to use?')
key=cdi_A3namespace(country='cdi', df=            A3
31416320   NaN
31416321  12.0
31416322   NaN
31416323   NaN
31416324   NaN
...        ...
31186932   3.0
31186933   5.0
31186934   5.0
31285239   1.0
31416319   NaN

[3002 rows x 1 columns], df_name='cdi_rr', label='A3', qtype='single', survey='rr', text='How many hectares of agricultural land do rent, borrow or have the right to use?')
key=moz_A3namespace(country='moz', df=           A3
22552580  NaN
22487045  0.0
22159366  0.0
22790149  1.0
22790150  1.0
...       ...
22757331  0.0
22552539  0.0
22200293  0.0
22102008  0.0
22167545  2.0

[2462 rows x 1 columns], df_name='moz_rr', label='A3', qtype='single', survey='rr', text='How many hectares of agricultural land do rent, borrow or have the right to use?')
key=nga_A3namespace(country='nga', df=                A3
40509448  0.333333
40509449  0.066667
40503694       NaN
40503695  1.000000
40542247       NaN
...            ...
40501230  0.200000
40525806  0.200000
40304631  0.133333
40344123  0.200000
40344124  0.200000

[2858 rows x 1 columns], df_name='nga_rr', label='A3', qtype='single', survey='rr', text='How many hectares of agricultural land do rent, borrow or have the right to use?')
key=tan_A3namespace(country='tan', df=                A3
29073409  2.834008
29007876  0.404858
28852233  2.000000
28852234  0.809717
28975115  3.000000
...            ...
28884943  2.429150
28901353  0.404858
28909557       NaN
28909558  0.005574
29351928  2.000000

[2812 rows x 1 columns], df_name='tan_rr', label='A3', qtype='single', survey='rr', text='How many hectares of agricultural land do rent, borrow or have the right to use?')
key=uga_A3namespace(country='uga', df=                 A3
23068679   0.404858
22716424  16.194332
22716425        NaN
23306249   0.202429
22945803        NaN
...             ...
23306221   0.000000
23306222   0.000000
22872056   1.619433
22904826        NaN
22945787        NaN

[2859 rows x 1 columns], df_name='uga_rr', label='A3', qtype='single', survey='rr', text='How many hectares of agricultural land do rent, borrow or have the right to use?')
key=bgd_A4namespace(answers={'yes': 1, 'no': 2}, country='bgd', df=         A4
1       1.0
2       1.0
3       NaN
4       2.0
5       1.0
...     ...
800129  2.0
800130  1.0
800131  2.0
800132  1.0
800133  1.0

[3136 rows x 1 columns], df_name='bgd_rr', label='A4', qtype='single', survey='rr', text='Do you consider your farm to be a business?')
key=cdi_A4namespace(answers={'yes': 1, 'no': 2}, country='cdi', df=           A4
31416320  1.0
31416321  1.0
31416322  1.0
31416323  1.0
31416324  1.0
...       ...
31186932  2.0
31186933  2.0
31186934  2.0
31285239  2.0
31416319  1.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A4', qtype='single', survey='rr', text='Do you consider your farm to be a business?')
key=moz_A4namespace(answers={'yes': 1, 'no': 2}, country='moz', df=           A4
22552580  NaN
22487045  2.0
22159366  2.0
22790149  1.0
22790150  1.0
...       ...
22757331  1.0
22552539  2.0
22200293  1.0
22102008  1.0
22167545  1.0

[2462 rows x 1 columns], df_name='moz_rr', label='A4', qtype='single', survey='rr', text='Do you consider your farm to be a business?')
key=nga_A4namespace(answers={'yes': 1, 'no': 2}, country='nga', df=           A4
40509448  2.0
40509449  2.0
40503694  1.0
40503695  1.0
40542247  1.0
...       ...
40501230  1.0
40525806  1.0
40304631  1.0
40344123  1.0
40344124  1.0

[2858 rows x 1 columns], df_name='nga_rr', label='A4', qtype='single', survey='rr', text='Do you consider your farm to be a business?')
key=tan_A4namespace(answers={'yes': 1, 'no': 2}, country='tan', df=           A4
29073409  1.0
29007876  2.0
28852233  2.0
28852234  2.0
28975115  1.0
...       ...
28884943  1.0
28901353  1.0
28909557  NaN
28909558  2.0
29351928  2.0

[2812 rows x 1 columns], df_name='tan_rr', label='A4', qtype='single', survey='rr', text='Do you consider your farm to be a business?')
key=uga_A4namespace(answers={'yes': 1, 'no': 2}, country='uga', df=           A4
23068679  1.0
22716424  1.0
22716425  1.0
23306249  1.0
22945803  1.0
...       ...
23306221  2.0
23306222  2.0
22872056  1.0
22904826  1.0
22945787  1.0

[2859 rows x 1 columns], df_name='uga_rr', label='A4', qtype='single', survey='rr', text='Do you consider your farm to be a business?')

key=bgd_A5namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Wheat': 2, 'Mango': 3, 'Jute': 4, 'Maize': 5, 'Tea': 6, 'Pulses': 7, 'Sugarcane': 8, 'Tobacco': 9, 'Chilies': 10, 'Onions': 11, 'Garlic': 12, 'Potato': 13, 'Rapeseed': 14, 'Mustard_seed': 15, 'Coconut': 16, 'Eggplant': 17, 'Radish': 18, 'Tomatoes': 19, 'Cauliflower': 20, 'Cabbage': 21, 'Pumpkin': 22, 'Banana': 23, 'Jackfruit': 24, 'Pineapple': 25, 'Guava': 26, 'Sesame': 27, 'Other_1': 28, 'Other_2': 29, 'Other_3': 30, 'No_crop': 31}, country='bgd', df=        Rice  Wheat  Mango  Jute  Maize  Tea  Pulses  Sugarcane  Tobacco  \
1        1.0    2.0    1.0   1.0    2.0  2.0     2.0        2.0      2.0
2        1.0    1.0    2.0   1.0    2.0  2.0     2.0        2.0      2.0
3        NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
4        1.0    2.0    2.0   2.0    2.0  2.0     1.0        2.0      2.0
5        1.0    2.0    2.0   2.0    2.0  2.0     1.0        2.0      2.0
...      ...    ...    ...   ...    ...  ...     ...        ...      ...
800129   1.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0
800130   1.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0
800131   1.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0
800132   1.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0
800133   1.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0

        Chilies  ...  Pumpkin  Banana  Jackfruit  Pineapple  Guava  Sesame  \
1           2.0  ...      2.0     1.0        1.0        2.0    2.0     2.0
2           2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0
3           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
4           2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0
5           1.0  ...      2.0     2.0        2.0        2.0    2.0     2.0
...         ...  ...      ...     ...        ...        ...    ...     ...
800129      2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0
800130      2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0
800131      2.0  ...      1.0     2.0        2.0        2.0    2.0     2.0
800132      2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0
800133      2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0

        Other_1  Other_2  Other_3  No_crop
1           1.0      2.0      2.0      2.0
2           2.0      2.0      2.0      2.0
3           NaN      NaN      NaN      NaN
4           2.0      2.0      2.0      2.0
5           2.0      2.0      2.0      2.0
...         ...      ...      ...      ...
800129      2.0      2.0      2.0      2.0
800130      1.0      2.0      2.0      2.0
800131      2.0      2.0      2.0      2.0
800132      1.0      1.0      1.0      2.0
800133      1.0      1.0      1.0      2.0

[3136 rows x 31 columns], df_name='bgd_rr', label='A5', qtype='multi', survey='rr', text='Which of the following crops do you grow?')
key=cdi_A5namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Maize': 2, 'Cocoa': 3, 'Coffee': 4, 'Sweet_potato': 5, 'Cassava': 6, 'Cashew': 7, 'Plantain': 8, 'Groundnuts': 9, 'Millet': 10, 'Palm_oil': 11, 'Hevea': 12, 'Okra': 13, 'Chilies': 14, 'Onions': 15, 'Eggplant': 16, 'Tomatoes': 17, 'Cabbage': 18, 'Pumpkin': 19, 'Cucumber': 20, 'Salad': 21, 'Sesame': 22, 'Sugarcane': 23, 'Mango': 24, 'Papaya': 25, 'Orange': 26, 'Coconut': 27, 'Banana': 28, 'Pineapple': 29, 'Guava': 30, 'Cotton': 31, 'Yams': 32, 'Other_1': 33, 'Other_2': 34, 'Other_3': 35, 'No_crop': 36}, country='cdi', df=          Rice  Maize  Cocoa  Coffee  Sweet_potato  Cassava  Cashew  Plantain  \
31416320   1.0    1.0    2.0     2.0           2.0      2.0     1.0       2.0
31416321   1.0    1.0    2.0     2.0           2.0      2.0     1.0       2.0
31416322   1.0    1.0    2.0     2.0           2.0      2.0     1.0       2.0
31416323   1.0    1.0    2.0     2.0           2.0      2.0     1.0       2.0
31416324   1.0    1.0    2.0     2.0           2.0      2.0     1.0       2.0
...        ...    ...    ...     ...           ...      ...     ...       ...
31186932   1.0    1.0    2.0     2.0           2.0      2.0     1.0       2.0
31186933   1.0    1.0    2.0     2.0           2.0      2.0     1.0       2.0
31186934   1.0    1.0    2.0     2.0           2.0      2.0     1.0       2.0
31285239   1.0    1.0    1.0     2.0           2.0      1.0     2.0       2.0
31416319   1.0    1.0    2.0     2.0           2.0      2.0     1.0       2.0

          Groundnuts  Millet  ...  Orange  Coconut  Banana  Pineapple  Guava  \
31416320         1.0     1.0  ...     2.0      2.0     2.0        2.0    2.0
31416321         1.0     1.0  ...     2.0      2.0     2.0        2.0    2.0
31416322         1.0     1.0  ...     2.0      2.0     2.0        2.0    2.0
31416323         1.0     1.0  ...     2.0      2.0     2.0        2.0    2.0
31416324         1.0     1.0  ...     2.0      2.0     2.0        2.0    2.0
...              ...     ...  ...     ...      ...     ...        ...    ...
31186932         1.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
31186933         1.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
31186934         1.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
31285239         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
31416319         1.0     1.0  ...     2.0      2.0     2.0        2.0    2.0

          Cotton  Yams  Other_1  Other_2  Other_3
31416320     1.0   2.0      2.0      2.0      2.0
31416321     1.0   2.0      2.0      2.0      2.0
31416322     1.0   1.0      2.0      2.0      2.0
31416323     1.0   1.0      2.0      2.0      2.0
31416324     1.0   2.0      2.0      2.0      2.0
...          ...   ...      ...      ...      ...
31186932     2.0   2.0      2.0      2.0      2.0
31186933     1.0   2.0      2.0      2.0      2.0
31186934     2.0   2.0      2.0      2.0      2.0
31285239     2.0   1.0      2.0      2.0      2.0
31416319     1.0   2.0      2.0      2.0      2.0

[3002 rows x 35 columns], df_name='cdi_rr', label='A5', qtype='multi', survey='rr', text='Which of the following crops do you grow?')
key=moz_A5namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Coconut': 13, 'Cotton': 14, 'Sesame': 15, 'Mango': 16, 'Cashew': 17, 'Sugarcane': 18, 'Tobacco': 19, 'Tea': 20, 'Avocado': 21, 'Cocoa': 22, 'Sisal': 23, 'Cloves': 24, 'Coffee': 25, 'Sunflower': 26, 'Tomatoes': 27, 'Onions': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='moz', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
22552580    2.0    2.0           2.0      2.0   2.0         1.0     2.0
22487045    1.0    2.0           2.0      2.0   2.0         2.0     1.0
22159366    2.0    2.0           2.0      2.0   2.0         1.0     1.0
22790149    1.0    1.0           1.0      2.0   2.0         2.0     1.0
22790150    1.0    2.0           1.0      2.0   2.0         2.0     2.0
...         ...    ...           ...      ...   ...         ...     ...
22757331    1.0    2.0           1.0      2.0   2.0         1.0     1.0
22552539    1.0    2.0           2.0      2.0   2.0         1.0     2.0
22200293    1.0    2.0           1.0      2.0   2.0         2.0     1.0
22102008    1.0    1.0           2.0      2.0   2.0         1.0     2.0
22167545    1.0    2.0           2.0      2.0   2.0         2.0     2.0

          Millet  Cassava  Potato  ...  Sisal  Cloves  Coffee  Sunflower  \
22552580     2.0      1.0     2.0  ...    2.0     2.0     2.0        2.0
22487045     2.0      1.0     2.0  ...    2.0     2.0     2.0        2.0
22159366     2.0      1.0     2.0  ...    2.0     2.0     2.0        2.0
22790149     2.0      1.0     2.0  ...    2.0     2.0     2.0        2.0
22790150     2.0      1.0     2.0  ...    2.0     2.0     2.0        2.0
...          ...      ...     ...  ...    ...     ...     ...        ...
22757331     2.0      1.0     2.0  ...    2.0     2.0     2.0        2.0
22552539     2.0      1.0     2.0  ...    2.0     2.0     2.0        2.0
22200293     2.0      1.0     2.0  ...    2.0     2.0     2.0        2.0
22102008     2.0      1.0     2.0  ...    2.0     2.0     2.0        2.0
22167545     2.0      2.0     2.0  ...    2.0     2.0     2.0        2.0

          Tomatoes  Onions  Other_1  Other_2  Other_3  No_crop
22552580       1.0     2.0      2.0      2.0      2.0      1.0
22487045       2.0     2.0      2.0      2.0      2.0      1.0
22159366       2.0     2.0      2.0      2.0      2.0      1.0
22790149       1.0     2.0      2.0      2.0      2.0      1.0
22790150       2.0     2.0      2.0      2.0      2.0      1.0
...            ...     ...      ...      ...      ...      ...
22757331       2.0     2.0      2.0      2.0      2.0      1.0
22552539       2.0     2.0      2.0      2.0      2.0      1.0
22200293       2.0     2.0      2.0      2.0      2.0      1.0
22102008       2.0     2.0      2.0      2.0      2.0      1.0
22167545       2.0     2.0      2.0      2.0      2.0      1.0

[2462 rows x 32 columns], df_name='moz_rr', label='A5', qtype='multi', survey='rr', text='Which of the following crops do you grow?')
key=nga_A5namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Wheat': 1, 'Rice': 2, 'Maize': 3, 'Millet': 4, 'Sorghum': 5, 'Fonio': 6, 'Potato': 7, 'Sweet_potato': 8, 'Cassava': 9, 'Taro': 10, 'Yams': 11, 'Sugarcane': 12, 'Cowpea': 13, 'Pulses': 14, 'Beans': 15, 'Soybeans': 16, 'Groundnuts': 17, 'Coconut': 18, 'Palm_oil': 19, 'Karite_Shea': 20, 'Sesame': 21, 'Melonseed': 22, 'Seed_cotton': 23, 'Tomatoes': 24, 'Cabbage': 25, 'Onions': 26, 'Cashew': 27, 'Banana': 28, 'Cotton': 29, 'Tobacco': 30, 'Pyrethrum': 31, 'Coffee': 32, 'Orange': 33, 'No_crop': 34}, country='nga', df=          Wheat  Rice  Maize  Millet  Sorghum  Fonio  Potato  Sweet_potato  \
40509448    2.0   2.0    1.0     2.0      2.0    2.0     2.0           2.0
40509449    2.0   2.0    1.0     2.0      2.0    2.0     2.0           2.0
40503694    2.0   2.0    2.0     2.0      2.0    2.0     2.0           2.0
40503695    2.0   2.0    2.0     2.0      2.0    2.0     2.0           2.0
40542247    2.0   1.0    1.0     1.0      1.0    2.0     2.0           2.0
...         ...   ...    ...     ...      ...    ...     ...           ...
40501230    2.0   2.0    1.0     2.0      2.0    2.0     1.0           1.0
40525806    2.0   2.0    1.0     1.0      1.0    2.0     2.0           1.0
40304631    2.0   2.0    2.0     1.0      2.0    2.0     2.0           2.0
40344123    2.0   2.0    1.0     2.0      2.0    2.0     2.0           2.0
40344124    2.0   2.0    1.0     2.0      2.0    2.0     2.0           2.0

          Cassava  Taro  ...  Cabbage  Onions  Cashew  Banana  Cotton  \
40509448      1.0   1.0  ...      2.0     2.0     2.0     2.0     2.0
40509449      1.0   1.0  ...      2.0     2.0     2.0     2.0     2.0
40503694      1.0   2.0  ...      2.0     2.0     2.0     2.0     2.0
40503695      1.0   2.0  ...      2.0     2.0     2.0     2.0     2.0
40542247      1.0   2.0  ...      2.0     2.0     2.0     2.0     2.0
...           ...   ...  ...      ...     ...     ...     ...     ...
40501230      1.0   1.0  ...      2.0     2.0     2.0     2.0     2.0
40525806      2.0   2.0  ...      2.0     1.0     2.0     2.0     2.0
40304631      2.0   2.0  ...      2.0     2.0     2.0     2.0     2.0
40344123      1.0   2.0  ...      2.0     2.0     1.0     2.0     2.0
40344124      1.0   2.0  ...      2.0     2.0     2.0     2.0     2.0

          Tobacco  Pyrethrum  Coffee  Orange  No_crop
40509448      2.0        2.0     2.0     2.0      2.0
40509449      2.0        2.0     2.0     2.0      1.0
40503694      2.0        2.0     2.0     2.0      2.0
40503695      2.0        2.0     2.0     2.0      2.0
40542247      2.0        2.0     2.0     2.0      2.0
...           ...        ...     ...     ...      ...
40501230      2.0        2.0     2.0     2.0      1.0
40525806      2.0        2.0     2.0     2.0      1.0
40304631      2.0        2.0     2.0     2.0      2.0
40344123      2.0        2.0     2.0     2.0      2.0
40344124      2.0        2.0     2.0     2.0      2.0

[2858 rows x 34 columns], df_name='nga_rr', label='A5', qtype='multi', survey='rr', text='Which of the following crops do you grow?')
key=tan_A5namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Rice': 2, 'Sorghum': 3, 'Millet': 5, 'Cassava': 6, 'Sweet_potato': 7, 'Potato': 8, 'Beans': 9, 'Cowpea': 10, 'Pigeon_pea': 11, 'Sunflower': 12, 'Sesame': 13, 'Groundnuts': 14, 'Tomatoes': 15, 'Cabbage': 16, 'Onions': 17, 'Amaranth': 18, 'Cashew': 19, 'Banana': 20, 'Cotton': 21, 'Tobacco': 22, 'Pyrethrum': 23, 'Coffee': 24, 'Coconut': 25, 'Orange': 26, 'Sugarcane': 27, 'Palm_oil': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='tan', df=          Maize  Rice  Sorghum  Millet  Cassava  Sweet_potato  Potato  Beans  \
29073409    1.0   1.0      2.0     2.0      2.0           1.0     2.0    1.0
29007876    1.0   2.0      2.0     2.0      2.0           2.0     2.0    1.0
28852233    1.0   1.0      2.0     2.0      1.0           1.0     2.0    1.0
28852234    1.0   2.0      2.0     2.0      1.0           1.0     2.0    2.0
28975115    1.0   1.0      2.0     2.0      2.0           2.0     2.0    2.0
...         ...   ...      ...     ...      ...           ...     ...    ...
28884943    1.0   2.0      1.0     2.0      2.0           2.0     2.0    2.0
28901353    1.0   2.0      2.0     2.0      2.0           2.0     2.0    2.0
28909557    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
28909558    2.0   2.0      2.0     2.0      2.0           2.0     2.0    2.0
29351928    1.0   2.0      2.0     2.0      2.0           2.0     2.0    2.0

          Cowpea  Pigeon_pea  ...  Pyrethrum  Coffee  Coconut  Orange  \
29073409     2.0         2.0  ...        2.0     2.0      2.0     2.0
29007876     2.0         2.0  ...        2.0     2.0      2.0     2.0
28852233     2.0         2.0  ...        2.0     2.0      2.0     2.0
28852234     2.0         2.0  ...        2.0     2.0      2.0     2.0
28975115     2.0         2.0  ...        2.0     2.0      2.0     2.0
...          ...         ...  ...        ...     ...      ...     ...
28884943     2.0         2.0  ...        2.0     2.0      2.0     2.0
28901353     2.0         2.0  ...        2.0     2.0      2.0     2.0
28909557     NaN         NaN  ...        NaN     NaN      NaN     NaN
28909558     2.0         2.0  ...        2.0     2.0      2.0     2.0
29351928     2.0         2.0  ...        2.0     2.0      2.0     2.0

          Sugarcane  Palm_oil  Other_1  Other_2  Other_3  No_crop
29073409        2.0       2.0      2.0      2.0      2.0      2.0
29007876        2.0       2.0      2.0      2.0      2.0      2.0
28852233        2.0       2.0      2.0      2.0      2.0      2.0
28852234        2.0       2.0      2.0      2.0      2.0      2.0
28975115        2.0       2.0      2.0      2.0      2.0      2.0
...             ...       ...      ...      ...      ...      ...
28884943        2.0       2.0      1.0      1.0      2.0      2.0
28901353        2.0       2.0      2.0      2.0      2.0      2.0
28909557        NaN       NaN      NaN      NaN      NaN      NaN
28909558        2.0       2.0      2.0      2.0      2.0      2.0
29351928        2.0       2.0      2.0      2.0      2.0      2.0

[2812 rows x 31 columns], df_name='tan_rr', label='A5', qtype='multi', survey='rr', text='Which of the following crops do you grow?')

key=uga_A5namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Cotton': 13, 'Sesame': 21, 'Sugarcane': 15, 'Tobacco': 16, 'Tea': 17, 'Cocoa': 18, 'Coffee': 19, 'Field_pea': 20, 'Soybeans': 22, 'Other_1': 23, 'Other_2': 24, 'Other_3': 25, 'No_crop': 26}, country='uga', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
23068679    1.0    1.0           2.0      2.0   2.0         2.0     2.0
22716424    1.0    1.0           2.0      2.0   1.0         2.0     2.0
22716425    2.0    2.0           2.0      2.0   2.0         2.0     2.0
23306249    1.0    1.0           2.0      2.0   2.0         2.0     2.0
22945803    1.0    1.0           2.0      2.0   2.0         2.0     2.0
...         ...    ...           ...      ...   ...         ...     ...
23306221    1.0    2.0           2.0      2.0   2.0         2.0     2.0
23306222    1.0    2.0           2.0      2.0   2.0         2.0     2.0
22872056    1.0    1.0           1.0      2.0   2.0         1.0     2.0
22904826    1.0    1.0           1.0      2.0   2.0         2.0     2.0
22945787    1.0    1.0           1.0      2.0   2.0         2.0     2.0

          Millet  Cassava  Potato  ...  Tobacco  Tea  Cocoa  Coffee  \
23068679     2.0      1.0     2.0  ...      2.0  2.0    2.0     2.0
22716424     2.0      2.0     2.0  ...      2.0  2.0    2.0     2.0
22716425     2.0      2.0     2.0  ...      2.0  2.0    2.0     2.0
23306249     2.0      2.0     2.0  ...      2.0  2.0    2.0     1.0
22945803     1.0      1.0     2.0  ...      2.0  2.0    2.0     2.0
...          ...      ...     ...  ...      ...  ...    ...     ...
23306221     2.0      2.0     2.0  ...      2.0  2.0    2.0     2.0
23306222     2.0      2.0     2.0  ...      2.0  2.0    2.0     2.0
22872056     2.0      1.0     2.0  ...      2.0  2.0    2.0     1.0
22904826     2.0      2.0     2.0  ...      2.0  1.0    2.0     2.0
22945787     1.0      1.0     2.0  ...      2.0  2.0    2.0     2.0

          Field_pea  Soybeans  Other_1  Other_2  Other_3  No_crop
23068679        2.0       2.0      2.0      2.0      2.0      1.0
22716424        2.0       2.0      2.0      2.0      2.0      1.0
22716425        2.0       2.0      1.0      2.0      2.0      1.0
23306249        2.0       2.0      2.0      2.0      2.0      1.0
22945803        2.0       2.0      2.0      2.0      2.0      1.0
...             ...       ...      ...      ...      ...      ...
23306221        2.0       2.0      2.0      2.0      2.0      1.0
23306222        2.0       2.0      2.0      2.0      2.0      1.0
22872056        2.0       2.0      2.0      2.0      2.0      1.0
22904826        2.0       2.0      2.0      2.0      2.0      1.0
22945787        2.0       1.0      2.0      2.0      2.0      1.0

[2859 rows x 25 columns], df_name='uga_rr', label='A5', qtype='multi', survey='rr', text='Which of the following crops do you grow?')
key=bgd_A7namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Wheat': 2, 'Mango': 3, 'Jute': 4, 'Maize': 5, 'Tea': 6, 'Pulses': 7, 'Sugarcane': 8, 'Tobacco': 9, 'Chilies': 10, 'Onions': 11, 'Garlic': 12, 'Potato': 13, 'Rapeseed': 14, 'Mustard_seed': 15, 'Coconut': 16, 'Eggplant': 17, 'Radish': 18, 'Tomatoes': 19, 'Cauliflower': 20, 'Cabbage': 21, 'Pumpkin': 22, 'Banana': 23, 'Jackfruit': 24, 'Pineapple': 25, 'Guava': 26, 'Sesame': 27, 'Other_1': 28, 'Other_2': 29, 'Other_3': 30, 'No_crop': 31}, country='bgd', df=        Rice  Wheat  Mango  Jute  Maize  Tea  Pulses  Sugarcane  Tobacco  \
1        1.0    NaN    2.0   2.0    NaN  NaN     NaN        NaN      NaN
2        1.0    1.0    NaN   2.0    NaN  NaN     NaN        NaN      NaN
3        NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
4        1.0    NaN    NaN   NaN    NaN  NaN     1.0        NaN      NaN
5        1.0    NaN    NaN   NaN    NaN  NaN     2.0        NaN      NaN
...      ...    ...    ...   ...    ...  ...     ...        ...      ...
800129   1.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800130   1.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800131   1.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800132   1.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800133   1.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN

        Chilies  ...  Pumpkin  Banana  Jackfruit  Pineapple  Guava  Sesame  \
1           NaN  ...      NaN     2.0        2.0        NaN    NaN     NaN
2           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
3           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
4           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
5           2.0  ...      NaN     NaN        NaN        NaN    NaN     NaN
...         ...  ...      ...     ...        ...        ...    ...     ...
800129      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
800130      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
800131      NaN  ...      1.0     NaN        NaN        NaN    NaN     NaN
800132      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
800133      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN

        Other_1  Other_2  Other_3  No_crop
1           2.0      NaN      NaN      2.0
2           NaN      NaN      NaN      2.0
3           NaN      NaN      NaN      NaN
4           NaN      NaN      NaN      2.0
5           NaN      NaN      NaN      2.0
...         ...      ...      ...      ...
800129      NaN      NaN      NaN      2.0
800130      1.0      NaN      NaN      2.0
800131      NaN      NaN      NaN      2.0
800132      2.0      1.0      1.0      2.0
800133      2.0      1.0      1.0      2.0

[3136 rows x 31 columns], df_name='bgd_rr', label='A7', qtype='multi', survey='rr', text='Which of the following crops do you grow that you consume at home?')
key=cdi_A7namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Maize': 2, 'Cocoa': 3, 'Coffee': 4, 'Sweet_potato': 5, 'Cassava': 6, 'Cashew': 7, 'Plantain': 8, 'Groundnuts': 9, 'Millet': 10, 'Palm_oil': 11, 'Hevea': 12, 'Okra': 13, 'Chilies': 14, 'Onions': 15, 'Eggplant': 16, 'Tomatoes': 17, 'Cabbage': 18, 'Pumpkin': 19, 'Cucumber': 20, 'Salad': 21, 'Sesame': 22, 'Sugarcane': 23, 'Mango': 24, 'Papaya': 25, 'Orange': 26, 'Coconut': 27, 'Banana': 28, 'Pineapple': 29, 'Guava': 30, 'Cotton': 31, 'Yams': 32, 'Other_1': 33, 'Other_2': 34, 'Other_3': 35, 'No_crop': 36}, country='cdi', df=          Rice  Maize  Cocoa  Coffee  Sweet_potato  Cassava  Cashew  Plantain  \
31416320   1.0    1.0    NaN     NaN           NaN      NaN     2.0       NaN
31416321   1.0    1.0    NaN     NaN           NaN      NaN     2.0       NaN
31416322   1.0    1.0    NaN     NaN           NaN      NaN     2.0       NaN
31416323   1.0    1.0    NaN     NaN           NaN      NaN     2.0       NaN
31416324   1.0    1.0    NaN     NaN           NaN      NaN     2.0       NaN
...        ...    ...    ...     ...           ...      ...     ...       ...
31186932   1.0    1.0    NaN     NaN           NaN      NaN     2.0       NaN
31186933   1.0    1.0    NaN     NaN           NaN      NaN     2.0       NaN
31186934   1.0    1.0    NaN     NaN           NaN      NaN     2.0       NaN
31285239   1.0    1.0    2.0     NaN           NaN      1.0     NaN       NaN
31416319   1.0    1.0    NaN     NaN           NaN      NaN     2.0       NaN

          Groundnuts  Millet  ...  Orange  Coconut  Banana  Pineapple  Guava  \
31416320         1.0     1.0  ...     NaN      NaN     NaN        NaN    NaN
31416321         1.0     1.0  ...     NaN      NaN     NaN        NaN    NaN
31416322         1.0     1.0  ...     NaN      NaN     NaN        NaN    NaN
31416323         1.0     1.0  ...     NaN      NaN     NaN        NaN    NaN
31416324         1.0     1.0  ...     NaN      NaN     NaN        NaN    NaN
...              ...     ...  ...     ...      ...     ...        ...    ...
31186932         1.0     NaN  ...     NaN      NaN     NaN        NaN    NaN
31186933         1.0     NaN  ...     NaN      NaN     NaN        NaN    NaN
31186934         1.0     NaN  ...     NaN      NaN     NaN        NaN    NaN
31285239         NaN     NaN  ...     NaN      NaN     NaN        NaN    NaN
31416319         1.0     1.0  ...     NaN      NaN     NaN        NaN    NaN

          Cotton  Yams  Other_1  Other_2  Other_3
31416320     2.0   NaN      NaN      NaN      2.0
31416321     2.0   NaN      NaN      NaN      2.0
31416322     2.0   1.0      NaN      NaN      2.0
31416323     2.0   1.0      NaN      NaN      2.0
31416324     2.0   NaN      NaN      NaN      2.0
...          ...   ...      ...      ...      ...
31186932     NaN   NaN      NaN      NaN      2.0
31186933     2.0   NaN      NaN      NaN      2.0
31186934     NaN   NaN      NaN      NaN      2.0
31285239     NaN   1.0      NaN      NaN      2.0
31416319     2.0   NaN      NaN      NaN      2.0

[3002 rows x 35 columns], df_name='cdi_rr', label='A7', qtype='multi', survey='rr', text='Which of the following crops do you grow that you consume at home?')

key=moz_A7namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Coconut': 13, 'Cotton': 14, 'Sesame': 15, 'Mango': 16, 'Cashew': 17, 'Sugarcane': 18, 'Tobacco': 19, 'Tea': 20, 'Avocado': 21, 'Cocoa': 22, 'Sisal': 23, 'Cloves': 24, 'Coffee': 25, 'Sunflower': 26, 'Tomatoes': 27, 'Onions': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='moz', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
22552580    NaN    NaN           NaN      NaN   NaN         1.0     NaN
22487045    1.0    2.0           2.0      NaN   NaN         1.0     1.0
22159366    NaN    NaN           NaN      NaN   NaN         1.0     1.0
22790149    2.0    1.0           1.0      NaN   NaN         NaN     1.0
22790150    1.0    NaN           2.0      NaN   NaN         NaN     NaN
...         ...    ...           ...      ...   ...         ...     ...
22757331    1.0    NaN           1.0      NaN   NaN         1.0     1.0
22552539    1.0    NaN           NaN      NaN   NaN         1.0     NaN
22200293    1.0    NaN           1.0      NaN   NaN         NaN     1.0
22102008    1.0    1.0           NaN      NaN   NaN         1.0     NaN
22167545    1.0    NaN           NaN      NaN   NaN         NaN     NaN

          Millet  Cassava  Potato  ...  Avocado  Cocoa  Sisal  Cloves  Coffee  \
22552580     NaN      1.0     NaN  ...      NaN    NaN    NaN     NaN     NaN
22487045     NaN      1.0     NaN  ...      NaN    NaN    NaN     NaN     NaN
22159366     NaN      1.0     NaN  ...      NaN    NaN    NaN     NaN     NaN
22790149     NaN      1.0     NaN  ...      NaN    NaN    NaN     NaN     NaN
22790150     NaN      1.0     NaN  ...      NaN    NaN    NaN     NaN     NaN
...          ...      ...     ...  ...      ...    ...    ...     ...     ...
22757331     NaN      1.0     NaN  ...      NaN    NaN    NaN     NaN     NaN
22552539     NaN      1.0     NaN  ...      NaN    NaN    NaN     NaN     NaN
22200293     NaN      1.0     NaN  ...      NaN    NaN    NaN     NaN     NaN
22102008     NaN      1.0     NaN  ...      NaN    NaN    NaN     NaN     NaN
22167545     NaN      NaN     NaN  ...      NaN    NaN    NaN     NaN     NaN

          Sunflower  Tomatoes  Onions  Other_1  No_crop
22552580        NaN       1.0     NaN      NaN      1.0
22487045        NaN       NaN     NaN      NaN      1.0
22159366        NaN       NaN     NaN      NaN      1.0
22790149        NaN       1.0     1.0      NaN      1.0
22790150        NaN       2.0     2.0      NaN      1.0
...             ...       ...     ...      ...      ...
22757331        NaN       NaN     NaN      NaN      1.0
22552539        NaN       NaN     NaN      NaN      1.0
22200293        NaN       NaN     NaN      NaN      1.0
22102008        NaN       NaN     NaN      NaN      1.0
22167545        NaN       NaN     NaN      NaN      1.0

[2462 rows x 30 columns], df_name='moz_rr', label='A7', qtype='multi', survey='rr', text='Which of the following crops do you grow that you consume at home?')
key=nga_A7namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Wheat': 1, 'Rice': 2, 'Maize': 3, 'Millet': 4, 'Sorghum': 5, 'Fonio': 6, 'Potato': 7, 'Sweet_potato': 8, 'Cassava': 9, 'Taro': 10, 'Yams': 11, 'Sugarcane': 12, 'Cowpea': 13, 'Pulses': 14, 'Beans': 15, 'Soybeans': 16, 'Groundnuts': 17, 'Coconut': 18, 'Palm_oil': 19, 'Karite_Shea': 20, 'Sesame': 21, 'Melonseed': 22, 'Seed_cotton': 23, 'Tomatoes': 24, 'Cabbage': 25, 'Onions': 26, 'Cashew': 27, 'Banana': 28, 'Cotton': 29, 'Tobacco': 30, 'Pyrethrum': 31, 'Coffee': 32, 'Orange': 33, 'No_crop': 34}, country='nga', df=          Wheat  Rice  Maize  Millet  Sorghum  Fonio  Potato  Sweet_potato  \
40509448    NaN   NaN    1.0     NaN      NaN    NaN     NaN           NaN
40509449    NaN   NaN    1.0     NaN      NaN    NaN     NaN           NaN
40503694    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
40503695    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
40542247    NaN   1.0    1.0     1.0      1.0    NaN     NaN           NaN
...         ...   ...    ...     ...      ...    ...     ...           ...
40501230    NaN   NaN    1.0     NaN      NaN    NaN     1.0           1.0
40525806    NaN   NaN    1.0     1.0      1.0    NaN     NaN           2.0
40304631    NaN   NaN    NaN     1.0      NaN    NaN     NaN           NaN
40344123    NaN   NaN    1.0     NaN      NaN    NaN     NaN           NaN
40344124    NaN   NaN    1.0     NaN      NaN    NaN     NaN           NaN

          Cassava  Taro  ...  Cabbage  Onions  Cashew  Banana  Cotton  \
40509448      1.0   1.0  ...      NaN     NaN     NaN     NaN     NaN
40509449      1.0   1.0  ...      NaN     NaN     NaN     NaN     NaN
40503694      1.0   NaN  ...      NaN     NaN     NaN     NaN     NaN
40503695      1.0   NaN  ...      NaN     NaN     NaN     NaN     NaN
40542247      2.0   NaN  ...      NaN     NaN     NaN     NaN     NaN
...           ...   ...  ...      ...     ...     ...     ...     ...
40501230      1.0   2.0  ...      NaN     NaN     NaN     NaN     NaN
40525806      NaN   NaN  ...      NaN     1.0     NaN     NaN     NaN
40304631      NaN   NaN  ...      NaN     NaN     NaN     NaN     NaN
40344123      1.0   NaN  ...      NaN     NaN     2.0     NaN     NaN
40344124      1.0   NaN  ...      NaN     NaN     NaN     NaN     NaN

          Tobacco  Pyrethrum  Coffee  Orange  No_crop
40509448      NaN        NaN     NaN     NaN      NaN
40509449      NaN        NaN     NaN     NaN      1.0
40503694      NaN        NaN     NaN     NaN      NaN
40503695      NaN        NaN     NaN     NaN      NaN
40542247      NaN        NaN     NaN     NaN      NaN
...           ...        ...     ...     ...      ...
40501230      NaN        NaN     NaN     NaN      1.0
40525806      NaN        NaN     NaN     NaN      1.0
40304631      NaN        NaN     NaN     NaN      NaN
40344123      NaN        NaN     NaN     NaN      NaN
40344124      NaN        NaN     NaN     NaN      NaN

[2858 rows x 34 columns], df_name='nga_rr', label='A7', qtype='multi', survey='rr', text='Which of the following crops do you grow that you consume at home?')
key=tan_A7namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Rice': 2, 'Sorghum': 3, 'Millet': 5, 'Cassava': 6, 'Sweet_potato': 7, 'Potato': 8, 'Beans': 9, 'Cowpea': 10, 'Pigeon_pea': 11, 'Sunflower': 12, 'Sesame': 13, 'Groundnuts': 14, 'Tomatoes': 15, 'Cabbage': 16, 'Onions': 17, 'Amaranth': 18, 'Cashew': 19, 'Banana': 20, 'Cotton': 21, 'Tobacco': 22, 'Pyrethrum': 23, 'Coffee': 24, 'Coconut': 25, 'Orange': 26, 'Sugarcane': 27, 'Palm_oil': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='tan', df=          Maize  Rice  Sorghum  Millet  Cassava  Sweet_potato  Potato  Beans  \
29073409    1.0   2.0      NaN     NaN      NaN           2.0     NaN    2.0
29007876    1.0   NaN      NaN     NaN      NaN           NaN     NaN    1.0
28852233    1.0   1.0      NaN     NaN      1.0           1.0     NaN    1.0
28852234    1.0   NaN      NaN     NaN      1.0           1.0     NaN    NaN
28975115    1.0   1.0      NaN     NaN      NaN           NaN     NaN    NaN
...         ...   ...      ...     ...      ...           ...     ...    ...
28884943    1.0   NaN      1.0     NaN      NaN           NaN     NaN    NaN
28901353    1.0   NaN      NaN     NaN      NaN           NaN     NaN    NaN
28909557    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
28909558    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
29351928    1.0   NaN      NaN     NaN      NaN           NaN     NaN    NaN

          Cowpea  Pigeon_pea  ...  Pyrethrum  Coffee  Coconut  Orange  \
29073409     NaN         NaN  ...        NaN     NaN      NaN     NaN
29007876     NaN         NaN  ...        NaN     NaN      NaN     NaN
28852233     NaN         NaN  ...        NaN     NaN      NaN     NaN
28852234     NaN         NaN  ...        NaN     NaN      NaN     NaN
28975115     NaN         NaN  ...        NaN     NaN      NaN     NaN
...          ...         ...  ...        ...     ...      ...     ...
28884943     NaN         NaN  ...        NaN     NaN      NaN     NaN
28901353     NaN         NaN  ...        NaN     NaN      NaN     NaN
28909557     NaN         NaN  ...        NaN     NaN      NaN     NaN
28909558     NaN         NaN  ...        NaN     NaN      NaN     NaN
29351928     NaN         NaN  ...        NaN     NaN      NaN     NaN

          Sugarcane  Palm_oil  Other_1  Other_2  Other_3  No_crop
29073409        NaN       NaN      NaN      NaN      NaN      2.0
29007876        NaN       NaN      NaN      NaN      NaN      2.0
28852233        NaN       NaN      NaN      NaN      NaN      2.0
28852234        NaN       NaN      NaN      NaN      NaN      2.0
28975115        NaN       NaN      NaN      NaN      NaN      2.0
...             ...       ...      ...      ...      ...      ...
28884943        NaN       NaN      2.0      2.0      NaN      2.0
28901353        NaN       NaN      NaN      NaN      NaN      2.0
28909557        NaN       NaN      NaN      NaN      NaN      NaN
28909558        NaN       NaN      NaN      NaN      NaN      2.0
29351928        NaN       NaN      NaN      NaN      NaN      2.0

[2812 rows x 31 columns], df_name='tan_rr', label='A7', qtype='multi', survey='rr', text='Which of the following crops do you grow that you consume at home?')
key=uga_A7namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Cotton': 13, 'Sesame': 21, 'Sugarcane': 15, 'Tobacco': 16, 'Tea': 17, 'Cocoa': 18, 'Coffee': 19, 'Field_pea': 20, 'Soybeans': 22, 'Other_1': 23, 'Other_2': 24, 'Other_3': 25, 'No_crop': 26}, country='uga', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
23068679    1.0    1.0           1.0      NaN   NaN         NaN     NaN
22716424    2.0    1.0           NaN      NaN   2.0         NaN     NaN
22716425    NaN    NaN           NaN      NaN   NaN         NaN     NaN
23306249    1.0    1.0           NaN      NaN   NaN         NaN     NaN
22945803    2.0    1.0           NaN      NaN   NaN         NaN     NaN
...         ...    ...           ...      ...   ...         ...     ...
23306221    1.0    1.0           NaN      NaN   NaN         NaN     NaN
23306222    1.0    NaN           NaN      NaN   NaN         NaN     NaN
22872056    1.0    1.0           1.0      NaN   NaN         1.0     NaN
22904826    2.0    2.0           2.0      NaN   NaN         NaN     NaN
22945787    2.0    1.0           1.0      2.0   NaN         2.0     NaN

          Millet  Cassava  Potato  ...  Tobacco  Tea  Cocoa  Coffee  \
23068679     NaN      1.0     NaN  ...      NaN  NaN    NaN     NaN
22716424     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
22716425     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
23306249     NaN      NaN     NaN  ...      NaN  NaN    NaN     2.0
22945803     2.0      1.0     NaN  ...      NaN  NaN    NaN     NaN
...          ...      ...     ...  ...      ...  ...    ...     ...
23306221     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
23306222     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
22872056     NaN      1.0     NaN  ...      NaN  NaN    NaN     2.0
22904826     NaN      1.0     NaN  ...      NaN  2.0    NaN     NaN
22945787     2.0      1.0     NaN  ...      NaN  NaN    NaN     NaN

          Field_pea  Soybeans  Other_1  Other_2  Other_3  No_crop
23068679        NaN       NaN      NaN      NaN      NaN      1.0
22716424        NaN       NaN      NaN      NaN      NaN      1.0
22716425        NaN       NaN      1.0      1.0      1.0      1.0
23306249        NaN       NaN      NaN      NaN      NaN      1.0
22945803        NaN       NaN      NaN      NaN      NaN      1.0
...             ...       ...      ...      ...      ...      ...
23306221        NaN       NaN      NaN      NaN      NaN      1.0
23306222        NaN       NaN      NaN      NaN      NaN      1.0
22872056        NaN       NaN      NaN      NaN      NaN      1.0
22904826        NaN       NaN      NaN      NaN      NaN      1.0
22945787        NaN       2.0      NaN      NaN      NaN      1.0

[2859 rows x 25 columns], df_name='uga_rr', label='A7', qtype='multi', survey='rr', text='Which of the following crops do you grow that you consume at home?')

key=bgd_A9namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Wheat': 2, 'Mango': 3, 'Jute': 4, 'Maize': 5, 'Tea': 6, 'Pulses': 7, 'Sugarcane': 8, 'Tobacco': 9, 'Chilies': 10, 'Onions': 11, 'Garlic': 12, 'Potato': 13, 'Rapeseed': 14, 'Mustard_seed': 15, 'Coconut': 16, 'Eggplant': 17, 'Radish': 18, 'Tomatoes': 19, 'Cauliflower': 20, 'Cabbage': 21, 'Pumpkin': 22, 'Banana': 23, 'Jackfruit': 24, 'Pineapple': 25, 'Guava': 26, 'Sesame': 27, 'Other_1': 28, 'Other_2': 29, 'Other_3': 30, 'No_crop': 31}, country='bgd', df=        Rice  Wheat  Mango  Jute  Maize  Tea  Pulses  Sugarcane  Tobacco  \
1        2.0    1.0    2.0   2.0    1.0  1.0     1.0        1.0      1.0
2        2.0    2.0    1.0   2.0    1.0  1.0     1.0        1.0      1.0
3        NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
4        2.0    2.0    2.0   2.0    2.0  1.0     2.0        2.0      2.0
5        2.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0
...      ...    ...    ...   ...    ...  ...     ...        ...      ...
800129   1.0    1.0    1.0   1.0    1.0  1.0     1.0        1.0      1.0
800130   1.0    1.0    1.0   1.0    1.0  1.0     1.0        1.0      1.0
800131   2.0    2.0    2.0   2.0    2.0  1.0     1.0        2.0      2.0
800132   2.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0
800133   2.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0

        Chilies  ...  Pumpkin  Banana  Jackfruit  Pineapple  Guava  Sesame  \
1           1.0  ...      1.0     2.0        2.0        1.0    1.0     1.0
2           1.0  ...      1.0     1.0        1.0        1.0    1.0     1.0
3           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
4           1.0  ...      1.0     1.0        1.0        2.0    2.0     2.0
5           2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0
...         ...  ...      ...     ...        ...        ...    ...     ...
800129      1.0  ...      1.0     1.0        2.0        1.0    1.0     1.0
800130      1.0  ...      1.0     1.0        1.0        1.0    1.0     1.0
800131      1.0  ...      1.0     1.0        1.0        1.0    1.0     1.0
800132      2.0  ...      1.0     2.0        2.0        2.0    2.0     2.0
800133      1.0  ...      1.0     2.0        2.0        2.0    2.0     2.0

        Other_1  Other_2  Other_3  No_crop
1           2.0      2.0      2.0      2.0
2           2.0      2.0      2.0      2.0
3           NaN      NaN      NaN      NaN
4           2.0      2.0      2.0      2.0
5           2.0      2.0      2.0      2.0
...         ...      ...      ...      ...
800129      2.0      2.0      2.0      2.0
800130      2.0      2.0      2.0      2.0
800131      2.0      2.0      2.0      2.0
800132      2.0      2.0      2.0      2.0
800133      2.0      2.0      2.0      2.0

[3136 rows x 31 columns], df_name='bgd_rr', label='A9', qtype='multi', survey='rr', text='Do you buy any of the following crops?')
key=cdi_A9namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Maize': 2, 'Cocoa': 3, 'Coffee': 4, 'Sweet_potato': 5, 'Cassava': 6, 'Cashew': 7, 'Plantain': 8, 'Groundnuts': 9, 'Millet': 10, 'Palm_oil': 11, 'Hevea': 12, 'Okra': 13, 'Chilies': 14, 'Onions': 15, 'Eggplant': 16, 'Tomatoes': 17, 'Cabbage': 18, 'Pumpkin': 19, 'Cucumber': 20, 'Salad': 21, 'Sesame': 22, 'Sugarcane': 23, 'Mango': 24, 'Papaya': 25, 'Orange': 26, 'Coconut': 27, 'Banana': 28, 'Pineapple': 29, 'Guava': 30, 'Cotton': 31, 'Yams': 32, 'Other_1': 33, 'Other_2': 34, 'Other_3': 35, 'No_crop': 36}, country='cdi', df=          Rice  Maize  Cocoa  Coffee  Sweet_potato  Cassava  Cashew  Plantain  \
31416320   1.0    1.0    2.0     2.0           1.0      1.0     2.0       1.0
31416321   1.0    1.0    2.0     2.0           1.0      1.0     2.0       1.0
31416322   1.0    1.0    2.0     2.0           1.0      1.0     2.0       1.0
31416323   1.0    1.0    2.0     2.0           1.0      1.0     1.0       1.0
31416324   1.0    1.0    2.0     2.0           1.0      1.0     2.0       1.0
...        ...    ...    ...     ...           ...      ...     ...       ...
31186932   2.0    2.0    2.0     2.0           1.0      2.0     2.0       2.0
31186933   1.0    2.0    2.0     2.0           2.0      2.0     2.0       2.0
31186934   2.0    2.0    2.0     2.0           1.0      2.0     2.0       2.0
31285239   1.0    1.0    2.0     2.0           2.0      2.0     2.0       2.0
31416319   1.0    1.0    2.0     2.0           1.0      1.0     2.0       1.0

          Groundnuts  Millet  ...  Orange  Coconut  Banana  Pineapple  Guava  \
31416320         1.0     1.0  ...     1.0      1.0     1.0        1.0    1.0
31416321         1.0     1.0  ...     1.0      1.0     1.0        1.0    1.0
31416322         1.0     1.0  ...     1.0      1.0     1.0        1.0    1.0
31416323         1.0     1.0  ...     1.0      1.0     1.0        1.0    1.0
31416324         1.0     1.0  ...     1.0      1.0     1.0        1.0    1.0
...              ...     ...  ...     ...      ...     ...        ...    ...
31186932         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
31186933         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
31186934         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
31285239         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
31416319         1.0     1.0  ...     1.0      1.0     1.0        1.0    1.0

          Cotton  Yams  Other_1  Other_2  Other_3
31416320     2.0   2.0      2.0      2.0      2.0
31416321     2.0   2.0      2.0      2.0      2.0
31416322     2.0   2.0      2.0      2.0      2.0
31416323     2.0   2.0      2.0      2.0      2.0
31416324     2.0   2.0      2.0      2.0      2.0
...          ...   ...      ...      ...      ...
31186932     2.0   2.0      2.0      2.0      2.0
31186933     2.0   2.0      2.0      2.0      2.0
31186934     2.0   2.0      2.0      2.0      2.0
31285239     2.0   2.0      2.0      2.0      2.0
31416319     2.0   2.0      2.0      2.0      2.0

[3002 rows x 35 columns], df_name='cdi_rr', label='A9', qtype='multi', survey='rr', text='Do you buy any of the following crops?')
key=moz_A9namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Coconut': 13, 'Cotton': 14, 'Sesame': 15, 'Mango': 16, 'Cashew': 17, 'Sugarcane': 18, 'Tobacco': 19, 'Tea': 20, 'Avocado': 21, 'Cocoa': 22, 'Sisal': 23, 'Cloves': 24, 'Coffee': 25, 'Sunflower': 26, 'Tomatoes': 27, 'Onions': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='moz', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
22552580    2.0    2.0           2.0      2.0   2.0         2.0     2.0
22487045    2.0    1.0           2.0      2.0   1.0         1.0     2.0
22159366    2.0    2.0           2.0      2.0   1.0         2.0     2.0
22790149    1.0    2.0           2.0      2.0   2.0         2.0     2.0
22790150    1.0    1.0           1.0      2.0   2.0         2.0     2.0
...         ...    ...           ...      ...   ...         ...     ...
22757331    2.0    1.0           2.0      2.0   1.0         2.0     2.0
22552539    2.0    1.0           1.0      2.0   1.0         2.0     1.0
22200293    2.0    2.0           2.0      2.0   1.0         1.0     2.0
22102008    1.0    1.0           2.0      2.0   2.0         1.0     2.0
22167545    2.0    1.0           1.0      1.0   1.0         1.0     1.0

          Millet  Cassava  Potato  ...  Avocado  Cocoa  Sisal  Cloves  Coffee  \
22552580     2.0      2.0     2.0  ...      2.0    2.0    2.0     2.0     2.0
22487045     2.0      2.0     1.0  ...      2.0    2.0    2.0     2.0     2.0
22159366     2.0      2.0     2.0  ...      2.0    2.0    2.0     2.0     2.0
22790149     2.0      2.0     2.0  ...      2.0    2.0    2.0     2.0     2.0
22790150     2.0      1.0     2.0  ...      2.0    2.0    2.0     2.0     2.0
...          ...      ...     ...  ...      ...    ...    ...     ...     ...
22757331     2.0      2.0     1.0  ...      2.0    2.0    2.0     2.0     2.0
22552539     2.0      2.0     1.0  ...      2.0    2.0    2.0     2.0     1.0
22200293     2.0      2.0     1.0  ...      2.0    2.0    2.0     2.0     2.0
22102008     2.0      1.0     2.0  ...      2.0    2.0    2.0     2.0     2.0
22167545     2.0      1.0     1.0  ...      1.0    2.0    2.0     2.0     2.0

          Sunflower  Tomatoes  Onions  Other_1  Other_2
22552580        2.0       2.0     2.0      2.0      2.0
22487045        2.0       2.0     2.0      2.0      1.0
22159366        2.0       2.0     2.0      2.0      1.0
22790149        2.0       2.0     2.0      2.0      1.0
22790150        2.0       2.0     2.0      2.0      1.0
...             ...       ...     ...      ...      ...
22757331        2.0       2.0     2.0      2.0      1.0
22552539        2.0       2.0     2.0      2.0      1.0
22200293        2.0       2.0     2.0      2.0      1.0
22102008        2.0       2.0     2.0      2.0      1.0
22167545        2.0       2.0     2.0      2.0      1.0

[2462 rows x 30 columns], df_name='moz_rr', label='A9', qtype='multi', survey='rr', text='Do you buy any of the following crops?')
key=nga_A9namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Wheat': 1, 'Rice': 2, 'Maize': 3, 'Millet': 4, 'Sorghum': 5, 'Fonio': 6, 'Potato': 7, 'Sweet_potato': 8, 'Cassava': 9, 'Taro': 10, 'Yams': 11, 'Sugarcane': 12, 'Cowpea': 13, 'Pulses': 14, 'Beans': 15, 'Soybeans': 16, 'Groundnuts': 17, 'Coconut': 18, 'Palm_oil': 19, 'Karite_Shea': 20, 'Sesame': 21, 'Melonseed': 22, 'Seed_cotton': 23, 'Tomatoes': 24, 'Cabbage': 25, 'Onions': 26, 'Cashew': 27, 'Banana': 28, 'Cotton': 29, 'Tobacco': 30, 'Pyrethrum': 31, 'Coffee': 32, 'Orange': 33, 'No_crop': 34}, country='nga', df=          Wheat  Rice  Maize  Millet  Sorghum  Fonio  Potato  Sweet_potato  \
40509448    1.0   1.0    1.0     2.0      2.0    2.0     1.0           1.0
40509449    2.0   2.0    1.0     2.0      2.0    2.0     2.0           1.0
40503694    2.0   2.0    2.0     2.0      2.0    2.0     2.0           2.0
40503695    2.0   1.0    2.0     2.0      2.0    2.0     2.0           2.0
40542247    2.0   2.0    2.0     2.0      2.0    2.0     2.0           1.0
...         ...   ...    ...     ...      ...    ...     ...           ...
40501230    2.0   1.0    2.0     2.0      2.0    2.0     2.0           2.0
40525806    2.0   1.0    2.0     2.0      2.0    2.0     2.0           2.0
40304631    2.0   2.0    2.0     2.0      2.0    2.0     2.0           2.0
40344123    2.0   1.0    2.0     2.0      2.0    2.0     2.0           2.0
40344124    2.0   1.0    2.0     1.0      2.0    2.0     2.0           1.0

          Cassava  Taro  ...  Cabbage  Onions  Cashew  Banana  Cotton  \
40509448      2.0   2.0  ...      2.0     1.0     2.0     1.0     2.0
40509449      2.0   2.0  ...      2.0     2.0     2.0     1.0     2.0
40503694      2.0   2.0  ...      2.0     1.0     2.0     2.0     2.0
40503695      2.0   2.0  ...      2.0     1.0     2.0     2.0     2.0
40542247      2.0   2.0  ...      2.0     1.0     2.0     2.0     2.0
...           ...   ...  ...      ...     ...     ...     ...     ...
40501230      2.0   2.0  ...      2.0     1.0     2.0     1.0     2.0
40525806      2.0   2.0  ...      2.0     2.0     2.0     1.0     2.0
40304631      2.0   2.0  ...      2.0     2.0     2.0     2.0     2.0
40344123      2.0   2.0  ...      2.0     1.0     2.0     1.0     2.0
40344124      2.0   2.0  ...      2.0     1.0     2.0     1.0     2.0

          Tobacco  Pyrethrum  Coffee  Orange  No_crop
40509448      2.0        2.0     2.0     2.0      1.0
40509449      2.0        2.0     2.0     2.0      2.0
40503694      2.0        2.0     2.0     2.0      2.0
40503695      2.0        2.0     2.0     2.0      1.0
40542247      2.0        2.0     2.0     2.0      1.0
...           ...        ...     ...     ...      ...
40501230      2.0        2.0     2.0     1.0      1.0
40525806      2.0        2.0     1.0     1.0      2.0
40304631      2.0        2.0     2.0     2.0      2.0
40344123      2.0        2.0     2.0     2.0      2.0
40344124      2.0        2.0     2.0     2.0      2.0

[2858 rows x 34 columns], df_name='nga_rr', label='A9', qtype='multi', survey='rr', text='Do you buy any of the following crops?')

key=tan_A9namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Rice': 2, 'Sorghum': 3, 'Millet': 5, 'Cassava': 6, 'Sweet_potato': 7, 'Potato': 8, 'Beans': 9, 'Cowpea': 10, 'Pigeon_pea': 11, 'Sunflower': 12, 'Sesame': 13, 'Groundnuts': 14, 'Tomatoes': 15, 'Cabbage': 16, 'Onions': 17, 'Amaranth': 18, 'Cashew': 19, 'Banana': 20, 'Cotton': 21, 'Tobacco': 22, 'Pyrethrum': 23, 'Coffee': 24, 'Coconut': 25, 'Orange': 26, 'Sugarcane': 27, 'Palm_oil': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='tan', df=          Maize  Rice  Sorghum  Millet  Cassava  Sweet_potato  Potato  Beans  \
29073409    1.0   2.0      2.0     2.0      1.0           2.0     2.0    1.0
29007876    2.0   2.0      2.0     2.0      2.0           2.0     2.0    2.0
28852233    1.0   1.0      2.0     2.0      1.0           2.0     2.0    2.0
28852234    1.0   2.0      2.0     2.0      1.0           1.0     2.0    2.0
28975115    2.0   1.0      1.0     2.0      2.0           2.0     2.0    2.0
...         ...   ...      ...     ...      ...           ...     ...    ...
28884943    2.0   2.0      2.0     2.0      2.0           2.0     2.0    2.0
28901353    2.0   2.0      2.0     2.0      1.0           1.0     1.0    1.0
28909557    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
28909558    1.0   1.0      1.0     1.0      2.0           1.0     1.0    1.0
29351928    1.0   2.0      2.0     2.0      2.0           2.0     2.0    2.0

          Cowpea  Pigeon_pea  ...  Pyrethrum  Coffee  Coconut  Orange  \
29073409     2.0         2.0  ...        2.0     2.0      2.0     1.0
29007876     2.0         2.0  ...        2.0     2.0      2.0     2.0
28852233     2.0         2.0  ...        2.0     2.0      2.0     2.0
28852234     2.0         2.0  ...        2.0     2.0      2.0     2.0
28975115     2.0         2.0  ...        2.0     2.0      2.0     2.0
...          ...         ...  ...        ...     ...      ...     ...
28884943     2.0         2.0  ...        2.0     2.0      2.0     2.0
28901353     1.0         2.0  ...        2.0     2.0      1.0     2.0
28909557     NaN         NaN  ...        NaN     NaN      NaN     NaN
28909558     1.0         2.0  ...        2.0     2.0      2.0     2.0
29351928     2.0         2.0  ...        2.0     2.0      2.0     2.0

          Sugarcane  Palm_oil  Other_1  Other_2  Other_3  No_crop
29073409        1.0       2.0      2.0      2.0      2.0      2.0
29007876        2.0       2.0      2.0      2.0      2.0      1.0
28852233        2.0       2.0      2.0      2.0      2.0      2.0
28852234        2.0       2.0      2.0      2.0      2.0      2.0
28975115        2.0       2.0      2.0      2.0      2.0      2.0
...             ...       ...      ...      ...      ...      ...
28884943        2.0       2.0      2.0      2.0      2.0      2.0
28901353        1.0       2.0      2.0      2.0      2.0      2.0
28909557        NaN       NaN      NaN      NaN      NaN      NaN
28909558        2.0       2.0      2.0      2.0      2.0      2.0
29351928        2.0       2.0      2.0      2.0      2.0      2.0

[2812 rows x 31 columns], df_name='tan_rr', label='A9', qtype='multi', survey='rr', text='Do you buy any of the following crops?')
key=uga_A9namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Cotton': 13, 'Sesame': 21, 'Sugarcane': 15, 'Tobacco': 16, 'Tea': 17, 'Cocoa': 18, 'Coffee': 19, 'Field_pea': 20, 'Soybeans': 22, 'Other_1': 23, 'Other_2': 24, 'Other_3': 25, 'No_crop': 26}, country='uga', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
23068679    1.0    1.0           2.0      2.0   1.0         2.0     2.0
22716424    1.0    1.0           1.0      2.0   1.0         1.0     2.0
22716425    1.0    1.0           1.0      2.0   1.0         1.0     1.0
23306249    1.0    1.0           2.0      2.0   1.0         1.0     2.0
22945803    2.0    2.0           2.0      2.0   1.0         1.0     2.0
...         ...    ...           ...      ...   ...         ...     ...
23306221    2.0    2.0           2.0      2.0   2.0         2.0     2.0
23306222    2.0    1.0           2.0      2.0   2.0         2.0     2.0
22872056    2.0    2.0           2.0      2.0   1.0         2.0     2.0
22904826    2.0    2.0           2.0      2.0   1.0         1.0     2.0
22945787    2.0    2.0           2.0      2.0   2.0         2.0     2.0

          Millet  Cassava  Potato  ...  Tobacco  Tea  Cocoa  Coffee  \
23068679     2.0      2.0     2.0  ...      2.0  2.0    2.0     2.0
22716424     2.0      1.0     1.0  ...      2.0  2.0    2.0     2.0
22716425     2.0      1.0     1.0  ...      2.0  2.0    2.0     2.0
23306249     2.0      2.0     2.0  ...      2.0  2.0    2.0     2.0
22945803     2.0      2.0     2.0  ...      2.0  2.0    2.0     2.0
...          ...      ...     ...  ...      ...  ...    ...     ...
23306221     2.0      2.0     2.0  ...      2.0  2.0    2.0     2.0
23306222     2.0      2.0     2.0  ...      2.0  2.0    2.0     2.0
22872056     2.0      2.0     2.0  ...      2.0  1.0    2.0     2.0
22904826     2.0      2.0     1.0  ...      2.0  2.0    2.0     2.0
22945787     2.0      2.0     2.0  ...      2.0  2.0    2.0     2.0

          Field_pea  Soybeans  Other_1  Other_2  Other_3  No_crop
23068679        2.0       2.0      2.0      2.0      2.0      1.0
22716424        2.0       2.0      2.0      2.0      2.0      1.0
22716425        2.0       2.0      2.0      2.0      2.0      1.0
23306249        2.0       2.0      2.0      2.0      2.0      1.0
22945803        2.0       2.0      2.0      2.0      2.0      1.0
...             ...       ...      ...      ...      ...      ...
23306221        2.0       2.0      2.0      2.0      2.0      2.0
23306222        2.0       2.0      2.0      2.0      2.0      1.0
22872056        2.0       2.0      2.0      2.0      2.0      1.0
22904826        2.0       2.0      2.0      2.0      2.0      1.0
22945787        2.0       2.0      2.0      2.0      2.0      2.0

[2859 rows x 25 columns], df_name='uga_rr', label='A9', qtype='multi', survey='rr', text='Do you buy any of the following crops?')
key=bgd_A25namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Wheat': 2, 'Mango': 3, 'Jute': 4, 'Maize': 5, 'Tea': 6, 'Pulses': 7, 'Sugarcane': 8, 'Tobacco': 9, 'Chilies': 10, 'Onions': 11, 'Garlic': 12, 'Potato': 13, 'Rapeseed': 14, 'Mustard_seed': 15, 'Coconut': 16, 'Eggplant': 17, 'Radish': 18, 'Tomatoes': 19, 'Cauliflower': 20, 'Cabbage': 21, 'Pumpkin': 22, 'Banana': 23, 'Jackfruit': 24, 'Pineapple': 25, 'Guava': 26, 'Sesame': 27, 'Other_1': 28, 'Other_2': 29, 'Other_3': 30, 'No_crop': 31}, country='bgd', df=        Rice  Wheat  Mango  Jute  Maize  Tea  Pulses  Sugarcane  Tobacco  \
1        1.0    NaN    1.0   1.0    NaN  NaN     NaN        NaN      NaN
2        1.0    1.0    NaN   1.0    NaN  NaN     NaN        NaN      NaN
3        NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
4        2.0    NaN    NaN   NaN    NaN  NaN     2.0        NaN      NaN
5        1.0    NaN    NaN   NaN    NaN  NaN     2.0        NaN      NaN
...      ...    ...    ...   ...    ...  ...     ...        ...      ...
800129   2.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800130   1.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800131   2.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800132   2.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800133   1.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN

        Chilies  ...  Pumpkin  Banana  Jackfruit  Pineapple  Guava  Sesame  \
1           NaN  ...      NaN     1.0        1.0        NaN    NaN     NaN
2           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
3           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
4           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
5           1.0  ...      NaN     NaN        NaN        NaN    NaN     NaN
...         ...  ...      ...     ...        ...        ...    ...     ...
800129      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
800130      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
800131      NaN  ...      2.0     NaN        NaN        NaN    NaN     NaN
800132      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
800133      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN

        Other_1  Other_2  Other_3  No_crop
1           1.0      NaN      NaN      2.0
2           NaN      NaN      NaN      2.0
3           NaN      NaN      NaN      NaN
4           NaN      NaN      NaN      1.0
5           NaN      NaN      NaN      2.0
...         ...      ...      ...      ...
800129      NaN      NaN      NaN      1.0
800130      2.0      NaN      NaN      2.0
800131      NaN      NaN      NaN      1.0
800132      1.0      1.0      1.0      2.0
800133      1.0      1.0      1.0      2.0

[3136 rows x 31 columns], df_name='bgd_rr', label='A25', qtype='multi', survey='rr', text='Which of the following crops that you grow do you sell?')
key=cdi_A25namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Maize': 2, 'Cocoa': 3, 'Coffee': 4, 'Sweet_potato': 5, 'Cassava': 6, 'Cashew': 7, 'Plantain': 8, 'Groundnuts': 9, 'Millet': 10, 'Palm_oil': 11, 'Hevea': 12, 'Okra': 13, 'Chilies': 14, 'Onions': 15, 'Eggplant': 16, 'Tomatoes': 17, 'Cabbage': 18, 'Pumpkin': 19, 'Cucumber': 20, 'Salad': 21, 'Sesame': 22, 'Sugarcane': 23, 'Mango': 24, 'Papaya': 25, 'Orange': 26, 'Coconut': 27, 'Banana': 28, 'Pineapple': 29, 'Guava': 30, 'Cotton': 31, 'Yams': 32, 'Other_1': 33, 'Other_2': 34, 'Other_3': 35, 'No_crop': 36}, country='cdi', df=          Rice  Maize  Cocoa  Coffee  Sweet_potato  Cassava  Cashew  Plantain  \
31416320   2.0    2.0    NaN     NaN           NaN      NaN     1.0       NaN
31416321   2.0    1.0    NaN     NaN           NaN      NaN     1.0       NaN
31416322   2.0    1.0    NaN     NaN           NaN      NaN     1.0       NaN
31416323   2.0    1.0    NaN     NaN           NaN      NaN     1.0       NaN
31416324   2.0    2.0    NaN     NaN           NaN      NaN     1.0       NaN
...        ...    ...    ...     ...           ...      ...     ...       ...
31186932   2.0    2.0    NaN     NaN           NaN      NaN     1.0       NaN
31186933   2.0    2.0    NaN     NaN           NaN      NaN     1.0       NaN
31186934   2.0    1.0    NaN     NaN           NaN      NaN     1.0       NaN
31285239   1.0    2.0    1.0     NaN           NaN      2.0     NaN       NaN
31416319   2.0    1.0    NaN     NaN           NaN      NaN     1.0       NaN

          Groundnuts  Millet  ...  Orange  Coconut  Banana  Pineapple  Guava  \
31416320         2.0     2.0  ...     NaN      NaN     NaN        NaN    NaN
31416321         1.0     2.0  ...     NaN      NaN     NaN        NaN    NaN
31416322         1.0     2.0  ...     NaN      NaN     NaN        NaN    NaN
31416323         2.0     2.0  ...     NaN      NaN     NaN        NaN    NaN
31416324         2.0     2.0  ...     NaN      NaN     NaN        NaN    NaN
...              ...     ...  ...     ...      ...     ...        ...    ...
31186932         1.0     NaN  ...     NaN      NaN     NaN        NaN    NaN
31186933         1.0     NaN  ...     NaN      NaN     NaN        NaN    NaN
31186934         1.0     NaN  ...     NaN      NaN     NaN        NaN    NaN
31285239         NaN     NaN  ...     NaN      NaN     NaN        NaN    NaN
31416319         2.0     2.0  ...     NaN      NaN     NaN        NaN    NaN

          Cotton  Yams  Other_1  Other_2  Other_3
31416320     1.0   NaN      NaN      NaN      2.0
31416321     1.0   NaN      NaN      NaN      2.0
31416322     1.0   2.0      NaN      NaN      2.0
31416323     1.0   1.0      NaN      NaN      2.0
31416324     1.0   NaN      NaN      NaN      2.0
...          ...   ...      ...      ...      ...
31186932     NaN   NaN      NaN      NaN      2.0
31186933     1.0   NaN      NaN      NaN      2.0
31186934     NaN   NaN      NaN      NaN      2.0
31285239     NaN   2.0      NaN      NaN      2.0
31416319     1.0   NaN      NaN      NaN      2.0

[3002 rows x 35 columns], df_name='cdi_rr', label='A25', qtype='multi', survey='rr', text='Which of the following crops that you grow do you sell?')

key=moz_A25namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Coconut': 13, 'Cotton': 14, 'Sesame': 15, 'Mango': 16, 'Cashew': 17, 'Sugarcane': 18, 'Tobacco': 19, 'Tea': 20, 'Avocado': 21, 'Cocoa': 22, 'Sisal': 23, 'Cloves': 24, 'Coffee': 25, 'Sunflower': 26, 'Tomatoes': 27, 'Onions': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='moz', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
22552580    NaN    NaN           NaN      NaN   NaN         2.0     NaN
22487045    2.0    2.0           2.0      NaN   NaN         2.0     2.0
22159366    NaN    NaN           NaN      NaN   NaN         2.0     2.0
22790149    2.0    2.0           2.0      NaN   NaN         NaN     2.0
22790150    2.0    NaN           2.0      NaN   NaN         NaN     NaN
...         ...    ...           ...      ...   ...         ...     ...
22757331    1.0    NaN           1.0      NaN   NaN         1.0     1.0
22552539    2.0    NaN           NaN      NaN   NaN         2.0     NaN
22200293    1.0    NaN           2.0      NaN   NaN         NaN     2.0
22102008    1.0    2.0           NaN      NaN   NaN         1.0     NaN
22167545    2.0    NaN           NaN      NaN   NaN         NaN     NaN

          Millet  Cassava  Potato  ...  Tea  Avocado  Cocoa  Sisal  Cloves  \
22552580     NaN      2.0     NaN  ...  NaN      NaN    NaN    NaN     NaN
22487045     NaN      2.0     NaN  ...  NaN      NaN    NaN    NaN     NaN
22159366     NaN      2.0     NaN  ...  NaN      NaN    NaN    NaN     NaN
22790149     NaN      1.0     NaN  ...  NaN      NaN    NaN    NaN     NaN
22790150     NaN      2.0     NaN  ...  NaN      NaN    NaN    NaN     NaN
...          ...      ...     ...  ...  ...      ...    ...    ...     ...
22757331     NaN      1.0     NaN  ...  NaN      NaN    NaN    NaN     NaN
22552539     NaN      2.0     NaN  ...  NaN      NaN    NaN    NaN     NaN
22200293     NaN      1.0     NaN  ...  NaN      NaN    NaN    NaN     NaN
22102008     NaN      1.0     NaN  ...  NaN      NaN    NaN    NaN     NaN
22167545     NaN      NaN     NaN  ...  NaN      NaN    NaN    NaN     NaN

          Coffee  Sunflower  Tomatoes  Onions  Other_1
22552580     NaN        NaN       1.0     NaN      2.0
22487045     NaN        NaN       NaN     NaN      2.0
22159366     NaN        NaN       NaN     NaN      2.0
22790149     NaN        NaN       1.0     2.0      2.0
22790150     NaN        NaN       2.0     2.0      2.0
...          ...        ...       ...     ...      ...
22757331     NaN        NaN       NaN     NaN      2.0
22552539     NaN        NaN       NaN     NaN      2.0
22200293     NaN        NaN       NaN     NaN      2.0
22102008     NaN        NaN       NaN     NaN      2.0
22167545     NaN        NaN       NaN     NaN      2.0

[2462 rows x 29 columns], df_name='moz_rr', label='A25', qtype='multi', survey='rr', text='Which of the following crops that you grow do you sell?')
key=nga_A25namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Wheat': 1, 'Rice': 2, 'Maize': 3, 'Millet': 4, 'Sorghum': 5, 'Fonio': 6, 'Potato': 7, 'Sweet_potato': 8, 'Cassava': 9, 'Taro': 10, 'Yams': 11, 'Sugarcane': 12, 'Cowpea': 13, 'Pulses': 14, 'Beans': 15, 'Soybeans': 16, 'Groundnuts': 17, 'Coconut': 18, 'Palm_oil': 19, 'Karite_Shea': 20, 'Sesame': 21, 'Melonseed': 22, 'Seed_cotton': 23, 'Tomatoes': 24, 'Cabbage': 25, 'Onions': 26, 'Cashew': 27, 'Banana': 28, 'Cotton': 29, 'Tobacco': 30, 'Pyrethrum': 31, 'Coffee': 32, 'Orange': 33, 'No_crop': 34}, country='nga', df=          Wheat  Rice  Maize  Millet  Sorghum  Fonio  Potato  Sweet_potato  \
40509448    NaN   NaN    2.0     NaN      NaN    NaN     NaN           NaN
40509449    NaN   NaN    1.0     NaN      NaN    NaN     NaN           NaN
40503694    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
40503695    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
40542247    NaN   1.0    2.0     2.0      2.0    NaN     NaN           NaN
...         ...   ...    ...     ...      ...    ...     ...           ...
40501230    NaN   NaN    2.0     NaN      NaN    NaN     1.0           1.0
40525806    NaN   NaN    1.0     1.0      1.0    NaN     NaN           1.0
40304631    NaN   NaN    NaN     1.0      NaN    NaN     NaN           NaN
40344123    NaN   NaN    1.0     NaN      NaN    NaN     NaN           NaN
40344124    NaN   NaN    1.0     NaN      NaN    NaN     NaN           NaN

          Cassava  Taro  ...  Cabbage  Onions  Cashew  Banana  Cotton  \
40509448      1.0   2.0  ...      NaN     NaN     NaN     NaN     NaN
40509449      2.0   2.0  ...      NaN     NaN     NaN     NaN     NaN
40503694      1.0   NaN  ...      NaN     NaN     NaN     NaN     NaN
40503695      1.0   NaN  ...      NaN     NaN     NaN     NaN     NaN
40542247      2.0   NaN  ...      NaN     NaN     NaN     NaN     NaN
...           ...   ...  ...      ...     ...     ...     ...     ...
40501230      1.0   2.0  ...      NaN     NaN     NaN     NaN     NaN
40525806      NaN   NaN  ...      NaN     1.0     NaN     NaN     NaN
40304631      NaN   NaN  ...      NaN     NaN     NaN     NaN     NaN
40344123      1.0   NaN  ...      NaN     NaN     1.0     NaN     NaN
40344124      1.0   NaN  ...      NaN     NaN     NaN     NaN     NaN

          Tobacco  Pyrethrum  Coffee  Orange  No_crop
40509448      NaN        NaN     NaN     NaN      NaN
40509449      NaN        NaN     NaN     NaN      2.0
40503694      NaN        NaN     NaN     NaN      NaN
40503695      NaN        NaN     NaN     NaN      NaN
40542247      NaN        NaN     NaN     NaN      NaN
...           ...        ...     ...     ...      ...
40501230      NaN        NaN     NaN     NaN      2.0
40525806      NaN        NaN     NaN     NaN      1.0
40304631      NaN        NaN     NaN     NaN      NaN
40344123      NaN        NaN     NaN     NaN      NaN
40344124      NaN        NaN     NaN     NaN      NaN

[2858 rows x 34 columns], df_name='nga_rr', label='A25', qtype='multi', survey='rr', text='Which of the following crops that you grow do you sell?')
key=tan_A25namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Rice': 2, 'Sorghum': 3, 'Millet': 5, 'Cassava': 6, 'Sweet_potato': 7, 'Potato': 8, 'Beans': 9, 'Cowpea': 10, 'Pigeon_pea': 11, 'Sunflower': 12, 'Sesame': 13, 'Groundnuts': 14, 'Tomatoes': 15, 'Cabbage': 16, 'Onions': 17, 'Amaranth': 18, 'Cashew': 19, 'Banana': 20, 'Cotton': 21, 'Tobacco': 22, 'Pyrethrum': 23, 'Coffee': 24, 'Coconut': 25, 'Orange': 26, 'Sugarcane': 27, 'Palm_oil': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='tan', df=          Maize  Rice  Sorghum  Millet  Cassava  Sweet_potato  Potato  Beans  \
29073409    2.0   1.0      NaN     NaN      NaN           2.0     NaN    2.0
29007876    1.0   NaN      NaN     NaN      NaN           NaN     NaN    1.0
28852233    2.0   2.0      NaN     NaN      2.0           2.0     NaN    2.0
28852234    2.0   NaN      NaN     NaN      2.0           2.0     NaN    NaN
28975115    1.0   1.0      NaN     NaN      NaN           NaN     NaN    NaN
...         ...   ...      ...     ...      ...           ...     ...    ...
28884943    2.0   NaN      2.0     NaN      NaN           NaN     NaN    NaN
28901353    1.0   NaN      NaN     NaN      NaN           NaN     NaN    NaN
28909557    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
28909558    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
29351928    1.0   NaN      NaN     NaN      NaN           NaN     NaN    NaN

          Cowpea  Pigeon_pea  ...  Pyrethrum  Coffee  Coconut  Orange  \
29073409     NaN         NaN  ...        NaN     NaN      NaN     NaN
29007876     NaN         NaN  ...        NaN     NaN      NaN     NaN
28852233     NaN         NaN  ...        NaN     NaN      NaN     NaN
28852234     NaN         NaN  ...        NaN     NaN      NaN     NaN
28975115     NaN         NaN  ...        NaN     NaN      NaN     NaN
...          ...         ...  ...        ...     ...      ...     ...
28884943     NaN         NaN  ...        NaN     NaN      NaN     NaN
28901353     NaN         NaN  ...        NaN     NaN      NaN     NaN
28909557     NaN         NaN  ...        NaN     NaN      NaN     NaN
28909558     NaN         NaN  ...        NaN     NaN      NaN     NaN
29351928     NaN         NaN  ...        NaN     NaN      NaN     NaN

          Sugarcane  Palm_oil  Other_1  Other_2  Other_3  No_crop
29073409        NaN       NaN      NaN      NaN      NaN      2.0
29007876        NaN       NaN      NaN      NaN      NaN      2.0
28852233        NaN       NaN      NaN      NaN      NaN      2.0
28852234        NaN       NaN      NaN      NaN      NaN      1.0
28975115        NaN       NaN      NaN      NaN      NaN      2.0
...             ...       ...      ...      ...      ...      ...
28884943        NaN       NaN      2.0      2.0      NaN      2.0
28901353        NaN       NaN      NaN      NaN      NaN      2.0
28909557        NaN       NaN      NaN      NaN      NaN      NaN
28909558        NaN       NaN      NaN      NaN      NaN      1.0
29351928        NaN       NaN      NaN      NaN      NaN      2.0

[2812 rows x 31 columns], df_name='tan_rr', label='A25', qtype='multi', survey='rr', text='Which of the following crops that you grow do you sell?')
key=uga_A25namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Cotton': 13, 'Sesame': 21, 'Sugarcane': 15, 'Tobacco': 16, 'Tea': 17, 'Cocoa': 18, 'Coffee': 19, 'Field_pea': 20, 'Soybeans': 22, 'Other_1': 23, 'Other_2': 24, 'Other_3': 25, 'No_crop': 26}, country='uga', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
23068679    2.0    2.0           2.0      NaN   NaN         NaN     NaN
22716424    1.0    1.0           NaN      NaN   1.0         NaN     NaN
22716425    NaN    NaN           NaN      NaN   NaN         NaN     NaN
23306249    2.0    2.0           NaN      NaN   NaN         NaN     NaN
22945803    1.0    2.0           NaN      NaN   NaN         NaN     NaN
...         ...    ...           ...      ...   ...         ...     ...
23306221    2.0    2.0           NaN      NaN   NaN         NaN     NaN
23306222    1.0    NaN           NaN      NaN   NaN         NaN     NaN
22872056    2.0    2.0           2.0      NaN   NaN         2.0     NaN
22904826    2.0    2.0           2.0      NaN   NaN         NaN     NaN
22945787    1.0    2.0           1.0      1.0   NaN         2.0     NaN

          Millet  Cassava  Potato  ...  Sugarcane  Tobacco  Tea  Cocoa  \
23068679     NaN      2.0     NaN  ...        NaN      NaN  NaN    NaN
22716424     NaN      NaN     NaN  ...        1.0      NaN  NaN    NaN
22716425     NaN      NaN     NaN  ...        NaN      NaN  NaN    NaN
23306249     NaN      NaN     NaN  ...        NaN      NaN  NaN    NaN
22945803     1.0      2.0     NaN  ...        NaN      NaN  NaN    NaN
...          ...      ...     ...  ...        ...      ...  ...    ...
23306221     NaN      NaN     NaN  ...        NaN      NaN  NaN    NaN
23306222     NaN      NaN     NaN  ...        NaN      NaN  NaN    NaN
22872056     NaN      2.0     NaN  ...        1.0      NaN  NaN    NaN
22904826     NaN      2.0     NaN  ...        NaN      NaN  2.0    NaN
22945787     1.0      2.0     NaN  ...        NaN      NaN  NaN    NaN

          Coffee  Field_pea  Soybeans  Other_1  Other_2  Other_3
23068679     NaN        NaN       NaN      NaN      NaN      NaN
22716424     NaN        NaN       NaN      NaN      NaN      NaN
22716425     NaN        NaN       NaN      1.0      1.0      1.0
23306249     1.0        NaN       NaN      NaN      NaN      NaN
22945803     NaN        NaN       NaN      NaN      NaN      NaN
...          ...        ...       ...      ...      ...      ...
23306221     NaN        NaN       NaN      NaN      NaN      NaN
23306222     NaN        NaN       NaN      NaN      NaN      NaN
22872056     1.0        NaN       NaN      NaN      NaN      NaN
22904826     NaN        NaN       NaN      NaN      NaN      NaN
22945787     NaN        NaN       1.0      NaN      NaN      NaN

[2859 rows x 24 columns], df_name='uga_rr', label='A25', qtype='multi', survey='rr', text='Which of the following crops that you grow do you sell?')
key=bgd_A36namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Wheat': 2, 'Mango': 3, 'Jute': 4, 'Maize': 5, 'Tea': 6, 'Pulses': 7, 'Sugarcane': 8, 'Tobacco': 9, 'Chilies': 10, 'Onions': 11, 'Garlic': 12, 'Potato': 13, 'Rapeseed': 14, 'Mustard_seed': 15, 'Coconut': 16, 'Eggplant': 17, 'Radish': 18, 'Tomatoes': 19, 'Cauliflower': 20, 'Cabbage': 21, 'Pumpkin': 22, 'Banana': 23, 'Jackfruit': 24, 'Pineapple': 25, 'Guava': 26, 'Sesame': 27, 'Other_1': 28, 'Other_2': 29, 'Other_3': 30, 'No_crop': 31}, country='bgd', df=        Rice  Wheat  Mango  Jute  Maize  Tea  Pulses  Sugarcane  Tobacco  \
1        1.0    NaN    2.0   1.0    NaN  NaN     NaN        NaN      NaN
2        2.0    2.0    NaN   2.0    NaN  NaN     NaN        NaN      NaN
3        NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
4        2.0    NaN    NaN   NaN    NaN  NaN     2.0        NaN      NaN
5        2.0    NaN    NaN   NaN    NaN  NaN     2.0        NaN      NaN
...      ...    ...    ...   ...    ...  ...     ...        ...      ...
800129   2.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800130   2.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800131   2.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800132   2.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800133   2.0    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN

        Chilies  ...  Pumpkin  Banana  Jackfruit  Pineapple  Guava  Sesame  \
1           NaN  ...      NaN     2.0        1.0        NaN    NaN     NaN
2           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
3           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
4           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
5           2.0  ...      NaN     NaN        NaN        NaN    NaN     NaN
...         ...  ...      ...     ...        ...        ...    ...     ...
800129      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
800130      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
800131      NaN  ...      2.0     NaN        NaN        NaN    NaN     NaN
800132      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
800133      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN

        Other_1  Other_2  Other_3  No_crop
1           2.0      NaN      NaN      2.0
2           NaN      NaN      NaN      1.0
3           NaN      NaN      NaN      NaN
4           NaN      NaN      NaN      1.0
5           NaN      NaN      NaN      1.0
...         ...      ...      ...      ...
800129      NaN      NaN      NaN      1.0
800130      2.0      NaN      NaN      1.0
800131      NaN      NaN      NaN      1.0
800132      2.0      2.0      2.0      1.0
800133      2.0      2.0      2.0      1.0

[3136 rows x 31 columns], df_name='bgd_rr', label='A36', qtype='multi', survey='rr', text='Which of the following crops that you grow do you trade?')
key=cdi_A36namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Maize': 2, 'Cocoa': 3, 'Coffee': 4, 'Sweet_potato': 5, 'Cassava': 6, 'Cashew': 7, 'Plantain': 8, 'Groundnuts': 9, 'Millet': 10, 'Palm_oil': 11, 'Hevea': 12, 'Okra': 13, 'Chilies': 14, 'Onions': 15, 'Eggplant': 16, 'Tomatoes': 17, 'Cabbage': 18, 'Pumpkin': 19, 'Cucumber': 20, 'Salad': 21, 'Sesame': 22, 'Sugarcane': 23, 'Mango': 24, 'Papaya': 25, 'Orange': 26, 'Coconut': 27, 'Banana': 28, 'Pineapple': 29, 'Guava': 30, 'Cotton': 31, 'Yams': 32, 'Other_1': 33, 'Other_2': 34, 'Other_3': 35, 'No_crop': 36}, country='cdi', df=          Rice  Maize  Cocoa  Coffee  Sweet_potato  Cassava  Cashew  Plantain  \
31416320   2.0    2.0    NaN     NaN           NaN      NaN     2.0       NaN
31416321   2.0    2.0    NaN     NaN           NaN      NaN     2.0       NaN
31416322   2.0    2.0    NaN     NaN           NaN      NaN     2.0       NaN
31416323   2.0    2.0    NaN     NaN           NaN      NaN     2.0       NaN
31416324   2.0    2.0    NaN     NaN           NaN      NaN     2.0       NaN
...        ...    ...    ...     ...           ...      ...     ...       ...
31186932   2.0    2.0    NaN     NaN           NaN      NaN     2.0       NaN
31186933   2.0    2.0    NaN     NaN           NaN      NaN     2.0       NaN
31186934   2.0    2.0    NaN     NaN           NaN      NaN     2.0       NaN
31285239   2.0    2.0    2.0     NaN           NaN      2.0     NaN       NaN
31416319   2.0    2.0    NaN     NaN           NaN      NaN     2.0       NaN

          Groundnuts  Millet  ...  Orange  Coconut  Banana  Pineapple  Guava  \
31416320         2.0     2.0  ...     NaN      NaN     NaN        NaN    NaN
31416321         2.0     2.0  ...     NaN      NaN     NaN        NaN    NaN
31416322         2.0     2.0  ...     NaN      NaN     NaN        NaN    NaN
31416323         2.0     2.0  ...     NaN      NaN     NaN        NaN    NaN
31416324         2.0     2.0  ...     NaN      NaN     NaN        NaN    NaN
...              ...     ...  ...     ...      ...     ...        ...    ...
31186932         2.0     NaN  ...     NaN      NaN     NaN        NaN    NaN
31186933         2.0     NaN  ...     NaN      NaN     NaN        NaN    NaN
31186934         2.0     NaN  ...     NaN      NaN     NaN        NaN    NaN
31285239         NaN     NaN  ...     NaN      NaN     NaN        NaN    NaN
31416319         2.0     2.0  ...     NaN      NaN     NaN        NaN    NaN

          Cotton  Yams  Other_1  Other_2  Other_3
31416320     2.0   NaN      NaN      NaN      1.0
31416321     2.0   NaN      NaN      NaN      1.0
31416322     2.0   2.0      NaN      NaN      1.0
31416323     2.0   2.0      NaN      NaN      1.0
31416324     2.0   NaN      NaN      NaN      1.0
...          ...   ...      ...      ...      ...
31186932     NaN   NaN      NaN      NaN      1.0
31186933     2.0   NaN      NaN      NaN      1.0
31186934     NaN   NaN      NaN      NaN      1.0
31285239     NaN   2.0      NaN      NaN      1.0
31416319     2.0   NaN      NaN      NaN      1.0

[3002 rows x 35 columns], df_name='cdi_rr', label='A36', qtype='multi', survey='rr', text='Which of the following crops that you grow do you trade?')

key=moz_A36namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Coconut': 13, 'Cotton': 14, 'Sesame': 15, 'Mango': 16, 'Cashew': 17, 'Sugarcane': 18, 'Tobacco': 19, 'Tea': 20, 'Avocado': 21, 'Cocoa': 22, 'Sisal': 23, 'Cloves': 24, 'Coffee': 25, 'Sunflower': 26, 'Tomatoes': 27, 'Onions': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='moz', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
22552580    NaN    NaN           NaN      NaN   NaN         2.0     NaN
22487045    2.0    2.0           2.0      NaN   NaN         2.0     2.0
22159366    NaN    NaN           NaN      NaN   NaN         2.0     2.0
22790149    2.0    2.0           2.0      NaN   NaN         NaN     2.0
22790150    2.0    NaN           2.0      NaN   NaN         NaN     NaN
...         ...    ...           ...      ...   ...         ...     ...
22757331    2.0    NaN           2.0      NaN   NaN         2.0     2.0
22552539    2.0    NaN           NaN      NaN   NaN         2.0     NaN
22200293    2.0    NaN           2.0      NaN   NaN         NaN     2.0
22102008    1.0    1.0           NaN      NaN   NaN         1.0     NaN
22167545    2.0    NaN           NaN      NaN   NaN         NaN     NaN

          Millet  Cassava  Potato  ...  Sisal  Cloves  Coffee  Sunflower  \
22552580     NaN      2.0     NaN  ...    NaN     NaN     NaN        NaN
22487045     NaN      2.0     NaN  ...    NaN     NaN     NaN        NaN
22159366     NaN      2.0     NaN  ...    NaN     NaN     NaN        NaN
22790149     NaN      2.0     NaN  ...    NaN     NaN     NaN        NaN
22790150     NaN      2.0     NaN  ...    NaN     NaN     NaN        NaN
...          ...      ...     ...  ...    ...     ...     ...        ...
22757331     NaN      2.0     NaN  ...    NaN     NaN     NaN        NaN
22552539     NaN      2.0     NaN  ...    NaN     NaN     NaN        NaN
22200293     NaN      2.0     NaN  ...    NaN     NaN     NaN        NaN
22102008     NaN      2.0     NaN  ...    NaN     NaN     NaN        NaN
22167545     NaN      NaN     NaN  ...    NaN     NaN     NaN        NaN

          Tomatoes  Onions  Other_1  Other_2  Other_3  No_crop
22552580       2.0     NaN      NaN      NaN      NaN      2.0
22487045       NaN     NaN      NaN      NaN      NaN      2.0
22159366       NaN     NaN      NaN      NaN      NaN      2.0
22790149       2.0     2.0      NaN      NaN      NaN      2.0
22790150       2.0     2.0      NaN      NaN      NaN      2.0
...            ...     ...      ...      ...      ...      ...
22757331       NaN     NaN      NaN      NaN      NaN      2.0
22552539       NaN     NaN      NaN      NaN      NaN      2.0
22200293       NaN     NaN      NaN      NaN      NaN      2.0
22102008       NaN     NaN      NaN      NaN      NaN      1.0
22167545       NaN     NaN      NaN      NaN      NaN      2.0

[2462 rows x 32 columns], df_name='moz_rr', label='A36', qtype='multi', survey='rr', text='Which of the following crops that you grow do you trade?')
key=nga_A36namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Wheat': 1, 'Rice': 2, 'Maize': 3, 'Millet': 4, 'Sorghum': 5, 'Fonio': 6, 'Potato': 7, 'Sweet_potato': 8, 'Cassava': 9, 'Taro': 10, 'Yams': 11, 'Sugarcane': 12, 'Cowpea': 13, 'Pulses': 14, 'Beans': 15, 'Soybeans': 16, 'Groundnuts': 17, 'Coconut': 18, 'Palm_oil': 19, 'Karite_Shea': 20, 'Sesame': 21, 'Melonseed': 22, 'Seed_cotton': 23, 'Tomatoes': 24, 'Cabbage': 25, 'Onions': 26, 'Cashew': 27, 'Banana': 28, 'Cotton': 29, 'Tobacco': 30, 'Pyrethrum': 31, 'Coffee': 32, 'Orange': 33, 'No_crop': 34}, country='nga', df=          Wheat  Rice  Maize  Millet  Sorghum  Fonio  Potato  Sweet_potato  \
40509448    NaN   NaN    2.0     NaN      NaN    NaN     NaN           NaN
40509449    NaN   NaN    2.0     NaN      NaN    NaN     NaN           NaN
40503694    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
40503695    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
40542247    NaN   2.0    2.0     2.0      2.0    NaN     NaN           NaN
...         ...   ...    ...     ...      ...    ...     ...           ...
40501230    NaN   NaN    2.0     NaN      NaN    NaN     2.0           2.0
40525806    NaN   NaN    2.0     2.0      2.0    NaN     NaN           2.0
40304631    NaN   NaN    NaN     2.0      NaN    NaN     NaN           NaN
40344123    NaN   NaN    2.0     NaN      NaN    NaN     NaN           NaN
40344124    NaN   NaN    2.0     NaN      NaN    NaN     NaN           NaN

          Cassava  Taro  ...  Cabbage  Onions  Cashew  Banana  Cotton  \
40509448      2.0   2.0  ...      NaN     NaN     NaN     NaN     NaN
40509449      2.0   2.0  ...      NaN     NaN     NaN     NaN     NaN
40503694      1.0   NaN  ...      NaN     NaN     NaN     NaN     NaN
40503695      2.0   NaN  ...      NaN     NaN     NaN     NaN     NaN
40542247      2.0   NaN  ...      NaN     NaN     NaN     NaN     NaN
...           ...   ...  ...      ...     ...     ...     ...     ...
40501230      2.0   2.0  ...      NaN     NaN     NaN     NaN     NaN
40525806      NaN   NaN  ...      NaN     2.0     NaN     NaN     NaN
40304631      NaN   NaN  ...      NaN     NaN     NaN     NaN     NaN
40344123      2.0   NaN  ...      NaN     NaN     2.0     NaN     NaN
40344124      2.0   NaN  ...      NaN     NaN     NaN     NaN     NaN

          Tobacco  Pyrethrum  Coffee  Orange  No_crop
40509448      NaN        NaN     NaN     NaN      NaN
40509449      NaN        NaN     NaN     NaN      2.0
40503694      NaN        NaN     NaN     NaN      NaN
40503695      NaN        NaN     NaN     NaN      NaN
40542247      NaN        NaN     NaN     NaN      NaN
...           ...        ...     ...     ...      ...
40501230      NaN        NaN     NaN     NaN      2.0
40525806      NaN        NaN     NaN     NaN      2.0
40304631      NaN        NaN     NaN     NaN      NaN
40344123      NaN        NaN     NaN     NaN      NaN
40344124      NaN        NaN     NaN     NaN      NaN

[2858 rows x 34 columns], df_name='nga_rr', label='A36', qtype='multi', survey='rr', text='Which of the following crops that you grow do you trade?')
key=tan_A36namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Rice': 2, 'Sorghum': 3, 'Millet': 5, 'Cassava': 6, 'Sweet_potato': 7, 'Potato': 8, 'Beans': 9, 'Cowpea': 10, 'Pigeon_pea': 11, 'Sunflower': 12, 'Sesame': 13, 'Groundnuts': 14, 'Tomatoes': 15, 'Cabbage': 16, 'Onions': 17, 'Amaranth': 18, 'Cashew': 19, 'Banana': 20, 'Cotton': 21, 'Tobacco': 22, 'Pyrethrum': 23, 'Coffee': 24, 'Coconut': 25, 'Orange': 26, 'Sugarcane': 27, 'Palm_oil': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='tan', df=          Maize  Rice  Sorghum  Millet  Cassava  Sweet_potato  Potato  Beans  \
29073409    2.0   2.0      NaN     NaN      NaN           2.0     NaN    2.0
29007876    1.0   NaN      NaN     NaN      NaN           NaN     NaN    1.0
28852233    1.0   1.0      NaN     NaN      2.0           2.0     NaN    2.0
28852234    2.0   NaN      NaN     NaN      2.0           2.0     NaN    NaN
28975115    1.0   1.0      NaN     NaN      NaN           NaN     NaN    NaN
...         ...   ...      ...     ...      ...           ...     ...    ...
28884943    2.0   NaN      2.0     NaN      NaN           NaN     NaN    NaN
28901353    2.0   NaN      NaN     NaN      NaN           NaN     NaN    NaN
28909557    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
28909558    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
29351928    2.0   NaN      NaN     NaN      NaN           NaN     NaN    NaN

          Cowpea  Pigeon_pea  ...  Pyrethrum  Coffee  Coconut  Orange  \
29073409     NaN         NaN  ...        NaN     NaN      NaN     NaN
29007876     NaN         NaN  ...        NaN     NaN      NaN     NaN
28852233     NaN         NaN  ...        NaN     NaN      NaN     NaN
28852234     NaN         NaN  ...        NaN     NaN      NaN     NaN
28975115     NaN         NaN  ...        NaN     NaN      NaN     NaN
...          ...         ...  ...        ...     ...      ...     ...
28884943     NaN         NaN  ...        NaN     NaN      NaN     NaN
28901353     NaN         NaN  ...        NaN     NaN      NaN     NaN
28909557     NaN         NaN  ...        NaN     NaN      NaN     NaN
28909558     NaN         NaN  ...        NaN     NaN      NaN     NaN
29351928     NaN         NaN  ...        NaN     NaN      NaN     NaN

          Sugarcane  Palm_oil  Other_1  Other_2  Other_3  No_crop
29073409        NaN       NaN      NaN      NaN      NaN      1.0
29007876        NaN       NaN      NaN      NaN      NaN      2.0
28852233        NaN       NaN      NaN      NaN      NaN      2.0
28852234        NaN       NaN      NaN      NaN      NaN      1.0
28975115        NaN       NaN      NaN      NaN      NaN      2.0
...             ...       ...      ...      ...      ...      ...
28884943        NaN       NaN      2.0      2.0      NaN      1.0
28901353        NaN       NaN      NaN      NaN      NaN      1.0
28909557        NaN       NaN      NaN      NaN      NaN      NaN
28909558        NaN       NaN      NaN      NaN      NaN      1.0
29351928        NaN       NaN      NaN      NaN      NaN      1.0

[2812 rows x 31 columns], df_name='tan_rr', label='A36', qtype='multi', survey='rr', text='Which of the following crops that you grow do you trade?')
key=uga_A36namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Cotton': 13, 'Sesame': 21, 'Sugarcane': 15, 'Tobacco': 16, 'Tea': 17, 'Cocoa': 18, 'Coffee': 19, 'Field_pea': 20, 'Soybeans': 22, 'Other_1': 23, 'Other_2': 24, 'Other_3': 25, 'No_crop': 26}, country='uga', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
23068679    2.0    2.0           2.0      NaN   NaN         NaN     NaN
22716424    2.0    2.0           NaN      NaN   2.0         NaN     NaN
22716425    NaN    NaN           NaN      NaN   NaN         NaN     NaN
23306249    2.0    2.0           NaN      NaN   NaN         NaN     NaN
22945803    2.0    2.0           NaN      NaN   NaN         NaN     NaN
...         ...    ...           ...      ...   ...         ...     ...
23306221    2.0    2.0           NaN      NaN   NaN         NaN     NaN
23306222    2.0    NaN           NaN      NaN   NaN         NaN     NaN
22872056    2.0    2.0           2.0      NaN   NaN         2.0     NaN
22904826    2.0    2.0           2.0      NaN   NaN         NaN     NaN
22945787    2.0    2.0           2.0      2.0   NaN         2.0     NaN

          Millet  Cassava  Potato  ...  Tobacco  Tea  Cocoa  Coffee  \
23068679     NaN      2.0     NaN  ...      NaN  NaN    NaN     NaN
22716424     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
22716425     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
23306249     NaN      NaN     NaN  ...      NaN  NaN    NaN     2.0
22945803     2.0      2.0     NaN  ...      NaN  NaN    NaN     NaN
...          ...      ...     ...  ...      ...  ...    ...     ...
23306221     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
23306222     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
22872056     NaN      2.0     NaN  ...      NaN  NaN    NaN     2.0
22904826     NaN      2.0     NaN  ...      NaN  2.0    NaN     NaN
22945787     2.0      2.0     NaN  ...      NaN  NaN    NaN     NaN

          Field_pea  Soybeans  Other_1  Other_2  Other_3  No_crop
23068679        NaN       NaN      NaN      NaN      NaN      2.0
22716424        NaN       NaN      NaN      NaN      NaN      2.0
22716425        NaN       NaN      2.0      2.0      2.0      2.0
23306249        NaN       NaN      NaN      NaN      NaN      2.0
22945803        NaN       NaN      NaN      NaN      NaN      2.0
...             ...       ...      ...      ...      ...      ...
23306221        NaN       NaN      NaN      NaN      NaN      2.0
23306222        NaN       NaN      NaN      NaN      NaN      2.0
22872056        NaN       NaN      NaN      NaN      NaN      2.0
22904826        NaN       NaN      NaN      NaN      NaN      2.0
22945787        NaN       2.0      NaN      NaN      NaN      2.0

[2859 rows x 25 columns], df_name='uga_rr', label='A36', qtype='multi', survey='rr', text='Which of the following crops that you grow do you trade?')

key=bgd_A53namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Wheat': 2, 'Mango': 3, 'Jute': 4, 'Maize': 5, 'Tea': 6, 'Pulses': 7, 'Sugarcane': 8, 'Tobacco': 9, 'Chilies': 10, 'Onions': 11, 'Garlic': 12, 'Potato': 13, 'Rapeseed': 14, 'Mustard_seed': 15, 'Coconut': 16, 'Eggplant': 17, 'Radish': 18, 'Tomatoes': 19, 'Cauliflower': 20, 'Cabbage': 21, 'Pumpkin': 22, 'Banana': 23, 'Jackfruit': 24, 'Pineapple': 25, 'Guava': 26, 'Sesame': 27, 'Other_1': 28, 'Other_2': 29, 'Other_3': 30, 'No_crop': 31}, country='bgd', df=        Rice  Wheat  Mango  Jute  Maize  Tea  Pulses  Sugarcane  Tobacco  \
1        NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
2        NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
3        NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
4        NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
5        NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
...      ...    ...    ...   ...    ...  ...     ...        ...      ...
800129   1.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0
800130   1.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0
800131   1.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0
800132   NaN    NaN    NaN   NaN    NaN  NaN     NaN        NaN      NaN
800133   1.0    2.0    2.0   2.0    2.0  2.0     2.0        2.0      2.0

        Chilies  ...  Pumpkin  Banana  Jackfruit  Pineapple  Guava  Sesame  \
1           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
2           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
3           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
4           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
5           NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
...         ...  ...      ...     ...        ...        ...    ...     ...
800129      2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0
800130      2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0
800131      2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0
800132      NaN  ...      NaN     NaN        NaN        NaN    NaN     NaN
800133      2.0  ...      2.0     2.0        2.0        2.0    2.0     2.0

        Other_1  Other_2  Other_3  No_crop
1           NaN      NaN      NaN      NaN
2           NaN      NaN      NaN      NaN
3           NaN      NaN      NaN      NaN
4           NaN      NaN      NaN      NaN
5           NaN      NaN      NaN      NaN
...         ...      ...      ...      ...
800129      2.0      2.0      2.0      2.0
800130      2.0      2.0      2.0      2.0
800131      2.0      2.0      2.0      2.0
800132      NaN      NaN      NaN      NaN
800133      2.0      2.0      2.0      2.0

[3095 rows x 31 columns], df_name='bgd_sr', label='A53', qtype='multi', survey='sr', text='Which crops do you normally store?')
key=cdi_A53namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Rice': 1, 'Maize': 2, 'Cocoa': 3, 'Coffee': 4, 'Sweet_potato': 5, 'Cassava': 6, 'Cashew': 7, 'Plantain': 8, 'Groundnuts': 9, 'Millet': 10, 'Palm_oil': 11, 'Hevea': 12, 'Okra': 13, 'Chilies': 14, 'Onions': 15, 'Eggplant': 16, 'Tomatoes': 17, 'Cabbage': 18, 'Pumpkin': 19, 'Cucumber': 20, 'Salad': 21, 'Sesame': 22, 'Sugarcane': 23, 'Mango': 24, 'Papaya': 25, 'Orange': 26, 'Coconut': 27, 'Banana': 28, 'Pineapple': 29, 'Guava': 30, 'Cotton': 31, 'Yams': 32, 'Other_1': 33, 'Other_2': 34, 'Other_3': 35, 'No_crop': 36}, country='cdi', df=          Rice  Maize  Cocoa  Coffee  Sweet_potato  Cassava  Cashew  Plantain  \
31028570   NaN    NaN    NaN     NaN           NaN      NaN     NaN       NaN
31028571   2.0    2.0    2.0     2.0           2.0      2.0     2.0       2.0
31036603   NaN    NaN    NaN     NaN           NaN      NaN     NaN       NaN
31038817   NaN    NaN    NaN     NaN           NaN      NaN     NaN       NaN
31040474   2.0    2.0    2.0     2.0           1.0      2.0     2.0       2.0
...        ...    ...    ...     ...           ...      ...     ...       ...
32261521   2.0    1.0    2.0     2.0           2.0      2.0     2.0       2.0
32261522   2.0    1.0    2.0     2.0           2.0      2.0     2.0       2.0
32261524   2.0    2.0    2.0     2.0           2.0      2.0     2.0       2.0
32280062   1.0    1.0    2.0     2.0           2.0      2.0     2.0       2.0
32280063   1.0    1.0    2.0     2.0           2.0      2.0     2.0       2.0

          Groundnuts  Millet  ...  Orange  Coconut  Banana  Pineapple  Guava  \
31028570         NaN     NaN  ...     NaN      NaN     NaN        NaN    NaN
31028571         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
31036603         NaN     NaN  ...     NaN      NaN     NaN        NaN    NaN
31038817         NaN     NaN  ...     NaN      NaN     NaN        NaN    NaN
31040474         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
...              ...     ...  ...     ...      ...     ...        ...    ...
32261521         1.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
32261522         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
32261524         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
32280062         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0
32280063         2.0     2.0  ...     2.0      2.0     2.0        2.0    2.0

          Cotton  Yams  Other_1  Other_2  Other_3
31028570     NaN   NaN      NaN      NaN      NaN
31028571     2.0   1.0      2.0      2.0      2.0
31036603     NaN   NaN      NaN      NaN      NaN
31038817     NaN   NaN      NaN      NaN      NaN
31040474     2.0   2.0      2.0      2.0      2.0
...          ...   ...      ...      ...      ...
32261521     2.0   2.0      2.0      2.0      2.0
32261522     2.0   2.0      2.0      2.0      2.0
32261524     2.0   2.0      2.0      2.0      2.0
32280062     2.0   2.0      2.0      2.0      2.0
32280063     2.0   2.0      2.0      2.0      2.0

[2949 rows x 35 columns], df_name='cdi_sr', label='A53', qtype='multi', survey='sr', text='Which crops do you normally store?')
key=moz_A53namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Coconut': 13, 'Cotton': 14, 'Sesame': 15, 'Mango': 16, 'Cashew': 17, 'Sugarcane': 18, 'Tobacco': 19, 'Tea': 20, 'Avocado': 21, 'Cocoa': 22, 'Sisal': 23, 'Cloves': 24, 'Coffee': 25, 'Sunflower': 26, 'Tomatoes': 27, 'Onions': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='moz', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
21948170    NaN    NaN           NaN      NaN   NaN         NaN     NaN
21948180    NaN    NaN           NaN      NaN   NaN         NaN     NaN
21948779    NaN    NaN           NaN      NaN   NaN         NaN     NaN
21951744    1.0    2.0           2.0      2.0   2.0         1.0     1.0
21955646    NaN    NaN           NaN      NaN   NaN         NaN     NaN
...         ...    ...           ...      ...   ...         ...     ...
23315711    NaN    NaN           NaN      NaN   NaN         NaN     NaN
23324438    2.0    2.0           2.0      2.0   2.0         2.0     2.0
23324440    NaN    NaN           NaN      NaN   NaN         NaN     NaN
23324645    NaN    NaN           NaN      NaN   NaN         NaN     NaN
23324649    1.0    2.0           2.0      2.0   1.0         2.0     2.0

          Millet  Cassava  Potato  ...  Avocado  Cocoa  Sisal  Cloves  Coffee  \
21948170     NaN      NaN     NaN  ...      NaN    NaN    NaN     NaN     NaN
21948180     NaN      NaN     NaN  ...      NaN    NaN    NaN     NaN     NaN
21948779     NaN      NaN     NaN  ...      NaN    NaN    NaN     NaN     NaN
21951744     2.0      2.0     2.0  ...      2.0    2.0    2.0     2.0     2.0
21955646     NaN      NaN     NaN  ...      NaN    NaN    NaN     NaN     NaN
...          ...      ...     ...  ...      ...    ...    ...     ...     ...
23315711     NaN      NaN     NaN  ...      NaN    NaN    NaN     NaN     NaN
23324438     2.0      2.0     2.0  ...      2.0    2.0    2.0     2.0     2.0
23324440     NaN      NaN     NaN  ...      NaN    NaN    NaN     NaN     NaN
23324645     NaN      NaN     NaN  ...      NaN    NaN    NaN     NaN     NaN
23324649     2.0      1.0     2.0  ...      2.0    2.0    2.0     2.0     2.0

          Sunflower  Tomatoes  Onions  Other_1  No_crop
21948170        NaN       NaN     NaN      NaN      NaN
21948180        NaN       NaN     NaN      NaN      NaN
21948779        NaN       NaN     NaN      NaN      NaN
21951744        2.0       2.0     2.0      2.0      1.0
21955646        NaN       NaN     NaN      NaN      NaN
...             ...       ...     ...      ...      ...
23315711        NaN       NaN     NaN      NaN      NaN
23324438        2.0       2.0     2.0      2.0      2.0
23324440        NaN       NaN     NaN      NaN      NaN
23324645        NaN       NaN     NaN      NaN      NaN
23324649        2.0       2.0     2.0      2.0      1.0

[2574 rows x 30 columns], df_name='moz_sr', label='A53', qtype='multi', survey='sr', text='Which crops do you normally store?')
key=nga_A53namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Wheat': 1, 'Rice': 2, 'Maize': 3, 'Millet': 4, 'Sorghum': 5, 'Fonio': 6, 'Potato': 7, 'Sweet_potato': 8, 'Cassava': 9, 'Taro': 10, 'Yams': 11, 'Sugarcane': 12, 'Cowpea': 13, 'Pulses': 14, 'Beans': 15, 'Soybeans': 16, 'Groundnuts': 17, 'Coconut': 18, 'Palm_oil': 19, 'Karite_Shea': 20, 'Sesame': 21, 'Melonseed': 22, 'Seed_cotton': 23, 'Tomatoes': 24, 'Cabbage': 25, 'Onions': 26, 'Cashew': 27, 'Banana': 28, 'Cotton': 29, 'Tobacco': 30, 'Pyrethrum': 31, 'Coffee': 32, 'Orange': 33, 'No_crop': 34}, country='nga', df=          Wheat  Rice  Maize  Millet  Sorghum  Fonio  Potato  Sweet_potato  \
40127279    2.0   2.0    1.0     2.0      2.0    2.0     2.0           2.0
40134046    2.0   2.0    2.0     1.0      2.0    2.0     2.0           2.0
40135889    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
40143258    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
40144462    2.0   1.0    1.0     1.0      2.0    2.0     2.0           2.0
...         ...   ...    ...     ...      ...    ...     ...           ...
41076184    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
41076185    2.0   2.0    1.0     2.0      2.0    2.0     2.0           2.0
41076186    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
41076187    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN
41076188    NaN   NaN    NaN     NaN      NaN    NaN     NaN           NaN

          Cassava  Taro  ...  Cabbage  Onions  Cashew  Banana  Cotton  \
40127279      2.0   2.0  ...      2.0     2.0     2.0     2.0     2.0
40134046      2.0   2.0  ...      2.0     2.0     2.0     2.0     2.0
40135889      NaN   NaN  ...      NaN     NaN     NaN     NaN     NaN
40143258      NaN   NaN  ...      NaN     NaN     NaN     NaN     NaN
40144462      2.0   2.0  ...      2.0     2.0     2.0     2.0     2.0
...           ...   ...  ...      ...     ...     ...     ...     ...
41076184      NaN   NaN  ...      NaN     NaN     NaN     NaN     NaN
41076185      1.0   2.0  ...      2.0     2.0     2.0     2.0     2.0
41076186      NaN   NaN  ...      NaN     NaN     NaN     NaN     NaN
41076187      NaN   NaN  ...      NaN     NaN     NaN     NaN     NaN
41076188      NaN   NaN  ...      NaN     NaN     NaN     NaN     NaN

          Tobacco  Pyrethrum  Coffee  Orange  No_crop
40127279      2.0        2.0     2.0     2.0      2.0
40134046      2.0        2.0     2.0     2.0      2.0
40135889      NaN        NaN     NaN     NaN      NaN
40143258      NaN        NaN     NaN     NaN      NaN
40144462      2.0        2.0     2.0     2.0      2.0
...           ...        ...     ...     ...      ...
41076184      NaN        NaN     NaN     NaN      NaN
41076185      2.0        2.0     2.0     2.0      2.0
41076186      NaN        NaN     NaN     NaN      NaN
41076187      NaN        NaN     NaN     NaN      NaN
41076188      NaN        NaN     NaN     NaN      NaN

[2773 rows x 34 columns], df_name='nga_sr', label='A53', qtype='multi', survey='sr', text='Which crops do you normally store?')

key=tan_A53namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Rice': 2, 'Sorghum': 3, 'Millet': 5, 'Cassava': 6, 'Sweet_potato': 7, 'Potato': 8, 'Beans': 9, 'Cowpea': 10, 'Pigeon_pea': 11, 'Sunflower': 12, 'Sesame': 13, 'Groundnuts': 14, 'Tomatoes': 15, 'Cabbage': 16, 'Onions': 17, 'Amaranth': 18, 'Cashew': 19, 'Banana': 20, 'Cotton': 21, 'Tobacco': 22, 'Pyrethrum': 23, 'Coffee': 24, 'Coconut': 25, 'Orange': 26, 'Sugarcane': 27, 'Palm_oil': 28, 'Other_1': 29, 'Other_2': 30, 'Other_3': 31, 'No_crop': 32}, country='tan', df=          Maize  Rice  Sorghum  Millet  Cassava  Sweet_potato  Potato  Beans  \
28845992    1.0   1.0      2.0     2.0      2.0           2.0     2.0    2.0
29265802    1.0   2.0      2.0     2.0      2.0           2.0     2.0    1.0
28901706    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
29302230    1.0   1.0      2.0     2.0      2.0           2.0     2.0    2.0
28910973    1.0   2.0      2.0     2.0      2.0           2.0     2.0    2.0
...         ...   ...      ...     ...      ...           ...     ...    ...
29319386    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
28924835    NaN   NaN      NaN     NaN      NaN           NaN     NaN    NaN
29010663    1.0   2.0      2.0     2.0      2.0           2.0     2.0    1.0
29555590    1.0   2.0      2.0     2.0      2.0           2.0     2.0    2.0
29198985    1.0   2.0      2.0     2.0      2.0           2.0     2.0    1.0

          Cowpea  Pigeon_pea  ...  Pyrethrum  Coffee  Coconut  Orange  \
28845992     2.0         2.0  ...        2.0     2.0      2.0     2.0
29265802     2.0         2.0  ...        2.0     2.0      2.0     2.0
28901706     NaN         NaN  ...        NaN     NaN      NaN     NaN
29302230     2.0         2.0  ...        2.0     2.0      2.0     2.0
28910973     2.0         2.0  ...        2.0     2.0      2.0     2.0
...          ...         ...  ...        ...     ...      ...     ...
29319386     NaN         NaN  ...        NaN     NaN      NaN     NaN
28924835     NaN         NaN  ...        NaN     NaN      NaN     NaN
29010663     2.0         2.0  ...        2.0     2.0      2.0     2.0
29555590     2.0         2.0  ...        2.0     2.0      2.0     2.0
29198985     2.0         2.0  ...        2.0     2.0      2.0     2.0

          Sugarcane  Palm_oil  Other_1  Other_2  Other_3  No_crop
28845992        2.0       2.0      2.0      2.0      2.0      2.0
29265802        2.0       2.0      2.0      2.0      2.0      2.0
28901706        NaN       NaN      NaN      NaN      NaN      NaN
29302230        2.0       2.0      2.0      2.0      2.0      2.0
28910973        2.0       2.0      2.0      2.0      2.0      2.0
...             ...       ...      ...      ...      ...      ...
29319386        NaN       NaN      NaN      NaN      NaN      NaN
28924835        NaN       NaN      NaN      NaN      NaN      NaN
29010663        2.0       1.0      2.0      2.0      2.0      2.0
29555590        2.0       2.0      2.0      2.0      2.0      2.0
29198985        2.0       2.0      2.0      2.0      2.0      2.0

[2795 rows x 31 columns], df_name='tan_sr', label='A53', qtype='multi', survey='sr', text='Which crops do you normally store?')
key=uga_A53namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Maize': 1, 'Beans': 2, 'Sweet_potato': 3, 'Sorghum': 4, 'Rice': 5, 'Groundnuts': 6, 'Cowpea': 7, 'Millet': 8, 'Cassava': 9, 'Potato': 10, 'Pigeon_pea': 11, 'Banana': 12, 'Cotton': 13, 'Sesame': 21, 'Sugarcane': 15, 'Tobacco': 16, 'Tea': 17, 'Cocoa': 18, 'Coffee': 19, 'Field_pea': 20, 'Soybeans': 22, 'Other_1': 23, 'Other_2': 24, 'Other_3': 25, 'No_crop': 26}, country='uga', df=          Maize  Beans  Sweet_potato  Sorghum  Rice  Groundnuts  Cowpea  \
22678446    NaN    NaN           NaN      NaN   NaN         NaN     NaN
22678927    NaN    NaN           NaN      NaN   NaN         NaN     NaN
22679052    1.0    1.0           2.0      2.0   2.0         1.0     2.0
22679076    NaN    NaN           NaN      NaN   NaN         NaN     NaN
22679225    NaN    NaN           NaN      NaN   NaN         NaN     NaN
...         ...    ...           ...      ...   ...         ...     ...
23500842    2.0    1.0           1.0      2.0   2.0         2.0     2.0
23620542    NaN    NaN           NaN      NaN   NaN         NaN     NaN
23620647    NaN    NaN           NaN      NaN   NaN         NaN     NaN
23620678    NaN    NaN           NaN      NaN   NaN         NaN     NaN
23620722    NaN    NaN           NaN      NaN   NaN         NaN     NaN

          Millet  Cassava  Potato  ...  Tobacco  Tea  Cocoa  Coffee  \
22678446     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
22678927     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
22679052     2.0      1.0     2.0  ...      2.0  2.0    2.0     2.0
22679076     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
22679225     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
...          ...      ...     ...  ...      ...  ...    ...     ...
23500842     1.0      2.0     2.0  ...      2.0  2.0    2.0     2.0
23620542     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
23620647     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
23620678     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN
23620722     NaN      NaN     NaN  ...      NaN  NaN    NaN     NaN

          Field_pea  Soybeans  Other_1  Other_2  Other_3  No_crop
22678446        NaN       NaN      NaN      NaN      NaN      NaN
22678927        NaN       NaN      NaN      NaN      NaN      NaN
22679052        2.0       2.0      2.0      2.0      2.0      2.0
22679076        NaN       NaN      NaN      NaN      NaN      NaN
22679225        NaN       NaN      NaN      NaN      NaN      NaN
...             ...       ...      ...      ...      ...      ...
23500842        2.0       2.0      2.0      2.0      2.0      2.0
23620542        NaN       NaN      NaN      NaN      NaN      NaN
23620647        NaN       NaN      NaN      NaN      NaN      NaN
23620678        NaN       NaN      NaN      NaN      NaN      NaN
23620722        NaN       NaN      NaN      NaN      NaN      NaN

[2771 rows x 25 columns], df_name='uga_sr', label='A53', qtype='multi', survey='sr', text='Which crops do you normally store?')
key=bgd_A6namespace(answers={'Rice': 1, 'Wheat': 2, 'Mango': 29, 'Jute': 48, 'Maize': 3, 'Tea': 58, 'Pulses': 13, 'Sugarcane': 57, 'Tobacco': 59, 'Chilies': 24, 'Onions': 32, 'Garlic': 27, 'Potato': 16, 'Rapeseed': 36, 'Mustard_seed': 50, 'Coconut': 44, 'Eggplant': 26, 'Radish': 35, 'Tomatoes': 39, 'Cauliflower': 23, 'Cabbage': 22, 'Pumpkin': 34, 'Banana': 21, 'Jackfruit': 28, 'Pineapple': 32, 'Guava': 28, 'Sesame': 55, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='bgd', df=          A6
1        1.0
2        1.0
3        NaN
4        1.0
5        1.0
...      ...
800129   1.0
800130   1.0
800131   1.0
800132  60.0
800133   1.0

[3136 rows x 1 columns], df_name='bgd_rr', label='A6', qtype='single', survey='rr', text='Which of the following crops is most important to you?')
key=cdi_A6namespace(answers={'Rice': 1, 'Maize': 3, 'Cocoa': 43, 'Coffee': 45, 'Sweet_potato': 17, 'Cassava': 7, 'Cashew': 41, 'Plantain': 15, 'Groundnuts': 8, 'Millet': 4, 'Palm_oil': 51, 'Hevea': 47, 'Okra': 31, 'Chilies': 24, 'Onions': 32, 'Eggplant': 26, 'Tomatoes': 39, 'Cabbage': 22, 'Pumpkin': 34, 'Cucumber': 25, 'Salad': 37, 'Sesame': 55, 'Sugarcane': 57, 'Mango': 29, 'Papaya': 40, 'Orange': 33, 'Coconut': 44, 'Banana': 21, 'Pineapple': 32, 'Guava': 28, 'Cotton': 46, 'Yams': 19, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='cdi', df=            A6
31416320   1.0
31416321   1.0
31416322   1.0
31416323   1.0
31416324   1.0
...        ...
31186932  41.0
31186933  41.0
31186934  41.0
31285239  43.0
31416319   1.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A6', qtype='single', survey='rr', text='Which of the following crops is most important to you?')
key=moz_A6namespace(answers={'Maize': 3, 'Beans': 9, 'Sweet_potato': 17, 'Sorghum': 5, 'Rice': 1, 'Groundnuts': 8, 'Cowpea': 10, 'Millet': 4, 'Cassava': 7, 'Potato': 16, 'Pigeon_pea': 12, 'Banana': 21, 'Coconut': 44, 'Cotton': 46, 'Sesame': 55, 'Mango': 29, 'Cashew': 41, 'Sugarcane': 57, 'Tobacco': 59, 'Tea': 58, 'Avocado': 20, 'Cocoa': 43, 'Sisal': 56, 'Cloves': 42, 'Coffee': 45, 'Sunflower': 38, 'Tomatoes': 39, 'Onions': 32, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='moz', df=            A6
22552580   8.0
22487045   3.0
22159366  55.0
22790149   3.0
22790150   3.0
...        ...
22757331   7.0
22552539   8.0
22200293   3.0
22102008   8.0
22167545   3.0

[2462 rows x 1 columns], df_name='moz_rr', label='A6', qtype='single', survey='rr', text='Which of the following crops is most important to you?')
key=nga_A6namespace(answers={'Wheat': 2, 'Rice': 1, 'Maize': 3, 'Millet': 4, 'Sorghum': 5, 'Fonio': 6, 'Potato': 16, 'Sweet_potato': 17, 'Cassava': 7, 'Taro': 18, 'Yams': 19, 'Sugarcane': 57, 'Cowpea': 10, 'Pulses': 13, 'Beans': 9, 'Soybeans': 14, 'Groundnuts': 8, 'Coconut': 44, 'Palm_oil': 51, 'Karite_Shea': 49, 'Sesame': 55, 'Melonseed': 30, 'Seed_cotton': 54, 'Tomatoes': 39, 'Cabbage': 22, 'Onions': 32, 'Cashew': 41, 'Banana': 21, 'Cotton': 46, 'Tobacco': 59, 'Pyrethrum': 53, 'Coffee': 45, 'Orange': 33, 'No_crop': 63}, country='nga', df=            A6
40509448   7.0
40509449   7.0
40503694   7.0
40503695   7.0
40542247   3.0
...        ...
40501230   7.0
40525806   5.0
40304631   4.0
40344123  41.0
40344124   7.0

[2858 rows x 1 columns], df_name='nga_rr', label='A6', qtype='single', survey='rr', text='Which of the following crops is most important to you?')
key=tan_A6namespace(answers={'Maize': 3, 'Rice': 1, 'Sorghum': 5, 'Millet': 4, 'Cassava': 7, 'Sweet_potato': 17, 'Potato': 16, 'Beans': 9, 'Cowpea': 10, 'Pigeon_pea': 12, 'Sunflower': 38, 'Sesame': 55, 'Groundnuts': 8, 'Tomatoes': 39, 'Cabbage': 22, 'Onions': 32, 'Amaranth': 52, 'Cashew': 41, 'Banana': 21, 'Cotton': 46, 'Tobacco': 59, 'Pyrethrum': 53, 'Coffee': 45, 'Coconut': 44, 'Orange': 33, 'Sugarcane': 57, 'Palm_oil': 51, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='tan', df=            A6
29073409   1.0
29007876   3.0
28852233   7.0
28852234   7.0
28975115   3.0
...        ...
28884943   3.0
28901353   3.0
28909557   NaN
28909558  21.0
29351928   3.0

[2812 rows x 1 columns], df_name='tan_rr', label='A6', qtype='single', survey='rr', text='Which of the following crops is most important to you?')
key=uga_A6namespace(answers={'Maize': 3, 'Beans': 9, 'Sweet_potato': 17, 'Sorghum': 5, 'Rice': 1, 'Groundnuts': 8, 'Cowpea': 10, 'Millet': 4, 'Cassava': 7, 'Potato': 16, 'Pigeon_pea': 12, 'Banana': 21, 'Cotton': 46, 'Sesame': 55, 'Sugarcane': 57, 'Tobacco': 59, 'Tea': 58, 'Cocoa': 43, 'Coffee': 45, 'Field_pea': 11, 'Soybeans': 14, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='uga', df=            A6
23068679   7.0
22716424  57.0
22716425  60.0
23306249  45.0
22945803   7.0
...        ...
23306221   3.0
23306222   3.0
22872056   3.0
22904826  21.0
22945787   7.0

[2859 rows x 1 columns], df_name='uga_rr', label='A6', qtype='single', survey='rr', text='Which of the following crops is most important to you?')
key=bgd_A8namespace(answers={'Rice': 1, 'Wheat': 2, 'Mango': 29, 'Jute': 48, 'Maize': 3, 'Tea': 58, 'Pulses': 13, 'Sugarcane': 57, 'Tobacco': 59, 'Chilies': 24, 'Onions': 32, 'Garlic': 27, 'Potato': 16, 'Rapeseed': 36, 'Mustard_seed': 50, 'Coconut': 44, 'Eggplant': 26, 'Radish': 35, 'Tomatoes': 39, 'Cauliflower': 23, 'Cabbage': 22, 'Pumpkin': 34, 'Banana': 21, 'Jackfruit': 28, 'Pineapple': 32, 'Guava': 28, 'Sesame': 55, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='bgd', df=         A8
1       1.0
2       1.0
3       NaN
4       1.0
5       1.0
...     ...
800129  1.0
800130  1.0
800131  1.0
800132  1.0
800133  1.0

[3136 rows x 1 columns], df_name='bgd_rr', label='A8', qtype='single', survey='rr', text='Which of the following crops do you consume the most at home?')
key=cdi_A8namespace(answers={'Rice': 1, 'Maize': 3, 'Cocoa': 43, 'Coffee': 45, 'Sweet_potato': 17, 'Cassava': 7, 'Cashew': 41, 'Plantain': 15, 'Groundnuts': 8, 'Millet': 4, 'Palm_oil': 51, 'Hevea': 47, 'Okra': 31, 'Chilies': 24, 'Onions': 32, 'Eggplant': 26, 'Tomatoes': 39, 'Cabbage': 22, 'Pumpkin': 34, 'Cucumber': 25, 'Salad': 37, 'Sesame': 55, 'Sugarcane': 57, 'Mango': 29, 'Papaya': 40, 'Orange': 33, 'Coconut': 44, 'Banana': 21, 'Pineapple': 32, 'Guava': 28, 'Cotton': 46, 'Yams': 19, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='cdi', df=           A8
31416320  1.0
31416321  1.0
31416322  1.0
31416323  1.0
31416324  1.0
...       ...
31186932  1.0
31186933  1.0
31186934  1.0
31285239  1.0
31416319  1.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A8', qtype='single', survey='rr', text='Which of the following crops do you consume the most at home?')
key=moz_A8namespace(answers={'Maize': 3, 'Beans': 9, 'Sweet_potato': 17, 'Sorghum': 5, 'Rice': 1, 'Groundnuts': 8, 'Cowpea': 10, 'Millet': 4, 'Cassava': 7, 'Potato': 16, 'Pigeon_pea': 12, 'Banana': 21, 'Coconut': 44, 'Cotton': 46, 'Sesame': 55, 'Mango': 29, 'Cashew': 41, 'Sugarcane': 57, 'Tobacco': 59, 'Tea': 58, 'Avocado': 20, 'Cocoa': 43, 'Sisal': 56, 'Cloves': 42, 'Coffee': 45, 'Sunflower': 38, 'Tomatoes': 39, 'Onions': 32, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='moz', df=           A8
22552580  8.0
22487045  3.0
22159366  7.0
22790149  9.0
22790150  3.0
...       ...
22757331  7.0
22552539  8.0
22200293  3.0
22102008  7.0
22167545  3.0

[2462 rows x 1 columns], df_name='moz_rr', label='A8', qtype='single', survey='rr', text='Which of the following crops do you consume the most at home?')
key=nga_A8namespace(answers={'Wheat': 2, 'Rice': 1, 'Maize': 3, 'Millet': 4, 'Sorghum': 5, 'Fonio': 6, 'Potato': 16, 'Sweet_potato': 17, 'Cassava': 7, 'Taro': 18, 'Yams': 19, 'Sugarcane': 57, 'Cowpea': 10, 'Pulses': 13, 'Beans': 9, 'Soybeans': 14, 'Groundnuts': 8, 'Coconut': 44, 'Palm_oil': 51, 'Karite_Shea': 49, 'Sesame': 55, 'Melonseed': 30, 'Seed_cotton': 54, 'Tomatoes': 39, 'Cabbage': 22, 'Onions': 32, 'Cashew': 41, 'Banana': 21, 'Cotton': 46, 'Tobacco': 59, 'Pyrethrum': 53, 'Coffee': 45, 'Orange': 33, 'No_crop': 63}, country='nga', df=           A8
40509448  7.0
40509449  7.0
40503694  7.0
40503695  7.0
40542247  1.0
...       ...
40501230  7.0
40525806  5.0
40304631  4.0
40344123  7.0
40344124  7.0

[2858 rows x 1 columns], df_name='nga_rr', label='A8', qtype='single', survey='rr', text='Which of the following crops do you consume the most at home?')
key=tan_A8namespace(answers={'Maize': 3, 'Rice': 1, 'Sorghum': 5, 'Millet': 4, 'Cassava': 7, 'Sweet_potato': 17, 'Potato': 16, 'Beans': 9, 'Cowpea': 10, 'Pigeon_pea': 12, 'Sunflower': 38, 'Sesame': 55, 'Groundnuts': 8, 'Tomatoes': 39, 'Cabbage': 22, 'Onions': 32, 'Amaranth': 52, 'Cashew': 41, 'Banana': 21, 'Cotton': 46, 'Tobacco': 59, 'Pyrethrum': 53, 'Coffee': 45, 'Coconut': 44, 'Orange': 33, 'Sugarcane': 57, 'Palm_oil': 51, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='tan', df=            A8
29073409   3.0
29007876   3.0
28852233   7.0
28852234   7.0
28975115   3.0
...        ...
28884943   5.0
28901353   3.0
28909557   NaN
28909558  21.0
29351928   3.0

[2812 rows x 1 columns], df_name='tan_rr', label='A8', qtype='single', survey='rr', text='Which of the following crops do you consume the most at home?')
key=uga_A8namespace(answers={'Maize': 3, 'Beans': 9, 'Sweet_potato': 17, 'Sorghum': 5, 'Rice': 1, 'Groundnuts': 8, 'Cowpea': 10, 'Millet': 4, 'Cassava': 7, 'Potato': 16, 'Pigeon_pea': 12, 'Banana': 21, 'Cotton': 46, 'Sesame': 55, 'Sugarcane': 57, 'Tobacco': 59, 'Tea': 58, 'Cocoa': 43, 'Coffee': 45, 'Field_pea': 11, 'Soybeans': 14, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='uga', df=            A8
23068679   7.0
22716424   9.0
22716425  21.0
23306249   9.0
22945803   7.0
...        ...
23306221   3.0
23306222   3.0
22872056  17.0
22904826  21.0
22945787   7.0

[2859 rows x 1 columns], df_name='uga_rr', label='A8', qtype='single', survey='rr', text='Which of the following crops do you consume the most at home?')
key=bgd_A26namespace(answers={'Rice': 1, 'Wheat': 2, 'Mango': 29, 'Jute': 48, 'Maize': 3, 'Tea': 58, 'Pulses': 13, 'Sugarcane': 57, 'Tobacco': 59, 'Chilies': 24, 'Onions': 32, 'Garlic': 27, 'Potato': 16, 'Rapeseed': 36, 'Mustard_seed': 50, 'Coconut': 44, 'Eggplant': 26, 'Radish': 35, 'Tomatoes': 39, 'Cauliflower': 23, 'Cabbage': 22, 'Pumpkin': 34, 'Banana': 21, 'Jackfruit': 28, 'Pineapple': 32, 'Guava': 28, 'Sesame': 55, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='bgd', df=         A26
1        1.0
2        1.0
3        NaN
4        NaN
5        1.0
...      ...
800129   NaN
800130   1.0
800131   NaN
800132  60.0
800133  60.0

[3136 rows x 1 columns], df_name='bgd_rr', label='A26', qtype='single', survey='rr', text='Which of the following crops that you make most money from?')
key=cdi_A26namespace(answers={'Rice': 1, 'Maize': 3, 'Cocoa': 43, 'Coffee': 45, 'Sweet_potato': 17, 'Cassava': 7, 'Cashew': 41, 'Plantain': 15, 'Groundnuts': 8, 'Millet': 4, 'Palm_oil': 51, 'Hevea': 47, 'Okra': 31, 'Chilies': 24, 'Onions': 32, 'Eggplant': 26, 'Tomatoes': 39, 'Cabbage': 22, 'Pumpkin': 34, 'Cucumber': 25, 'Salad': 37, 'Sesame': 55, 'Sugarcane': 57, 'Mango': 29, 'Papaya': 40, 'Orange': 33, 'Coconut': 44, 'Banana': 21, 'Pineapple': 32, 'Guava': 28, 'Cotton': 46, 'Yams': 19, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='cdi', df=           A26
31416320  41.0
31416321  46.0
31416322  46.0
31416323  41.0
31416324  46.0
...        ...
31186932  41.0
31186933  41.0
31186934  41.0
31285239  43.0
31416319  41.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A26', qtype='single', survey='rr', text='Which of the following crops that you make most money from?')

key=moz_A26namespace(answers={'Maize': 3, 'Beans': 9, 'Sweet_potato': 17, 'Sorghum': 5, 'Rice': 1, 'Groundnuts': 8, 'Cowpea': 10, 'Millet': 4, 'Cassava': 7, 'Potato': 16, 'Pigeon_pea': 12, 'Banana': 21, 'Coconut': 44, 'Cotton': 46, 'Sesame': 55, 'Mango': 29, 'Cashew': 41, 'Sugarcane': 57, 'Tobacco': 59, 'Tea': 58, 'Avocado': 20, 'Cocoa': 43, 'Sisal': 56, 'Cloves': 42, 'Coffee': 45, 'Sunflower': 38, 'Tomatoes': 39, 'Onions': 32, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='moz', df=           A26
22552580   NaN
22487045   NaN
22159366   NaN
22790149   NaN
22790150   NaN
...        ...
22757331   7.0
22552539   NaN
22200293   7.0
22102008   7.0
22167545  55.0

[2462 rows x 1 columns], df_name='moz_rr', label='A26', qtype='single', survey='rr', text='Which of the following crops that you make most money from?')
key=nga_A26namespace(answers={'Wheat': 2, 'Rice': 1, 'Maize': 3, 'Millet': 4, 'Sorghum': 5, 'Fonio': 6, 'Potato': 16, 'Sweet_potato': 17, 'Cassava': 7, 'Taro': 18, 'Yams': 19, 'Sugarcane': 57, 'Cowpea': 10, 'Pulses': 13, 'Beans': 9, 'Soybeans': 14, 'Groundnuts': 8, 'Coconut': 44, 'Palm_oil': 51, 'Karite_Shea': 49, 'Sesame': 55, 'Melonseed': 30, 'Seed_cotton': 54, 'Tomatoes': 39, 'Cabbage': 22, 'Onions': 32, 'Cashew': 41, 'Banana': 21, 'Cotton': 46, 'Tobacco': 59, 'Pyrethrum': 53, 'Coffee': 45, 'Orange': 33, 'No_crop': 63}, country='nga', df=           A26
40509448   7.0
40509449   3.0
40503694   7.0
40503695   7.0
40542247   1.0
...        ...
40501230  51.0
40525806   5.0
40304631   4.0
40344123  41.0
40344124  51.0

[2858 rows x 1 columns], df_name='nga_rr', label='A26', qtype='single', survey='rr', text='Which of the following crops that you make most money from?')
key=tan_A26namespace(answers={'Maize': 3, 'Rice': 1, 'Sorghum': 5, 'Millet': 4, 'Cassava': 7, 'Sweet_potato': 17, 'Potato': 16, 'Beans': 9, 'Cowpea': 10, 'Pigeon_pea': 12, 'Sunflower': 38, 'Sesame': 55, 'Groundnuts': 8, 'Tomatoes': 39, 'Cabbage': 22, 'Onions': 32, 'Amaranth': 52, 'Cashew': 41, 'Banana': 21, 'Cotton': 46, 'Tobacco': 59, 'Pyrethrum': 53, 'Coffee': 45, 'Coconut': 44, 'Orange': 33, 'Sugarcane': 57, 'Palm_oil': 51, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='tan', df=           A26
29073409   1.0
29007876   9.0
28852233  39.0
28852234   NaN
28975115   3.0
...        ...
28884943  55.0
28901353   3.0
28909557   NaN
28909558   NaN
29351928   3.0

[2812 rows x 1 columns], df_name='tan_rr', label='A26', qtype='single', survey='rr', text='Which of the following crops that you make most money from?')
key=uga_A26namespace(answers={'Maize': 3, 'Beans': 9, 'Sweet_potato': 17, 'Sorghum': 5, 'Rice': 1, 'Groundnuts': 8, 'Cowpea': 10, 'Millet': 4, 'Cassava': 7, 'Potato': 16, 'Pigeon_pea': 12, 'Banana': 21, 'Cotton': 46, 'Sesame': 55, 'Sugarcane': 57, 'Tobacco': 59, 'Tea': 58, 'Cocoa': 43, 'Coffee': 45, 'Field_pea': 11, 'Soybeans': 14, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='uga', df=           A26
23068679  46.0
22716424  21.0
22716425  60.0
23306249  45.0
22945803   4.0
...        ...
23306221   NaN
23306222   3.0
22872056  57.0
22904826  21.0
22945787   3.0

[2859 rows x 1 columns], df_name='uga_rr', label='A26', qtype='single', survey='rr', text='Which of the following crops that you make most money from?')
key=bgd_A37namespace(answers={'Rice': 1, 'Wheat': 2, 'Mango': 29, 'Jute': 48, 'Maize': 3, 'Tea': 58, 'Pulses': 13, 'Sugarcane': 57, 'Tobacco': 59, 'Chilies': 24, 'Onions': 32, 'Garlic': 27, 'Potato': 16, 'Rapeseed': 36, 'Mustard_seed': 50, 'Coconut': 44, 'Eggplant': 26, 'Radish': 35, 'Tomatoes': 39, 'Cauliflower': 23, 'Cabbage': 22, 'Pumpkin': 34, 'Banana': 21, 'Jackfruit': 28, 'Pineapple': 32, 'Guava': 28, 'Sesame': 55, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='bgd', df=        A37
1       1.0
2       NaN
3       NaN
4       NaN
5       NaN
...     ...
800129  NaN
800130  NaN
800131  NaN
800132  NaN
800133  NaN

[3136 rows x 1 columns], df_name='bgd_rr', label='A37', qtype='single', survey='rr', text='Which of the following crops do you trade? the most')
key=cdi_A37namespace(answers={'Rice': 1, 'Maize': 3, 'Cocoa': 43, 'Coffee': 45, 'Sweet_potato': 17, 'Cassava': 7, 'Cashew': 41, 'Plantain': 15, 'Groundnuts': 8, 'Millet': 4, 'Palm_oil': 51, 'Hevea': 47, 'Okra': 31, 'Chilies': 24, 'Onions': 32, 'Eggplant': 26, 'Tomatoes': 39, 'Cabbage': 22, 'Pumpkin': 34, 'Cucumber': 25, 'Salad': 37, 'Sesame': 55, 'Sugarcane': 57, 'Mango': 29, 'Papaya': 40, 'Orange': 33, 'Coconut': 44, 'Banana': 21, 'Pineapple': 32, 'Guava': 28, 'Cotton': 46, 'Yams': 19, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='cdi', df=          A37
31416320  NaN
31416321  NaN
31416322  NaN
31416323  NaN
31416324  NaN
...       ...
31186932  NaN
31186933  NaN
31186934  NaN
31285239  NaN
31416319  NaN

[3002 rows x 1 columns], df_name='cdi_rr', label='A37', qtype='single', survey='rr', text='Which of the following crops do you trade? the most')
key=moz_A37namespace(answers={'Maize': 3, 'Beans': 9, 'Sweet_potato': 17, 'Sorghum': 5, 'Rice': 1, 'Groundnuts': 8, 'Cowpea': 10, 'Millet': 4, 'Cassava': 7, 'Potato': 16, 'Pigeon_pea': 12, 'Banana': 21, 'Coconut': 44, 'Cotton': 46, 'Sesame': 55, 'Mango': 29, 'Cashew': 41, 'Sugarcane': 57, 'Tobacco': 59, 'Tea': 58, 'Avocado': 20, 'Cocoa': 43, 'Sisal': 56, 'Cloves': 42, 'Coffee': 45, 'Sunflower': 38, 'Tomatoes': 39, 'Onions': 32, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='moz', df=          A37
22552580  NaN
22487045  NaN
22159366  NaN
22790149  NaN
22790150  NaN
...       ...
22757331  NaN
22552539  NaN
22200293  NaN
22102008  8.0
22167545  NaN

[2462 rows x 1 columns], df_name='moz_rr', label='A37', qtype='single', survey='rr', text='Which of the following crops do you trade? the most')
key=nga_A37namespace(answers={'Wheat': 2, 'Rice': 1, 'Maize': 3, 'Millet': 4, 'Sorghum': 5, 'Fonio': 6, 'Potato': 16, 'Sweet_potato': 17, 'Cassava': 7, 'Taro': 18, 'Yams': 19, 'Sugarcane': 57, 'Cowpea': 10, 'Pulses': 13, 'Beans': 9, 'Soybeans': 14, 'Groundnuts': 8, 'Coconut': 44, 'Palm_oil': 51, 'Karite_Shea': 49, 'Sesame': 55, 'Melonseed': 30, 'Seed_cotton': 54, 'Tomatoes': 39, 'Cabbage': 22, 'Onions': 32, 'Cashew': 41, 'Banana': 21, 'Cotton': 46, 'Tobacco': 59, 'Pyrethrum': 53, 'Coffee': 45, 'Orange': 33, 'No_crop': 63}, country='nga', df=           A37
40509448   NaN
40509449   NaN
40503694   7.0
40503695   NaN
40542247   NaN
...        ...
40501230   NaN
40525806   NaN
40304631   NaN
40344123  51.0
40344124   NaN

[2858 rows x 1 columns], df_name='nga_rr', label='A37', qtype='single', survey='rr', text='Which of the following crops do you trade? the most')
key=tan_A37namespace(answers={'Maize': 3, 'Rice': 1, 'Sorghum': 5, 'Millet': 4, 'Cassava': 7, 'Sweet_potato': 17, 'Potato': 16, 'Beans': 9, 'Cowpea': 10, 'Pigeon_pea': 12, 'Sunflower': 38, 'Sesame': 55, 'Groundnuts': 8, 'Tomatoes': 39, 'Cabbage': 22, 'Onions': 32, 'Amaranth': 52, 'Cashew': 41, 'Banana': 21, 'Cotton': 46, 'Tobacco': 59, 'Pyrethrum': 53, 'Coffee': 45, 'Coconut': 44, 'Orange': 33, 'Sugarcane': 57, 'Palm_oil': 51, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='tan', df=           A37
29073409   NaN
29007876   9.0
28852233  63.0
28852234   NaN
28975115   3.0
...        ...
28884943   NaN
28901353   NaN
28909557   NaN
28909558   NaN
29351928  63.0

[2812 rows x 1 columns], df_name='tan_rr', label='A37', qtype='single', survey='rr', text='Which of the following crops do you trade? the most')
key=uga_A37namespace(answers={'Maize': 3, 'Beans': 9, 'Sweet_potato': 17, 'Sorghum': 5, 'Rice': 1, 'Groundnuts': 8, 'Cowpea': 10, 'Millet': 4, 'Cassava': 7, 'Potato': 16, 'Pigeon_pea': 12, 'Banana': 21, 'Cotton': 46, 'Sesame': 55, 'Sugarcane': 57, 'Tobacco': 59, 'Tea': 58, 'Cocoa': 43, 'Coffee': 45, 'Field_pea': 11, 'Soybeans': 14, 'Other_1': 60, 'Other_2': 61, 'Other_3': 62, 'No_crop': 63}, country='uga', df=          A37
23068679  NaN
22716424  NaN
22716425  NaN
23306249  NaN
22945803  NaN
...       ...
23306221  NaN
23306222  NaN
22872056  NaN
22904826  NaN
22945787  NaN

[2859 rows x 1 columns], df_name='uga_rr', label='A37', qtype='single', survey='rr', text='Which of the following crops do you trade? the most')
key=bgd_A10namespace(answers={'yes': 1, 'no': 2}, country='bgd', df=        A10
1       1.0
2       2.0
3       NaN
4       1.0
5       1.0
...     ...
800129  1.0
800130  1.0
800131  2.0
800132  2.0
800133  2.0

[3136 rows x 1 columns], df_name='bgd_rr', label='A10', qtype='single', survey='rr', text='Do you have any livestock herds, other farm animals, or poultry?')
key=cdi_A10namespace(answers={'yes': 1, 'no': 2}, country='cdi', df=          A10
31416320  1.0
31416321  1.0
31416322  2.0
31416323  2.0
31416324  2.0
...       ...
31186932  2.0
31186933  1.0
31186934  1.0
31285239  1.0
31416319  1.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A10', qtype='single', survey='rr', text='Do you have any livestock herds, other farm animals, or poultry?')
key=moz_A10namespace(answers={'yes': 1, 'no': 2}, country='moz', df=          A10
22552580  2.0
22487045  2.0
22159366  1.0
22790149  1.0
22790150  2.0
...       ...
22757331  1.0
22552539  1.0
22200293  2.0
22102008  1.0
22167545  2.0

[2462 rows x 1 columns], df_name='moz_rr', label='A10', qtype='single', survey='rr', text='Do you have any livestock herds, other farm animals, or poultry?')
key=nga_A10namespace(answers={'yes': 1, 'no': 2}, country='nga', df=          A10
40509448  2.0
40509449  1.0
40503694  2.0
40503695  2.0
40542247  1.0
...       ...
40501230  2.0
40525806  1.0
40304631  1.0
40344123  2.0
40344124  2.0

[2858 rows x 1 columns], df_name='nga_rr', label='A10', qtype='single', survey='rr', text='Do you have any livestock herds, other farm animals, or poultry?')
key=tan_A10namespace(answers={'yes': 1, 'no': 2}, country='tan', df=          A10
29073409  1.0
29007876  2.0
28852233  1.0
28852234  1.0
28975115  2.0
...       ...
28884943  1.0
28901353  2.0
28909557  NaN
28909558  2.0
29351928  2.0

[2812 rows x 1 columns], df_name='tan_rr', label='A10', qtype='single', survey='rr', text='Do you have any livestock herds, other farm animals, or poultry?')
key=uga_A10namespace(answers={'yes': 1, 'no': 2}, country='uga', df=          A10
23068679  1.0
22716424  1.0
22716425  1.0
23306249  1.0
22945803  1.0
...       ...
23306221  1.0
23306222  1.0
22872056  2.0
22904826  1.0
22945787  1.0

[2859 rows x 1 columns], df_name='uga_rr', label='A10', qtype='single', survey='rr', text='Do you have any livestock herds, other farm animals, or poultry?')
key=bgd_A11namespace(column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Buffalo': 3, 'Goat_meat': 4, 'Goat_dairy': 5, 'Sheep': 6, 'Chicken_broiler': 7, 'Chicken_layer': 8, 'Duck': 9, 'Pigeon': 10, 'Fish': 11, 'Bees': 12, 'Other': 13, 'No_livestock': 14}, country='bgd', df=        Cattle_beef  Cattle_dairy  Buffalo  Goat_meat  Goat_dairy  Sheep  \
1               2.0           1.0      0.0        0.0         0.0    0.0
2               NaN           NaN      NaN        NaN         NaN    NaN
3               NaN           NaN      NaN        NaN         NaN    NaN
4               2.0           2.0      0.0        0.0         0.0    0.0
5               2.0           2.0      0.0        0.0         0.0    0.0
...             ...           ...      ...        ...         ...    ...
800129          0.0           1.0      0.0        0.0         0.0    0.0
800130          2.0           0.0      0.0        0.0         0.0    0.0
800131          NaN           NaN      NaN        NaN         NaN    NaN
800132          NaN           NaN      NaN        NaN         NaN    NaN
800133          NaN           NaN      NaN        NaN         NaN    NaN

        Chicken_broiler  Chicken_layer  Duck  Pigeon  Fish  Bees  Other
1                   0.0            2.0   5.0     6.0   0.0   0.0    0.0
2                   NaN            NaN   NaN     NaN   NaN   NaN    NaN
3                   NaN            NaN   NaN     NaN   NaN   NaN    NaN
4                   0.0            5.0   0.0     0.0   0.0   0.0    0.0
5                   0.0            9.0   7.0     4.0   1.0   0.0    0.0
...                 ...            ...   ...     ...   ...   ...    ...
800129              0.0            0.0   0.0     0.0   0.0   0.0    0.0
800130              0.0            0.0   0.0     2.0   0.0   0.0    0.0
800131              NaN            NaN   NaN     NaN   NaN   NaN    NaN
800132              NaN            NaN   NaN     NaN   NaN   NaN    NaN
800133              NaN            NaN   NaN     NaN   NaN   NaN    NaN

[3136 rows x 13 columns], df_name='bgd_rr', label='A11', qtype='multi', survey='rr', text='How many of each of the following do you rear?')

key=cdi_A11namespace(column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Buffalo': 3, 'Goat_meat': 4, 'Goat_dairy': 5, 'Sheep': 6, 'Chicken_broiler': 7, 'Chicken_layer': 8, 'Pig': 9, 'Duck': 10, 'Pigeon': 11, 'Fish': 12, 'Bees': 13, 'Other': 14, 'No_livestock': 15}, country='cdi', df=          Cattle_beef  Cattle_dairy  Buffalo  Goat_meat  Goat_dairy  Sheep  \
31416320          5.0           7.0      0.0        0.0         0.0    6.0
31416321          1.0           0.0      0.0        4.0         0.0    1.0
31416322          NaN           NaN      NaN        NaN         NaN    NaN
31416323          NaN           NaN      NaN        NaN         NaN    NaN
31416324          NaN           NaN      NaN        NaN         NaN    NaN
...               ...           ...      ...        ...         ...    ...
31186932          NaN           NaN      NaN        NaN         NaN    NaN
31186933          2.0           0.0      0.0        0.0         0.0    0.0
31186934          1.0           0.0      0.0        0.0         0.0    0.0
31285239          0.0           0.0      0.0        2.0         5.0    0.0
31416319          6.0          30.0      0.0       10.0         0.0    0.0

          Chicken_broiler  Chicken_layer  Pig  Duck  Pigeon  Fish  Bees
31416320             20.0            0.0  0.0   0.0     0.0   0.0   0.0
31416321              7.0            0.0  0.0   0.0     0.0   0.0   0.0
31416322              NaN            NaN  NaN   NaN     NaN   NaN   NaN
31416323              NaN            NaN  NaN   NaN     NaN   NaN   NaN
31416324              NaN            NaN  NaN   NaN     NaN   NaN   NaN
...                   ...            ...  ...   ...     ...   ...   ...
31186932              NaN            NaN  NaN   NaN     NaN   NaN   NaN
31186933              4.0            0.0  0.0   0.0     0.0   0.0   0.0
31186934              6.0            0.0  0.0   0.0     0.0   0.0   0.0
31285239              1.0           19.0  0.0   0.0     0.0   0.0   2.0
31416319              0.0            0.0  0.0   0.0     0.0   0.0   0.0

[3002 rows x 13 columns], df_name='cdi_rr', label='A11', qtype='multi', survey='rr', text='How many of each of the following do you rear?')
key=moz_A11namespace(column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Cattle_ind': 3, 'Sheep': 4, 'Duck': 5, 'Pig': 6, 'Goat_meat': 7, 'Goat_dairy': 8, 'Chicken_broiler': 9, 'Chicken_layer': 10, 'Fish': 11, 'Bees': 12, 'Other': 13, 'No_livestock': 14}, country='moz', df=          Cattle_beef  Cattle_dairy  Cattle_ind  Sheep  Duck  Pig  Goat_meat  \
22552580          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22487045          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22159366          0.0           0.0         0.0    0.0   0.0  0.0        0.0
22790149          0.0           0.0         0.0    0.0   4.0  0.0        0.0
22790150          NaN           NaN         NaN    NaN   NaN  NaN        NaN
...               ...           ...         ...    ...   ...  ...        ...
22757331          2.0           0.0         0.0    0.0   0.0  4.0        0.0
22552539          0.0           0.0         0.0    0.0   1.0  0.0        0.0
22200293          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22102008          4.0           0.0         0.0    0.0   5.0  4.0        0.0
22167545          NaN           NaN         NaN    NaN   NaN  NaN        NaN

          Goat_dairy  Chicken_broiler  Chicken_layer  Fish  Bees  Other
22552580         NaN              NaN            NaN   NaN   NaN    NaN
22487045         NaN              NaN            NaN   NaN   NaN    NaN
22159366         0.0              0.0           10.0   0.0   0.0    0.0
22790149         0.0              0.0            4.0   0.0   0.0    0.0
22790150         NaN              NaN            NaN   NaN   NaN    NaN
...              ...              ...            ...   ...   ...    ...
22757331         0.0              0.0            9.0   0.0   0.0    0.0
22552539         0.0              0.0            0.0   0.0   0.0    0.0
22200293         NaN              NaN            NaN   NaN   NaN    NaN
22102008         0.0              0.0            7.0   0.0   0.0    0.0
22167545         NaN              NaN            NaN   NaN   NaN    NaN

[2462 rows x 13 columns], df_name='moz_rr', label='A11', qtype='multi', survey='rr', text='How many of each of the following do you rear?')
key=nga_A11namespace(column_dict={'Cattle_ind': 1, 'Cattle_dairy': 2, 'Cattle_beef': 3, 'Goat_ind': 4, 'Goat_dairy': 5, 'Goat_meat': 6, 'Sheep': 7, 'Pig': 8, 'Chicken_layer': 9, 'Chicken_broiler': 10, 'Fish': 11, 'Bees': 12, 'Camel': 13, 'Donkey': 14, 'Horse': 15, 'Dog': 16, 'Other': 17, 'No_livestock': 18}, country='nga', df=          Cattle_ind  Cattle_dairy  Cattle_beef  Goat_ind  Goat_dairy  \
40509448         0.0           0.0          0.0       0.0         0.0
40509449         0.0           0.0          0.0       0.0         0.0
40503694         NaN           NaN          NaN       NaN         NaN
40503695         NaN           NaN          NaN       NaN         NaN
40542247         2.0           0.0          0.0       1.0         0.0
...              ...           ...          ...       ...         ...
40501230         NaN           NaN          NaN       NaN         NaN
40525806         0.0           0.0          0.0       5.0         0.0
40304631         3.0           0.0          0.0       0.0         0.0
40344123         NaN           NaN          NaN       NaN         NaN
40344124         NaN           NaN          NaN       NaN         NaN

          Goat_meat  Sheep  Pig  Chicken_layer  Chicken_broiler  Fish  Bees  \
40509448        0.0    0.0  0.0           40.0              0.0   0.0   0.0
40509449        0.0    0.0  0.0            0.0             13.0   0.0   0.0
40503694        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40503695        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40542247        0.0    3.0  0.0            0.0              0.0   0.0   0.0
...             ...    ...  ...            ...              ...   ...   ...
40501230        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40525806        0.0    5.0  0.0           20.0              0.0   0.0   0.0
40304631        8.0    2.0  0.0            8.0              0.0   8.0   8.0
40344123        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40344124        NaN    NaN  NaN            NaN              NaN   NaN   NaN

          Camel  Donkey  Horse  Dog  Other
40509448    0.0     0.0    0.0  2.0    0.0
40509449    0.0     0.0    0.0  0.0    0.0
40503694    NaN     NaN    NaN  NaN    NaN
40503695    NaN     NaN    NaN  NaN    NaN
40542247    0.0     0.0    0.0  0.0    0.0
...         ...     ...    ...  ...    ...
40501230    NaN     NaN    NaN  NaN    NaN
40525806    0.0     0.0    0.0  0.0    0.0
40304631    0.0     8.0    0.0  0.0    0.0
40344123    NaN     NaN    NaN  NaN    NaN
40344124    NaN     NaN    NaN  NaN    NaN

[2858 rows x 17 columns], df_name='nga_rr', label='A11', qtype='multi', survey='rr', text='How many of each of the following do you rear?')
key=tan_A11namespace(column_dict={'Cattle_ind': 1, 'Cattle_dairy': 2, 'Cattle_beef': 3, 'Goat_ind': 4, 'Goat_dairy': 5, 'Goat_meat': 6, 'Sheep': 7, 'Pig': 8, 'Chicken_layer': 9, 'Chicken_broiler': 10, 'Fish': 11, 'Bees': 12, 'Other': 13, 'No_livestock': 14}, country='tan', df=          Cattle_ind  Cattle_dairy  Cattle_beef  Goat_ind  Goat_dairy  \
29073409         8.0           0.0          8.0       4.0         0.0
29007876         NaN           NaN          NaN       NaN         NaN
28852233         2.0           0.0          0.0       0.0         0.0
28852234         0.0           0.0          0.0       0.0         0.0
28975115         NaN           NaN          NaN       NaN         NaN
...              ...           ...          ...       ...         ...
28884943         0.0           0.0          0.0       6.0         0.0
28901353         NaN           NaN          NaN       NaN         NaN
28909557         NaN           NaN          NaN       NaN         NaN
28909558         NaN           NaN          NaN       NaN         NaN
29351928         NaN           NaN          NaN       NaN         NaN

          Goat_meat  Sheep  Pig  Chicken_layer  Chicken_broiler  Fish  Bees  \
29073409        4.0    4.0  0.0            0.0              2.0   0.0   0.0
29007876        NaN    NaN  NaN            NaN              NaN   NaN   NaN
28852233        0.0    0.0  0.0            0.0              6.0   0.0   0.0
28852234        0.0    3.0  0.0            0.0              2.0   0.0   0.0
28975115        NaN    NaN  NaN            NaN              NaN   NaN   NaN
...             ...    ...  ...            ...              ...   ...   ...
28884943        0.0    0.0  0.0            0.0             13.0   0.0   0.0
28901353        NaN    NaN  NaN            NaN              NaN   NaN   NaN
28909557        NaN    NaN  NaN            NaN              NaN   NaN   NaN
28909558        NaN    NaN  NaN            NaN              NaN   NaN   NaN
29351928        NaN    NaN  NaN            NaN              NaN   NaN   NaN

          Other
29073409    0.0
29007876    NaN
28852233    0.0
28852234    0.0
28975115    NaN
...         ...
28884943    0.0
28901353    NaN
28909557    NaN
28909558    NaN
29351928    NaN

[2812 rows x 13 columns], df_name='tan_rr', label='A11', qtype='multi', survey='rr', text='How many of each of the following do you rear?')
key=uga_A11namespace(column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Cattle_ind': 3, 'Sheep': 4, 'Duck': 5, 'Turkey': 6, 'Pig': 7, 'Goat_meat': 8, 'Goat_dairy': 9, 'Chicken_broiler': 10, 'Chicken_layer': 11, 'Fish': 12, 'Bees': 13, 'Other': 14, 'No_livestock': 15}, country='uga', df=          Cattle_beef  Cattle_dairy  Cattle_ind  Sheep  Duck  Turkey  Pig  \
23068679          0.0           0.0         0.0    0.0   0.0     0.0  0.0
22716424          0.0           0.0         0.0    0.0   0.0     0.0  0.0
22716425          0.0           0.0         0.0    0.0   0.0     0.0  0.0
23306249          0.0           0.0         0.0    0.0   0.0     0.0  0.0
22945803          0.0           0.0         0.0    0.0   0.0     0.0  0.0
...               ...           ...         ...    ...   ...     ...  ...
23306221          0.0           0.0         5.0    0.0   0.0     0.0  0.0
23306222          0.0           0.0         1.0    0.0   0.0     0.0  0.0
22872056          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22904826          0.0           0.0         0.0    0.0   0.0     0.0  0.0
22945787          4.0           0.0         0.0    0.0   0.0     0.0  0.0

          Goat_meat  Goat_dairy  Chicken_broiler  Chicken_layer  Fish   Bees  \
23068679        1.0         0.0              0.0            0.0   0.0    0.0
22716424        0.0         0.0             13.0            0.0   0.0    7.0
22716425        0.0         0.0              1.0            0.0   0.0  100.0
23306249        0.0         0.0              0.0            0.0   0.0    0.0
22945803        0.0         0.0              3.0            0.0   0.0    0.0
...             ...         ...              ...            ...   ...    ...
23306221        0.0         0.0              0.0            0.0   4.0    0.0
23306222        0.0         0.0              0.0            0.0   2.0    0.0
22872056        NaN         NaN              NaN            NaN   NaN    NaN
22904826       15.0         0.0             20.0            0.0   0.0    0.0
22945787        2.0         0.0              5.0            0.0   0.0    0.0

          Other  No_livestock
23068679    0.0           0.0
22716424    0.0           0.0
22716425    0.0           0.0
23306249    2.0           0.0
22945803    0.0          10.0
...         ...           ...
23306221    0.0           0.0
23306222    0.0           0.0
22872056    NaN           NaN
22904826    0.0           0.0
22945787    0.0          16.0

[2859 rows x 15 columns], df_name='uga_rr', label='A11', qtype='multi', survey='rr', text='How many of each of the following do you rear?')
key=bgd_A12namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Buffalo': 3, 'Goat_meat': 4, 'Goat_dairy': 5, 'Sheep': 6, 'Chicken_broiler': 7, 'Chicken_layer': 8, 'Duck': 9, 'Pigeon': 10, 'Fish': 11, 'Bees': 12, 'Other': 13, 'No_livestock': 14}, country='bgd', df=        Cattle_beef  Cattle_dairy  Buffalo  Goat_meat  Goat_dairy  Sheep  \
1               1.0           1.0      NaN        NaN         NaN    NaN
2               NaN           NaN      NaN        NaN         NaN    NaN
3               NaN           NaN      NaN        NaN         NaN    NaN
4               1.0           2.0      NaN        NaN         NaN    NaN
5               2.0           1.0      NaN        NaN         NaN    NaN
...             ...           ...      ...        ...         ...    ...
800129          NaN           2.0      NaN        NaN         NaN    NaN
800130          1.0           NaN      NaN        NaN         NaN    NaN
800131          NaN           NaN      NaN        NaN         NaN    NaN
800132          NaN           NaN      NaN        NaN         NaN    NaN
800133          NaN           NaN      NaN        NaN         NaN    NaN

        Chicken_broiler  Chicken_layer  Duck  Pigeon  Fish  Bees  Other  \
1                   NaN            1.0   1.0     1.0   NaN   NaN    NaN
2                   NaN            NaN   NaN     NaN   NaN   NaN    NaN
3                   NaN            NaN   NaN     NaN   NaN   NaN    NaN
4                   NaN            2.0   NaN     NaN   NaN   NaN    NaN
5                   NaN            2.0   1.0     2.0   2.0   NaN    NaN
...                 ...            ...   ...     ...   ...   ...    ...
800129              NaN            NaN   NaN     NaN   NaN   NaN    NaN
800130              NaN            NaN   NaN     2.0   NaN   NaN    NaN
800131              NaN            NaN   NaN     NaN   NaN   NaN    NaN
800132              NaN            NaN   NaN     NaN   NaN   NaN    NaN
800133              NaN            NaN   NaN     NaN   NaN   NaN    NaN

        No_livestock
1                2.0
2                NaN
3                NaN
4                2.0
5                2.0
...              ...
800129           1.0
800130           2.0
800131           NaN
800132           NaN
800133           NaN

[3136 rows x 14 columns], df_name='bgd_rr', label='A12', qtype='multi', survey='rr', text='Which of the following do you rear AND get an income from?')
key=cdi_A12namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Buffalo': 3, 'Goat_meat': 4, 'Goat_dairy': 5, 'Sheep': 6, 'Chicken_broiler': 7, 'Chicken_layer': 8, 'Pig': 9, 'Duck': 10, 'Pigeon': 11, 'Fish': 12, 'Bees': 13, 'Other': 14, 'No_livestock': 15}, country='cdi', df=          Cattle_beef  Cattle_dairy  Buffalo  Goat_meat  Goat_dairy  Sheep  \
31416320          1.0           2.0      NaN        NaN         NaN    2.0
31416321          2.0           NaN      NaN        1.0         NaN    2.0
31416322          NaN           NaN      NaN        NaN         NaN    NaN
31416323          NaN           NaN      NaN        NaN         NaN    NaN
31416324          NaN           NaN      NaN        NaN         NaN    NaN
...               ...           ...      ...        ...         ...    ...
31186932          NaN           NaN      NaN        NaN         NaN    NaN
31186933          1.0           NaN      NaN        NaN         NaN    NaN
31186934          1.0           NaN      NaN        NaN         NaN    NaN
31285239          NaN           NaN      NaN        1.0         1.0    NaN
31416319          1.0           2.0      NaN        2.0         NaN    NaN

          Chicken_broiler  Chicken_layer  Pig  Duck  Pigeon  Fish  Bees  Other
31416320              2.0            NaN  NaN   NaN     NaN   NaN   NaN    2.0
31416321              2.0            NaN  NaN   NaN     NaN   NaN   NaN    2.0
31416322              NaN            NaN  NaN   NaN     NaN   NaN   NaN    NaN
31416323              NaN            NaN  NaN   NaN     NaN   NaN   NaN    NaN
31416324              NaN            NaN  NaN   NaN     NaN   NaN   NaN    NaN
...                   ...            ...  ...   ...     ...   ...   ...    ...
31186932              NaN            NaN  NaN   NaN     NaN   NaN   NaN    NaN
31186933              2.0            NaN  NaN   NaN     NaN   NaN   NaN    2.0
31186934              1.0            NaN  NaN   NaN     NaN   NaN   NaN    2.0
31285239              1.0            1.0  NaN   NaN     NaN   NaN   1.0    2.0
31416319              NaN            NaN  NaN   NaN     NaN   NaN   NaN    2.0

[3002 rows x 14 columns], df_name='cdi_rr', label='A12', qtype='multi', survey='rr', text='Which of the following do you rear AND get an income from?')

key=moz_A12namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Cattle_ind': 3, 'Sheep': 4, 'Duck': 5, 'Pig': 6, 'Goat_meat': 7, 'Goat_dairy': 8, 'Chicken_broiler': 9, 'Chicken_layer': 10, 'Fish': 11, 'Bees': 12, 'Other': 13, 'No_livestock': 14}, country='moz', df=          Cattle_beef  Cattle_dairy  Cattle_ind  Sheep  Duck  Pig  Goat_meat  \
22552580          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22487045          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22159366          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22790149          NaN           NaN         NaN    NaN   2.0  NaN        NaN
22790150          NaN           NaN         NaN    NaN   NaN  NaN        NaN
...               ...           ...         ...    ...   ...  ...        ...
22757331          1.0           NaN         NaN    NaN   NaN  1.0        NaN
22552539          NaN           NaN         NaN    NaN   2.0  NaN        NaN
22200293          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22102008          1.0           NaN         NaN    NaN   2.0  1.0        NaN
22167545          NaN           NaN         NaN    NaN   NaN  NaN        NaN

          Goat_dairy  Chicken_broiler  Chicken_layer  Fish  Bees  Other  \
22552580         NaN              NaN            NaN   NaN   NaN    NaN
22487045         NaN              NaN            NaN   NaN   NaN    NaN
22159366         NaN              NaN            1.0   NaN   NaN    2.0
22790149         NaN              NaN            2.0   NaN   NaN    2.0
22790150         NaN              NaN            NaN   NaN   NaN    NaN
...              ...              ...            ...   ...   ...    ...
22757331         NaN              NaN            2.0   NaN   NaN    2.0
22552539         NaN              NaN            NaN   NaN   NaN    2.0
22200293         NaN              NaN            NaN   NaN   NaN    NaN
22102008         NaN              NaN            2.0   NaN   NaN    2.0
22167545         NaN              NaN            NaN   NaN   NaN    NaN

          No_livestock
22552580           NaN
22487045           NaN
22159366           1.0
22790149           2.0
22790150           NaN
...                ...
22757331           1.0
22552539           2.0
22200293           NaN
22102008           1.0
22167545           NaN

[2462 rows x 14 columns], df_name='moz_rr', label='A12', qtype='multi', survey='rr', text='Which of the following do you rear AND get an income from?')
key=nga_A12namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_ind': 1, 'Cattle_dairy': 2, 'Cattle_beef': 3, 'Goat_ind': 4, 'Goat_dairy': 5, 'Goat_meat': 6, 'Sheep': 7, 'Pig': 8, 'Chicken_layer': 9, 'Chicken_broiler': 10, 'Fish': 11, 'Bees': 12, 'Camel': 13, 'Donkey': 14, 'Horse': 15, 'Dog': 16, 'Other': 17, 'No_livestock': 18}, country='nga', df=          Cattle_ind  Cattle_dairy  Cattle_beef  Goat_ind  Goat_dairy  \
40509448         NaN           NaN          NaN       NaN         NaN
40509449         NaN           NaN          NaN       NaN         NaN
40503694         NaN           NaN          NaN       NaN         NaN
40503695         NaN           NaN          NaN       NaN         NaN
40542247         1.0           NaN          NaN       2.0         NaN
...              ...           ...          ...       ...         ...
40501230         NaN           NaN          NaN       NaN         NaN
40525806         NaN           NaN          NaN       1.0         NaN
40304631         1.0           NaN          NaN       NaN         NaN
40344123         NaN           NaN          NaN       NaN         NaN
40344124         NaN           NaN          NaN       NaN         NaN

          Goat_meat  Sheep  Pig  Chicken_layer  Chicken_broiler  Fish  Bees  \
40509448        NaN    NaN  NaN            1.0              NaN   NaN   NaN
40509449        NaN    NaN  NaN            NaN              1.0   NaN   NaN
40503694        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40503695        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40542247        NaN    2.0  NaN            NaN              NaN   NaN   NaN
...             ...    ...  ...            ...              ...   ...   ...
40501230        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40525806        1.0    1.0  NaN            1.0              2.0   NaN   NaN
40304631        2.0    1.0  NaN            2.0              NaN   2.0   2.0
40344123        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40344124        NaN    NaN  NaN            NaN              NaN   NaN   NaN

          Camel  Donkey  Horse  Dog  Other  No_livestock
40509448    NaN     NaN    NaN  2.0    NaN           2.0
40509449    NaN     NaN    NaN  NaN    NaN           2.0
40503694    NaN     NaN    NaN  NaN    NaN           NaN
40503695    NaN     NaN    NaN  NaN    NaN           NaN
40542247    NaN     NaN    NaN  NaN    NaN           2.0
...         ...     ...    ...  ...    ...           ...
40501230    NaN     NaN    NaN  NaN    NaN           NaN
40525806    NaN     NaN    NaN  NaN    NaN           2.0
40304631    NaN     2.0    NaN  NaN    NaN           2.0
40344123    NaN     NaN    NaN  NaN    NaN           NaN
40344124    NaN     NaN    NaN  NaN    NaN           NaN

[2858 rows x 18 columns], df_name='nga_rr', label='A12', qtype='multi', survey='rr', text='Which of the following do you rear AND get an income from?')
key=tan_A12namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_ind': 1, 'Cattle_dairy': 2, 'Cattle_beef': 3, 'Goat_ind': 4, 'Goat_dairy': 5, 'Goat_meat': 6, 'Sheep': 7, 'Pig': 8, 'Chicken_layer': 9, 'Chicken_broiler': 10, 'Fish': 11, 'Bees': 12, 'Other': 13, 'No_livestock': 14}, country='tan', df=          Cattle_ind  Cattle_dairy  Cattle_beef  Goat_ind  Goat_dairy  \
29073409         1.0           NaN          2.0       2.0         NaN
29007876         NaN           NaN          NaN       NaN         NaN
28852233         2.0           NaN          NaN       2.0         NaN
28852234         NaN           NaN          NaN       NaN         NaN
28975115         NaN           NaN          NaN       NaN         NaN
...              ...           ...          ...       ...         ...
28884943         NaN           NaN          NaN       1.0         NaN
28901353         NaN           NaN          NaN       NaN         NaN
28909557         NaN           NaN          NaN       NaN         NaN
28909558         NaN           NaN          NaN       NaN         NaN
29351928         NaN           NaN          NaN       NaN         NaN

          Goat_meat  Sheep  Pig  Chicken_layer  Chicken_broiler  Fish  Bees  \
29073409        2.0    2.0  NaN            NaN              2.0   NaN   NaN
29007876        NaN    NaN  NaN            NaN              NaN   NaN   NaN
28852233        NaN    NaN  NaN            NaN              1.0   NaN   NaN
28852234        NaN    2.0  NaN            NaN              2.0   NaN   NaN
28975115        NaN    NaN  NaN            NaN              NaN   NaN   NaN
...             ...    ...  ...            ...              ...   ...   ...
28884943        NaN    NaN  NaN            1.0              1.0   NaN   NaN
28901353        NaN    NaN  NaN            NaN              NaN   NaN   NaN
28909557        NaN    NaN  NaN            NaN              NaN   NaN   NaN
28909558        NaN    NaN  NaN            NaN              NaN   NaN   NaN
29351928        NaN    NaN  NaN            NaN              NaN   NaN   NaN

          Other  No_livestock
29073409    NaN           2.0
29007876    NaN           NaN
28852233    NaN           2.0
28852234    NaN           1.0
28975115    NaN           NaN
...         ...           ...
28884943    NaN           2.0
28901353    NaN           NaN
28909557    NaN           NaN
28909558    NaN           NaN
29351928    NaN           NaN

[2812 rows x 14 columns], df_name='tan_rr', label='A12', qtype='multi', survey='rr', text='Which of the following do you rear AND get an income from?')
key=uga_A12namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Cattle_ind': 3, 'Sheep': 4, 'Duck': 5, 'Turkey': 6, 'Pig': 7, 'Goat_meat': 8, 'Goat_dairy': 9, 'Chicken_broiler': 10, 'Chicken_layer': 11, 'Fish': 12, 'Bees': 13, 'Other': 14, 'No_livestock': 15}, country='uga', df=          Cattle_beef  Cattle_dairy  Cattle_ind  Sheep  Duck  Turkey  Pig  \
23068679          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22716424          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22716425          NaN           NaN         NaN    NaN   NaN     NaN  NaN
23306249          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22945803          NaN           NaN         NaN    NaN   NaN     NaN  NaN
...               ...           ...         ...    ...   ...     ...  ...
23306221          NaN           NaN         2.0    NaN   NaN     NaN  NaN
23306222          NaN           NaN         2.0    NaN   NaN     NaN  NaN
22872056          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22904826          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22945787          1.0           NaN         NaN    NaN   NaN     NaN  NaN

          Goat_meat  Goat_dairy  Chicken_broiler  Chicken_layer  Fish  Bees  \
23068679        1.0         NaN              NaN            NaN   NaN   NaN
22716424        NaN         NaN              1.0            NaN   NaN   2.0
22716425        NaN         NaN              2.0            NaN   NaN   1.0
23306249        NaN         NaN              NaN            NaN   NaN   NaN
22945803        NaN         NaN              1.0            NaN   NaN   NaN
...             ...         ...              ...            ...   ...   ...
23306221        NaN         NaN              NaN            NaN   2.0   NaN
23306222        NaN         NaN              NaN            NaN   2.0   NaN
22872056        NaN         NaN              NaN            NaN   NaN   NaN
22904826        1.0         NaN              2.0            NaN   NaN   NaN
22945787        2.0         NaN              1.0            NaN   NaN   NaN

          Other  No_livestock
23068679    NaN           NaN
22716424    NaN           NaN
22716425    NaN           NaN
23306249    1.0           NaN
22945803    NaN           1.0
...         ...           ...
23306221    NaN           NaN
23306222    NaN           NaN
22872056    NaN           NaN
22904826    NaN           NaN
22945787    NaN           1.0

[2859 rows x 15 columns], df_name='uga_rr', label='A12', qtype='multi', survey='rr', text='Which of the following do you rear AND get an income from?')
key=bgd_A14namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Buffalo': 3, 'Goat_meat': 4, 'Goat_dairy': 5, 'Sheep': 6, 'Chicken_broiler': 7, 'Chicken_layer': 8, 'Duck': 9, 'Pigeon': 10, 'Fish': 11, 'Bees': 12, 'Other': 13, 'No_livestock': 14}, country='bgd', df=        Cattle_beef  Cattle_dairy  Buffalo  Goat_meat  Goat_dairy  Sheep  \
1               2.0           1.0      NaN        NaN         NaN    NaN
2               NaN           NaN      NaN        NaN         NaN    NaN
3               NaN           NaN      NaN        NaN         NaN    NaN
4               2.0           1.0      NaN        NaN         NaN    NaN
5               2.0           2.0      NaN        NaN         NaN    NaN
...             ...           ...      ...        ...         ...    ...
800129          NaN           2.0      NaN        NaN         NaN    NaN
800130          2.0           NaN      NaN        NaN         NaN    NaN
800131          NaN           NaN      NaN        NaN         NaN    NaN
800132          NaN           NaN      NaN        NaN         NaN    NaN
800133          NaN           NaN      NaN        NaN         NaN    NaN

        Chicken_broiler  Chicken_layer  Duck  Pigeon  Fish  Bees  Other  \
1                   NaN            1.0   2.0     1.0   NaN   NaN    NaN
2                   NaN            NaN   NaN     NaN   NaN   NaN    NaN
3                   NaN            NaN   NaN     NaN   NaN   NaN    NaN
4                   NaN            1.0   NaN     NaN   NaN   NaN    NaN
5                   NaN            1.0   2.0     1.0   2.0   NaN    NaN
...                 ...            ...   ...     ...   ...   ...    ...
800129              NaN            NaN   NaN     NaN   NaN   NaN    NaN
800130              NaN            NaN   NaN     1.0   NaN   NaN    NaN
800131              NaN            NaN   NaN     NaN   NaN   NaN    NaN
800132              NaN            NaN   NaN     NaN   NaN   NaN    NaN
800133              NaN            NaN   NaN     NaN   NaN   NaN    NaN

        No_livestock
1                2.0
2                NaN
3                NaN
4                2.0
5                2.0
...              ...
800129           1.0
800130           2.0
800131           NaN
800132           NaN
800133           NaN

[3136 rows x 14 columns], df_name='bgd_rr', label='A14', qtype='multi', survey='rr', text='Which of the following livestock or byproducts do you rear to consume at home?')
key=cdi_A14namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Buffalo': 3, 'Goat_meat': 4, 'Goat_dairy': 5, 'Sheep': 6, 'Chicken_broiler': 7, 'Chicken_layer': 8, 'Pig': 9, 'Duck': 10, 'Pigeon': 11, 'Fish': 12, 'Bees': 13, 'Other': 14, 'No_livestock': 15}, country='cdi', df=          Cattle_beef  Cattle_dairy  Buffalo  Goat_meat  Goat_dairy  Sheep  \
31416320          2.0           2.0      NaN        NaN         NaN    2.0
31416321          2.0           NaN      NaN        2.0         NaN    1.0
31416322          NaN           NaN      NaN        NaN         NaN    NaN
31416323          NaN           NaN      NaN        NaN         NaN    NaN
31416324          NaN           NaN      NaN        NaN         NaN    NaN
...               ...           ...      ...        ...         ...    ...
31186932          NaN           NaN      NaN        NaN         NaN    NaN
31186933          2.0           NaN      NaN        NaN         NaN    NaN
31186934          2.0           NaN      NaN        NaN         NaN    NaN
31285239          NaN           NaN      NaN        2.0         2.0    NaN
31416319          2.0           2.0      NaN        2.0         NaN    NaN

          Chicken_broiler  Chicken_layer  Pig  Duck  Pigeon  Fish  Bees  Other
31416320              1.0            NaN  NaN   NaN     NaN   NaN   NaN    2.0
31416321              1.0            NaN  NaN   NaN     NaN   NaN   NaN    2.0
31416322              NaN            NaN  NaN   NaN     NaN   NaN   NaN    NaN
31416323              NaN            NaN  NaN   NaN     NaN   NaN   NaN    NaN
31416324              NaN            NaN  NaN   NaN     NaN   NaN   NaN    NaN
...                   ...            ...  ...   ...     ...   ...   ...    ...
31186932              NaN            NaN  NaN   NaN     NaN   NaN   NaN    NaN
31186933              1.0            NaN  NaN   NaN     NaN   NaN   NaN    2.0
31186934              1.0            NaN  NaN   NaN     NaN   NaN   NaN    2.0
31285239              1.0            1.0  NaN   NaN     NaN   NaN   2.0    2.0
31416319              NaN            NaN  NaN   NaN     NaN   NaN   NaN    1.0

[3002 rows x 14 columns], df_name='cdi_rr', label='A14', qtype='multi', survey='rr', text='Which of the following livestock or byproducts do you rear to consume at home?')

key=moz_A14namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Cattle_ind': 3, 'Sheep': 4, 'Duck': 5, 'Pig': 6, 'Goat_meat': 7, 'Goat_dairy': 8, 'Chicken_broiler': 9, 'Chicken_layer': 10, 'Fish': 11, 'Bees': 12, 'Other': 13, 'No_livestock': 14}, country='moz', df=          Cattle_beef  Cattle_dairy  Cattle_ind  Sheep  Duck  Pig  Goat_meat  \
22552580          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22487045          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22159366          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22790149          NaN           NaN         NaN    NaN   2.0  NaN        NaN
22790150          NaN           NaN         NaN    NaN   NaN  NaN        NaN
...               ...           ...         ...    ...   ...  ...        ...
22757331          2.0           NaN         NaN    NaN   NaN  1.0        NaN
22552539          NaN           NaN         NaN    NaN   1.0  NaN        NaN
22200293          NaN           NaN         NaN    NaN   NaN  NaN        NaN
22102008          2.0           NaN         NaN    NaN   1.0  1.0        NaN
22167545          NaN           NaN         NaN    NaN   NaN  NaN        NaN

          Goat_dairy  Chicken_broiler  Chicken_layer  Fish  Bees  Other  \
22552580         NaN              NaN            NaN   NaN   NaN    NaN
22487045         NaN              NaN            NaN   NaN   NaN    NaN
22159366         NaN              NaN            1.0   NaN   NaN    2.0
22790149         NaN              NaN            2.0   NaN   NaN    2.0
22790150         NaN              NaN            NaN   NaN   NaN    NaN
...              ...              ...            ...   ...   ...    ...
22757331         NaN              NaN            1.0   NaN   NaN    2.0
22552539         NaN              NaN            NaN   NaN   NaN    2.0
22200293         NaN              NaN            NaN   NaN   NaN    NaN
22102008         NaN              NaN            1.0   NaN   NaN    2.0
22167545         NaN              NaN            NaN   NaN   NaN    NaN

          No_livestock
22552580           NaN
22487045           NaN
22159366           1.0
22790149           2.0
22790150           NaN
...                ...
22757331           1.0
22552539           1.0
22200293           NaN
22102008           1.0
22167545           NaN

[2462 rows x 14 columns], df_name='moz_rr', label='A14', qtype='multi', survey='rr', text='Which of the following livestock or byproducts do you rear to consume at home?')
key=nga_A14namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_ind': 1, 'Cattle_dairy': 2, 'Cattle_beef': 3, 'Goat_ind': 4, 'Goat_dairy': 5, 'Goat_meat': 6, 'Sheep': 7, 'Pig': 8, 'Chicken_layer': 9, 'Chicken_broiler': 10, 'Fish': 11, 'Bees': 12, 'Camel': 13, 'Donkey': 14, 'Horse': 15, 'Dog': 16, 'Other': 17, 'No_livestock': 18}, country='nga', df=          Cattle_ind  Cattle_dairy  Cattle_beef  Goat_ind  Goat_dairy  \
40509448         NaN           NaN          NaN       NaN         NaN
40509449         NaN           NaN          NaN       NaN         NaN
40503694         NaN           NaN          NaN       NaN         NaN
40503695         NaN           NaN          NaN       NaN         NaN
40542247         2.0           NaN          NaN       1.0         NaN
...              ...           ...          ...       ...         ...
40501230         NaN           NaN          NaN       NaN         NaN
40525806         NaN           NaN          NaN       1.0         NaN
40304631         2.0           NaN          NaN       NaN         NaN
40344123         NaN           NaN          NaN       NaN         NaN
40344124         NaN           NaN          NaN       NaN         NaN

          Goat_meat  Sheep  Pig  Chicken_layer  Chicken_broiler  Fish  Bees  \
40509448        NaN    NaN  NaN            1.0              NaN   NaN   NaN
40509449        NaN    NaN  NaN            NaN              1.0   NaN   NaN
40503694        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40503695        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40542247        NaN    1.0  NaN            NaN              NaN   NaN   NaN
...             ...    ...  ...            ...              ...   ...   ...
40501230        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40525806        2.0    2.0  NaN            1.0              1.0   NaN   NaN
40304631        2.0    2.0  NaN            1.0              NaN   2.0   2.0
40344123        NaN    NaN  NaN            NaN              NaN   NaN   NaN
40344124        NaN    NaN  NaN            NaN              NaN   NaN   NaN

          Camel  Donkey  Horse  Dog  Other  No_livestock
40509448    NaN     NaN    NaN  2.0    NaN           2.0
40509449    NaN     NaN    NaN  NaN    NaN           2.0
40503694    NaN     NaN    NaN  NaN    NaN           NaN
40503695    NaN     NaN    NaN  NaN    NaN           NaN
40542247    NaN     NaN    NaN  NaN    NaN           2.0
...         ...     ...    ...  ...    ...           ...
40501230    NaN     NaN    NaN  NaN    NaN           NaN
40525806    NaN     NaN    NaN  NaN    NaN           2.0
40304631    NaN     2.0    NaN  NaN    NaN           2.0
40344123    NaN     NaN    NaN  NaN    NaN           NaN
40344124    NaN     NaN    NaN  NaN    NaN           NaN

[2858 rows x 18 columns], df_name='nga_rr', label='A14', qtype='multi', survey='rr', text='Which of the following livestock or byproducts do you rear to consume at home?')
key=tan_A14namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_ind': 1, 'Cattle_dairy': 2, 'Cattle_beef': 3, 'Goat_ind': 4, 'Goat_dairy': 5, 'Goat_meat': 6, 'Sheep': 7, 'Pig': 8, 'Chicken_layer': 9, 'Chicken_broiler': 10, 'Fish': 11, 'Bees': 12, 'Other': 13, 'No_livestock': 14}, country='tan', df=          Cattle_ind  Cattle_dairy  Cattle_beef  Goat_ind  Goat_dairy  \
29073409         2.0           NaN          2.0       2.0         NaN
29007876         NaN           NaN          NaN       NaN         NaN
28852233         2.0           NaN          NaN       2.0         NaN
28852234         NaN           NaN          NaN       NaN         NaN
28975115         NaN           NaN          NaN       NaN         NaN
...              ...           ...          ...       ...         ...
28884943         NaN           NaN          NaN       2.0         NaN
28901353         NaN           NaN          NaN       NaN         NaN
28909557         NaN           NaN          NaN       NaN         NaN
28909558         NaN           NaN          NaN       NaN         NaN
29351928         NaN           NaN          NaN       NaN         NaN

          Goat_meat  Sheep  Pig  Chicken_layer  Chicken_broiler  Fish  Bees  \
29073409        2.0    2.0  NaN            NaN              1.0   NaN   NaN
29007876        NaN    NaN  NaN            NaN              NaN   NaN   NaN
28852233        NaN    NaN  NaN            NaN              1.0   NaN   NaN
28852234        NaN    1.0  NaN            NaN              1.0   NaN   NaN
28975115        NaN    NaN  NaN            NaN              NaN   NaN   NaN
...             ...    ...  ...            ...              ...   ...   ...
28884943        NaN    NaN  NaN            1.0              1.0   NaN   NaN
28901353        NaN    NaN  NaN            NaN              NaN   NaN   NaN
28909557        NaN    NaN  NaN            NaN              NaN   NaN   NaN
28909558        NaN    NaN  NaN            NaN              NaN   NaN   NaN
29351928        NaN    NaN  NaN            NaN              NaN   NaN   NaN

          Other  No_livestock
29073409    NaN           2.0
29007876    NaN           NaN
28852233    NaN           2.0
28852234    NaN           2.0
28975115    NaN           NaN
...         ...           ...
28884943    NaN           2.0
28901353    NaN           NaN
28909557    NaN           NaN
28909558    NaN           NaN
29351928    NaN           NaN

[2812 rows x 14 columns], df_name='tan_rr', label='A14', qtype='multi', survey='rr', text='Which of the following livestock or byproducts do you rear to consume at home?')
key=uga_A14namespace(answers={'1': 'yes', '2': 'no'}, column_dict={'Cattle_beef': 1, 'Cattle_dairy': 2, 'Cattle_ind': 3, 'Sheep': 4, 'Duck': 5, 'Turkey': 6, 'Pig': 7, 'Goat_meat': 8, 'Goat_dairy': 9, 'Chicken_broiler': 10, 'Chicken_layer': 11, 'Fish': 12, 'Bees': 13, 'Other': 14, 'No_livestock': 15}, country='uga', df=          Cattle_beef  Cattle_dairy  Cattle_ind  Sheep  Duck  Turkey  Pig  \
23068679          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22716424          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22716425          NaN           NaN         NaN    NaN   NaN     NaN  NaN
23306249          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22945803          NaN           NaN         NaN    NaN   NaN     NaN  NaN
...               ...           ...         ...    ...   ...     ...  ...
23306221          NaN           NaN         1.0    NaN   NaN     NaN  NaN
23306222          NaN           NaN         1.0    NaN   NaN     NaN  NaN
22872056          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22904826          NaN           NaN         NaN    NaN   NaN     NaN  NaN
22945787          2.0           NaN         NaN    NaN   NaN     NaN  NaN

          Goat_meat  Goat_dairy  Chicken_broiler  Chicken_layer  Fish  Bees  \
23068679        2.0         NaN              NaN            NaN   NaN   NaN
22716424        NaN         NaN              2.0            NaN   NaN   1.0
22716425        NaN         NaN              2.0            NaN   NaN   2.0
23306249        NaN         NaN              NaN            NaN   NaN   NaN
22945803        NaN         NaN              2.0            NaN   NaN   NaN
...             ...         ...              ...            ...   ...   ...
23306221        NaN         NaN              NaN            NaN   1.0   NaN
23306222        NaN         NaN              NaN            NaN   1.0   NaN
22872056        NaN         NaN              NaN            NaN   NaN   NaN
22904826        2.0         NaN              2.0            NaN   NaN   NaN
22945787        1.0         NaN              2.0            NaN   NaN   NaN

          Other  No_livestock
23068679    NaN           NaN
22716424    NaN           NaN
22716425    NaN           NaN
23306249    1.0           NaN
22945803    NaN           1.0
...         ...           ...
23306221    NaN           NaN
23306222    NaN           NaN
22872056    NaN           NaN
22904826    NaN           NaN
22945787    NaN           1.0

[2859 rows x 15 columns], df_name='uga_rr', label='A14', qtype='multi', survey='rr', text='Which of the following livestock or byproducts do you rear to consume at home?')
key=bgd_A15namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, ' processor': 3, 'retailer': 4, 'government': 5, 'middleman': 6, 'other': 7, 'no_purchase': 8, 'DK': 98}, country='bgd', df=        cooperative  wholesaler   processor  retailer  government  middleman  \
1               2.0         1.0         2.0       2.0         2.0        2.0
2               2.0         1.0         2.0       2.0         2.0        2.0
3               NaN         NaN         NaN       NaN         NaN        NaN
4               2.0         2.0         2.0       1.0         2.0        2.0
5               2.0         2.0         2.0       1.0         2.0        2.0
...             ...         ...         ...       ...         ...        ...
800129          2.0         1.0         2.0       1.0         2.0        2.0
800130          2.0         2.0         2.0       1.0         2.0        2.0
800131          2.0         1.0         2.0       1.0         2.0        2.0
800132          2.0         1.0         2.0       1.0         2.0        2.0
800133          2.0         1.0         2.0       1.0         2.0        2.0

        other  no_purchase
1         2.0          2.0
2         2.0          2.0
3         NaN          NaN
4         2.0          2.0
5         2.0          2.0
...       ...          ...
800129    2.0          2.0
800130    2.0          2.0
800131    2.0          2.0
800132    2.0          2.0
800133    2.0          2.0

[3136 rows x 8 columns], df_name='bgd_rr', label='A15', qtype='multi', survey='rr', text='Who do you normally purchase your main agricultural and livestock inputs (such as seeds, fertilizer, or pesticide) from?')
key=cdi_A15namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, ' processor': 3, 'retailer': 4, 'government': 5, 'middleman': 6, 'other': 7, 'no_purchase': 8, 'DK': 98}, country='cdi', df=          cooperative  wholesaler   processor  retailer  government  \
31416320          2.0         1.0         2.0       2.0         2.0
31416321          2.0         1.0         2.0       2.0         2.0
31416322          2.0         2.0         2.0       2.0         2.0
31416323          2.0         2.0         2.0       2.0         2.0
31416324          2.0         2.0         2.0       2.0         2.0
...               ...         ...         ...       ...         ...
31186932          2.0         2.0         2.0       1.0         2.0
31186933          2.0         2.0         2.0       1.0         2.0
31186934          2.0         2.0         1.0       2.0         2.0
31285239          2.0         2.0         2.0       1.0         2.0
31416319          2.0         1.0         2.0       2.0         2.0

          middleman  other  no_purchase
31416320        2.0    2.0          2.0
31416321        2.0    2.0          2.0
31416322        2.0    2.0          1.0
31416323        2.0    2.0          1.0
31416324        2.0    2.0          1.0
...             ...    ...          ...
31186932        2.0    2.0          2.0
31186933        2.0    2.0          2.0
31186934        2.0    2.0          2.0
31285239        2.0    2.0          2.0
31416319        2.0    2.0          2.0

[3002 rows x 8 columns], df_name='cdi_rr', label='A15', qtype='multi', survey='rr', text='Who do you normally purchase your main agricultural and livestock inputs (such as seeds, fertilizer, or pesticide) from?')
key=moz_A15namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, ' processor': 3, 'retailer': 4, 'government': 6, 'middleman': 7, 'other': 10, 'no_purchase': 11, 'DK': 98}, country='moz', df=          cooperative  wholesaler   processor  retailer  government  \
22552580          2.0         2.0         2.0       2.0         2.0
22487045          2.0         2.0         2.0       2.0         2.0
22159366          2.0         2.0         2.0       2.0         2.0
22790149          2.0         2.0         2.0       2.0         2.0
22790150          2.0         2.0         2.0       2.0         2.0
...               ...         ...         ...       ...         ...
22757331          2.0         2.0         2.0       1.0         2.0
22552539          2.0         2.0         2.0       1.0         2.0
22200293          2.0         2.0         2.0       1.0         2.0
22102008          2.0         2.0         2.0       1.0         2.0
22167545          2.0         2.0         2.0       2.0         2.0

          middleman  other  no_purchase   DK
22552580        2.0    2.0          1.0  2.0
22487045        2.0    2.0          2.0  1.0
22159366        2.0    2.0          2.0  1.0
22790149        2.0    1.0          1.0  1.0
22790150        2.0    2.0          1.0  2.0
...             ...    ...          ...  ...
22757331        2.0    2.0          1.0  1.0
22552539        2.0    2.0          1.0  1.0
22200293        2.0    2.0          1.0  1.0
22102008        2.0    2.0          1.0  1.0
22167545        2.0    1.0          1.0  1.0

[2462 rows x 9 columns], df_name='moz_rr', label='A15', qtype='multi', survey='rr', text='Who do you normally purchase your main agricultural and livestock inputs (such as seeds, fertilizer, or pesticide) from?')

key=nga_A15namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, ' processor': 3, 'retailer': 4, 'government': 5, 'middleman': 6, 'other': 7, 'no_purchase': 8, 'DK': 98}, country='nga', df=          cooperative  wholesaler   processor  retailer  government  \
40509448          2.0         2.0         2.0       1.0         2.0
40509449          2.0         2.0         2.0       1.0         2.0
40503694          2.0         2.0         2.0       2.0         2.0
40503695          2.0         1.0         2.0       2.0         2.0
40542247          2.0         2.0         2.0       1.0         2.0
...               ...         ...         ...       ...         ...
40501230          2.0         2.0         2.0       1.0         2.0
40525806          2.0         2.0         2.0       1.0         2.0
40304631          2.0         2.0         2.0       1.0         2.0
40344123          2.0         2.0         2.0       1.0         2.0
40344124          2.0         2.0         2.0       1.0         2.0

          middleman  other  no_purchase   DK
40509448        2.0    2.0          2.0  2.0
40509449        2.0    2.0          2.0  2.0
40503694        2.0    1.0          2.0  2.0
40503695        2.0    2.0          2.0  2.0
40542247        2.0    2.0          2.0  2.0
...             ...    ...          ...  ...
40501230        2.0    2.0          2.0  2.0
40525806        2.0    2.0          2.0  2.0
40304631        2.0    2.0          2.0  2.0
40344123        2.0    2.0          2.0  2.0
40344124        2.0    2.0          2.0  2.0

[2858 rows x 9 columns], df_name='nga_rr', label='A15', qtype='multi', survey='rr', text='Who do you normally purchase your main agricultural and livestock inputs (such as seeds, fertilizer, or pesticide) from?')
key=tan_A15namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, ' processor': 3, 'retailer': 4, 'government': 5, 'middleman': 6, 'other': 7, 'no_purchase': 8, 'DK': 98}, country='tan', df=          cooperative  wholesaler   processor  retailer  government  \
29073409          2.0         2.0         2.0       1.0         2.0
29007876          2.0         2.0         2.0       1.0         2.0
28852233          2.0         2.0         2.0       2.0         2.0
28852234          2.0         2.0         2.0       1.0         2.0
28975115          2.0         2.0         2.0       1.0         2.0
...               ...         ...         ...       ...         ...
28884943          2.0         2.0         2.0       1.0         2.0
28901353          2.0         2.0         2.0       1.0         2.0
28909557          NaN         NaN         NaN       NaN         NaN
28909558          2.0         2.0         2.0       2.0         2.0
29351928          2.0         2.0         2.0       1.0         2.0

          middleman  other  no_purchase
29073409        2.0    2.0          2.0
29007876        2.0    2.0          2.0
28852233        2.0    2.0          1.0
28852234        2.0    2.0          2.0
28975115        2.0    2.0          2.0
...             ...    ...          ...
28884943        2.0    2.0          2.0
28901353        2.0    2.0          2.0
28909557        NaN    NaN          NaN
28909558        2.0    2.0          1.0
29351928        2.0    2.0          2.0

[2812 rows x 8 columns], df_name='tan_rr', label='A15', qtype='multi', survey='rr', text='Who do you normally purchase your main agricultural and livestock inputs (such as seeds, fertilizer, or pesticide) from?')
key=uga_A15namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, ' processor': 3, 'retailer': 4, 'government': 5, 'middleman': 6, 'other': 7, 'no_purchase': 8, 'DK': 98}, country='uga', df=          cooperative  wholesaler   processor  retailer  government  \
23068679          2.0         2.0         2.0       1.0         2.0
22716424          2.0         2.0         2.0       2.0         2.0
22716425          2.0         2.0         2.0       1.0         2.0
23306249          2.0         2.0         2.0       1.0         2.0
22945803          2.0         2.0         2.0       1.0         2.0
...               ...         ...         ...       ...         ...
23306221          2.0         2.0         2.0       2.0         2.0
23306222          2.0         2.0         2.0       2.0         2.0
22872056          2.0         2.0         2.0       1.0         2.0
22904826          2.0         1.0         2.0       2.0         2.0
22945787          2.0         2.0         2.0       1.0         2.0

          middleman  other  no_purchase
23068679        2.0    2.0          1.0
22716424        1.0    2.0          1.0
22716425        2.0    2.0          1.0
23306249        2.0    2.0          1.0
22945803        2.0    2.0          1.0
...             ...    ...          ...
23306221        2.0    2.0          2.0
23306222        2.0    2.0          2.0
22872056        2.0    2.0          1.0
22904826        2.0    2.0          1.0
22945787        2.0    2.0          1.0

[2859 rows x 8 columns], df_name='uga_rr', label='A15', qtype='multi', survey='rr', text='Who do you normally purchase your main agricultural and livestock inputs (such as seeds, fertilizer, or pesticide) from?')
key=bgd_A17namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'pay_cash_bank': 3, 'electronic': 4, 'mobile_banking': 5, 'in_kind': 6, 'prepaid_card': 7, 'other': 8, 'do_not_buy': 9, 'DK': 98}, country='bgd', df=        cash  cheque  pay_cash_bank  electronic  mobile_banking  in_kind  \
1        1.0     2.0            2.0         2.0             2.0      2.0
2        1.0     2.0            2.0         2.0             2.0      2.0
3        NaN     NaN            NaN         NaN             NaN      NaN
4        1.0     2.0            2.0         2.0             2.0      2.0
5        1.0     2.0            2.0         2.0             2.0      2.0
...      ...     ...            ...         ...             ...      ...
800129   1.0     2.0            2.0         2.0             2.0      2.0
800130   1.0     2.0            2.0         2.0             2.0      2.0
800131   1.0     2.0            2.0         2.0             2.0      2.0
800132   1.0     2.0            2.0         2.0             2.0      2.0
800133   1.0     2.0            2.0         2.0             2.0      2.0

        prepaid_card  other
1                2.0    2.0
2                2.0    2.0
3                NaN    NaN
4                2.0    2.0
5                2.0    2.0
...              ...    ...
800129           2.0    2.0
800130           2.0    2.0
800131           2.0    2.0
800132           2.0    2.0
800133           2.0    2.0

[3136 rows x 8 columns], df_name='bgd_rr', label='A17', qtype='multi', survey='rr', text='How do you usually pay your suppliers?')
key=cdi_A17namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'pay_cash_bank': 3, 'electronic': 4, 'mobile_banking': 5, 'in_kind': 6, 'prepaid_card': 7, 'DK': 98, 'direct_from_loan': 8, 'deduct_at_harvest': 9, 'other': 10, 'do_not_buy': 11}, country='cdi', df=          cash  cheque  pay_cash_bank  electronic  mobile_banking  in_kind  \
31416320   1.0     2.0            2.0         2.0             2.0      2.0
31416321   1.0     2.0            2.0         2.0             2.0      2.0
31416322   NaN     NaN            NaN         NaN             NaN      NaN
31416323   NaN     NaN            NaN         NaN             NaN      NaN
31416324   1.0     2.0            2.0         2.0             2.0      2.0
...        ...     ...            ...         ...             ...      ...
31186932   1.0     2.0            2.0         2.0             2.0      2.0
31186933   1.0     2.0            2.0         2.0             2.0      2.0
31186934   1.0     2.0            2.0         2.0             2.0      2.0
31285239   1.0     2.0            2.0         2.0             2.0      2.0
31416319   1.0     2.0            2.0         2.0             2.0      2.0

          prepaid_card  direct_from_loan  deduct_at_harvest  other  do_not_buy
31416320           2.0               2.0                2.0    2.0         2.0
31416321           2.0               2.0                2.0    2.0         2.0
31416322           NaN               NaN                NaN    NaN         NaN
31416323           NaN               NaN                NaN    NaN         NaN
31416324           2.0               2.0                2.0    2.0         2.0
...                ...               ...                ...    ...         ...
31186932           2.0               2.0                2.0    2.0         2.0
31186933           2.0               2.0                2.0    2.0         2.0
31186934           2.0               2.0                2.0    2.0         2.0
31285239           2.0               2.0                2.0    2.0         2.0
31416319           2.0               2.0                2.0    2.0         2.0

[3002 rows x 11 columns], df_name='cdi_rr', label='A17', qtype='multi', survey='rr', text='How do you usually pay your suppliers?')
key=moz_A17namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'pay_cash_bank': 3, 'electronic': 4, 'mobile_banking': 5, 'in_kind': 6, 'prepaid_card': 7, 'other': 8, 'do_not_buy': 9, 'DK': 98}, country='moz', df=          cash  cheque  pay_cash_bank  electronic  mobile_banking  in_kind  \
22552580   NaN     NaN            NaN         NaN             NaN      NaN
22487045   1.0     2.0            2.0         2.0             2.0      2.0
22159366   NaN     NaN            NaN         NaN             NaN      NaN
22790149   2.0     2.0            2.0         2.0             2.0      2.0
22790150   2.0     2.0            2.0         2.0             2.0      2.0
...        ...     ...            ...         ...             ...      ...
22757331   1.0     2.0            2.0         2.0             2.0      2.0
22552539   1.0     2.0            2.0         2.0             2.0      2.0
22200293   1.0     2.0            2.0         2.0             2.0      2.0
22102008   1.0     2.0            2.0         2.0             2.0      2.0
22167545   1.0     2.0            2.0         2.0             2.0      2.0

          prepaid_card  other
22552580           NaN    NaN
22487045           2.0    2.0
22159366           NaN    NaN
22790149           2.0    2.0
22790150           2.0    2.0
...                ...    ...
22757331           2.0    2.0
22552539           2.0    2.0
22200293           2.0    2.0
22102008           2.0    2.0
22167545           2.0    2.0

[2462 rows x 8 columns], df_name='moz_rr', label='A17', qtype='multi', survey='rr', text='How do you usually pay your suppliers?')
key=nga_A17namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'pay_cash_bank': 3, 'electronic': 4, 'mobile_banking': 5, 'in_kind': 6, 'prepaid_card': 7, 'other': 8, 'do_not_buy': 9, 'DK': 98}, country='nga', df=          cash  cheque  pay_cash_bank  electronic  mobile_banking  in_kind  \
40509448   1.0     2.0            2.0         2.0             2.0      2.0
40509449   1.0     2.0            2.0         2.0             2.0      2.0
40503694   2.0     2.0            2.0         2.0             2.0      2.0
40503695   1.0     2.0            2.0         2.0             2.0      2.0
40542247   1.0     2.0            2.0         2.0             2.0      2.0
...        ...     ...            ...         ...             ...      ...
40501230   1.0     2.0            2.0         2.0             2.0      2.0
40525806   1.0     2.0            2.0         2.0             2.0      2.0
40304631   1.0     2.0            2.0         2.0             2.0      2.0
40344123   1.0     2.0            2.0         2.0             2.0      2.0
40344124   1.0     2.0            2.0         2.0             2.0      2.0

          prepaid_card  other  do_not_buy
40509448           2.0    2.0         2.0
40509449           2.0    2.0         2.0
40503694           2.0    2.0         1.0
40503695           2.0    2.0         2.0
40542247           2.0    2.0         2.0
...                ...    ...         ...
40501230           2.0    2.0         2.0
40525806           2.0    2.0         2.0
40304631           2.0    2.0         2.0
40344123           2.0    2.0         2.0
40344124           2.0    2.0         2.0

[2858 rows x 9 columns], df_name='nga_rr', label='A17', qtype='multi', survey='rr', text='How do you usually pay your suppliers?')
key=tan_A17namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'pay_cash_bank': 3, 'electronic': 4, 'mobile_banking': 5, 'in_kind': 6, 'prepaid_card': 7, 'other': 8, 'do_not_buy': 9, 'DK': 98}, country='tan', df=          cash  cheque  pay_cash_bank  electronic  mobile_banking  in_kind  \
29073409   1.0     2.0            2.0         2.0             2.0      2.0
29007876   1.0     2.0            2.0         2.0             2.0      2.0
28852233   1.0     2.0            2.0         2.0             2.0      2.0
28852234   1.0     2.0            2.0         2.0             2.0      2.0
28975115   1.0     2.0            2.0         2.0             2.0      2.0
...        ...     ...            ...         ...             ...      ...
28884943   1.0     2.0            2.0         2.0             2.0      2.0
28901353   1.0     2.0            2.0         2.0             2.0      2.0
28909557   NaN     NaN            NaN         NaN             NaN      NaN
28909558   NaN     NaN            NaN         NaN             NaN      NaN
29351928   1.0     2.0            2.0         2.0             2.0      2.0

          prepaid_card  other  do_not_buy
29073409           2.0    2.0         2.0
29007876           2.0    2.0         2.0
28852233           2.0    2.0         2.0
28852234           2.0    2.0         2.0
28975115           2.0    2.0         2.0
...                ...    ...         ...
28884943           2.0    2.0         2.0
28901353           2.0    2.0         2.0
28909557           NaN    NaN         NaN
28909558           NaN    NaN         NaN
29351928           2.0    2.0         2.0

[2812 rows x 9 columns], df_name='tan_rr', label='A17', qtype='multi', survey='rr', text='How do you usually pay your suppliers?')

key=uga_A17namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'pay_cash_bank': 3, 'electronic': 4, 'mobile_banking': 5, 'in_kind': 6, 'prepaid_card': 7, 'other': 8, 'do_not_buy': 9, 'DK': 98}, country='uga', df=          cash  cheque  pay_cash_bank  electronic  mobile_banking  in_kind  \
23068679   1.0     2.0            2.0         2.0             2.0      2.0
22716424   1.0     2.0            2.0         2.0             2.0      2.0
22716425   1.0     2.0            2.0         2.0             2.0      2.0
23306249   1.0     2.0            2.0         2.0             2.0      2.0
22945803   1.0     2.0            2.0         2.0             2.0      2.0
...        ...     ...            ...         ...             ...      ...
23306221   NaN     NaN            NaN         NaN             NaN      NaN
23306222   NaN     NaN            NaN         NaN             NaN      NaN
22872056   1.0     2.0            2.0         2.0             2.0      2.0
22904826   1.0     2.0            2.0         2.0             2.0      2.0
22945787   1.0     2.0            2.0         2.0             2.0      2.0

          prepaid_card  other  do_not_buy
23068679           2.0    2.0         2.0
22716424           2.0    2.0         2.0
22716425           2.0    2.0         2.0
23306249           2.0    2.0         2.0
22945803           2.0    2.0         2.0
...                ...    ...         ...
23306221           NaN    NaN         NaN
23306222           NaN    NaN         NaN
22872056           2.0    2.0         2.0
22904826           2.0    2.0         2.0
22945787           2.0    2.0         2.0

[2859 rows x 9 columns], df_name='uga_rr', label='A17', qtype='multi', survey='rr', text='How do you usually pay your suppliers?')
key=bgd_A18namespace(answers={'pay_later': 1, 'pay_immediately': 2}, country='bgd', df=        A18
1       2.0
2       2.0
3       NaN
4       2.0
5       1.0
...     ...
800129  1.0
800130  1.0
800131  2.0
800132  2.0
800133  2.0

[3136 rows x 1 columns], df_name='bgd_rr', label='A18', qtype='single', survey='rr', text='Do your suppliers give you the option to pay them later (with credit) or do you have to pay them immediately?')
key=cdi_A18namespace(answers={'pay_later': 1, 'pay_immediately': 2}, country='cdi', df=          A18
31416320  1.0
31416321  1.0
31416322  NaN
31416323  NaN
31416324  1.0
...       ...
31186932  2.0
31186933  2.0
31186934  1.0
31285239  1.0
31416319  1.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A18', qtype='single', survey='rr', text='Do your suppliers give you the option to pay them later (with credit) or do you have to pay them immediately?')
key=moz_A18namespace(answers={'pay_later': 1, 'pay_immediately': 2}, country='moz', df=          A18
22552580  NaN
22487045  2.0
22159366  NaN
22790149  2.0
22790150  2.0
...       ...
22757331  2.0
22552539  2.0
22200293  2.0
22102008  2.0
22167545  2.0

[2462 rows x 1 columns], df_name='moz_rr', label='A18', qtype='single', survey='rr', text='Do your suppliers give you the option to pay them later (with credit) or do you have to pay them immediately?')
key=nga_A18namespace(answers={'pay_later': 1, 'pay_immediately': 2}, country='nga', df=          A18
40509448  2.0
40509449  2.0
40503694  NaN
40503695  2.0
40542247  2.0
...       ...
40501230  2.0
40525806  2.0
40304631  2.0
40344123  2.0
40344124  2.0

[2858 rows x 1 columns], df_name='nga_rr', label='A18', qtype='single', survey='rr', text='Do your suppliers give you the option to pay them later (with credit) or do you have to pay them immediately?')
key=tan_A18namespace(answers={'pay_later': 1, 'pay_immediately': 2}, country='tan', df=          A18
29073409  2.0
29007876  2.0
28852233  2.0
28852234  2.0
28975115  2.0
...       ...
28884943  2.0
28901353  2.0
28909557  NaN
28909558  NaN
29351928  2.0

[2812 rows x 1 columns], df_name='tan_rr', label='A18', qtype='single', survey='rr', text='Do your suppliers give you the option to pay them later (with credit) or do you have to pay them immediately?')
key=uga_A18namespace(answers={'pay_later': 1, 'pay_immediately': 2}, country='uga', df=          A18
23068679  2.0
22716424  2.0
22716425  2.0
23306249  2.0
22945803  2.0
...       ...
23306221  NaN
23306222  NaN
22872056  2.0
22904826  2.0
22945787  2.0

[2859 rows x 1 columns], df_name='uga_rr', label='A18', qtype='single', survey='rr', text='Do your suppliers give you the option to pay them later (with credit) or do you have to pay them immediately?')
key=bgd_A22namespace(answers={'would_use_more': 4, 'sufficient': 3, 'intermittent_but_ok': 2, 'intermittent_not_ok': 1}, country='bgd', df=        A22
1       2.0
2       3.0
3       NaN
4       4.0
5       4.0
...     ...
800129  3.0
800130  4.0
800131  4.0
800132  3.0
800133  3.0

[3136 rows x 1 columns], df_name='bgd_rr', label='A22', qtype='single', survey='rr', text='Which of the following statements best describe your water situation?')
key=cdi_A22namespace(answers={'would_use_more': 4, 'sufficient': 3, 'intermittent_but_ok': 2, 'intermittent_not_ok': 1}, country='cdi', df=          A22
31416320  1.0
31416321  1.0
31416322  1.0
31416323  1.0
31416324  1.0
...       ...
31186932  3.0
31186933  3.0
31186934  3.0
31285239  4.0
31416319  1.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A22', qtype='single', survey='rr', text='Which of the following statements best describe your water situation?')
key=moz_A22namespace(answers={'would_use_more': 4, 'sufficient': 3, 'intermittent_but_ok': 2, 'intermittent_not_ok': 1}, country='moz', df=          A22
22552580  4.0
22487045  4.0
22159366  4.0
22790149  4.0
22790150  4.0
...       ...
22757331  1.0
22552539  4.0
22200293  1.0
22102008  1.0
22167545  1.0

[2462 rows x 1 columns], df_name='moz_rr', label='A22', qtype='single', survey='rr', text='Which of the following statements best describe your water situation?')
key=nga_A22namespace(answers={'would_use_more': 4, 'sufficient': 3, 'intermittent_but_ok': 2, 'intermittent_not_ok': 1}, country='nga', df=          A22
40509448  4.0
40509449  4.0
40503694  2.0
40503695  2.0
40542247  1.0
...       ...
40501230  4.0
40525806  1.0
40304631  4.0
40344123  2.0
40344124  2.0

[2858 rows x 1 columns], df_name='nga_rr', label='A22', qtype='single', survey='rr', text='Which of the following statements best describe your water situation?')
key=tan_A22namespace(answers={'would_use_more': 4, 'sufficient': 3, 'intermittent_but_ok': 2, 'intermittent_not_ok': 1}, country='tan', df=          A22
29073409  4.0
29007876  4.0
28852233  2.0
28852234  4.0
28975115  4.0
...       ...
28884943  4.0
28901353  4.0
28909557  NaN
28909558  4.0
29351928  4.0

[2812 rows x 1 columns], df_name='tan_rr', label='A22', qtype='single', survey='rr', text='Which of the following statements best describe your water situation?')
key=uga_A22namespace(answers={'would_use_more': 4, 'sufficient': 3, 'intermittent_but_ok': 2, 'intermittent_not_ok': 1}, country='uga', df=          A22
23068679  3.0
22716424  1.0
22716425  2.0
23306249  3.0
22945803  3.0
...       ...
23306221  4.0
23306222  4.0
22872056  2.0
22904826  1.0
22945787  3.0

[2859 rows x 1 columns], df_name='uga_rr', label='A22', qtype='single', survey='rr', text='Which of the following statements best describe your water situation?')
key=bgd_A23namespace(answers={'yes': 1, 'no': 2}, column_dict={'friends_neighbors': 1, 'hired_extended_period': 2, 'family': 3, 'day_labor': 4, 'other': 5, 'no_labor': 6}, country='bgd', df=        friends_neighbors  hired_extended_period  family  day_labor  other  \
1                     2.0                    1.0     2.0        2.0    2.0
2                     2.0                    1.0     2.0        2.0    2.0
3                     NaN                    NaN     NaN        NaN    NaN
4                     2.0                    2.0     1.0        1.0    2.0
5                     2.0                    1.0     2.0        1.0    2.0
...                   ...                    ...     ...        ...    ...
800129                2.0                    2.0     1.0        1.0    2.0
800130                2.0                    2.0     1.0        1.0    2.0
800131                1.0                    1.0     1.0        1.0    2.0
800132                2.0                    2.0     1.0        1.0    2.0
800133                2.0                    2.0     1.0        1.0    2.0

        no_labor
1            2.0
2            2.0
3            NaN
4            2.0
5            2.0
...          ...
800129       2.0
800130       2.0
800131       2.0
800132       2.0
800133       2.0

[3136 rows x 6 columns], df_name='bgd_rr', label='A23', qtype='multi', survey='rr', text='For managing the land and livestock, what types of labor do you use?')
key=cdi_A23namespace(answers={'yes': 1, 'no': 2}, column_dict={'friends_neighbors': 1, 'hired_extended_period': 2, 'family': 3, 'day_labor': 4, 'other': 5, 'no_labor': 6}, country='cdi', df=          friends_neighbors  hired_extended_period  family  day_labor  other  \
31416320                2.0                    2.0     1.0        1.0    2.0
31416321                2.0                    2.0     1.0        1.0    2.0
31416322                2.0                    2.0     1.0        1.0    2.0
31416323                2.0                    2.0     1.0        2.0    2.0
31416324                2.0                    2.0     1.0        1.0    2.0
...                     ...                    ...     ...        ...    ...
31186932                1.0                    2.0     1.0        2.0    2.0
31186933                1.0                    2.0     1.0        2.0    2.0
31186934                2.0                    2.0     1.0        2.0    2.0
31285239                1.0                    1.0     1.0        2.0    2.0
31416319                2.0                    2.0     1.0        1.0    2.0

          no_labor
31416320       2.0
31416321       2.0
31416322       2.0
31416323       2.0
31416324       2.0
...            ...
31186932       2.0
31186933       2.0
31186934       2.0
31285239       2.0
31416319       2.0

[3002 rows x 6 columns], df_name='cdi_rr', label='A23', qtype='multi', survey='rr', text='For managing the land and livestock, what types of labor do you use?')
key=moz_A23namespace(answers={'yes': 1, 'no': 2}, column_dict={'friends_neighbors': 1, 'hired_extended_period': 2, 'family': 3, 'day_labor': 4, 'other': 5, 'no_labor': 6}, country='moz', df=          friends_neighbors  hired_extended_period  family  day_labor  other  \
22552580                2.0                    2.0     2.0        2.0    2.0
22487045                2.0                    2.0     2.0        2.0    2.0
22159366                2.0                    2.0     2.0        2.0    2.0
22790149                2.0                    2.0     1.0        2.0    2.0
22790150                2.0                    2.0     2.0        2.0    2.0
...                     ...                    ...     ...        ...    ...
22757331                2.0                    2.0     2.0        2.0    2.0
22552539                2.0                    2.0     2.0        2.0    2.0
22200293                2.0                    1.0     2.0        2.0    2.0
22102008                2.0                    2.0     1.0        2.0    2.0
22167545                2.0                    2.0     2.0        2.0    2.0

          no_labor
22552580       2.0
22487045       2.0
22159366       2.0
22790149       1.0
22790150       2.0
...            ...
22757331       2.0
22552539       2.0
22200293       1.0
22102008       1.0
22167545       2.0

[2462 rows x 6 columns], df_name='moz_rr', label='A23', qtype='multi', survey='rr', text='For managing the land and livestock, what types of labor do you use?')
key=nga_A23namespace(answers={'yes': 1, 'no': 2}, column_dict={'friends_neighbors': 1, 'hired_extended_period': 2, 'family': 3, 'day_labor': 4, 'other': 5, 'no_labor': 6}, country='nga', df=          friends_neighbors  hired_extended_period  family  day_labor  other  \
40509448                2.0                    1.0     1.0        2.0    2.0
40509449                2.0                    1.0     1.0        2.0    2.0
40503694                2.0                    2.0     1.0        2.0    2.0
40503695                2.0                    1.0     1.0        2.0    2.0
40542247                2.0                    1.0     1.0        2.0    2.0
...                     ...                    ...     ...        ...    ...
40501230                2.0                    2.0     1.0        2.0    2.0
40525806                1.0                    2.0     1.0        1.0    2.0
40304631                1.0                    2.0     1.0        2.0    2.0
40344123                2.0                    2.0     1.0        2.0    2.0
40344124                2.0                    2.0     1.0        2.0    2.0

          no_labor
40509448       2.0
40509449       2.0
40503694       2.0
40503695       2.0
40542247       2.0
...            ...
40501230       2.0
40525806       2.0
40304631       2.0
40344123       2.0
40344124       2.0

[2858 rows x 6 columns], df_name='nga_rr', label='A23', qtype='multi', survey='rr', text='For managing the land and livestock, what types of labor do you use?')

key=tan_A23namespace(answers={'yes': 1, 'no': 2}, column_dict={'friends_neighbors': 1, 'hired_extended_period': 2, 'family': 3, 'day_labor': 4, 'other': 5, 'no_labor': 6}, country='tan', df=          friends_neighbors  hired_extended_period  family  day_labor  other  \
29073409                1.0                    2.0     1.0        2.0    2.0
29007876                2.0                    2.0     1.0        2.0    2.0
28852233                2.0                    2.0     1.0        2.0    2.0
28852234                2.0                    2.0     1.0        2.0    2.0
28975115                2.0                    2.0     1.0        2.0    2.0
...                     ...                    ...     ...        ...    ...
28884943                2.0                    2.0     1.0        2.0    2.0
28901353                2.0                    2.0     2.0        2.0    2.0
28909557                NaN                    NaN     NaN        NaN    NaN
28909558                2.0                    2.0     1.0        2.0    2.0
29351928                2.0                    2.0     2.0        2.0    2.0

          no_labor
29073409       2.0
29007876       2.0
28852233       2.0
28852234       2.0
28975115       2.0
...            ...
28884943       2.0
28901353       1.0
28909557       NaN
28909558       2.0
29351928       1.0

[2812 rows x 6 columns], df_name='tan_rr', label='A23', qtype='multi', survey='rr', text='For managing the land and livestock, what types of labor do you use?')
key=uga_A23namespace(answers={'yes': 1, 'no': 2}, column_dict={'friends_neighbors': 1, 'hired_extended_period': 2, 'family': 3, 'day_labor': 4, 'other': 5, 'no_labor': 6}, country='uga', df=          friends_neighbors  hired_extended_period  family  day_labor  other  \
23068679                2.0                    2.0     1.0        2.0    2.0
22716424                2.0                    1.0     2.0        2.0    2.0
22716425                2.0                    2.0     1.0        2.0    2.0
23306249                2.0                    2.0     1.0        2.0    2.0
22945803                2.0                    2.0     1.0        2.0    2.0
...                     ...                    ...     ...        ...    ...
23306221                2.0                    2.0     1.0        2.0    2.0
23306222                1.0                    2.0     2.0        2.0    2.0
22872056                1.0                    2.0     2.0        2.0    2.0
22904826                2.0                    2.0     1.0        1.0    2.0
22945787                2.0                    2.0     2.0        2.0    2.0

          no_labor
23068679       1.0
22716424       1.0
22716425       1.0
23306249       1.0
22945803       1.0
...            ...
23306221       1.0
23306222       1.0
22872056       1.0
22904826       1.0
22945787       2.0

[2859 rows x 6 columns], df_name='uga_rr', label='A23', qtype='multi', survey='rr', text='For managing the land and livestock, what types of labor do you use?')
key=bgd_A24namespace(answers={'yes': 1, 'no': 2}, column_dict={'ploughing': 1, 'planting': 2, 'weeding': 3, 'harvesting': 4, 'selling_crops': 5, 'livestock_care': 6, 'livestock_sale': 7, 'other': 8}, country='bgd', df=        ploughing  planting  weeding  harvesting  selling_crops  \
1             1.0       1.0      1.0         1.0            2.0
2             1.0       1.0      1.0         1.0            1.0
3             NaN       NaN      NaN         NaN            NaN
4             2.0       1.0      2.0         1.0            2.0
5             1.0       1.0      2.0         2.0            2.0
...           ...       ...      ...         ...            ...
800129        1.0       1.0      1.0         1.0            1.0
800130        1.0       1.0      1.0         1.0            1.0
800131        1.0       1.0      1.0         1.0            2.0
800132        1.0       1.0      1.0         1.0            1.0
800133        1.0       1.0      1.0         1.0            1.0

        livestock_care  livestock_sale  other
1                  2.0             2.0    2.0
2                  2.0             2.0    2.0
3                  NaN             NaN    NaN
4                  2.0             2.0    2.0
5                  2.0             2.0    2.0
...                ...             ...    ...
800129             1.0             1.0    2.0
800130             1.0             1.0    2.0
800131             2.0             2.0    2.0
800132             2.0             2.0    2.0
800133             2.0             2.0    2.0

[3136 rows x 8 columns], df_name='bgd_rr', label='A24', qtype='multi', survey='rr', text='What do you use the labor for?')
key=cdi_A24namespace(answers={'yes': 1, 'no': 2}, column_dict={'ploughing': 1, 'planting': 2, 'weeding': 3, 'harvesting': 4, 'selling_crops': 5, 'livestock_care': 6, 'livestock_sale': 7, 'other': 8}, country='cdi', df=          ploughing  planting  weeding  harvesting  selling_crops  \
31416320        1.0       1.0      1.0         1.0            2.0
31416321        1.0       1.0      1.0         1.0            2.0
31416322        1.0       1.0      1.0         1.0            2.0
31416323        1.0       1.0      1.0         1.0            2.0
31416324        1.0       1.0      1.0         1.0            2.0
...             ...       ...      ...         ...            ...
31186932        1.0       1.0      1.0         1.0            2.0
31186933        1.0       1.0      1.0         1.0            2.0
31186934        1.0       1.0      1.0         1.0            2.0
31285239        1.0       1.0      1.0         1.0            2.0
31416319        1.0       1.0      1.0         1.0            2.0

          livestock_care  livestock_sale  other
31416320             1.0             2.0    2.0
31416321             1.0             2.0    2.0
31416322             2.0             2.0    2.0
31416323             2.0             2.0    2.0
31416324             2.0             2.0    2.0
...                  ...             ...    ...
31186932             2.0             2.0    2.0
31186933             2.0             2.0    2.0
31186934             2.0             2.0    2.0
31285239             2.0             2.0    2.0
31416319             1.0             2.0    2.0

[3002 rows x 8 columns], df_name='cdi_rr', label='A24', qtype='multi', survey='rr', text='What do you use the labor for?')
key=moz_A24namespace(answers={'yes': 1, 'no': 2}, column_dict={'ploughing': 1, 'planting': 2, 'weeding': 3, 'harvesting': 4, 'selling_crops': 5, 'livestock_care': 6, 'livestock_sale': 7, 'other': 8}, country='moz', df=          ploughing  planting  weeding  harvesting  selling_crops  \
22552580        NaN       NaN      NaN         NaN            NaN
22487045        NaN       NaN      NaN         NaN            NaN
22159366        NaN       NaN      NaN         NaN            NaN
22790149        1.0       1.0      2.0         1.0            2.0
22790150        1.0       2.0      1.0         2.0            2.0
...             ...       ...      ...         ...            ...
22757331        NaN       NaN      NaN         NaN            NaN
22552539        NaN       NaN      NaN         NaN            NaN
22200293        1.0       2.0      2.0         2.0            2.0
22102008        1.0       2.0      2.0         2.0            2.0
22167545        NaN       NaN      NaN         NaN            NaN

          livestock_care  livestock_sale  other
22552580             NaN             NaN    NaN
22487045             NaN             NaN    NaN
22159366             NaN             NaN    NaN
22790149             2.0             2.0    2.0
22790150             1.0             2.0    2.0
...                  ...             ...    ...
22757331             NaN             NaN    NaN
22552539             NaN             NaN    NaN
22200293             2.0             2.0    2.0
22102008             2.0             2.0    2.0
22167545             NaN             NaN    NaN

[2462 rows x 8 columns], df_name='moz_rr', label='A24', qtype='multi', survey='rr', text='What do you use the labor for?')
key=nga_A24namespace(answers={'yes': 1, 'no': 2}, column_dict={'ploughing': 1, 'planting': 2, 'weeding': 3, 'harvesting': 4, 'selling_crops': 5, 'livestock_care': 6, 'livestock_sale': 7, 'other': 8}, country='nga', df=          ploughing  planting  weeding  harvesting  selling_crops  \
40509448        2.0       1.0      1.0         2.0            2.0
40509449        2.0       1.0      1.0         2.0            2.0
40503694        1.0       1.0      1.0         1.0            1.0
40503695        1.0       1.0      1.0         1.0            2.0
40542247        1.0       1.0      1.0         1.0            2.0
...             ...       ...      ...         ...            ...
40501230        2.0       1.0      1.0         1.0            2.0
40525806        1.0       1.0      1.0         1.0            2.0
40304631        1.0       2.0      2.0         1.0            2.0
40344123        1.0       1.0      1.0         1.0            1.0
40344124        1.0       1.0      1.0         1.0            1.0

          livestock_care  livestock_sale  other
40509448             2.0             2.0    2.0
40509449             2.0             2.0    2.0
40503694             2.0             2.0    2.0
40503695             2.0             2.0    2.0
40542247             2.0             2.0    2.0
...                  ...             ...    ...
40501230             2.0             2.0    2.0
40525806             2.0             2.0    2.0
40304631             2.0             2.0    2.0
40344123             2.0             2.0    2.0
40344124             2.0             2.0    2.0

[2858 rows x 8 columns], df_name='nga_rr', label='A24', qtype='multi', survey='rr', text='What do you use the labor for?')
key=tan_A24namespace(answers={'yes': 1, 'no': 2}, column_dict={'ploughing': 1, 'planting': 2, 'weeding': 3, 'harvesting': 4, 'selling_crops': 5, 'livestock_care': 6, 'livestock_sale': 7, 'other': 8}, country='tan', df=          ploughing  planting  weeding  harvesting  selling_crops  \
29073409        2.0       2.0      2.0         1.0            2.0
29007876        1.0       2.0      2.0         2.0            2.0
28852233        1.0       2.0      2.0         2.0            2.0
28852234        1.0       2.0      2.0         2.0            2.0
28975115        2.0       1.0      1.0         2.0            2.0
...             ...       ...      ...         ...            ...
28884943        1.0       1.0      2.0         1.0            2.0
28901353        NaN       NaN      NaN         NaN            NaN
28909557        NaN       NaN      NaN         NaN            NaN
28909558        2.0       2.0      2.0         2.0            2.0
29351928        NaN       NaN      NaN         NaN            NaN

          livestock_care  livestock_sale  other
29073409             2.0             2.0    2.0
29007876             2.0             2.0    2.0
28852233             2.0             2.0    2.0
28852234             2.0             2.0    2.0
28975115             2.0             2.0    2.0
...                  ...             ...    ...
28884943             2.0             2.0    2.0
28901353             NaN             NaN    NaN
28909557             NaN             NaN    NaN
28909558             2.0             2.0    1.0
29351928             NaN             NaN    NaN

[2812 rows x 8 columns], df_name='tan_rr', label='A24', qtype='multi', survey='rr', text='What do you use the labor for?')
key=uga_A24namespace(answers={'yes': 1, 'no': 2}, column_dict={'ploughing': 1, 'planting': 2, 'weeding': 3, 'harvesting': 4, 'selling_crops': 5, 'livestock_care': 6, 'livestock_sale': 7, 'other': 8}, country='uga', df=          ploughing  planting  weeding  harvesting  selling_crops  \
23068679        2.0       1.0      1.0         1.0            1.0
22716424        1.0       1.0      1.0         1.0            1.0
22716425        1.0       1.0      1.0         1.0            1.0
23306249        1.0       1.0      1.0         1.0            1.0
22945803        1.0       1.0      1.0         1.0            2.0
...             ...       ...      ...         ...            ...
23306221        1.0       1.0      1.0         1.0            2.0
23306222        1.0       2.0      1.0         2.0            2.0
22872056        1.0       1.0      2.0         2.0            2.0
22904826        1.0       1.0      1.0         1.0            1.0
22945787        NaN       NaN      NaN         NaN            NaN

          livestock_care  livestock_sale  other
23068679             1.0             1.0    2.0
22716424             1.0             2.0    2.0
22716425             1.0             1.0    2.0
23306249             1.0             1.0    2.0
22945803             2.0             2.0    2.0
...                  ...             ...    ...
23306221             2.0             2.0    2.0
23306222             2.0             2.0    2.0
22872056             2.0             2.0    2.0
22904826             1.0             1.0    2.0
22945787             NaN             NaN    NaN

[2859 rows x 8 columns], df_name='uga_rr', label='A24', qtype='multi', survey='rr', text='What do you use the labor for?')
key=bgd_A27namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, 'processor': 3, 'retailer': 4, 'public': 5, 'government': 6, 'middleman': 7, 'other': 8, 'DK': 98}, country='bgd', df=        cooperative  wholesaler  processor  retailer  public  government  \
1               2.0         1.0        2.0       2.0     2.0         2.0
2               2.0         1.0        2.0       2.0     2.0         2.0
3               NaN         NaN        NaN       NaN     NaN         NaN
4               NaN         NaN        NaN       NaN     NaN         NaN
5               2.0         1.0        2.0       1.0     2.0         2.0
...             ...         ...        ...       ...     ...         ...
800129          NaN         NaN        NaN       NaN     NaN         NaN
800130          2.0         2.0        2.0       2.0     1.0         2.0
800131          NaN         NaN        NaN       NaN     NaN         NaN
800132          2.0         1.0        2.0       1.0     2.0         2.0
800133          2.0         1.0        2.0       1.0     2.0         2.0

        middleman  other
1             2.0    2.0
2             2.0    2.0
3             NaN    NaN
4             NaN    NaN
5             2.0    2.0
...           ...    ...
800129        NaN    NaN
800130        2.0    2.0
800131        NaN    NaN
800132        2.0    2.0
800133        2.0    2.0

[3136 rows x 8 columns], df_name='bgd_rr', label='A27', qtype='multi', survey='rr', text='Who do you sell your crops and livestock to?')
key=cdi_A27namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, 'processor': 3, 'retailer': 4, 'public': 5, 'government': 6, 'middleman': 7, 'DK': 98, 'agribusiness': 8, 'other': 9}, country='cdi', df=          cooperative  wholesaler  processor  retailer  public  government  \
31416320          2.0         1.0        2.0       1.0     2.0         2.0
31416321          2.0         1.0        2.0       1.0     2.0         2.0
31416322          2.0         1.0        2.0       1.0     2.0         2.0
31416323          2.0         1.0        2.0       1.0     2.0         2.0
31416324          2.0         1.0        2.0       2.0     2.0         2.0
...               ...         ...        ...       ...     ...         ...
31186932          2.0         1.0        2.0       1.0     2.0         2.0
31186933          2.0         1.0        2.0       1.0     2.0         2.0
31186934          2.0         2.0        2.0       1.0     2.0         2.0
31285239          2.0         2.0        2.0       2.0     1.0         2.0
31416319          2.0         1.0        2.0       1.0     2.0         2.0

          middleman  agribusiness  other
31416320        2.0           2.0    2.0
31416321        2.0           2.0    2.0
31416322        2.0           1.0    2.0
31416323        2.0           2.0    2.0
31416324        2.0           2.0    2.0
...             ...           ...    ...
31186932        2.0           2.0    2.0
31186933        2.0           2.0    2.0
31186934        2.0           2.0    2.0
31285239        2.0           2.0    2.0
31416319        2.0           2.0    2.0

[3002 rows x 9 columns], df_name='cdi_rr', label='A27', qtype='multi', survey='rr', text='Who do you sell your crops and livestock to?')
key=moz_A27namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, 'processor': 3, 'retailer': 4, 'public': 5, 'government': 6, 'middleman': 7, 'DK': 98, 'other': 10}, country='moz', df=          cooperative  wholesaler  processor  retailer  public  government  \
22552580          2.0         2.0        2.0       2.0     2.0         2.0
22487045          NaN         NaN        NaN       NaN     NaN         NaN
22159366          NaN         NaN        NaN       NaN     NaN         NaN
22790149          2.0         2.0        2.0       2.0     2.0         2.0
22790150          NaN         NaN        NaN       NaN     NaN         NaN
...               ...         ...        ...       ...     ...         ...
22757331          2.0         2.0        2.0       1.0     2.0         2.0
22552539          NaN         NaN        NaN       NaN     NaN         NaN
22200293          2.0         2.0        2.0       2.0     1.0         2.0
22102008          2.0         2.0        2.0       2.0     1.0         2.0
22167545          2.0         2.0        2.0       2.0     2.0         2.0

          middleman   DK  other
22552580        2.0  2.0    2.0
22487045        NaN  NaN    NaN
22159366        NaN  NaN    NaN
22790149        2.0  2.0    2.0
22790150        NaN  NaN    NaN
...             ...  ...    ...
22757331        2.0  1.0    2.0
22552539        NaN  NaN    NaN
22200293        2.0  1.0    2.0
22102008        2.0  1.0    2.0
22167545        2.0  1.0    1.0

[2462 rows x 9 columns], df_name='moz_rr', label='A27', qtype='multi', survey='rr', text='Who do you sell your crops and livestock to?')
key=nga_A27namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, 'processor': 3, 'retailer': 4, 'public': 5, 'government': 6, 'middleman': 7, 'other': 8, 'DK': 98}, country='nga', df=          cooperative  wholesaler  processor  retailer  public  government  \
40509448          2.0         2.0        2.0       1.0     1.0         2.0
40509449          2.0         2.0        2.0       2.0     1.0         2.0
40503694          2.0         2.0        2.0       2.0     1.0         2.0
40503695          2.0         2.0        2.0       2.0     1.0         2.0
40542247          2.0         2.0        2.0       2.0     1.0         2.0
...               ...         ...        ...       ...     ...         ...
40501230          2.0         2.0        2.0       1.0     2.0         2.0
40525806          2.0         2.0        2.0       1.0     1.0         2.0
40304631          2.0         2.0        2.0       1.0     2.0         2.0
40344123          2.0         2.0        2.0       1.0     1.0         2.0
40344124          2.0         2.0        2.0       2.0     1.0         2.0

          middleman  other   DK
40509448        2.0    2.0  2.0
40509449        2.0    2.0  2.0
40503694        2.0    2.0  2.0
40503695        2.0    2.0  2.0
40542247        2.0    2.0  2.0
...             ...    ...  ...
40501230        2.0    2.0  2.0
40525806        2.0    2.0  2.0
40304631        2.0    2.0  2.0
40344123        2.0    2.0  2.0
40344124        2.0    2.0  2.0

[2858 rows x 9 columns], df_name='nga_rr', label='A27', qtype='multi', survey='rr', text='Who do you sell your crops and livestock to?')

key=uga_A27namespace(answers={'yes': 1, 'no': 2}, column_dict={'cooperative': 1, 'wholesaler': 2, 'processor': 3, 'retailer': 4, 'public': 5, 'government': 6, 'middleman': 7, 'DK': 98, 'other': 10}, country='uga', df=          cooperative  wholesaler  processor  retailer  public  government  \
23068679          2.0         1.0        2.0       2.0     2.0         2.0
22716424          2.0         2.0        2.0       2.0     1.0         2.0
22716425          2.0         2.0        2.0       2.0     1.0         2.0
23306249          2.0         1.0        2.0       2.0     2.0         2.0
22945803          2.0         2.0        2.0       1.0     2.0         2.0
...               ...         ...        ...       ...     ...         ...
23306221          NaN         NaN        NaN       NaN     NaN         NaN
23306222          2.0         2.0        2.0       2.0     1.0         2.0
22872056          2.0         2.0        2.0       2.0     2.0         2.0
22904826          2.0         2.0        2.0       2.0     1.0         2.0
22945787          2.0         2.0        2.0       1.0     2.0         2.0

          middleman   DK  other
23068679        2.0  1.0    2.0
22716424        2.0  1.0    2.0
22716425        2.0  1.0    2.0
23306249        2.0  1.0    2.0
22945803        2.0  1.0    2.0
...             ...  ...    ...
23306221        NaN  NaN    NaN
23306222        2.0  1.0    2.0
22872056        1.0  1.0    2.0
22904826        2.0  1.0    2.0
22945787        2.0  1.0    2.0

[2859 rows x 9 columns], df_name='uga_rr', label='A27', qtype='multi', survey='rr', text='Who do you sell your crops and livestock to?')
key=bgd_A28namespace(answers={'yes': 1, 'no': 2}, column_dict={'at_farm': 1, 'in_village': 2, 'local_market': 3, 'regional_market': 4, 'other': 5}, country='bgd', df=        at_farm  in_village  local_market  regional_market  other
1           2.0         2.0           2.0              1.0    2.0
2           2.0         2.0           1.0              2.0    2.0
3           NaN         NaN           NaN              NaN    NaN
4           NaN         NaN           NaN              NaN    NaN
5           2.0         2.0           1.0              2.0    2.0
...         ...         ...           ...              ...    ...
800129      NaN         NaN           NaN              NaN    NaN
800130      2.0         2.0           1.0              2.0    2.0
800131      NaN         NaN           NaN              NaN    NaN
800132      2.0         2.0           1.0              2.0    2.0
800133      2.0         2.0           1.0              2.0    2.0

[3136 rows x 5 columns], df_name='bgd_rr', label='A28', qtype='multi', survey='rr', text='Where do you normally sell your crops and livestock?')
key=cdi_A28namespace(answers={'yes': 1, 'no': 2}, column_dict={'at_farm': 1, 'in_village': 2, 'local_market': 3, 'regional_market': 4, 'farm_side': 5, 'other': 6}, country='cdi', df=          at_farm  in_village  local_market  regional_market  farm_side  other
31416320      2.0         1.0           2.0              2.0        2.0    2.0
31416321      2.0         1.0           2.0              2.0        2.0    2.0
31416322      2.0         1.0           2.0              2.0        2.0    2.0
31416323      2.0         1.0           2.0              2.0        2.0    2.0
31416324      2.0         1.0           2.0              2.0        2.0    2.0
...           ...         ...           ...              ...        ...    ...
31186932      2.0         1.0           2.0              2.0        1.0    2.0
31186933      2.0         1.0           2.0              2.0        1.0    2.0
31186934      2.0         1.0           1.0              2.0        2.0    2.0
31285239      2.0         1.0           2.0              2.0        2.0    2.0
31416319      2.0         1.0           2.0              2.0        2.0    2.0

[3002 rows x 6 columns], df_name='cdi_rr', label='A28', qtype='multi', survey='rr', text='Where do you normally sell your crops and livestock?')
key=moz_A28namespace(answers={'yes': 1, 'no': 2}, column_dict={'at_farm': 1, 'in_village': 2, 'local_market': 3, 'regional_market': 4, 'other': 5}, country='moz', df=          at_farm  in_village  local_market  regional_market  other
22552580      2.0         1.0           2.0              2.0    2.0
22487045      NaN         NaN           NaN              NaN    NaN
22159366      NaN         NaN           NaN              NaN    NaN
22790149      2.0         2.0           1.0              2.0    2.0
22790150      NaN         NaN           NaN              NaN    NaN
...           ...         ...           ...              ...    ...
22757331      2.0         1.0           1.0              2.0    2.0
22552539      NaN         NaN           NaN              NaN    NaN
22200293      2.0         1.0           1.0              2.0    2.0
22102008      2.0         1.0           1.0              2.0    2.0
22167545      2.0         1.0           1.0              2.0    2.0

[2462 rows x 5 columns], df_name='moz_rr', label='A28', qtype='multi', survey='rr', text='Where do you normally sell your crops and livestock?')
key=nga_A28namespace(answers={'yes': 1, 'no': 2}, column_dict={'at_farm': 1, 'in_village': 2, 'local_market': 3, 'regional_market': 4, 'other': 5}, country='nga', df=          at_farm  in_village  local_market  regional_market  other
40509448      2.0         2.0           1.0              1.0    2.0
40509449      2.0         2.0           1.0              2.0    2.0
40503694      2.0         1.0           1.0              2.0    2.0
40503695      2.0         1.0           1.0              2.0    2.0
40542247      2.0         1.0           1.0              2.0    2.0
...           ...         ...           ...              ...    ...
40501230      2.0         2.0           1.0              2.0    2.0
40525806      2.0         1.0           1.0              1.0    2.0
40304631      2.0         2.0           1.0              2.0    2.0
40344123      2.0         1.0           1.0              2.0    2.0
40344124      2.0         1.0           2.0              2.0    2.0

[2858 rows x 5 columns], df_name='nga_rr', label='A28', qtype='multi', survey='rr', text='Where do you normally sell your crops and livestock?')
key=tan_A28namespace(answers={'yes': 1, 'no': 2}, column_dict={'at_farm': 1, 'in_village': 2, 'local_market': 3, 'regional_market': 4, 'other': 5}, country='tan', df=          at_farm  in_village  local_market  regional_market  other
29073409      2.0         2.0           1.0              2.0    2.0
29007876      2.0         1.0           2.0              2.0    2.0
28852233      2.0         2.0           1.0              2.0    2.0
28852234      NaN         NaN           NaN              NaN    NaN
28975115      2.0         2.0           1.0              2.0    2.0
...           ...         ...           ...              ...    ...
28884943      2.0         2.0           2.0              1.0    1.0
28901353      2.0         2.0           1.0              2.0    2.0
28909557      NaN         NaN           NaN              NaN    NaN
28909558      NaN         NaN           NaN              NaN    NaN
29351928      2.0         2.0           2.0              2.0    1.0

[2812 rows x 5 columns], df_name='tan_rr', label='A28', qtype='multi', survey='rr', text='Where do you normally sell your crops and livestock?')
key=uga_A28namespace(answers={'yes': 1, 'no': 2}, column_dict={'at_farm': 1, 'in_village': 2, 'local_market': 3, 'regional_market': 4, 'other': 5}, country='uga', df=          at_farm  in_village  local_market  regional_market  other
23068679      2.0         1.0           2.0              2.0    2.0
22716424      1.0         1.0           1.0              2.0    2.0
22716425      2.0         1.0           1.0              2.0    2.0
23306249      2.0         1.0           2.0              2.0    2.0
22945803      2.0         2.0           1.0              2.0    2.0
...           ...         ...           ...              ...    ...
23306221      NaN         NaN           NaN              NaN    NaN
23306222      2.0         2.0           1.0              2.0    2.0
22872056      1.0         1.0           2.0              2.0    1.0
22904826      2.0         1.0           2.0              2.0    2.0
22945787      2.0         2.0           1.0              2.0    2.0

[2859 rows x 5 columns], df_name='uga_rr', label='A28', qtype='multi', survey='rr', text='Where do you normally sell your crops and livestock?')
key=bgd_A29namespace(answers={'yes': 1, 'no': 2}, column_dict={'best_price': 1, 'no_transport': 2, 'poor_roads': 3, 'unaware_of_prices': 4, 'small_production': 5, 'other': 6, 'DK': 98}, country='bgd', df=        best_price  no_transport  poor_roads  unaware_of_prices  \
1              1.0           2.0         2.0                2.0
2              1.0           2.0         1.0                2.0
3              NaN           NaN         NaN                NaN
4              NaN           NaN         NaN                NaN
5              1.0           2.0         2.0                1.0
...            ...           ...         ...                ...
800129         NaN           NaN         NaN                NaN
800130         1.0           2.0         1.0                1.0
800131         NaN           NaN         NaN                NaN
800132         1.0           2.0         2.0                2.0
800133         1.0           2.0         2.0                2.0

        small_production  other
1                    2.0    2.0
2                    2.0    2.0
3                    NaN    NaN
4                    NaN    NaN
5                    2.0    2.0
...                  ...    ...
800129               NaN    NaN
800130               2.0    2.0
800131               NaN    NaN
800132               2.0    2.0
800133               2.0    2.0

[3136 rows x 6 columns], df_name='bgd_rr', label='A29', qtype='multi', survey='rr', text='Why do you sell your crops and livestock at this location?')
key=cdi_A29namespace(answers={'yes': 1, 'no': 2}, column_dict={'best_price': 1, 'no_transport': 2, 'poor_roads': 3, 'unaware_of_prices': 4, 'small_production': 5, 'other': 6, 'DK': 98}, country='cdi', df=          best_price  no_transport  poor_roads  unaware_of_prices  \
31416320         2.0           1.0         2.0                2.0
31416321         2.0           1.0         2.0                2.0
31416322         2.0           1.0         2.0                2.0
31416323         2.0           1.0         2.0                2.0
31416324         2.0           1.0         2.0                2.0
...              ...           ...         ...                ...
31186932         2.0           1.0         2.0                2.0
31186933         2.0           1.0         2.0                2.0
31186934         2.0           1.0         2.0                2.0
31285239         2.0           1.0         2.0                2.0
31416319         2.0           1.0         2.0                2.0

          small_production  other
31416320               2.0    2.0
31416321               2.0    2.0
31416322               2.0    2.0
31416323               2.0    2.0
31416324               2.0    2.0
...                    ...    ...
31186932               2.0    1.0
31186933               2.0    1.0
31186934               2.0    2.0
31285239               2.0    1.0
31416319               2.0    2.0

[3002 rows x 6 columns], df_name='cdi_rr', label='A29', qtype='multi', survey='rr', text='Why do you sell your crops and livestock at this location?')
key=moz_A29namespace(answers={'yes': 1, 'no': 2}, column_dict={'best_price': 1, 'no_transport': 2, 'poor_roads': 3, 'unaware_of_prices': 4, 'other': 5, 'DK': 98}, country='moz', df=          best_price  no_transport  poor_roads  unaware_of_prices  other   DK
22552580         2.0           2.0         2.0                2.0    2.0  2.0
22487045         NaN           NaN         NaN                NaN    NaN  NaN
22159366         NaN           NaN         NaN                NaN    NaN  NaN
22790149         2.0           2.0         2.0                2.0    2.0  2.0
22790150         NaN           NaN         NaN                NaN    NaN  NaN
...              ...           ...         ...                ...    ...  ...
22757331         1.0           2.0         2.0                2.0    2.0  1.0
22552539         NaN           NaN         NaN                NaN    NaN  NaN
22200293         2.0           2.0         2.0                2.0    2.0  2.0
22102008         1.0           1.0         2.0                2.0    2.0  1.0
22167545         2.0           1.0         2.0                1.0    2.0  1.0

[2462 rows x 6 columns], df_name='moz_rr', label='A29', qtype='multi', survey='rr', text='Why do you sell your crops and livestock at this location?')
key=nga_A29namespace(answers={'yes': 1, 'no': 2}, column_dict={'best_price': 1, 'no_transport': 2, 'poor_roads': 3, 'unaware_of_prices': 4, 'small_production': 5, 'other': 6, 'DK': 98}, country='nga', df=          best_price  no_transport  poor_roads  unaware_of_prices  \
40509448         1.0           2.0         2.0                2.0
40509449         1.0           2.0         2.0                2.0
40503694         2.0           2.0         2.0                2.0
40503695         2.0           2.0         2.0                2.0
40542247         2.0           1.0         2.0                2.0
...              ...           ...         ...                ...
40501230         1.0           2.0         2.0                2.0
40525806         1.0           2.0         2.0                2.0
40304631         2.0           2.0         2.0                2.0
40344123         1.0           2.0         2.0                2.0
40344124         2.0           1.0         2.0                2.0

          small_production  other   DK
40509448               2.0    2.0  2.0
40509449               2.0    2.0  2.0
40503694               1.0    2.0  2.0
40503695               1.0    2.0  2.0
40542247               2.0    2.0  2.0
...                    ...    ...  ...
40501230               2.0    2.0  2.0
40525806               2.0    2.0  2.0
40304631               1.0    2.0  2.0
40344123               2.0    2.0  2.0
40344124               2.0    2.0  2.0

[2858 rows x 7 columns], df_name='nga_rr', label='A29', qtype='multi', survey='rr', text='Why do you sell your crops and livestock at this location?')

key=tan_A29namespace(answers={'yes': 1, 'no': 2}, column_dict={'best_price': 1, 'no_transport': 2, 'poor_roads': 3, 'unaware_of_prices': 4, 'small_production': 5, 'other': 6, 'DK': 98}, country='tan', df=          best_price  no_transport  poor_roads  unaware_of_prices  \
29073409         2.0           2.0         2.0                1.0
29007876         2.0           2.0         2.0                1.0
28852233         2.0           2.0         2.0                1.0
28852234         NaN           NaN         NaN                NaN
28975115         2.0           2.0         1.0                2.0
...              ...           ...         ...                ...
28884943         2.0           1.0         2.0                1.0
28901353         2.0           2.0         2.0                1.0
28909557         NaN           NaN         NaN                NaN
28909558         NaN           NaN         NaN                NaN
29351928         2.0           2.0         2.0                2.0

          small_production  other
29073409               2.0    2.0
29007876               2.0    2.0
28852233               2.0    2.0
28852234               NaN    NaN
28975115               2.0    2.0
...                    ...    ...
28884943               2.0    2.0
28901353               2.0    2.0
28909557               NaN    NaN
28909558               NaN    NaN
29351928               2.0    1.0

[2812 rows x 6 columns], df_name='tan_rr', label='A29', qtype='multi', survey='rr', text='Why do you sell your crops and livestock at this location?')
key=uga_A29namespace(answers={'yes': 1, 'no': 2}, column_dict={'best_price': 1, 'no_transport': 2, 'poor_roads': 3, 'unaware_of_prices': 4, 'other': 5, 'DK': 98}, country='uga', df=          best_price  no_transport  poor_roads  unaware_of_prices  other   DK
23068679         1.0           2.0         2.0                2.0    2.0  1.0
22716424         2.0           2.0         2.0                2.0    1.0  1.0
22716425         2.0           1.0         2.0                2.0    2.0  1.0
23306249         1.0           2.0         2.0                2.0    2.0  1.0
22945803         2.0           1.0         1.0                2.0    2.0  1.0
...              ...           ...         ...                ...    ...  ...
23306221         NaN           NaN         NaN                NaN    NaN  NaN
23306222         2.0           1.0         2.0                2.0    2.0  1.0
22872056         1.0           2.0         2.0                2.0    2.0  1.0
22904826         1.0           2.0         2.0                2.0    2.0  1.0
22945787         2.0           1.0         2.0                1.0    2.0  1.0

[2859 rows x 6 columns], df_name='uga_rr', label='A29', qtype='multi', survey='rr', text='Why do you sell your crops and livestock at this location?')
key=bgd_A30namespace(answers={'yes': 1, 'no': 2}, country='bgd', df=        A30
1       1.0
2       1.0
3       NaN
4       NaN
5       1.0
...     ...
800129  NaN
800130  1.0
800131  NaN
800132  1.0
800133  1.0

[3136 rows x 1 columns], df_name='bgd_rr', label='A30', qtype='single', survey='rr', text='When you sell your crops and livestock, do you get the current market price?')
key=cdi_A30namespace(answers={'yes': 1, 'no': 2}, country='cdi', df=          A30
31416320  1.0
31416321  1.0
31416322  1.0
31416323  1.0
31416324  1.0
...       ...
31186932  1.0
31186933  1.0
31186934  1.0
31285239  1.0
31416319  1.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A30', qtype='single', survey='rr', text='When you sell your crops and livestock, do you get the current market price?')
key=moz_A30namespace(answers={'yes': 1, 'no': 2}, country='moz', df=          A30
22552580  NaN
22487045  NaN
22159366  NaN
22790149  NaN
22790150  NaN
...       ...
22757331  2.0
22552539  NaN
22200293  2.0
22102008  2.0
22167545  1.0

[2462 rows x 1 columns], df_name='moz_rr', label='A30', qtype='single', survey='rr', text='When you sell your crops and livestock, do you get the current market price?')
key=nga_A30namespace(answers={'yes': 1, 'no': 2}, country='nga', df=          A30
40509448  1.0
40509449  1.0
40503694  1.0
40503695  NaN
40542247  1.0
...       ...
40501230  1.0
40525806  1.0
40304631  1.0
40344123  2.0
40344124  2.0

[2858 rows x 1 columns], df_name='nga_rr', label='A30', qtype='single', survey='rr', text='When you sell your crops and livestock, do you get the current market price?')
key=tan_A30namespace(answers={'yes': 1, 'no': 2}, country='tan', df=          A30
29073409  2.0
29007876  2.0
28852233  1.0
28852234  NaN
28975115  2.0
...       ...
28884943  2.0
28901353  2.0
28909557  NaN
28909558  NaN
29351928  2.0

[2812 rows x 1 columns], df_name='tan_rr', label='A30', qtype='single', survey='rr', text='When you sell your crops and livestock, do you get the current market price?')
key=uga_A30namespace(answers={'yes': 1, 'no': 2}, country='uga', df=          A30
23068679  1.0
22716424  2.0
22716425  1.0
23306249  1.0
22945803  1.0
...       ...
23306221  NaN
23306222  NaN
22872056  1.0
22904826  1.0
22945787  2.0

[2859 rows x 1 columns], df_name='uga_rr', label='A30', qtype='single', survey='rr', text='When you sell your crops and livestock, do you get the current market price?')
key=bgd_A31namespace(answers={'few_customers': 1, 'take_advantage': 2, 'high_commissions': 3, 'corruption': 4, 'no_transport': 5, 'DK': 98, 'other': 6}, country='bgd', df=        A31
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
...     ...
800129  NaN
800130  NaN
800131  NaN
800132  NaN
800133  NaN

[3136 rows x 1 columns], df_name='bgd_rr', label='A31', qtype='single', survey='rr', text='Why do you not get the current market price?')
key=cdi_A31namespace(answers={'few_customers': 1, 'take_advantage': 2, 'high_commissions': 3, 'corruption': 4, 'no_transport': 5, 'poor_quality': 6, 'dont_know_why': 7, 'other': 8, 'DK': 98}, country='cdi', df=          A31
31416320  NaN
31416321  NaN
31416322  NaN
31416323  NaN
31416324  NaN
...       ...
31186932  NaN
31186933  NaN
31186934  NaN
31285239  NaN
31416319  NaN

[3002 rows x 1 columns], df_name='cdi_rr', label='A31', qtype='single', survey='rr', text='Why do you not get the current market price?')
key=nga_A31namespace(answers={'few_customers': 1, 'take_advantage': 2, 'high_commissions': 3, 'corruption': 4, 'no_transport': 5, 'poor_quality': 6, 'dont_know_why': 7, 'other': 8, 'DK': 98}, country='nga', df=          A31
40509448  NaN
40509449  NaN
40503694  NaN
40503695  NaN
40542247  NaN
...       ...
40501230  NaN
40525806  NaN
40304631  NaN
40344123  5.0
40344124  1.0

[2858 rows x 1 columns], df_name='nga_rr', label='A31', qtype='single', survey='rr', text='Why do you not get the current market price?')
key=tan_A31namespace(answers={'few_customers': 1, 'take_advantage': 2, 'high_commissions': 3, 'corruption': 4, 'no_transport': 5, 'poor_quality': 6, 'DK': 98, 'other': 7}, country='tan', df=          A31
29073409  6.0
29007876  1.0
28852233  5.0
28852234  NaN
28975115  5.0
...       ...
28884943  7.0
28901353  6.0
28909557  NaN
28909558  NaN
29351928  7.0

[2812 rows x 1 columns], df_name='tan_rr', label='A31', qtype='single', survey='rr', text='Why do you not get the current market price?')
key=uga_A31namespace(answers={'few_customers': 1, 'take_advantage': 2, 'high_commissions': 3, 'corruption': 4, 'no_transport': 5, 'poor_quality': 6, 'dont_know_why': 7, 'other': 8, 'DK': 98}, country='uga', df=          A31
23068679  NaN
22716424  8.0
22716425  NaN
23306249  NaN
22945803  NaN
...       ...
23306221  NaN
23306222  NaN
22872056  NaN
22904826  2.0
22945787  5.0

[2859 rows x 1 columns], df_name='uga_rr', label='A31', qtype='single', survey='rr', text='Why do you not get the current market price?')
key=moz_A31namespace(answers={'yes': 1, 'no': 2}, column_dict={'few_customers': 1, 'take_advantage': 2, 'high_commissions': 3, 'corruption': 4, 'no_transport': 5, 'poor_quality': 6, 'dont_know_why': 7, 'other': 8}, country='moz', df=          few_customers  take_advantage  high_commissions  corruption  \
22552580            NaN             NaN               NaN         NaN
22487045            NaN             NaN               NaN         NaN
22159366            NaN             NaN               NaN         NaN
22790149            NaN             NaN               NaN         NaN
22790150            NaN             NaN               NaN         NaN
...                 ...             ...               ...         ...
22757331            1.0             2.0               2.0         2.0
22552539            NaN             NaN               NaN         NaN
22200293            1.0             2.0               2.0         2.0
22102008            1.0             2.0               2.0         2.0
22167545            NaN             NaN               NaN         NaN

          no_transport  poor_quality  dont_know_why  other
22552580           NaN           NaN            NaN    NaN
22487045           NaN           NaN            NaN    NaN
22159366           NaN           NaN            NaN    NaN
22790149           NaN           NaN            NaN    NaN
22790150           NaN           NaN            NaN    NaN
...                ...           ...            ...    ...
22757331           2.0           2.0            2.0    2.0
22552539           NaN           NaN            NaN    NaN
22200293           2.0           2.0            2.0    2.0
22102008           2.0           1.0            2.0    2.0
22167545           NaN           NaN            NaN    NaN

[2462 rows x 8 columns], df_name='moz_rr', label='A31', qtype='multi', survey='rr', text='Why do you not get the current market price?')
key=bgd_A32namespace(answers={'yes': 1, 'no': 2}, country='bgd', df=        A32
1       1.0
2       2.0
3       NaN
4       NaN
5       2.0
...     ...
800129  NaN
800130  1.0
800131  NaN
800132  2.0
800133  2.0

[3136 rows x 1 columns], df_name='bgd_rr', label='A32', qtype='single', survey='rr', text=' Do you have a contract to sell any of your crops or livestock?')
key=cdi_A32namespace(answers={'yes': 1, 'no': 2}, country='cdi', df=          A32
31416320  2.0
31416321  2.0
31416322  1.0
31416323  2.0
31416324  2.0
...       ...
31186932  2.0
31186933  1.0
31186934  2.0
31285239  2.0
31416319  2.0

[3002 rows x 1 columns], df_name='cdi_rr', label='A32', qtype='single', survey='rr', text=' Do you have a contract to sell any of your crops or livestock?')
key=moz_A32namespace(answers={'yes': 1, 'no': 2}, country='moz', df=          A32
22552580  NaN
22487045  NaN
22159366  NaN
22790149  NaN
22790150  NaN
...       ...
22757331  2.0
22552539  NaN
22200293  2.0
22102008  2.0
22167545  2.0

[2462 rows x 1 columns], df_name='moz_rr', label='A32', qtype='single', survey='rr', text=' Do you have a contract to sell any of your crops or livestock?')
key=nga_A32namespace(answers={'yes': 1, 'no': 2}, country='nga', df=          A32
40509448  2.0
40509449  2.0
40503694  2.0
40503695  2.0
40542247  2.0
...       ...
40501230  2.0
40525806  2.0
40304631  2.0
40344123  1.0
40344124  2.0

[2858 rows x 1 columns], df_name='nga_rr', label='A32', qtype='single', survey='rr', text=' Do you have a contract to sell any of your crops or livestock?')
key=tan_A32namespace(answers={'yes': 1, 'no': 2}, country='tan', df=          A32
29073409  1.0
29007876  1.0
28852233  1.0
28852234  NaN
28975115  1.0
...       ...
28884943  1.0
28901353  1.0
28909557  NaN
28909558  NaN
29351928  1.0

[2812 rows x 1 columns], df_name='tan_rr', label='A32', qtype='single', survey='rr', text=' Do you have a contract to sell any of your crops or livestock?')

key=uga_A32namespace(answers={'yes': 1, 'no': 2}, country='uga', df=          A32
23068679  2.0
22716424  1.0
22716425  2.0
23306249  2.0
22945803  1.0
...       ...
23306221  NaN
23306222  2.0
22872056  1.0
22904826  2.0
22945787  2.0

[2859 rows x 1 columns], df_name='uga_rr', label='A32', qtype='single', survey='rr', text=' Do you have a contract to sell any of your crops or livestock?')
key=bgd_A33namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'electronic': 3, 'mobile_banking': 4, 'in_kind': 5, 'prepaid_card': 6, 'other': 7}, country='bgd', df=        cash  cheque  electronic  mobile_banking  in_kind  prepaid_card  other
1        1.0     2.0         2.0             2.0      2.0           2.0    2.0
2        1.0     2.0         2.0             2.0      2.0           2.0    2.0
3        NaN     NaN         NaN             NaN      NaN           NaN    NaN
4        NaN     NaN         NaN             NaN      NaN           NaN    NaN
5        1.0     2.0         2.0             2.0      2.0           2.0    2.0
...      ...     ...         ...             ...      ...           ...    ...
800129   NaN     NaN         NaN             NaN      NaN           NaN    NaN
800130   1.0     2.0         2.0             2.0      2.0           2.0    2.0
800131   NaN     NaN         NaN             NaN      NaN           NaN    NaN
800132   1.0     2.0         2.0             2.0      2.0           2.0    2.0
800133   1.0     2.0         2.0             2.0      2.0           2.0    2.0

[3136 rows x 7 columns], df_name='bgd_rr', label='A33', qtype='multi', survey='rr', text='How do you usually get paid for what you sell?')
key=cdi_A33namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'in_bank_account': 3, 'electronic': 4, 'mobile_banking': 5, 'in_kind': 6, 'prepaid_card': 7, 'other': 8}, country='cdi', df=          cash  cheque  in_bank_account  electronic  mobile_banking  in_kind  \
31416320   1.0     2.0              2.0         2.0             2.0      2.0
31416321   1.0     2.0              2.0         2.0             2.0      2.0
31416322   1.0     2.0              2.0         2.0             2.0      2.0
31416323   1.0     2.0              2.0         2.0             2.0      2.0
31416324   1.0     2.0              2.0         2.0             2.0      2.0
...        ...     ...              ...         ...             ...      ...
31186932   1.0     2.0              2.0         2.0             2.0      2.0
31186933   1.0     2.0              2.0         2.0             2.0      2.0
31186934   1.0     2.0              2.0         2.0             2.0      2.0
31285239   1.0     2.0              2.0         2.0             2.0      2.0
31416319   1.0     2.0              2.0         2.0             2.0      2.0

          prepaid_card  other
31416320           2.0    2.0
31416321           2.0    2.0
31416322           2.0    2.0
31416323           2.0    2.0
31416324           2.0    2.0
...                ...    ...
31186932           2.0    2.0
31186933           2.0    2.0
31186934           2.0    2.0
31285239           2.0    2.0
31416319           2.0    2.0

[3002 rows x 8 columns], df_name='cdi_rr', label='A33', qtype='multi', survey='rr', text='How do you usually get paid for what you sell?')
key=moz_A33namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'electronic': 4, 'mobile_banking': 5, 'in_kind': 6, 'prepaid_card': 7, 'other': 8}, country='moz', df=          cash  cheque  electronic  mobile_banking  in_kind  prepaid_card  \
22552580   2.0     2.0         2.0             2.0      2.0           2.0
22487045   NaN     NaN         NaN             NaN      NaN           NaN
22159366   NaN     NaN         NaN             NaN      NaN           NaN
22790149   1.0     2.0         2.0             2.0      2.0           2.0
22790150   NaN     NaN         NaN             NaN      NaN           NaN
...        ...     ...         ...             ...      ...           ...
22757331   1.0     2.0         2.0             2.0      2.0           2.0
22552539   NaN     NaN         NaN             NaN      NaN           NaN
22200293   1.0     2.0         2.0             2.0      2.0           2.0
22102008   1.0     2.0         2.0             2.0      2.0           2.0
22167545   1.0     2.0         2.0             2.0      2.0           2.0

          other
22552580    1.0
22487045    NaN
22159366    NaN
22790149    2.0
22790150    NaN
...         ...
22757331    2.0
22552539    NaN
22200293    2.0
22102008    2.0
22167545    2.0

[2462 rows x 7 columns], df_name='moz_rr', label='A33', qtype='multi', survey='rr', text='How do you usually get paid for what you sell?')
key=nga_A33namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'electronic': 3, 'mobile_banking': 4, 'in_kind': 5, 'prepaid_card': 6, 'other': 7}, country='nga', df=          cash  cheque  electronic  mobile_banking  in_kind  prepaid_card  \
40509448   1.0     2.0         2.0             2.0      2.0           2.0
40509449   1.0     2.0         2.0             2.0      2.0           2.0
40503694   1.0     2.0         2.0             2.0      2.0           2.0
40503695   1.0     2.0         2.0             2.0      2.0           2.0
40542247   1.0     2.0         2.0             2.0      2.0           2.0
...        ...     ...         ...             ...      ...           ...
40501230   1.0     2.0         2.0             2.0      2.0           2.0
40525806   1.0     2.0         2.0             2.0      2.0           2.0
40304631   1.0     2.0         2.0             2.0      2.0           2.0
40344123   1.0     2.0         2.0             2.0      2.0           2.0
40344124   1.0     2.0         2.0             2.0      2.0           2.0

          other
40509448    2.0
40509449    2.0
40503694    2.0
40503695    2.0
40542247    2.0
...         ...
40501230    2.0
40525806    2.0
40304631    2.0
40344123    2.0
40344124    2.0

[2858 rows x 7 columns], df_name='nga_rr', label='A33', qtype='multi', survey='rr', text='How do you usually get paid for what you sell?')
key=tan_A33namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'electronic': 4, 'mobile_banking': 5, 'in_kind': 6, 'prepaid_card': 7, 'other': 8}, country='tan', df=          cash  cheque  electronic  mobile_banking  in_kind  prepaid_card  \
29073409   1.0     2.0         2.0             2.0      2.0           2.0
29007876   1.0     2.0         2.0             2.0      2.0           2.0
28852233   1.0     2.0         2.0             2.0      2.0           2.0
28852234   NaN     NaN         NaN             NaN      NaN           NaN
28975115   1.0     2.0         2.0             2.0      2.0           2.0
...        ...     ...         ...             ...      ...           ...
28884943   1.0     2.0         2.0             2.0      2.0           2.0
28901353   1.0     2.0         2.0             2.0      2.0           2.0
28909557   NaN     NaN         NaN             NaN      NaN           NaN
28909558   NaN     NaN         NaN             NaN      NaN           NaN
29351928   2.0     2.0         2.0             2.0      2.0           2.0

          other
29073409    2.0
29007876    2.0
28852233    2.0
28852234    NaN
28975115    2.0
...         ...
28884943    2.0
28901353    2.0
28909557    NaN
28909558    NaN
29351928    1.0

[2812 rows x 7 columns], df_name='tan_rr', label='A33', qtype='multi', survey='rr', text='How do you usually get paid for what you sell?')
key=uga_A33namespace(answers={'yes': 1, 'no': 2}, column_dict={'cash': 1, 'cheque': 2, 'electronic': 4, 'mobile_banking': 5, 'in_kind': 6, 'prepaid_card': 7, 'other': 8}, country='uga', df=          cash  cheque  electronic  mobile_banking  in_kind  prepaid_card  \
23068679   1.0     2.0         2.0             2.0      2.0           2.0
22716424   1.0     2.0         2.0             2.0      2.0           2.0
22716425   1.0     2.0         2.0             2.0      2.0           2.0
23306249   1.0     2.0         2.0             2.0      2.0           2.0
22945803   1.0     2.0         2.0             2.0      2.0           2.0
...        ...     ...         ...             ...      ...           ...
23306221   NaN     NaN         NaN             NaN      NaN           NaN
23306222   1.0     2.0         2.0             2.0      2.0           2.0
22872056   1.0     2.0         2.0             2.0      2.0           2.0
22904826   1.0     2.0         2.0             2.0      2.0           2.0
22945787   1.0     2.0         2.0             2.0      2.0           2.0

          other
23068679    2.0
22716424    2.0
22716425    2.0
23306249    2.0
22945803    2.0
...         ...
23306221    NaN
23306222    2.0
22872056    2.0
22904826    2.0
22945787    2.0

[2859 rows x 7 columns], df_name='uga_rr', label='A33', qtype='multi', survey='rr', text='How do you usually get paid for what you sell?')
key=bgd_A35namespace(answers={'yes': 1, 'no': 2}, column_dict={'distance': 1, 'transport': 2, 'damage': 3, 'lack_storage': 4, 'lack_refrigeration': 5, 'unreliable_middlemen': 6, 'no_challenges': 7, 'other': 8}, country='bgd', df=        distance  transport  damage  lack_storage  lack_refrigeration  \
1            2.0        2.0     2.0           1.0                 2.0
2            2.0        1.0     2.0           1.0                 2.0
3            NaN        NaN     NaN           NaN                 NaN
4            NaN        NaN     NaN           NaN                 NaN
5            2.0        2.0     2.0           2.0                 2.0
...          ...        ...     ...           ...                 ...
800129       NaN        NaN     NaN           NaN                 NaN
800130       1.0        2.0     2.0           2.0                 2.0
800131       NaN        NaN     NaN           NaN                 NaN
800132       2.0        2.0     2.0           2.0                 2.0
800133       2.0        2.0     2.0           2.0                 2.0

        unreliable_middlemen  no_challenges  other
1                        2.0            2.0    2.0
2                        2.0            2.0    2.0
3                        NaN            NaN    NaN
4                        NaN            NaN    NaN
5                        2.0            1.0    2.0
...                      ...            ...    ...
800129                   NaN            NaN    NaN
800130                   2.0            2.0    2.0
800131                   NaN            NaN    NaN
800132                   2.0            1.0    2.0
800133                   2.0            1.0    2.0

[3136 rows x 8 columns], df_name='bgd_rr', label='A35', qtype='multi', survey='rr', text='What challenges do you face in terms of getting your crops and livestock to your customers?')
key=cdi_A35namespace(answers={'yes': 1, 'no': 2}, column_dict={'distance': 1, 'transport': 2, 'damage': 3, 'lack_storage': 4, 'lack_refrigeration': 5, 'unreliable_middlemen': 6, 'no_challenges': 7, 'other': 8}, country='cdi', df=          distance  transport  damage  lack_storage  lack_refrigeration  \
31416320       2.0        2.0     2.0           2.0                 2.0
31416321       2.0        2.0     2.0           2.0                 2.0
31416322       2.0        2.0     2.0           2.0                 2.0
31416323       2.0        2.0     2.0           2.0                 2.0
31416324       2.0        2.0     2.0           2.0                 2.0
...            ...        ...     ...           ...                 ...
31186932       1.0        1.0     2.0           2.0                 2.0
31186933       1.0        1.0     2.0           2.0                 2.0
31186934       1.0        1.0     2.0           2.0                 2.0
31285239       2.0        2.0     2.0           2.0                 2.0
31416319       2.0        2.0     2.0           2.0                 2.0

          unreliable_middlemen  no_challenges  other
31416320                   2.0            1.0    2.0
31416321                   2.0            1.0    2.0
31416322                   2.0            1.0    2.0
31416323                   2.0            1.0    2.0
31416324                   2.0            1.0    2.0
...                        ...            ...    ...
31186932                   2.0            2.0    2.0
31186933                   2.0            2.0    2.0
31186934                   2.0            2.0    2.0
31285239                   2.0            1.0    2.0
31416319                   2.0            1.0    2.0

[3002 rows x 8 columns], df_name='cdi_rr', label='A35', qtype='multi', survey='rr', text='What challenges do you face in terms of getting your crops and livestock to your customers?')
key=moz_A35namespace(answers={'yes': 1, 'no': 2}, column_dict={'distance': 1, 'transport': 2, 'damage': 5, 'lack_storage': 6, 'lack_refrigeration': 7, 'unreliable_middlemen': 8, 'no_challenges': 9, 'other': 10}, country='moz', df=          distance  transport  damage  lack_storage  lack_refrigeration  \
22552580       2.0        2.0     2.0           2.0                 2.0
22487045       NaN        NaN     NaN           NaN                 NaN
22159366       NaN        NaN     NaN           NaN                 NaN
22790149       1.0        1.0     1.0           2.0                 2.0
22790150       NaN        NaN     NaN           NaN                 NaN
...            ...        ...     ...           ...                 ...
22757331       1.0        1.0     2.0           2.0                 2.0
22552539       NaN        NaN     NaN           NaN                 NaN
22200293       1.0        1.0     2.0           2.0                 2.0
22102008       1.0        1.0     2.0           2.0                 2.0
22167545       1.0        1.0     2.0           2.0                 2.0

          unreliable_middlemen  no_challenges  other
22552580                   2.0            2.0    2.0
22487045                   NaN            NaN    NaN
22159366                   NaN            NaN    NaN
22790149                   2.0            1.0    2.0
22790150                   NaN            NaN    NaN
...                        ...            ...    ...
22757331                   2.0            1.0    2.0
22552539                   NaN            NaN    NaN
22200293                   2.0            1.0    2.0
22102008                   2.0            1.0    2.0
22167545                   2.0            1.0    2.0

[2462 rows x 8 columns], df_name='moz_rr', label='A35', qtype='multi', survey='rr', text='What challenges do you face in terms of getting your crops and livestock to your customers?')
key=nga_A35namespace(answers={'yes': 1, 'no': 2}, column_dict={'distance': 1, 'transport': 2, 'damage': 3, 'lack_storage': 4, 'lack_refrigeration': 5, 'unreliable_middlemen': 6, 'no_challenges': 7, 'other': 8}, country='nga', df=          distance  transport  damage  lack_storage  lack_refrigeration  \
40509448       2.0        1.0     2.0           2.0                 2.0
40509449       2.0        1.0     2.0           2.0                 2.0
40503694       1.0        1.0     2.0           2.0                 2.0
40503695       2.0        1.0     2.0           2.0                 2.0
40542247       2.0        1.0     2.0           2.0                 2.0
...            ...        ...     ...           ...                 ...
40501230       2.0        1.0     2.0           2.0                 2.0
40525806       2.0        2.0     2.0           2.0                 2.0
40304631       1.0        2.0     2.0           2.0                 2.0
40344123       1.0        1.0     2.0           1.0                 2.0
40344124       1.0        1.0     2.0           1.0                 2.0

          unreliable_middlemen  no_challenges  other
40509448                   2.0            2.0    2.0
40509449                   2.0            2.0    2.0
40503694                   2.0            2.0    2.0
40503695                   2.0            2.0    2.0
40542247                   2.0            2.0    2.0
...                        ...            ...    ...
40501230                   2.0            2.0    2.0
40525806                   2.0            1.0    2.0
40304631                   2.0            2.0    2.0
40344123                   2.0            2.0    2.0
40344124                   2.0            2.0    2.0

[2858 rows x 8 columns], df_name='nga_rr', label='A35', qtype='multi', survey='rr', text='What challenges do you face in terms of getting your crops and livestock to your customers?')

key=tan_A35namespace(answers={'yes': 1, 'no': 2}, column_dict={'distance': 1, 'transport': 2, 'damage': 3, 'lack_storage': 4, 'lack_refrigeration': 5, 'unreliable_middlemen': 6, 'no_challenges': 7, 'other': 8}, country='tan', df=          distance  transport  damage  lack_storage  lack_refrigeration  \
29073409       2.0        2.0     2.0           2.0                 2.0
29007876       2.0        2.0     2.0           2.0                 2.0
28852233       2.0        2.0     1.0           2.0                 2.0
28852234       NaN        NaN     NaN           NaN                 NaN
28975115       2.0        1.0     2.0           2.0                 2.0
...            ...        ...     ...           ...                 ...
28884943       1.0        1.0     2.0           1.0                 2.0
28901353       1.0        1.0     1.0           2.0                 2.0
28909557       NaN        NaN     NaN           NaN                 NaN
28909558       NaN        NaN     NaN           NaN                 NaN
29351928       2.0        2.0     2.0           2.0                 2.0

          unreliable_middlemen  no_challenges  other
29073409                   2.0            1.0    2.0
29007876                   2.0            1.0    2.0
28852233                   2.0            2.0    2.0
28852234                   NaN            NaN    NaN
28975115                   2.0            2.0    2.0
...                        ...            ...    ...
28884943                   2.0            2.0    2.0
28901353                   2.0            2.0    2.0
28909557                   NaN            NaN    NaN
28909558                   NaN            NaN    NaN
29351928                   2.0            1.0    2.0

[2812 rows x 8 columns], df_name='tan_rr', label='A35', qtype='multi', survey='rr', text='What challenges do you face in terms of getting your crops and livestock to your customers?')
key=uga_A35namespace(answers={'yes': 1, 'no': 2}, column_dict={'distance': 1, 'transport': 2, 'damage': 3, 'lack_storage': 4, 'lack_refrigeration': 5, 'unreliable_middlemen': 6, 'no_challenges': 7, 'other': 8}, country='uga', df=          distance  transport  damage  lack_storage  lack_refrigeration  \
23068679       2.0        2.0     2.0           2.0                 2.0
22716424       1.0        1.0     1.0           1.0                 2.0
22716425       2.0        1.0     1.0           1.0                 2.0
23306249       1.0        1.0     2.0           2.0                 2.0
22945803       1.0        1.0     2.0           2.0                 2.0
...            ...        ...     ...           ...                 ...
23306221       NaN        NaN     NaN           NaN                 NaN
23306222       2.0        2.0     2.0           2.0                 2.0
22872056       1.0        1.0     2.0           1.0                 2.0
22904826       2.0        1.0     2.0           2.0                 2.0
22945787       1.0        1.0     2.0           2.0                 2.0

          unreliable_middlemen  no_challenges  other
23068679                   2.0            1.0    2.0
22716424                   2.0            2.0    2.0
22716425                   2.0            2.0    2.0
23306249                   2.0            2.0    2.0
22945803                   2.0            2.0    2.0
...                        ...            ...    ...
23306221                   NaN            NaN    NaN
23306222                   2.0            1.0    2.0
22872056                   2.0            2.0    2.0
22904826                   2.0            2.0    2.0
22945787                   2.0            2.0    2.0

[2859 rows x 8 columns], df_name='uga_rr', label='A35', qtype='multi', survey='rr', text='What challenges do you face in terms of getting your crops and livestock to your customers?')
key=bgd_H1namespace(answers={'yes': 1, 'no': 2}, column_dict={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='bgd', df=        regular_job  occasional_job  retail_business  services_business  \
1                 2               2                2                  2
2                 2               2                1                  2
3                 1               2                2                  2
4                 2               2                2                  2
5                 2               2                2                  2
...             ...             ...              ...                ...
800129            2               1                2                  2
800130            2               2                2                  2
800131            1               2                2                  2
800132            2               2                1                  2
800133            2               2                1                  2

        grant_pension  family_friends  growing_crops  rearing_livestock  other
1                   2               2              1                  1      2
2                   2               2              2                  2      2
3                   2               2              2                  2      2
4                   2               1              2                  2      2
5                   2               2              1                  2      2
...               ...             ...            ...                ...    ...
800129              2               2              2                  2      2
800130              2               2              1                  1      2
800131              2               2              2                  2      2
800132              2               2              1                  1      2
800133              2               2              1                  1      2

[3136 rows x 9 columns], df_name='bgd_rr', label='H1', qtype='multi', survey='rr', text='Do you generate income from the following sources?')
key=cdi_H1namespace(answers={'yes': 1, 'no': 2}, column_dict={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='cdi', df=          regular_job  occasional_job  retail_business  services_business  \
31416320            2               2                2                  2
31416321            2               2                2                  2
31416322            2               2                2                  2
31416323            2               2                2                  2
31416324            2               2                2                  2
...               ...             ...              ...                ...
31186932            2               2                2                  2
31186933            2               2                2                  2
31186934            1               2                2                  2
31285239            2               2                2                  2
31416319            2               2                2                  2

          grant_pension  family_friends  growing_crops  rearing_livestock  \
31416320              2               2              1                  1
31416321              2               2              1                  1
31416322              2               2              1                  2
31416323              2               2              1                  2
31416324              2               2              1                  2
...                 ...             ...            ...                ...
31186932              2               1              1                  2
31186933              2               1              2                  2
31186934              2               2              2                  2
31285239              2               2              1                  2
31416319              2               2              1                  1

          other
31416320      2
31416321      2
31416322      2
31416323      2
31416324      2
...         ...
31186932      2
31186933      2
31186934      2
31285239      2
31416319      2

[3002 rows x 9 columns], df_name='cdi_rr', label='H1', qtype='multi', survey='rr', text='Do you generate income from the following sources?')
key=moz_H1namespace(answers={'yes': 1, 'no': 2}, column_dict={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='moz', df=          regular_job  occasional_job  retail_business  services_business  \
22552580            2               2                2                  2
22487045            2               2                2                  2
22159366            2               2                2                  1
22790149            2               1                2                  2
22790150            2               1                1                  2
...               ...             ...              ...                ...
22757331            2               2                2                  2
22552539            2               2                2                  2
22200293            1               2                2                  2
22102008            1               1                2                  2
22167545            2               2                2                  2

          grant_pension  family_friends  growing_crops  rearing_livestock  \
22552580              2               2              2                  2
22487045              2               1              2                  2
22159366              2               2              2                  2
22790149              1               1              1                  1
22790150              1               2              1                  2
...                 ...             ...            ...                ...
22757331              1               1              1                  1
22552539              2               1              2                  2
22200293              2               2              2                  2
22102008              2               2              1                  1
22167545              2               2              2                  2

          other
22552580      2
22487045      2
22159366      2
22790149      2
22790150      2
...         ...
22757331      2
22552539      2
22200293      2
22102008      2
22167545      1

[2462 rows x 9 columns], df_name='moz_rr', label='H1', qtype='multi', survey='rr', text='Do you generate income from the following sources?')
key=nga_H1namespace(answers={'yes': 1, 'no': 2}, column_dict={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='nga', df=          regular_job  occasional_job  retail_business  services_business  \
40509448            1               2                2                  2
40509449            1               2                2                  2
40503694            2               2                2                  2
40503695            2               2                2                  2
40542247            1               2                2                  2
...               ...             ...              ...                ...
40501230            2               2                1                  2
40525806            2               2                1                  2
40304631            2               2                2                  2
40344123            2               2                2                  2
40344124            2               2                2                  2

          grant_pension  family_friends  growing_crops  rearing_livestock  \
40509448              2               2              2                  2
40509449              2               2              1                  2
40503694              2               2              1                  2
40503695              2               2              1                  2
40542247              2               2              1                  2
...                 ...             ...            ...                ...
40501230              2               2              1                  2
40525806              2               2              1                  1
40304631              2               2              1                  2
40344123              2               2              1                  2
40344124              2               1              1                  2

          other
40509448      2
40509449      2
40503694      2
40503695      2
40542247      2
...         ...
40501230      2
40525806      2
40304631      2
40344123      2
40344124      2

[2858 rows x 9 columns], df_name='nga_rr', label='H1', qtype='multi', survey='rr', text='Do you generate income from the following sources?')
key=tan_H1namespace(answers={'yes': 1, 'no': 2}, column_dict={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='tan', df=          regular_job  occasional_job  retail_business  services_business  \
29073409            2               2                1                  1
29007876            2               2                2                  2
28852233            2               2                2                  2
28852234            2               2                1                  2
28975115            2               2                2                  2
...               ...             ...              ...                ...
28884943            2               2                2                  2
28901353            2               2                2                  2
28909557            2               2                2                  2
28909558            2               1                2                  2
29351928            2               2                2                  2

          grant_pension  family_friends  growing_crops  rearing_livestock  \
29073409              2               2              2                  2
29007876              2               2              1                  2
28852233              2               2              1                  2
28852234              2               2              2                  2
28975115              2               2              1                  2
...                 ...             ...            ...                ...
28884943              2               2              1                  1
28901353              2               2              1                  2
28909557              2               2              2                  2
28909558              2               2              2                  2
29351928              2               2              2                  2

          other
29073409      2
29007876      2
28852233      2
28852234      2
28975115      2
...         ...
28884943      2
28901353      2
28909557      1
28909558      2
29351928      1

[2812 rows x 9 columns], df_name='tan_rr', label='H1', qtype='multi', survey='rr', text='Do you generate income from the following sources?')
key=uga_H1namespace(answers={'yes': 1, 'no': 2}, column_dict={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='uga', df=          regular_job  occasional_job  retail_business  services_business  \
23068679            2               2                2                  2
22716424            2               2                2                  1
22716425            2               2                2                  2
23306249            2               1                2                  2
22945803            2               2                2                  1
...               ...             ...              ...                ...
23306221            2               2                2                  2
23306222            2               2                2                  2
22872056            1               2                2                  2
22904826            1               2                1                  2
22945787            2               2                2                  2

          grant_pension  family_friends  growing_crops  rearing_livestock  \
23068679              2               1              1                  1
22716424              2               1              1                  1
22716425              2               1              1                  1
23306249              2               2              1                  1
22945803              2               2              1                  2
...                 ...             ...            ...                ...
23306221              2               2              2                  1
23306222              2               2              2                  1
22872056              2               2              1                  2
22904826              2               1              1                  1
22945787              2               2              1                  1

          other
23068679      2
22716424      2
22716425      2
23306249      2
22945803      2
...         ...
23306221      2
23306222      2
22872056      2
22904826      2
22945787      2

[2859 rows x 9 columns], df_name='uga_rr', label='H1', qtype='multi', survey='rr', text='Do you generate income from the following sources?')
key=bgd_H2Anamespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='bgd', df=        H2A
1       8.0
2       3.0
3       1.0
4       6.0
5       NaN
...     ...
800129  2.0
800130  7.0
800131  1.0
800132  3.0
800133  8.0

[3136 rows x 1 columns], df_name='bgd_rr', label='H2A', qtype='single', survey='rr', text='Which of these has been your main source of income in the last month?')
key=cdi_H2Anamespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='cdi', df=          H2A
31416320  7.0
31416321  7.0
31416322  7.0
31416323  7.0
31416324  7.0
...       ...
31186932  7.0
31186933  6.0
31186934  1.0
31285239  7.0
31416319  7.0

[3002 rows x 1 columns], df_name='cdi_rr', label='H2A', qtype='single', survey='rr', text='Which of these has been your main source of income in the last month?')
key=moz_H2Anamespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='moz', df=          H2A
22552580  NaN
22487045  6.0
22159366  4.0
22790149  2.0
22790150  2.0
...       ...
22757331  6.0
22552539  6.0
22200293  1.0
22102008  1.0
22167545  9.0

[2462 rows x 1 columns], df_name='moz_rr', label='H2A', qtype='single', survey='rr', text='Which of these has been your main source of income in the last month?')
key=nga_H2Anamespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='nga', df=          H2A
40509448  1.0
40509449  1.0
40503694  7.0
40503695  7.0
40542247  1.0
...       ...
40501230  3.0
40525806  3.0

key=tan_H2Bnamespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='tan', df=          H2B
29073409  3.0
29007876  7.0
28852233  7.0
28852234  3.0
28975115  7.0
...       ...
28884943  8.0
28901353  7.0
28909557  8.0
28909558  2.0
29351928  9.0

[2812 rows x 1 columns], df_name='tan_rr', label='H2B', qtype='single', survey='rr', text='Which of these has been your main source of income in the last year?')
key=uga_H2Bnamespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='uga', df=          H2B
23068679  7.0
22716424  6.0
22716425  8.0
23306249  7.0
22945803  7.0
...       ...
23306221  8.0
23306222  8.0
22872056  7.0
22904826  8.0
22945787  7.0

[2859 rows x 1 columns], df_name='uga_rr', label='H2B', qtype='single', survey='rr', text='Which of these has been your main source of income in the last year?')
key=bgd_H3namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='bgd', df=         H3
1       7.0
2       3.0
3       1.0
4       6.0
5       7.0
...     ...
800129  2.0
800130  7.0
800131  1.0
800132  3.0
800133  8.0

[3136 rows x 1 columns], df_name='bgd_rr', label='H3', qtype='single', survey='rr', text='Which of the following income sources is most important to you?')
key=cdi_H3namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='cdi', df=           H3
31416320  7.0
31416321  7.0
31416322  7.0
31416323  7.0
31416324  7.0
...       ...
31186932  7.0
31186933  6.0
31186934  1.0
31285239  7.0
31416319  7.0

[3002 rows x 1 columns], df_name='cdi_rr', label='H3', qtype='single', survey='rr', text='Which of the following income sources is most important to you?')
key=moz_H3namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='moz', df=           H3
22552580  NaN
22487045  6.0
22159366  4.0
22790149  2.0
22790150  2.0
...       ...
22757331  5.0
22552539  6.0
22200293  1.0
22102008  1.0
22167545  9.0

[2462 rows x 1 columns], df_name='moz_rr', label='H3', qtype='single', survey='rr', text='Which of the following income sources is most important to you?')
key=nga_H3namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='nga', df=           H3
40509448  1.0
40509449  1.0
40503694  7.0
40503695  7.0
40542247  1.0
...       ...
40501230  3.0
40525806  7.0
40304631  7.0
40344123  7.0
40344124  7.0

[2858 rows x 1 columns], df_name='nga_rr', label='H3', qtype='single', survey='rr', text='Which of the following income sources is most important to you?')
key=tan_H3namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='tan', df=           H3
29073409  3.0
29007876  7.0
28852233  7.0
28852234  3.0
28975115  7.0
...       ...
28884943  8.0
28901353  7.0
28909557  8.0
28909558  2.0
29351928  9.0

[2812 rows x 1 columns], df_name='tan_rr', label='H3', qtype='single', survey='rr', text='Which of the following income sources is most important to you?')
key=uga_H3namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='uga', df=           H3
23068679  7.0
22716424  7.0
22716425  8.0
23306249  8.0
22945803  7.0
...       ...
23306221  8.0
23306222  8.0
22872056  1.0
22904826  1.0
22945787  7.0

[2859 rows x 1 columns], df_name='uga_rr', label='H3', qtype='single', survey='rr', text='Which of the following income sources is most important to you?')
key=bgd_H4namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='bgd', df=         H4
1       8.0
2       3.0
3       1.0
4       6.0
5       7.0
...     ...
800129  2.0
800130  7.0
800131  1.0
800132  8.0
800133  8.0

[3136 rows x 1 columns], df_name='bgd_rr', label='H4', qtype='single', survey='rr', text='Which of the following income sources do you like getting the most?')
key=cdi_H4namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='cdi', df=           H4
31416320  7.0
31416321  7.0
31416322  7.0
31416323  7.0
31416324  7.0
...       ...
31186932  7.0
31186933  6.0
31186934  1.0
31285239  7.0
31416319  7.0

[3002 rows x 1 columns], df_name='cdi_rr', label='H4', qtype='single', survey='rr', text='Which of the following income sources do you like getting the most?')
key=moz_H4namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='moz', df=           H4
22552580  NaN
22487045  6.0
22159366  4.0
22790149  2.0
22790150  2.0
...       ...
22757331  5.0
22552539  6.0
22200293  1.0
22102008  1.0
22167545  9.0

[2462 rows x 1 columns], df_name='moz_rr', label='H4', qtype='single', survey='rr', text='Which of the following income sources do you like getting the most?')
key=nga_H4namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='nga', df=           H4
40509448  1.0
40509449  1.0
40503694  7.0
40503695  7.0
40542247  1.0
...       ...
40501230  3.0
40525806  7.0
40304631  7.0
40344123  7.0
40344124  7.0

[2858 rows x 1 columns], df_name='nga_rr', label='H4', qtype='single', survey='rr', text='Which of the following income sources do you like getting the most?')
key=tan_H4namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='tan', df=           H4
29073409  3.0
29007876  7.0
28852233  7.0
28852234  3.0
28975115  7.0
...       ...
28884943  8.0
28901353  7.0
28909557  8.0
28909558  2.0
29351928  9.0

[2812 rows x 1 columns], df_name='tan_rr', label='H4', qtype='single', survey='rr', text='Which of the following income sources do you like getting the most?')
key=uga_H4namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='uga', df=           H4
23068679  7.0
22716424  7.0
22716425  7.0
23306249  8.0
22945803  7.0
...       ...
23306221  8.0
23306222  8.0
22872056  1.0
22904826  1.0
22945787  7.0

[2859 rows x 1 columns], df_name='uga_rr', label='H4', qtype='single', survey='rr', text='Which of the following income sources do you like getting the most?')
key=bgd_H5namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='bgd', df=         H5
1       8.0
2       3.0
3       1.0
4       6.0
5       7.0
...     ...
800129  2.0
800130  7.0
800131  1.0
800132  3.0
800133  8.0

[3136 rows x 1 columns], df_name='bgd_rr', label='H5', qtype='single', survey='rr', text='Which of the following income sources is most reliable for you?')
key=cdi_H5namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='cdi', df=           H5
31416320  7.0
31416321  7.0
31416322  7.0
31416323  7.0
31416324  7.0
...       ...
31186932  7.0
31186933  6.0
31186934  1.0
31285239  7.0
31416319  7.0

[3002 rows x 1 columns], df_name='cdi_rr', label='H5', qtype='single', survey='rr', text='Which of the following income sources is most reliable for you?')
key=moz_H5namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='moz', df=           H5
22552580  NaN
22487045  6.0
22159366  4.0
22790149  2.0
22790150  2.0
...       ...
22757331  5.0
22552539  6.0
22200293  1.0
22102008  1.0
22167545  9.0

[2462 rows x 1 columns], df_name='moz_rr', label='H5', qtype='single', survey='rr', text='Which of the following income sources is most reliable for you?')
key=nga_H5namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='nga', df=           H5
40509448  1.0
40509449  1.0
40503694  7.0
40503695  7.0
40542247  1.0
...       ...
40501230  3.0
40525806  7.0
40304631  7.0
40344123  7.0
40344124  7.0

[2858 rows x 1 columns], df_name='nga_rr', label='H5', qtype='single', survey='rr', text='Which of the following income sources is most reliable for you?')
key=tan_H5namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='tan', df=           H5
29073409  3.0
29007876  7.0
28852233  7.0
28852234  3.0
28975115  7.0
...       ...
28884943  7.0
28901353  7.0
28909557  8.0
28909558  2.0
29351928  9.0

[2812 rows x 1 columns], df_name='tan_rr', label='H5', qtype='single', survey='rr', text='Which of the following income sources is most reliable for you?')
key=uga_H5namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='uga', df=           H5
23068679  7.0
22716424  7.0
22716425  8.0
23306249  8.0
22945803  7.0
...       ...
23306221  8.0
23306222  8.0
22872056  7.0
22904826  1.0
22945787  7.0

[2859 rows x 1 columns], df_name='uga_rr', label='H5', qtype='single', survey='rr', text='Which of the following income sources is most reliable for you?')
key=bgd_H6namespace(answers={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6}, country='bgd', df=        H6
1        1
2        4
3        6
4        1
5        1
...     ..
800129   5
800130   1
800131   6
800132   4
800133   1

[3136 rows x 1 columns], df_name='bgd_rr', label='H6', qtype='single', survey='rr', text='What is your primary job (i.e., the job where you spend most of your time)?')
key=cdi_H6namespace(answers={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6}, country='cdi', df=          H6
31416320   1
31416321   1
31416322   1
31416323   1
31416324   1
...       ..
31186932   1
31186933   6
31186934   2
31285239   1
31416319   1

[3002 rows x 1 columns], df_name='cdi_rr', label='H6', qtype='single', survey='rr', text='What is your primary job (i.e., the job where you spend most of your time)?')
key=moz_H6namespace(answers={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6}, country='moz', df=          H6
22552580   1
22487045   1
22159366   4
22790149   1
22790150   1
...       ..
22757331   1
22552539   1
22200293   4
22102008   2
22167545   1

[2462 rows x 1 columns], df_name='moz_rr', label='H6', qtype='single', survey='rr', text='What is your primary job (i.e., the job where you spend most of your time)?')
key=nga_H6namespace(answers={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6}, country='nga', df=          H6
40509448   2
40509449   1
40503694   1
40503695   1
40542247   2
...       ..
40501230   1
40525806   1
40304631   1
40344123   1
40344124   1

[2858 rows x 1 columns], df_name='nga_rr', label='H6', qtype='single', survey='rr', text='What is your primary job (i.e., the job where you spend most of your time)?')

key=tan_H6namespace(answers={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6}, country='tan', df=          H6
29073409   1
29007876   1
28852233   1
28852234   1
28975115   1
...       ..
28884943   1
28901353   1
28909557   6
28909558   6
29351928   1

[2812 rows x 1 columns], df_name='tan_rr', label='H6', qtype='single', survey='rr', text='What is your primary job (i.e., the job where you spend most of your time)?')
key=uga_H6namespace(answers={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6}, country='uga', df=          H6
23068679   4
22716424   4
22716425   1
23306249   1
22945803   1
...       ..
23306221   1
23306222   1
22872056   2
22904826   2
22945787   1

[2859 rows x 1 columns], df_name='uga_rr', label='H6', qtype='single', survey='rr', text='What is your primary job (i.e., the job where you spend most of your time)?')
key=bgd_H7namespace(answers={'yes': 1, 'no': 2}, column_dict={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6, 'no_secondary_job': 7}, country='bgd', df=        farmer  professional  shop_owner  business_owner  laborer  other  \
1            2             2           2               2        1      2
2            1             2           2               2        2      2
3            2             2           2               2        2      1
4            2             2           2               2        2      2
5            2             2           2               2        2      2
...        ...           ...         ...             ...      ...    ...
800129       1             2           2               2        2      2
800130       2             2           2               2        2      2
800131       1             2           2               2        2      2
800132       1             2           2               2        2      2
800133       2             2           2               1        2      2

        no_secondary_job
1                      2
2                      2
3                      2
4                      1
5                      1
...                  ...
800129                 2
800130                 1
800131                 2
800132                 2
800133                 2

[3136 rows x 7 columns], df_name='bgd_rr', label='H7', qtype='multi', survey='rr', text='What are your secondary or side jobs?')
key=cdi_H7namespace(answers={'yes': 1, 'no': 2}, column_dict={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6, 'no_secondary_job': 7}, country='cdi', df=          farmer  professional  shop_owner  business_owner  laborer  other  \
31416320       2             2           2               2        2      2
31416321       2             2           2               2        2      2
31416322       2             2           2               2        2      2
31416323       2             2           2               2        2      2
31416324       2             2           2               2        2      2
...          ...           ...         ...             ...      ...    ...
31186932       2             2           2               2        2      2
31186933       2             2           2               2        2      2
31186934       2             2           2               2        2      2
31285239       2             2           2               2        2      2
31416319       2             2           2               2        2      2

          no_secondary_job
31416320                 1
31416321                 1
31416322                 1
31416323                 1
31416324                 1
...                    ...
31186932                 1
31186933                 1
31186934                 1
31285239                 1
31416319                 1

[3002 rows x 7 columns], df_name='cdi_rr', label='H7', qtype='multi', survey='rr', text='What are your secondary or side jobs?')
key=moz_H7namespace(answers={'yes': 1, 'no': 2}, column_dict={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6, 'no_secondary_job': 7}, country='moz', df=          farmer  professional  shop_owner  business_owner  laborer  other  \
22552580       1             2           2               2        2      2
22487045       1             2           2               2        2      2
22159366       2             2           2               2        2      2
22790149       1             2           2               2        2      2
22790150       1             2           2               2        2      2
...          ...           ...         ...             ...      ...    ...
22757331       1             2           2               2        2      2
22552539       2             2           2               2        2      2
22200293       1             2           2               2        2      2
22102008       2             2           2               2        2      1
22167545       2             2           2               2        2      2

          no_secondary_job
22552580                 1
22487045                 1
22159366                 2
22790149                 1
22790150                 1
...                    ...
22757331                 1
22552539                 2
22200293                 1
22102008                 1
22167545                 2

[2462 rows x 7 columns], df_name='moz_rr', label='H7', qtype='multi', survey='rr', text='What are your secondary or side jobs?')
key=nga_H7namespace(answers={'yes': 1, 'no': 2}, column_dict={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6, 'no_secondary_job': 7}, country='nga', df=          farmer  professional  shop_owner  business_owner  laborer  other  \
40509448       2             2           2               2        2      2
40509449       2             2           2               2        2      2
40503694       2             2           2               2        2      2
40503695       2             2           2               2        2      2
40542247       1             2           2               2        2      2
...          ...           ...         ...             ...      ...    ...
40501230       2             2           1               2        2      2
40525806       2             2           2               1        2      2
40304631       2             2           2               2        2      2
40344123       2             2           2               2        2      2
40344124       2             2           2               2        2      2

          no_secondary_job
40509448                 1
40509449                 1
40503694                 1
40503695                 1
40542247                 2
...                    ...
40501230                 2
40525806                 2
40304631                 1
40344123                 1
40344124                 1

[2858 rows x 7 columns], df_name='nga_rr', label='H7', qtype='multi', survey='rr', text='What are your secondary or side jobs?')
key=tan_H7namespace(answers={'yes': 1, 'no': 2}, column_dict={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6, 'no_secondary_job': 7}, country='tan', df=          farmer  professional  shop_owner  business_owner  laborer  other  \
29073409       2             2           1               2        2      2
29007876       2             2           2               2        2      2
28852233       2             2           2               2        2      2
28852234       2             2           2               2        2      2
28975115       2             2           2               2        2      2
...          ...           ...         ...             ...      ...    ...
28884943       2             2           2               2        2      2
28901353       2             2           2               2        2      2
28909557       2             2           2               2        2      1
28909558       1             2           2               2        2      2
29351928       2             2           2               2        2      1

          no_secondary_job
29073409                 2
29007876                 1
28852233                 1
28852234                 1
28975115                 1
...                    ...
28884943                 1
28901353                 1
28909557                 2
28909558                 2
29351928                 2

[2812 rows x 7 columns], df_name='tan_rr', label='H7', qtype='multi', survey='rr', text='What are your secondary or side jobs?')
key=uga_H7namespace(answers={'yes': 1, 'no': 2}, column_dict={'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6, 'no_secondary_job': 7}, country='uga', df=          farmer  professional  shop_owner  business_owner  laborer  other  \
23068679       2             2           2               1        2      2
22716424       1             2           2               2        2      2
22716425       2             2           2               2        2      2
23306249       2             2           2               2        1      2
22945803       2             2           2               1        2      2
...          ...           ...         ...             ...      ...    ...
23306221       2             2           2               2        2      2
23306222       2             2           2               2        2      2
22872056       1             1           2               2        2      2
22904826       1             2           2               2        2      2
22945787       2             2           2               2        1      2

          no_secondary_job
23068679                 1
22716424                 1
22716425                 2
23306249                 1
22945803                 1
...                    ...
23306221                 2
23306222                 2
22872056                 1
22904826                 1
22945787                 1

[2859 rows x 7 columns], df_name='uga_rr', label='H7', qtype='multi', survey='rr', text='What are your secondary or side jobs?')
key=bgd_H8namespace(answers={'daily': 1, 'weekly': 2, 'monthly': 3, 'annually': 4, 'after_a_time': 5, 'according_to_harvest': 6, 'DK': 7}, column_dict={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='bgd', df=        regular_job  occasional_job  retail_business  services_business  \
1               NaN             NaN              1.0                NaN
2               NaN             NaN              2.0                NaN
3               3.0             NaN              NaN                NaN
4               NaN             NaN              NaN                NaN
5               NaN             NaN              NaN                NaN
...             ...             ...              ...                ...
800129          NaN             2.0              NaN                NaN
800130          NaN             NaN              1.0                NaN
800131          1.0             NaN              NaN                NaN
800132          NaN             NaN              1.0                NaN
800133          NaN             NaN              1.0                NaN

        grant_pension  family_friends  growing_crops  rearing_livestock  other
1                 NaN             NaN            5.0                1.0    NaN
2                 NaN             NaN            NaN                NaN    NaN
3                 NaN             NaN            NaN                NaN    NaN
4                 NaN             3.0            NaN                NaN    NaN
5                 NaN             NaN            6.0                NaN    NaN
...               ...             ...            ...                ...    ...
800129            NaN             NaN            NaN                NaN    NaN
800130            NaN             NaN            5.0                5.0    NaN
800131            NaN             NaN            NaN                NaN    NaN
800132            NaN             NaN            5.0                5.0    NaN
800133            NaN             NaN            5.0                5.0    NaN

[3136 rows x 9 columns], df_name='bgd_rr', label='H8', qtype='multi', survey='rr', text='How frequently do you receive your main source of income...?')
key=cdi_H8namespace(answers={'daily': 1, 'weekly': 2, 'monthly': 3, 'annually': 4, 'after_a_time': 5, 'according_to_harvest': 6, 'DK': 7}, column_dict={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='cdi', df=          regular_job  occasional_job  retail_business  services_business  \
31416320          NaN             NaN              NaN                NaN
31416321          NaN             NaN              NaN                NaN
31416322          NaN             NaN              NaN                NaN
31416323          NaN             NaN              NaN                NaN
31416324          NaN             NaN              NaN                NaN
...               ...             ...              ...                ...
31186932          NaN             NaN              NaN                NaN
31186933          NaN             NaN              NaN                NaN
31186934          1.0             NaN              NaN                NaN
31285239          NaN             NaN              NaN                NaN
31416319          NaN             NaN              NaN                NaN

          grant_pension  family_friends  growing_crops  rearing_livestock  \
31416320            NaN             NaN            6.0                5.0
31416321            NaN             NaN            6.0                5.0
31416322            NaN             NaN            6.0                NaN
31416323            NaN             NaN            6.0                NaN
31416324            NaN             NaN            6.0                NaN
...                 ...             ...            ...                ...
31186932            NaN             4.0            1.0                NaN
31186933            NaN             3.0            2.0                NaN
31186934            NaN             NaN            1.0                NaN
31285239            NaN             NaN            6.0                NaN
31416319            NaN             NaN            6.0                5.0

          other
31416320    NaN
31416321    NaN
31416322    NaN
31416323    NaN
31416324    NaN
...         ...
31186932    NaN
31186933    NaN
31186934    NaN
31285239    NaN
31416319    NaN

[3002 rows x 9 columns], df_name='cdi_rr', label='H8', qtype='multi', survey='rr', text='How frequently do you receive your main source of income...?')
key=nga_H8namespace(answers={'daily': 1, 'weekly': 2, 'monthly': 3, 'annually': 4, 'after_a_time': 5, 'according_to_harvest': 6, 'DK': 7}, column_dict={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='nga', df=          regular_job  occasional_job  retail_business  services_business  \
40509448          3.0             NaN              NaN                NaN
40509449          2.0             NaN              NaN                NaN
40503694          NaN             NaN              NaN                NaN
40503695          NaN             NaN              NaN                NaN
40542247          3.0             NaN              NaN                NaN
...               ...             ...              ...                ...
40501230          NaN             NaN              1.0                NaN
40525806          NaN             NaN              1.0                1.0
40304631          NaN             NaN              NaN                NaN
40344123          NaN             NaN              NaN                NaN
40344124          NaN             NaN              NaN                NaN

          grant_pension  family_friends  growing_crops  rearing_livestock  \
40509448            NaN             NaN            6.0                NaN
40509449            NaN             NaN            6.0                NaN
40503694            NaN             NaN            2.0                NaN
40503695            NaN             NaN            6.0                NaN
40542247            NaN             NaN            6.0                NaN
...                 ...             ...            ...                ...
40501230            NaN             NaN            6.0                NaN
40525806            NaN             NaN            2.0                5.0
40304631            NaN             NaN            6.0                NaN
40344123            NaN             3.0            2.0                NaN
40344124            NaN             5.0            2.0                NaN

          other
40509448    NaN
40509449    NaN
40503694    NaN
40503695    NaN
40542247    NaN
...         ...
40501230    NaN
40525806    NaN
40304631    NaN
40344123    NaN
40344124    NaN

[2858 rows x 9 columns], df_name='nga_rr', label='H8', qtype='multi', survey='rr', text='How frequently do you receive your main source of income...?')
key=tan_H8namespace(answers={'daily': 1, 'weekly': 2, 'monthly': 3, 'annually': 4, 'after_a_time': 5, 'according_to_harvest': 6, 'DK': 7}, column_dict={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='tan', df=          regular_job  occasional_job  retail_business  services_business  \
29073409          NaN             NaN              1.0                1.0
29007876          NaN             NaN              NaN                NaN
28852233          NaN             NaN              2.0                NaN
28852234          NaN             NaN              2.0                NaN
28975115          NaN             NaN              NaN                NaN
...               ...             ...              ...                ...
28884943          NaN             NaN              NaN                NaN
28901353          NaN             NaN              NaN                NaN
28909557          NaN             NaN              1.0                1.0
28909558          NaN             2.0              NaN                NaN
29351928          NaN             NaN              NaN                NaN

          grant_pension  family_friends  growing_crops  rearing_livestock  \
29073409            NaN             NaN            6.0                NaN
29007876            NaN             NaN            1.0                NaN
28852233            NaN             NaN            2.0                NaN
28852234            NaN             NaN            NaN                NaN
28975115            NaN             NaN            1.0                NaN
...                 ...             ...            ...                ...
28884943            NaN             NaN            5.0                5.0
28901353            NaN             NaN            6.0                NaN
28909557            NaN             NaN            NaN                1.0
28909558            NaN             NaN            NaN                NaN
29351928            NaN             NaN            NaN                NaN

          other
29073409    NaN
29007876    NaN
28852233    NaN
28852234    NaN
28975115    NaN
...         ...
28884943    NaN
28901353    NaN
28909557    NaN
28909558    NaN
29351928    NaN


key=bgd_H9namespace(answers={'yes': 1, 'no': 2}, column_dict={'processor': 1, 'seller': 2, 'services': 3, 'rent_out_land': 4, 'other': 5, 'no_other_way': 6}, country='bgd', df=        processor  seller  services  rent_out_land  other  no_other_way
1               2       2         2              2      2             1
2               2       2         2              2      2             1
3               2       2         2              2      2             1
4               2       2         2              2      2             1
5               2       2         2              2      2             1
...           ...     ...       ...            ...    ...           ...
800129          2       2         2              2      2             1
800130          2       2         2              2      2             1
800131          1       2         2              2      2             2
800132          2       2         2              2      2             1
800133          2       2         2              2      2             1

[3136 rows x 6 columns], df_name='bgd_rr', label='H9', qtype='multi', survey='rr', text='Are there any other ways that you get income?')
key=cdi_H9namespace(answers={'yes': 1, 'no': 2}, column_dict={'processor': 1, 'seller': 2, 'services': 3, 'rent_out_land': 4, 'other': 5, 'no_other_way': 6}, country='cdi', df=          processor  seller  services  rent_out_land  other  no_other_way
31416320          2       2         2              2      2             1
31416321          2       2         2              2      2             1
31416322          2       2         2              2      2             1
31416323          2       2         2              2      2             1
31416324          2       2         2              2      2             1
...             ...     ...       ...            ...    ...           ...
31186932          2       2         2              2      2             1
31186933          2       2         2              2      2             1
31186934          2       2         2              2      2             1
31285239          2       2         2              2      2             1
31416319          2       2         2              2      2             1

[3002 rows x 6 columns], df_name='cdi_rr', label='H9', qtype='multi', survey='rr', text='Are there any other ways that you get income?')
key=moz_H9namespace(answers={'yes': 1, 'no': 2}, column_dict={'processor': 1, 'seller': 2, 'services': 6, 'rent_out_land': 7, 'other': 8, 'no_other_way': 9}, country='moz', df=          processor  seller  services  rent_out_land  other  no_other_way
22552580          2       2         2              2      2             2
22487045          2       2         2              2      2             2
22159366          2       2         2              2      2             2
22790149          1       2         2              2      2             1
22790150          2       1         2              2      2             1
...             ...     ...       ...            ...    ...           ...
22757331          2       2         2              2      2             2
22552539          2       2         2              2      2             2
22200293          2       2         2              2      2             2
22102008          2       1         2              2      2             1
22167545          2       2         2              2      2             2

[2462 rows x 6 columns], df_name='moz_rr', label='H9', qtype='multi', survey='rr', text='Are there any other ways that you get income?')
key=nga_H9namespace(answers={'yes': 1, 'no': 2}, column_dict={'processor': 1, 'seller': 2, 'services': 3, 'rent_out_land': 4, 'other': 5, 'no_other_way': 6}, country='nga', df=          processor  seller  services  rent_out_land  other  no_other_way
40509448          1       2         2              2      2             2
40509449          1       2         2              2      2             2
40503694          2       2         2              2      2             1
40503695          2       2         2              2      2             1
40542247          2       2         2              2      1             2
...             ...     ...       ...            ...    ...           ...
40501230          2       2         2              2      2             1
40525806          2       2         2              2      2             1
40304631          2       2         2              2      2             1
40344123          2       2         2              2      2             1
40344124          2       2         2              2      2             1

[2858 rows x 6 columns], df_name='nga_rr', label='H9', qtype='multi', survey='rr', text='Are there any other ways that you get income?')
key=tan_H9namespace(answers={'yes': 1, 'no': 2}, column_dict={'processor': 1, 'seller': 2, 'services': 3, 'rent_out_land': 4, 'other': 5, 'no_other_way': 6}, country='tan', df=          processor  seller  services  rent_out_land  other  no_other_way
29073409          2       2         2              2      1             2
29007876          2       2         2              1      2             2
28852233          1       2         2              2      2             2
28852234          1       2         2              2      2             2
28975115          2       2         2              2      2             1
...             ...     ...       ...            ...    ...           ...
28884943          2       2         2              2      2             1
28901353          2       2         2              2      2             1
28909557          2       2         2              2      2             1
28909558          2       2         2              2      2             1
29351928          2       2         2              2      2             1

[2812 rows x 6 columns], df_name='tan_rr', label='H9', qtype='multi', survey='rr', text='Are there any other ways that you get income?')
key=uga_H9namespace(answers={'yes': 1, 'no': 2}, column_dict={'processor': 1, 'seller': 2, 'services': 6, 'rent_out_land': 7, 'other': 8, 'no_other_way': 9}, country='uga', df=          processor  seller  services  rent_out_land  other  no_other_way
23068679          2       2         2              2      2             2
22716424          2       2         2              1      2             1
22716425          2       1         2              2      2             1
23306249          2       2         2              2      2             2
22945803          2       2         2              2      1             1
...             ...     ...       ...            ...    ...           ...
23306221          2       2         2              2      2             2
23306222          2       2         2              2      2             2
22872056          2       2         2              2      2             2
22904826          2       2         2              2      2             2
22945787          2       2         2              2      2             2

[2859 rows x 6 columns], df_name='uga_rr', label='H9', qtype='multi', survey='rr', text='Are there any other ways that you get income?')
key=bgd_H10namespace(answers={'yes': 1, 'no': 2}, column_dict={'govt_benefits': 1, 'remittances': 2, 'other_benefits': 3, 'labor_for_hire': 4, 'sell_belongings': 5, 'other': 6}, country='bgd', df=        govt_benefits  remittances  other_benefits  labor_for_hire  \
1                   2            1               2               2
2                   2            1               2               2
3                   2            2               2               1
4                   2            2               2               2
5                   2            2               2               2
...               ...          ...             ...             ...
800129              2            2               2               1
800130              2            2               2               1
800131              2            2               2               2
800132              2            2               2               2
800133              2            2               2               2

        sell_belongings  other
1                     2      1
2                     2      2
3                     2      2
4                     1      2
5                     1      2
...                 ...    ...
800129                1      2
800130                1      2
800131                1      2
800132                2      1
800133                2      1

[3136 rows x 6 columns], df_name='bgd_rr', label='H10', qtype='multi', survey='rr', text='Do you receive income from any of the following?')
key=cdi_H10namespace(answers={'yes': 1, 'no': 2}, column_dict={'govt_benefits': 1, 'remittances': 2, 'other_benefits': 3, 'labor_for_hire': 4, 'sell_belongings': 5, 'other': 6}, country='cdi', df=          govt_benefits  remittances  other_benefits  labor_for_hire  \
31416320              2            2               2               2
31416321              2            1               2               2
31416322              2            2               2               2
31416323              2            2               2               2
31416324              2            2               2               2
...                 ...          ...             ...             ...
31186932              2            2               2               2
31186933              2            1               2               2
31186934              1            2               2               2
31285239              2            2               2               2
31416319              2            2               2               2

          sell_belongings  other
31416320                2      2
31416321                2      2
31416322                2      2
31416323                2      2
31416324                2      2
...                   ...    ...
31186932                2      2
31186933                2      2
31186934                2      2
31285239                2      2
31416319                2      2

[3002 rows x 6 columns], df_name='cdi_rr', label='H10', qtype='multi', survey='rr', text='Do you receive income from any of the following?')
key=moz_H10namespace(answers={'yes': 1, 'no': 2}, column_dict={'govt_benefits': 1, 'remittances': 10, 'other_benefits': 13, 'labor_for_hire': 14, 'sell_belongings': 15, 'other': 17}, country='moz', df=          govt_benefits  remittances  other_benefits  labor_for_hire  \
22552580              2            2               2               2
22487045              2            2               2               2
22159366              2            2               2               2
22790149              2            2               2               2
22790150              2            2               2               2
...                 ...          ...             ...             ...
22757331              2            2               2               2
22552539              2            2               2               2
22200293              1            2               2               2
22102008              2            2               2               2
22167545              2            2               2               2

          sell_belongings  other
22552580                2      1
22487045                2      1
22159366                2      1
22790149                1      2
22790150                1      2
...                   ...    ...
22757331                2      1
22552539                2      1
22200293                2      2
22102008                2      1
22167545                2      1

[2462 rows x 6 columns], df_name='moz_rr', label='H10', qtype='multi', survey='rr', text='Do you receive income from any of the following?')
key=nga_H10namespace(answers={'yes': 1, 'no': 2}, column_dict={'govt_benefits': 1, 'remittances': 2, 'other_benefits': 3, 'labor_for_hire': 4, 'sell_belongings': 5, 'other': 6}, country='nga', df=          govt_benefits  remittances  other_benefits  labor_for_hire  \
40509448              2            1               2               2
40509449              2            1               2               2
40503694              2            2               2               2
40503695              2            2               2               2
40542247              2            2               2               2
...                 ...          ...             ...             ...
40501230              2            2               2               2
40525806              2            1               2               2
40304631              2            1               2               2
40344123              2            1               2               2
40344124              2            1               2               2

          sell_belongings  other
40509448                2      2
40509449                2      2
40503694                2      2
40503695                2      2
40542247                2      2
...                   ...    ...
40501230                2      2
40525806                1      2
40304631                1      2
40344123                2      2
40344124                2      2

[2858 rows x 6 columns], df_name='nga_rr', label='H10', qtype='multi', survey='rr', text='Do you receive income from any of the following?')
key=tan_H10namespace(answers={'yes': 1, 'no': 2}, column_dict={'govt_benefits': 1, 'remittances': 2, 'other_benefits': 3, 'labor_for_hire': 4, 'sell_belongings': 5, 'other': 6}, country='tan', df=          govt_benefits  remittances  other_benefits  labor_for_hire  \
29073409              2            2               2               2
29007876              2            2               2               2
28852233              2            2               2               2
28852234              2            2               2               2
28975115              2            2               2               2
...                 ...          ...             ...             ...
28884943              2            2               2               2
28901353              2            2               2               2
28909557              2            2               2               2
28909558              2            2               2               1
29351928              2            2               2               2

          sell_belongings  other
29073409                1      2
29007876                2      1
28852233                1      2
28852234                1      2
28975115                2      1
...                   ...    ...
28884943                1      2
28901353                2      1
28909557                2      1
28909558                2      2
29351928                2      1

[2812 rows x 6 columns], df_name='tan_rr', label='H10', qtype='multi', survey='rr', text='Do you receive income from any of the following?')
key=uga_H10namespace(answers={'yes': 1, 'no': 2}, column_dict={'govt_benefits': 1, 'remittances': 10, 'other_benefits': 13, 'labor_for_hire': 14, 'sell_belongings': 15, 'other': 17}, country='uga', df=          govt_benefits  remittances  other_benefits  labor_for_hire  \
23068679              2            2               2               2
22716424              2            1               2               1
22716425              2            2               2               2
23306249              2            2               2               1
22945803              2            2               2               2
...                 ...          ...             ...             ...
23306221              2            1               2               2
23306222              2            2               2               2
22872056              2            2               1               2
22904826              2            2               2               2
22945787              2            2               2               2

          sell_belongings  other
23068679                1      2
22716424                1      2
22716425                1      2
23306249                2      2
22945803                2      1
...                   ...    ...
23306221                2      2
23306222                2      1
22872056                2      2
22904826                1      2
22945787                2      1

[2859 rows x 6 columns], df_name='uga_rr', label='H10', qtype='multi', survey='rr', text='Do you receive income from any of the following?')
key=bgd_H11namespace(answers={'yes': 1, 'no': 2}, column_dict={'direct_deposit': 1, 'cash': 2, 'cheque': 3, 'courier': 4, 'own_m_money': 5, 'digital_card': 6, 'moneygram': 7, 'other': 8}, country='bgd', df=        direct_deposit  cash  cheque  courier  own_m_money  digital_card  \
1                  NaN   NaN     NaN      NaN          NaN           NaN
2                  NaN   NaN     NaN      NaN          NaN           NaN
3                  NaN   NaN     NaN      NaN          NaN           NaN
4                  NaN   NaN     NaN      NaN          NaN           NaN
5                  NaN   NaN     NaN      NaN          NaN           NaN
...                ...   ...     ...      ...          ...           ...
800129             NaN   NaN     NaN      NaN          NaN           NaN
800130             NaN   NaN     NaN      NaN          NaN           NaN
800131             NaN   NaN     NaN      NaN          NaN           NaN
800132             NaN   NaN     NaN      NaN          NaN           NaN
800133             NaN   NaN     NaN      NaN          NaN           NaN

        moneygram  other
1             NaN    NaN
2             NaN    NaN
3             NaN    NaN
4             NaN    NaN
5             NaN    NaN
...           ...    ...
800129        NaN    NaN
800130        NaN    NaN
800131        NaN    NaN
800132        NaN    NaN
800133        NaN    NaN

[3136 rows x 8 columns], df_name='bgd_rr', label='H11', qtype='multi', survey='rr', text='You said you receive a payment from the government (benefits, welfare, stipend, grant or another payment). How do you usually get this payment?')
key=cdi_H11namespace(answers={'yes': 1, 'no': 2}, column_dict={'direct_deposit': 1, 'cash': 2, 'cheque': 3, 'courier': 4, 'own_m_money': 5, 'agent_m_money': 6, 'other_m_money': 7, 'digital_card': 8, 'moneygram': 9, 'other': 10}, country='cdi', df=          direct_deposit  cash  cheque  courier  own_m_money  agent_m_money  \
31416320             NaN   NaN     NaN      NaN          NaN            NaN
31416321             NaN   NaN     NaN      NaN          NaN            NaN
31416322             NaN   NaN     NaN      NaN          NaN            NaN
31416323             NaN   NaN     NaN      NaN          NaN            NaN
31416324             NaN   NaN     NaN      NaN          NaN            NaN
...                  ...   ...     ...      ...          ...            ...
31186932             NaN   NaN     NaN      NaN          NaN            NaN
31186933             NaN   NaN     NaN      NaN          NaN            NaN
31186934             1.0   2.0     2.0      2.0          2.0            2.0
31285239             NaN   NaN     NaN      NaN          NaN            NaN
31416319             NaN   NaN     NaN      NaN          NaN            NaN

          other_m_money  digital_card  moneygram  other
31416320            NaN           NaN        NaN    NaN
31416321            NaN           NaN        NaN    NaN
31416322            NaN           NaN        NaN    NaN
31416323            NaN           NaN        NaN    NaN
31416324            NaN           NaN        NaN    NaN
...                 ...           ...        ...    ...
31186932            NaN           NaN        NaN    NaN
31186933            NaN           NaN        NaN    NaN
31186934            2.0           2.0        2.0    2.0
31285239            NaN           NaN        NaN    NaN

key=tan_H11namespace(answers={'yes': 1, 'no': 2}, column_dict={'direct_deposit': 1, 'cash': 2, 'cheque': 3, 'courier': 4, 'own_m_money': 5, 'agent_m_money': 6, 'other_m_money': 7, 'digital_card': 8, 'moneygram': 9, 'other': 10}, country='tan', df=          direct_deposit  cash  cheque  courier  own_m_money  agent_m_money  \
29073409             NaN   NaN     NaN      NaN          NaN            NaN
29007876             NaN   NaN     NaN      NaN          NaN            NaN
28852233             NaN   NaN     NaN      NaN          NaN            NaN
28852234             NaN   NaN     NaN      NaN          NaN            NaN
28975115             NaN   NaN     NaN      NaN          NaN            NaN
...                  ...   ...     ...      ...          ...            ...
28884943             NaN   NaN     NaN      NaN          NaN            NaN
28901353             NaN   NaN     NaN      NaN          NaN            NaN
28909557             NaN   NaN     NaN      NaN          NaN            NaN
28909558             NaN   NaN     NaN      NaN          NaN            NaN
29351928             NaN   NaN     NaN      NaN          NaN            NaN

          other_m_money  digital_card  moneygram  other
29073409            NaN           NaN        NaN    NaN
29007876            NaN           NaN        NaN    NaN
28852233            NaN           NaN        NaN    NaN
28852234            NaN           NaN        NaN    NaN
28975115            NaN           NaN        NaN    NaN
...                 ...           ...        ...    ...
28884943            NaN           NaN        NaN    NaN
28901353            NaN           NaN        NaN    NaN
28909557            NaN           NaN        NaN    NaN
28909558            NaN           NaN        NaN    NaN
29351928            NaN           NaN        NaN    NaN

[2812 rows x 10 columns], df_name='tan_rr', label='H11', qtype='multi', survey='rr', text='You said you receive a payment from the government (benefits, welfare, stipend, grant or another payment). How do you usually get this payment?')
key=uga_H11namespace(answers={'yes': 1, 'no': 2}, column_dict={'direct_deposit': 1, 'cash': 2, 'cheque': 3, 'courier': 4, 'own_m_money': 6, 'agent_m_money': 7, 'other_m_money': 8, 'digital_card': 9, 'moneygram': 10, 'other': 11}, country='uga', df=          direct_deposit  cash  cheque  courier  own_m_money  agent_m_money  \
23068679             NaN   NaN     NaN      NaN          NaN            NaN
22716424             NaN   NaN     NaN      NaN          NaN            NaN
22716425             NaN   NaN     NaN      NaN          NaN            NaN
23306249             NaN   NaN     NaN      NaN          NaN            NaN
22945803             NaN   NaN     NaN      NaN          NaN            NaN
...                  ...   ...     ...      ...          ...            ...
23306221             NaN   NaN     NaN      NaN          NaN            NaN
23306222             NaN   NaN     NaN      NaN          NaN            NaN
22872056             NaN   NaN     NaN      NaN          NaN            NaN
22904826             NaN   NaN     NaN      NaN          NaN            NaN
22945787             NaN   NaN     NaN      NaN          NaN            NaN

          other_m_money  digital_card  moneygram  other
23068679            NaN           NaN        NaN    NaN
22716424            NaN           NaN        NaN    NaN
22716425            NaN           NaN        NaN    NaN
23306249            NaN           NaN        NaN    NaN
22945803            NaN           NaN        NaN    NaN
...                 ...           ...        ...    ...
23306221            NaN           NaN        NaN    NaN
23306222            NaN           NaN        NaN    NaN
22872056            NaN           NaN        NaN    NaN
22904826            NaN           NaN        NaN    NaN
22945787            NaN           NaN        NaN    NaN

[2859 rows x 10 columns], df_name='uga_rr', label='H11', qtype='multi', survey='rr', text='You said you receive a payment from the government (benefits, welfare, stipend, grant or another payment). How do you usually get this payment?')
key=bgd_H14namespace(answers={'weekly': 1, 'monthly': 2, 'few_times_a_year': 3, 'annually': 4, 'according_to_harvest': 5, 'never': 6}, column_dict={'groceries': 1, 'transportation': 2, 'medical': 3, 'education': 4, 'bills': 5, 'emergencies': 6, 'investments': 7, 'large_purchases': 8, 'home_repairs': 9, 'other': 10}, country='bgd', df=        groceries  transportation  medical  education  bills  emergencies  \
1             1.0             1.0      2.0        6.0    2.0          3.0
2             1.0             1.0      1.0        2.0    2.0          3.0
3             1.0             1.0      2.0        1.0    2.0          3.0
4             1.0             2.0      1.0        2.0    2.0          2.0
5             1.0             5.0      2.0        2.0    6.0          3.0
...           ...             ...      ...        ...    ...          ...
800129        1.0             1.0      1.0        6.0    4.0          NaN
800130        1.0             1.0      1.0        2.0    3.0          4.0
800131        1.0             1.0      2.0        3.0    2.0          6.0
800132        1.0             1.0      2.0        2.0    6.0          6.0
800133        1.0             1.0      1.0        3.0    3.0          6.0

        investments  large_purchases  home_repairs  other
1               1.0              3.0           4.0    6.0
2               2.0              4.0           3.0    6.0
3               NaN              4.0           3.0    6.0
4               6.0              6.0           4.0    6.0
5               5.0              6.0           4.0    6.0
...             ...              ...           ...    ...
800129          6.0              6.0           4.0    6.0
800130          4.0              4.0           4.0    6.0
800131          5.0              5.0           4.0    6.0
800132          6.0              6.0           5.0    6.0
800133          5.0              5.0           5.0    6.0

[3136 rows x 10 columns], df_name='bgd_rr', label='H14', qtype='multi', survey='rr', text='How often do you make each of the following expenses?')
key=cdi_H14namespace(answers={'weekly': 1, 'monthly': 2, 'few_times_a_year': 3, 'annually': 4, 'according_to_harvest': 5, 'never': 6}, column_dict={'groceries': 1, 'transportation': 2, 'medical': 3, 'education': 4, 'bills': 5, 'emergencies': 6, 'investments': 7, 'large_purchases': 8, 'home_repairs': 9, 'other': 10}, country='cdi', df=          groceries  transportation  medical  education  bills  emergencies  \
31416320        1.0             1.0      3.0        4.0    3.0          3.0
31416321        1.0             1.0      3.0        6.0    3.0          3.0
31416322        1.0             2.0      6.0        6.0    6.0          6.0
31416323        1.0             1.0      6.0        6.0    6.0          6.0
31416324        1.0             1.0      6.0        6.0    3.0          6.0
...             ...             ...      ...        ...    ...          ...
31186932        2.0             2.0      4.0        NaN    2.0          NaN
31186933        2.0             2.0      4.0        6.0    6.0          NaN
31186934        2.0             1.0      3.0        4.0    1.0          NaN
31285239        6.0             4.0      3.0        3.0    6.0          3.0
31416319        1.0             1.0      3.0        4.0    3.0          3.0

          investments  large_purchases  home_repairs  other
31416320          3.0              6.0           3.0    NaN
31416321          3.0              6.0           3.0    6.0
31416322          6.0              6.0           6.0    NaN
31416323          6.0              6.0           6.0    6.0
31416324          6.0              6.0           6.0    6.0
...               ...              ...           ...    ...
31186932          5.0              5.0           6.0    NaN
31186933          3.0              5.0           5.0    NaN
31186934          4.0              6.0           5.0    NaN
31285239          6.0              6.0           3.0    6.0
31416319          6.0              6.0           3.0    NaN

[3002 rows x 10 columns], df_name='cdi_rr', label='H14', qtype='multi', survey='rr', text='How often do you make each of the following expenses?')
key=moz_H14namespace(answers={'weekly': 1, 'monthly': 2, 'few_times_a_year': 3, 'annually': 4, 'according_to_harvest': 5, 'never': 6}, column_dict={'groceries': 1, 'transportation': 2, 'medical': 3, 'education': 4, 'bills': 5, 'emergencies': 6, 'investments': 7, 'large_purchases': 8, 'home_repairs': 9, 'other': 10}, country='moz', df=          groceries  transportation  medical  education  bills  emergencies  \
22552580        NaN             NaN      NaN        NaN    NaN          NaN
22487045        2.0             2.0      3.0        6.0    6.0          6.0
22159366        6.0             3.0      4.0        4.0    4.0          6.0
22790149        2.0             5.0      5.0        6.0    5.0          5.0
22790150        6.0             2.0      5.0        6.0    3.0          5.0
...             ...             ...      ...        ...    ...          ...
22757331        2.0             1.0      3.0        4.0    3.0          6.0
22552539        6.0             1.0      3.0        6.0    6.0          6.0
22200293        1.0             1.0      1.0        4.0    6.0          6.0
22102008        2.0             1.0      2.0        4.0    4.0          6.0
22167545        1.0             1.0      2.0        1.0    6.0          6.0

          investments  large_purchases  home_repairs  other
22552580          NaN              NaN           4.0    NaN
22487045          6.0              6.0           3.0    6.0
22159366          6.0              6.0           3.0    6.0
22790149          5.0              6.0           6.0    6.0
22790150          6.0              6.0           5.0    5.0
...               ...              ...           ...    ...
22757331          6.0              6.0           3.0    NaN
22552539          6.0              6.0           6.0    6.0
22200293          4.0              4.0           1.0    NaN
22102008          6.0              4.0           2.0    NaN
22167545          1.0              3.0           2.0    NaN

[2462 rows x 10 columns], df_name='moz_rr', label='H14', qtype='multi', survey='rr', text='How often do you make each of the following expenses?')
key=nga_H14namespace(answers={'weekly': 1, 'monthly': 2, 'few_times_a_year': 3, 'annually': 4, 'according_to_harvest': 5, 'never': 6}, column_dict={'groceries': 1, 'transportation': 2, 'medical': 3, 'education': 4, 'bills': 5, 'emergencies': 6, 'investments': 7, 'large_purchases': 8, 'home_repairs': 9, 'other': 10}, country='nga', df=          groceries  transportation  medical  education  bills  emergencies  \
40509448        1.0             1.0      3.0        6.0    1.0          6.0
40509449        1.0             2.0      6.0        3.0    1.0          6.0
40503694        6.0             1.0      6.0        6.0    6.0          6.0
40503695        6.0             2.0      6.0        3.0    6.0          6.0
40542247        2.0             2.0      3.0        3.0    1.0          6.0
...             ...             ...      ...        ...    ...          ...
40501230        1.0             1.0      3.0        3.0    2.0          4.0
40525806        3.0             1.0      3.0        3.0    6.0          3.0
40304631        2.0             3.0      2.0        2.0    2.0          6.0
40344123        1.0             1.0      3.0        3.0    NaN          3.0
40344124        1.0             1.0      3.0        3.0    6.0          3.0

          investments  large_purchases  home_repairs  other
40509448          2.0              6.0           3.0    6.0
40509449          6.0              6.0           6.0    6.0
40503694          3.0              6.0           6.0    6.0
40503695          4.0              6.0           6.0    6.0
40542247          6.0              4.0           2.0    6.0
...               ...              ...           ...    ...
40501230          5.0              4.0           4.0    NaN
40525806          5.0              4.0           3.0    6.0
40304631          2.0              2.0           5.0    NaN
40344123          3.0              4.0           3.0    NaN
40344124          3.0              6.0           3.0    NaN

[2858 rows x 10 columns], df_name='nga_rr', label='H14', qtype='multi', survey='rr', text='How often do you make each of the following expenses?')
key=tan_H14namespace(answers={'weekly': 1, 'monthly': 2, 'few_times_a_year': 3, 'annually': 4, 'according_to_harvest': 5, 'never': 6}, column_dict={'groceries': 1, 'transportation': 2, 'medical': 3, 'education': 4, 'bills': 5, 'emergencies': 6, 'investments': 7, 'large_purchases': 8, 'home_repairs': 9, 'other': 10}, country='tan', df=          groceries  transportation  medical  education  bills  emergencies  \
29073409        1.0             5.0      3.0        5.0    6.0          3.0
29007876        1.0             3.0      2.0        3.0    3.0          3.0
28852233        1.0             4.0      2.0        3.0    6.0          3.0
28852234        1.0             6.0      2.0        3.0    6.0          2.0
28975115        2.0             2.0      2.0        3.0    3.0          2.0
...             ...             ...      ...        ...    ...          ...
28884943        1.0             5.0      4.0        6.0    2.0          5.0
28901353        1.0             5.0      2.0        2.0    1.0          3.0
28909557        1.0             6.0      6.0        3.0    6.0          6.0
28909558        1.0             6.0      6.0        2.0    2.0          6.0
29351928        1.0             6.0      1.0        2.0    6.0          6.0

          investments  large_purchases  home_repairs  other
29073409          4.0              5.0           5.0    6.0
29007876          3.0              6.0           3.0    6.0
28852233          4.0              4.0           4.0    6.0
28852234          6.0              6.0           4.0    6.0
28975115          3.0              3.0           4.0    6.0
...               ...              ...           ...    ...
28884943          3.0              5.0           5.0    NaN
28901353          2.0              6.0           6.0    6.0
28909557          6.0              6.0           6.0    6.0
28909558          6.0              6.0           3.0    NaN
29351928          6.0              6.0           4.0    6.0

[2812 rows x 10 columns], df_name='tan_rr', label='H14', qtype='multi', survey='rr', text='How often do you make each of the following expenses?')
key=uga_H14namespace(answers={'weekly': 1, 'monthly': 2, 'few_times_a_year': 3, 'annually': 4, 'according_to_harvest': 5, 'never': 6}, column_dict={'groceries': 1, 'transportation': 2, 'medical': 3, 'education': 4, 'bills': 5, 'emergencies': 6, 'investments': 7, 'large_purchases': 8, 'home_repairs': 9, 'other': 10}, country='uga', df=          groceries  transportation  medical  education  bills  emergencies  \
23068679        1.0             1.0      3.0        6.0    1.0          6.0
22716424        1.0             1.0      2.0        3.0    1.0          2.0
22716425        1.0             2.0      3.0        3.0    1.0          6.0
23306249        1.0             2.0      NaN        2.0    6.0          NaN
22945803        1.0             5.0      3.0        3.0    3.0          NaN
...             ...             ...      ...        ...    ...          ...
23306221        3.0             3.0      3.0        6.0    6.0          6.0
23306222        5.0             6.0      6.0        6.0    6.0          3.0
22872056        3.0             1.0      2.0        1.0    2.0          1.0
22904826        1.0             1.0      2.0        3.0    1.0          NaN
22945787        1.0             5.0      3.0        3.0    3.0          6.0

          investments  large_purchases  home_repairs  other
23068679          5.0              6.0           3.0    6.0
22716424          3.0              4.0           4.0    NaN
22716425          2.0              6.0           5.0    NaN
23306249          5.0              6.0           6.0    NaN
22945803          3.0              6.0           6.0    NaN
...               ...              ...           ...    ...
23306221          3.0              6.0           6.0    6.0
23306222          6.0              6.0           6.0    6.0
22872056          2.0              2.0           2.0    NaN
22904826          3.0              3.0           3.0    NaN
22945787          6.0              6.0           6.0    NaN

[2859 rows x 10 columns], df_name='uga_rr', label='H14', qtype='multi', survey='rr', text='How often do you make each of the following expenses?')
key=bgd_F62namespace(answers={'cannot_read': 1, 'read_parts': 2, 'read_all': 3}, country='bgd', df=        F62
1       2.0
2       NaN
3       NaN
4       NaN
5       NaN
...     ...
800129  1.0
800130  1.0
800131  1.0
800132  1.0
800133  NaN

[3136 rows x 1 columns], df_name='bgd_rr', label='F62', qtype='single', survey='rr', text='Can you read any part of these sentences to me?')
key=cdi_F62namespace(answers={'cannot_read': 1, 'read_parts': 2, 'read_all': 3}, country='cdi', df=          F62
31416320  1.0
31416321  1.0
31416322  1.0
31416323  1.0
31416324  1.0
...       ...
31186932  1.0
31186933  1.0
31186934  1.0
31285239  1.0
31416319  1.0

[3002 rows x 1 columns], df_name='cdi_rr', label='F62', qtype='single', survey='rr', text='Can you read any part of these sentences to me?')

key=moz_F62namespace(answers={'cannot_read': 1, 'read_parts': 2, 'read_all': 3}, country='moz', df=          F62
22552580  NaN
22487045  1.0
22159366  2.0
22790149  2.0
22790150  6.0
...       ...
22757331  NaN
22552539  NaN
22200293  6.0
22102008  NaN
22167545  NaN

[2462 rows x 1 columns], df_name='moz_rr', label='F62', qtype='single', survey='rr', text='Can you read any part of these sentences to me?')
key=nga_F62namespace(answers={'cannot_read': 1, 'read_parts': 2, 'read_all': 3}, country='nga', df=          F62
40509448  NaN
40509449  NaN
40503694  3.0
40503695  1.0
40542247  NaN
...       ...
40501230  NaN
40525806  3.0
40304631  NaN
40344123  NaN
40344124  NaN

[2858 rows x 1 columns], df_name='nga_rr', label='F62', qtype='single', survey='rr', text='Can you read any part of these sentences to me?')
key=tan_F62namespace(answers={'cannot_read': 1, 'read_parts': 2, 'read_all': 3}, country='tan', df=          F62
29073409  3.0
29007876  2.0
28852233  1.0
28852234  3.0
28975115  2.0
...       ...
28884943  3.0
28901353  1.0
28909557  1.0
28909558  3.0
29351928  3.0

[2812 rows x 1 columns], df_name='tan_rr', label='F62', qtype='single', survey='rr', text='Can you read any part of these sentences to me?')
key=uga_F62namespace(answers={'cannot_read': 1, 'read_parts': 2, 'read_all': 3}, country='uga', df=          F62
23068679  2.0
22716424  4.0
22716425  NaN
23306249  1.0
22945803  2.0
...       ...
23306221  NaN
23306222  NaN
22872056  3.0
22904826  2.0
22945787  1.0

[2859 rows x 1 columns], df_name='uga_rr', label='F62', qtype='single', survey='rr', text='Can you read any part of these sentences to me?')
key=bgd_A99namespace(answers={'yes': 1, 'no': 2}, country='bgd', df=        A99
1         2
2         2
3         2
4         1
5         1
...     ...
800129    1
800130    1
800131    1
800132    1
800133    1

[3095 rows x 1 columns], df_name='bgd_sr', label='A99', qtype='single', survey='sr', text='Do you participate in household agricultural activities?')
key=cdi_A99namespace(answers={'yes': 1, 'no': 2}, country='cdi', df=          A99
31028570    2
31028571    1
31036603    2
31038817    1
31040474    1
...       ...
32261521    1
32261522    1
32261524    1
32280062    1
32280063    1

[2949 rows x 1 columns], df_name='cdi_sr', label='A99', qtype='single', survey='sr', text='Do you participate in household agricultural activities?')
key=moz_A99namespace(answers={'yes': 1, 'no': 2}, country='moz', df=          A99
21948170  2.0
21948180  1.0
21948779  1.0
21951744  1.0
21955646  2.0
...       ...
23315711  1.0
23324438  1.0
23324440  NaN
23324645  NaN
23324649  1.0

[2574 rows x 1 columns], df_name='moz_sr', label='A99', qtype='single', survey='sr', text='Do you participate in household agricultural activities?')
key=nga_A99namespace(answers={'yes': 1, 'no': 2}, country='nga', df=          A99
40127279    1
40134046    1
40135889    1
40143258    1
40144462    1
...       ...
41076184    1
41076185    1
41076186    1
41076187    1
41076188    1

[2773 rows x 1 columns], df_name='nga_sr', label='A99', qtype='single', survey='sr', text='Do you participate in household agricultural activities?')
key=tan_A99namespace(answers={'yes': 1, 'no': 2}, country='tan', df=          A99
28845992    1
29265802    1
28901706    1
29302230    1
28910973    1
...       ...
29319386    2
28924835    1
29010663    1
29555590    1
29198985    1

[2795 rows x 1 columns], df_name='tan_sr', label='A99', qtype='single', survey='sr', text='Do you participate in household agricultural activities?')
key=uga_A99namespace(answers={'yes': 1, 'no': 2}, country='uga', df=          A99
22678446    2
22678927    2
22679052    1
22679076    2
22679225    1
...       ...
23500842    1
23620542    2
23620647    1
23620678    1
23620722    2

[2771 rows x 1 columns], df_name='uga_sr', label='A99', qtype='single', survey='sr', text='Do you participate in household agricultural activities?')
key=bgd_A38namespace(answers={'less_than_two': 1, '2_to_5': 2, '6_to_10': 3, 'more_than_10': 4}, country='bgd', df=        A38
1       NaN
2       NaN
3       NaN
4       4.0
5       4.0
...     ...
800129  4.0
800130  4.0
800131  3.0
800132  2.0
800133  2.0

[3095 rows x 1 columns], df_name='bgd_sr', label='A38', qtype='single', survey='sr', text='How many years have you been farming?')
key=cdi_A38namespace(answers={'less_than_two': 1, '2_to_5': 2, '6_to_10': 3, 'more_than_10': 4}, country='cdi', df=          A38
31028570  NaN
31028571  4.0
31036603  NaN
31038817  3.0
31040474  4.0
...       ...
32261521  4.0
32261522  4.0
32261524  4.0
32280062  2.0
32280063  2.0

[2949 rows x 1 columns], df_name='cdi_sr', label='A38', qtype='single', survey='sr', text='How many years have you been farming?')
key=moz_A38namespace(answers={'less_than_two': 1, '2_to_5': 2, '6_to_10': 3, 'more_than_10': 4}, country='moz', df=          A38
21948170  NaN
21948180  3.0
21948779  4.0
21951744  4.0
21955646  NaN
...       ...
23315711  4.0
23324438  3.0
23324440  NaN
23324645  NaN
23324649  3.0

[2574 rows x 1 columns], df_name='moz_sr', label='A38', qtype='single', survey='sr', text='How many years have you been farming?')
key=nga_A38namespace(answers={'less_than_two': 1, '2_to_5': 2, '6_to_10': 3, 'more_than_10': 4}, country='nga', df=          A38
40127279  3.0
40134046  4.0
40135889  3.0
40143258  3.0
40144462  4.0
...       ...
41076184  2.0
41076185  3.0
41076186  2.0
41076187  2.0
41076188  1.0

[2773 rows x 1 columns], df_name='nga_sr', label='A38', qtype='single', survey='sr', text='How many years have you been farming?')
key=tan_A38namespace(answers={'less_than_two': 1, '2_to_5': 2, '6_to_10': 3, 'more_than_10': 4}, country='tan', df=          A38
28845992  4.0
29265802  4.0
28901706  3.0
29302230  2.0
28910973  1.0
...       ...
29319386  NaN
28924835  4.0
29010663  4.0
29555590  4.0
29198985  4.0

[2795 rows x 1 columns], df_name='tan_sr', label='A38', qtype='single', survey='sr', text='How many years have you been farming?')
key=uga_A38namespace(answers={'less_than_two': 1, '2_to_5': 2, '6_to_10': 3, 'more_than_10': 4}, country='uga', df=          A38
22678446  NaN
22678927  NaN
22679052  4.0
22679076  NaN
22679225  2.0
...       ...
23500842  4.0
23620542  NaN
23620647  3.0
23620678  2.0
23620722  NaN

[2771 rows x 1 columns], df_name='uga_sr', label='A38', qtype='single', survey='sr', text='How many years have you been farming?')
key=bgd_A39namespace(answers={'yes': 1, 'no': 2}, country='bgd', df=        A39
1       NaN
2       NaN
3       NaN
4       1.0
5       1.0
...     ...
800129  1.0
800130  1.0
800131  2.0
800132  1.0
800133  1.0

[3095 rows x 1 columns], df_name='bgd_sr', label='A39', qtype='single', survey='sr', text='Do you intend to keep working in agriculture?')
key=cdi_A39namespace(answers={'yes': 1, 'no': 2}, country='cdi', df=          A39
31028570  NaN
31028571  1.0
31036603  NaN
31038817  1.0
31040474  1.0
...       ...
32261521  1.0
32261522  1.0
32261524  1.0
32280062  1.0
32280063  1.0

[2949 rows x 1 columns], df_name='cdi_sr', label='A39', qtype='single', survey='sr', text='Do you intend to keep working in agriculture?')
key=moz_A39namespace(answers={'yes': 1, 'no': 2}, country='moz', df=          A39
21948170  NaN
21948180  1.0
21948779  1.0
21951744  1.0
21955646  NaN
...       ...
23315711  1.0
23324438  1.0
23324440  NaN
23324645  NaN
23324649  1.0

[2574 rows x 1 columns], df_name='moz_sr', label='A39', qtype='single', survey='sr', text='Do you intend to keep working in agriculture?')
key=nga_A39namespace(answers={'yes': 1, 'no': 2}, country='nga', df=          A39
40127279  1.0
40134046  1.0
40135889  2.0
40143258  1.0
40144462  1.0
...       ...
41076184  NaN
41076185  NaN
41076186  2.0
41076187  1.0
41076188  NaN

[2773 rows x 1 columns], df_name='nga_sr', label='A39', qtype='single', survey='sr', text='Do you intend to keep working in agriculture?')
key=tan_A39namespace(answers={'yes': 1, 'no': 2}, country='tan', df=          A39
28845992  1.0
29265802  1.0
28901706  1.0
29302230  1.0
28910973  1.0
...       ...
29319386  NaN
28924835  1.0
29010663  1.0
29555590  2.0
29198985  1.0

[2795 rows x 1 columns], df_name='tan_sr', label='A39', qtype='single', survey='sr', text='Do you intend to keep working in agriculture?')
key=uga_A39namespace(answers={'yes': 1, 'no': 2}, country='uga', df=          A39
22678446  NaN
22678927  NaN
22679052  1.0
22679076  NaN
22679225  1.0
...       ...
23500842  1.0
23620542  NaN
23620647  2.0
23620678  1.0
23620722  NaN

[2771 rows x 1 columns], df_name='uga_sr', label='A39', qtype='single', survey='sr', text='Do you intend to keep working in agriculture?')
key=bgd_A41namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'enjoy_agriculture': 1, 'want_ag_work_only': 2, 'want_expand': 3, 'would_take_offered_job': 4, 'am_satisfied': 5, 'my_legacy': 6, 'make_ends_meet': 7, 'want_children_continue': 8}, country='bgd', df=        enjoy_agriculture  want_ag_work_only  want_expand  \
1                     NaN                NaN          NaN
2                     NaN                NaN          NaN
3                     NaN                NaN          NaN
4                     1.0                1.0          1.0
5                     1.0                2.0          1.0
...                   ...                ...          ...
800129                1.0                2.0          1.0
800130                1.0                1.0          1.0
800131                2.0                2.0          2.0
800132                1.0                2.0          1.0
800133                1.0                2.0          1.0

        would_take_offered_job  am_satisfied  my_legacy  make_ends_meet  \
1                          NaN           NaN        NaN             NaN
2                          NaN           NaN        NaN             NaN
3                          NaN           NaN        NaN             NaN
4                          2.0           2.0        2.0             1.0
5                          2.0           2.0        2.0             1.0
...                        ...           ...        ...             ...
800129                     1.0           2.0        2.0             1.0
800130                     2.0           1.0        1.0             1.0
800131                     2.0           2.0        2.0             2.0
800132                     2.0           1.0        1.0             1.0
800133                     2.0           1.0        1.0             1.0

        want_children_continue
1                          NaN
2                          NaN
3                          NaN
4                          2.0
5                          2.0
...                        ...
800129                     2.0
800130                     1.0
800131                     2.0
800132                     2.0
800133                     2.0

[3095 rows x 8 columns], df_name='bgd_sr', label='A41', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements')

key=cdi_A41namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'enjoy_agriculture': 1, 'want_ag_work_only': 2, 'want_expand': 3, 'would_take_offered_job': 4, 'am_satisfied': 5, 'my_legacy': 6, 'make_ends_meet': 7, 'want_children_continue': 8}, country='cdi', df=          enjoy_agriculture  want_ag_work_only  want_expand  \
31028570                NaN                NaN          NaN
31028571                1.0                2.0          1.0
31036603                NaN                NaN          NaN
31038817                1.0                2.0          1.0
31040474                1.0                1.0          1.0
...                     ...                ...          ...
32261521                1.0                2.0          1.0
32261522                1.0                2.0          1.0
32261524                1.0                1.0          1.0
32280062                1.0                1.0          1.0
32280063                1.0                1.0          1.0

          would_take_offered_job  am_satisfied  my_legacy  make_ends_meet  \
31028570                     NaN           NaN        NaN             NaN
31028571                     2.0           2.0        1.0             2.0
31036603                     NaN           NaN        NaN             NaN
31038817                     1.0           2.0        1.0             1.0
31040474                     2.0           2.0        1.0             1.0
...                          ...           ...        ...             ...
32261521                     2.0           1.0        1.0             2.0
32261522                     2.0           2.0        1.0             1.0
32261524                     2.0           1.0        1.0             1.0
32280062                     1.0           1.0        1.0             NaN
32280063                     1.0           1.0        1.0             2.0

          want_children_continue
31028570                     NaN
31028571                     2.0
31036603                     NaN
31038817                     2.0
31040474                     2.0
...                          ...
32261521                     1.0
32261522                     1.0
32261524                     1.0
32280062                     1.0
32280063                     2.0

[2949 rows x 8 columns], df_name='cdi_sr', label='A41', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements')
key=moz_A41namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'enjoy_agriculture': 1, 'want_ag_work_only': 2, 'want_expand': 3, 'would_take_offered_job': 4, 'am_satisfied': 5, 'my_legacy': 6, 'make_ends_meet': 7, 'want_children_continue': 8}, country='moz', df=          enjoy_agriculture  want_ag_work_only  want_expand  \
21948170                NaN                NaN          NaN
21948180                1.0                2.0          1.0
21948779                1.0                2.0          1.0
21951744                1.0                2.0          2.0
21955646                NaN                NaN          NaN
...                     ...                ...          ...
23315711                1.0                1.0          1.0
23324438                1.0                1.0          2.0
23324440                NaN                NaN          NaN
23324645                NaN                NaN          NaN
23324649                1.0                2.0          1.0

          would_take_offered_job  am_satisfied  my_legacy  make_ends_meet  \
21948170                     NaN           NaN        NaN             NaN
21948180                     1.0           2.0        1.0             1.0
21948779                     1.0           1.0        2.0             2.0
21951744                     2.0           1.0        1.0             2.0
21955646                     NaN           NaN        NaN             NaN
...                          ...           ...        ...             ...
23315711                     1.0           1.0        1.0             1.0
23324438                     2.0           2.0        1.0             1.0
23324440                     NaN           NaN        NaN             NaN
23324645                     NaN           NaN        NaN             NaN
23324649                     2.0           1.0        2.0             1.0

          want_children_continue
21948170                     NaN
21948180                     1.0
21948779                     2.0
21951744                     2.0
21955646                     NaN
...                          ...
23315711                     1.0
23324438                     2.0
23324440                     NaN
23324645                     NaN
23324649                     1.0

[2574 rows x 8 columns], df_name='moz_sr', label='A41', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements')
key=nga_A41namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'enjoy_agriculture': 1, 'want_ag_work_only': 2, 'want_expand': 3, 'would_take_offered_job': 4, 'am_satisfied': 5, 'my_legacy': 6, 'make_ends_meet': 7, 'want_children_continue': 8}, country='nga', df=          enjoy_agriculture  want_ag_work_only  want_expand  \
40127279                1.0                1.0          1.0
40134046                1.0                1.0          1.0
40135889                2.0                2.0          2.0
40143258                1.0                1.0          1.0
40144462                1.0                1.0          1.0
...                     ...                ...          ...
41076184                1.0                1.0          2.0
41076185                2.0                2.0          1.0
41076186                NaN                1.0          1.0
41076187                1.0                1.0          1.0
41076188                1.0                2.0          2.0

          would_take_offered_job  am_satisfied  my_legacy  make_ends_meet  \
40127279                     2.0           1.0        1.0             1.0
40134046                     1.0           1.0        1.0             1.0
40135889                     2.0           2.0        2.0             1.0
40143258                     2.0           1.0        1.0             1.0
40144462                     2.0           1.0        1.0             1.0
...                          ...           ...        ...             ...
41076184                     2.0           2.0        1.0             1.0
41076185                     2.0           2.0        2.0             1.0
41076186                     2.0           2.0        2.0             2.0
41076187                     1.0           2.0        1.0             1.0
41076188                     1.0           2.0        2.0             1.0

          want_children_continue
40127279                     2.0
40134046                     1.0
40135889                     2.0
40143258                     1.0
40144462                     1.0
...                          ...
41076184                     2.0
41076185                     2.0
41076186                     2.0
41076187                     1.0
41076188                     NaN

[2773 rows x 8 columns], df_name='nga_sr', label='A41', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements')
key=tan_A41namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'enjoy_agriculture': 1, 'want_ag_work_only': 2, 'want_expand': 3, 'would_take_offered_job': 4, 'am_satisfied': 5, 'my_legacy': 6, 'make_ends_meet': 7, 'want_children_continue': 8}, country='tan', df=          enjoy_agriculture  want_ag_work_only  want_expand  \
28845992                1.0                1.0          1.0
29265802                1.0                2.0          1.0
28901706                1.0                2.0          1.0
29302230                1.0                2.0          1.0
28910973                1.0                1.0          1.0
...                     ...                ...          ...
29319386                NaN                NaN          NaN
28924835                1.0                2.0          1.0
29010663                1.0                2.0          1.0
29555590                1.0                2.0          1.0
29198985                1.0                2.0          1.0

          would_take_offered_job  am_satisfied  my_legacy  make_ends_meet  \
28845992                     2.0           1.0        1.0             1.0
29265802                     1.0           2.0        1.0             1.0
28901706                     1.0           1.0        1.0             1.0
29302230                     1.0           1.0        NaN             NaN
28910973                     1.0           1.0        1.0             1.0
...                          ...           ...        ...             ...
29319386                     NaN           NaN        NaN             NaN
28924835                     2.0           2.0        1.0             2.0
29010663                     2.0           1.0        1.0             1.0
29555590                     1.0           2.0        1.0             1.0
29198985                     1.0           1.0        1.0             1.0

          want_children_continue
28845992                     1.0
29265802                     2.0
28901706                     2.0
29302230                     NaN
28910973                     1.0
...                          ...
29319386                     NaN
28924835                     1.0
29010663                     1.0
29555590                     1.0
29198985                     1.0

[2795 rows x 8 columns], df_name='tan_sr', label='A41', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements')
key=uga_A41namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'enjoy_agriculture': 1, 'want_ag_work_only': 2, 'want_expand': 3, 'would_take_offered_job': 4, 'am_satisfied': 5, 'my_legacy': 6, 'make_ends_meet': 7, 'want_children_continue': 8}, country='uga', df=          enjoy_agriculture  want_ag_work_only  want_expand  \
22678446                NaN                NaN          NaN
22678927                NaN                NaN          NaN
22679052                1.0                1.0          1.0
22679076                NaN                NaN          NaN
22679225                1.0                1.0          1.0
...                     ...                ...          ...
23500842                1.0                2.0          1.0
23620542                NaN                NaN          NaN
23620647                1.0                2.0          1.0
23620678                1.0                2.0          1.0
23620722                NaN                NaN          NaN

          would_take_offered_job  am_satisfied  my_legacy  make_ends_meet  \
22678446                     NaN           NaN        NaN             NaN
22678927                     NaN           NaN        NaN             NaN
22679052                     2.0           1.0        1.0             1.0
22679076                     NaN           NaN        NaN             NaN
22679225                     1.0           2.0        1.0             2.0
...                          ...           ...        ...             ...
23500842                     1.0           2.0        2.0             1.0
23620542                     NaN           NaN        NaN             NaN
23620647                     2.0           1.0        2.0             2.0
23620678                     1.0           2.0        2.0             2.0
23620722                     NaN           NaN        NaN             NaN

          want_children_continue
22678446                     NaN
22678927                     NaN
22679052                     1.0
22679076                     NaN
22679225                     1.0
...                          ...
23500842                     2.0
23620542                     NaN
23620647                     2.0
23620678                     2.0
23620722                     NaN

[2771 rows x 8 columns], df_name='uga_sr', label='A41', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements')
key=bgd_A42namespace(answers={'yes': 1, 'no': 2}, column_dict={'plant_weed_harvest': 1, 'exporting': 2, 'union': 3, 'savings': 4, 'women': 5, 'processors': 6, 'cooperative': 7, 'implements': 8, 'ICM_CLUB': 9, 'water_users': 10, 'livestock': 11, 'other': 12}, country='bgd', df=        plant_weed_harvest  exporting  union  savings  women  processors  \
1                      NaN        NaN    NaN      NaN    NaN         NaN
2                      NaN        NaN    NaN      NaN    NaN         NaN
3                      NaN        NaN    NaN      NaN    NaN         NaN
4                      2.0        2.0    2.0      2.0    2.0         2.0
5                      2.0        2.0    2.0      2.0    2.0         2.0
...                    ...        ...    ...      ...    ...         ...
800129                 2.0        2.0    2.0      2.0    2.0         2.0
800130                 2.0        2.0    2.0      2.0    2.0         2.0
800131                 2.0        2.0    2.0      2.0    2.0         2.0
800132                 2.0        2.0    2.0      2.0    2.0         2.0
800133                 2.0        2.0    2.0      2.0    2.0         2.0

        cooperative  implements  ICM_CLUB  water_users  livestock  other
1               NaN         NaN       NaN          NaN        NaN    NaN
2               NaN         NaN       NaN          NaN        NaN    NaN
3               NaN         NaN       NaN          NaN        NaN    NaN
4               2.0         2.0       2.0          2.0        2.0    2.0
5               2.0         2.0       2.0          2.0        2.0    2.0
...             ...         ...       ...          ...        ...    ...
800129          2.0         2.0       2.0          2.0        2.0    2.0
800130          2.0         2.0       2.0          2.0        2.0    2.0
800131          2.0         2.0       2.0          2.0        2.0    2.0
800132          2.0         2.0       2.0          2.0        2.0    2.0
800133          2.0         2.0       2.0          2.0        2.0    2.0

[3095 rows x 12 columns], df_name='bgd_sr', label='A42', qtype='multi', survey='sr', text='Are you a member of any of the following groups or associations?')
key=cdi_A42namespace(answers={'yes': 1, 'no': 2}, column_dict={'plant_weed_harvest': 1, 'exporting': 2, 'union': 3, 'savings': 4, 'women': 5, 'processors': 6, 'cooperative': 7, 'implements': 8, 'water_users': 9, 'livestock': 10, 'other': 11}, country='cdi', df=          plant_weed_harvest  exporting  union  savings  women  processors  \
31028570                 NaN        NaN    NaN      NaN    NaN         NaN
31028571                 2.0        2.0    2.0      2.0    2.0         2.0
31036603                 NaN        NaN    NaN      NaN    NaN         NaN
31038817                 2.0        2.0    2.0      2.0    2.0         2.0
31040474                 2.0        2.0    2.0      2.0    2.0         2.0
...                      ...        ...    ...      ...    ...         ...
32261521                 2.0        2.0    2.0      2.0    2.0         2.0
32261522                 2.0        2.0    2.0      2.0    2.0         2.0
32261524                 2.0        2.0    2.0      2.0    2.0         2.0
32280062                 1.0        2.0    2.0      2.0    2.0         2.0
32280063                 1.0        2.0    2.0      2.0    2.0         2.0

          cooperative  implements  water_users  livestock  other
31028570          NaN         NaN          NaN        NaN    NaN
31028571          1.0         2.0          2.0        2.0    2.0
31036603          NaN         NaN          NaN        NaN    NaN
31038817          2.0         2.0          2.0        2.0    2.0
31040474          2.0         2.0          2.0        2.0    2.0
...               ...         ...          ...        ...    ...
32261521          2.0         2.0          2.0        2.0    2.0
32261522          2.0         2.0          2.0        2.0    2.0
32261524          2.0         2.0          2.0        2.0    2.0
32280062          2.0         2.0          2.0        2.0    2.0
32280063          2.0         2.0          2.0        2.0    2.0

[2949 rows x 11 columns], df_name='cdi_sr', label='A42', qtype='multi', survey='sr', text='Are you a member of any of the following groups or associations?')
key=moz_A42namespace(answers={'yes': 1, 'no': 2}, column_dict={'plant_weed_harvest': 1, 'exporting': 2, 'union': 3, 'savings': 4, 'women': 5, 'processors': 6, 'cooperative': 7, 'implements': 8, 'caixa': 11, 'other': 12}, country='moz', df=          plant_weed_harvest  exporting  union  savings  women  processors  \
21948170                 NaN        NaN    NaN      NaN    NaN         NaN
21948180                 2.0        2.0    2.0      2.0    2.0         2.0
21948779                 2.0        2.0    2.0      2.0    2.0         2.0
21951744                 2.0        2.0    2.0      2.0    2.0         2.0
21955646                 NaN        NaN    NaN      NaN    NaN         NaN
...                      ...        ...    ...      ...    ...         ...
23315711                 2.0        2.0    2.0      2.0    2.0         2.0
23324438                 1.0        1.0    2.0      1.0    2.0         2.0
23324440                 NaN        NaN    NaN      NaN    NaN         NaN
23324645                 NaN        NaN    NaN      NaN    NaN         NaN
23324649                 1.0        2.0    2.0      1.0    2.0         2.0

          cooperative  implements  caixa  other
21948170          NaN         NaN    NaN    NaN
21948180          2.0         2.0    2.0    2.0
21948779          2.0         2.0    2.0    2.0
21951744          2.0         2.0    2.0    2.0
21955646          NaN         NaN    NaN    NaN
...               ...         ...    ...    ...
23315711          2.0         2.0    2.0    2.0
23324438          1.0         2.0    2.0    1.0
23324440          NaN         NaN    NaN    NaN
23324645          NaN         NaN    NaN    NaN
23324649          2.0         2.0    2.0    1.0

[2574 rows x 10 columns], df_name='moz_sr', label='A42', qtype='multi', survey='sr', text='Are you a member of any of the following groups or associations?')
key=nga_A42namespace(answers={'yes': 1, 'no': 2}, column_dict={'plant_weed_harvest': 1, 'exporting': 2, 'union': 3, 'savings': 4, 'women': 5, 'processors': 6, 'cooperative': 7, 'implements': 8, 'sacco': 9, 'other': 10}, country='nga', df=          plant_weed_harvest  exporting  union  savings  women  processors  \
40127279                 2.0        2.0    2.0      2.0    2.0         2.0
40134046                 2.0        2.0    2.0      2.0    2.0         2.0
40135889                 2.0        2.0    2.0      2.0    2.0         2.0
40143258                 2.0        2.0    2.0      2.0    2.0         2.0
40144462                 2.0        2.0    2.0      2.0    2.0         2.0
...                      ...        ...    ...      ...    ...         ...
41076184                 1.0        1.0    2.0      2.0    1.0         1.0
41076185                 1.0        2.0    2.0      2.0    2.0         2.0
41076186                 1.0        1.0    2.0      1.0    2.0         1.0
41076187                 1.0        2.0    2.0      2.0    2.0         2.0
41076188                 2.0        2.0    2.0      2.0    2.0         2.0

          cooperative  implements  sacco  other
40127279          2.0         2.0    2.0    2.0
40134046          1.0         2.0    2.0    2.0
40135889          2.0         2.0    2.0    2.0
40143258          2.0         2.0    2.0    2.0
40144462          2.0         2.0    2.0    2.0
...               ...         ...    ...    ...
41076184          2.0         2.0    2.0    2.0
41076185          1.0         2.0    2.0    2.0
41076186          1.0         2.0    2.0    2.0
41076187          2.0         2.0    2.0    2.0

key=tan_A42namespace(answers={'yes': 1, 'no': 2}, column_dict={'plant_weed_harvest': 1, 'exporting': 2, 'union': 3, 'savings': 4, 'women': 5, 'processors': 6, 'cooperative': 7, 'implements': 8, 'sacco': 9, 'other': 10}, country='tan', df=          plant_weed_harvest  exporting  union  savings  women  processors  \
28845992                 2.0        2.0    2.0      2.0    2.0         2.0
29265802                 2.0        2.0    2.0      2.0    2.0         2.0
28901706                 1.0        2.0    2.0      2.0    2.0         2.0
29302230                 2.0        2.0    2.0      2.0    2.0         2.0
28910973                 2.0        2.0    2.0      2.0    2.0         2.0
...                      ...        ...    ...      ...    ...         ...
29319386                 NaN        NaN    NaN      NaN    NaN         NaN
28924835                 2.0        2.0    2.0      2.0    2.0         2.0
29010663                 2.0        2.0    2.0      2.0    2.0         2.0
29555590                 2.0        2.0    2.0      2.0    2.0         2.0
29198985                 2.0        2.0    2.0      2.0    2.0         2.0

          cooperative  implements  sacco  other
28845992          2.0         2.0    2.0    2.0
29265802          2.0         2.0    2.0    2.0
28901706          2.0         2.0    2.0    2.0
29302230          2.0         2.0    2.0    2.0
28910973          2.0         2.0    2.0    2.0
...               ...         ...    ...    ...
29319386          NaN         NaN    NaN    NaN
28924835          2.0         2.0    2.0    2.0
29010663          2.0         2.0    2.0    2.0
29555590          2.0         2.0    2.0    2.0
29198985          2.0         2.0    2.0    2.0

[2795 rows x 10 columns], df_name='tan_sr', label='A42', qtype='multi', survey='sr', text='Are you a member of any of the following groups or associations?')
key=uga_A42namespace(answers={'yes': 1, 'no': 2}, column_dict={'plant_weed_harvest': 1, 'exporting': 2, 'union': 3, 'savings': 4, 'women': 5, 'processors': 6, 'cooperative': 7, 'implements': 8, 'sacco': 9, 'other': 10}, country='uga', df=          plant_weed_harvest  exporting  union  savings  women  processors  \
22678446                 NaN        NaN    NaN      NaN    NaN         NaN
22678927                 NaN        NaN    NaN      NaN    NaN         NaN
22679052                 2.0        2.0    2.0      2.0    2.0         2.0
22679076                 NaN        NaN    NaN      NaN    NaN         NaN
22679225                 2.0        2.0    2.0      2.0    2.0         2.0
...                      ...        ...    ...      ...    ...         ...
23500842                 2.0        2.0    2.0      2.0    2.0         2.0
23620542                 NaN        NaN    NaN      NaN    NaN         NaN
23620647                 1.0        2.0    2.0      2.0    2.0         2.0
23620678                 2.0        2.0    2.0      2.0    2.0         2.0
23620722                 NaN        NaN    NaN      NaN    NaN         NaN

          cooperative  implements  sacco  other
22678446          NaN         NaN    NaN    NaN
22678927          NaN         NaN    NaN    NaN
22679052          2.0         2.0    2.0    2.0
22679076          NaN         NaN    NaN    NaN
22679225          2.0         2.0    2.0    2.0
...               ...         ...    ...    ...
23500842          2.0         2.0    2.0    2.0
23620542          NaN         NaN    NaN    NaN
23620647          2.0         2.0    2.0    2.0
23620678          2.0         2.0    1.0    2.0
23620722          NaN         NaN    NaN    NaN

[2771 rows x 10 columns], df_name='uga_sr', label='A42', qtype='multi', survey='sr', text='Are you a member of any of the following groups or associations?')
key=bgd_A43namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'business_advice': 1, 'farming_advice': 2, 'marketing': 3, 'farm_implements': 4, 'buy_on_credit': 5, 'start_up': 6, 'financial_advice': 7, 'access_to_inputs': 8, 'storage': 9, 'access_to_loans': 10, 'profit_share': 11, 'savings_account': 12, 'other': 13, 'none': 14}, country='bgd', df=        business_advice  farming_advice  marketing  farm_implements  \
1                   NaN             NaN        NaN              NaN
2                   NaN             NaN        NaN              NaN
3                   NaN             NaN        NaN              NaN
4                   NaN             NaN        NaN              NaN
5                   NaN             NaN        NaN              NaN
...                 ...             ...        ...              ...
800129              NaN             NaN        NaN              NaN
800130              NaN             NaN        NaN              NaN
800131              NaN             NaN        NaN              NaN
800132              NaN             NaN        NaN              NaN
800133              NaN             NaN        NaN              NaN

        buy_on_credit  start_up  financial_advice  access_to_inputs  storage  \
1                 NaN       NaN               NaN               NaN      NaN
2                 NaN       NaN               NaN               NaN      NaN
3                 NaN       NaN               NaN               NaN      NaN
4                 NaN       NaN               NaN               NaN      NaN
5                 NaN       NaN               NaN               NaN      NaN
...               ...       ...               ...               ...      ...
800129            NaN       NaN               NaN               NaN      NaN
800130            NaN       NaN               NaN               NaN      NaN
800131            NaN       NaN               NaN               NaN      NaN
800132            NaN       NaN               NaN               NaN      NaN
800133            NaN       NaN               NaN               NaN      NaN

        access_to_loans  profit_share  savings_account  other  none
1                   NaN           NaN              NaN    NaN   NaN
2                   NaN           NaN              NaN    NaN   NaN
3                   NaN           NaN              NaN    NaN   NaN
4                   NaN           NaN              NaN    NaN   NaN
5                   NaN           NaN              NaN    NaN   NaN
...                 ...           ...              ...    ...   ...
800129              NaN           NaN              NaN    NaN   NaN
800130              NaN           NaN              NaN    NaN   NaN
800131              NaN           NaN              NaN    NaN   NaN
800132              NaN           NaN              NaN    NaN   NaN
800133              NaN           NaN              NaN    NaN   NaN

[3095 rows x 14 columns], df_name='bgd_sr', label='A43', qtype='multi', survey='sr', text='What types of services do you get from these groups or associations?')
key=cdi_A43namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'business_advice': 1, 'farming_advice': 2, 'marketing': 3, 'farm_implements': 4, 'buy_on_credit': 5, 'start_up': 6, 'financial_advice': 7, 'access_to_inputs': 8, 'storage': 9, 'access_to_loans': 10, 'profit_share': 11, 'savings_account': 12, 'other': 13, 'none': 14}, country='cdi', df=          business_advice  farming_advice  marketing  farm_implements  \
31028570              NaN             NaN        NaN              NaN
31028571              1.0             1.0        1.0              2.0
31036603              NaN             NaN        NaN              NaN
31038817              NaN             NaN        NaN              NaN
31040474              NaN             NaN        NaN              NaN
...                   ...             ...        ...              ...
32261521              NaN             NaN        NaN              NaN
32261522              NaN             NaN        NaN              NaN
32261524              NaN             NaN        NaN              NaN
32280062              2.0             2.0        2.0              2.0
32280063              2.0             2.0        2.0              2.0

          buy_on_credit  start_up  financial_advice  access_to_inputs  \
31028570            NaN       NaN               NaN               NaN
31028571            2.0       2.0               2.0               2.0
31036603            NaN       NaN               NaN               NaN
31038817            NaN       NaN               NaN               NaN
31040474            NaN       NaN               NaN               NaN
...                 ...       ...               ...               ...
32261521            NaN       NaN               NaN               NaN
32261522            NaN       NaN               NaN               NaN
32261524            NaN       NaN               NaN               NaN
32280062            2.0       1.0               2.0               2.0
32280063            2.0       1.0               2.0               2.0

          storage  access_to_loans  profit_share  savings_account  other  none
31028570      NaN              NaN           NaN              NaN    NaN   NaN
31028571      2.0              2.0           2.0              2.0    2.0   2.0
31036603      NaN              NaN           NaN              NaN    NaN   NaN
31038817      NaN              NaN           NaN              NaN    NaN   NaN
31040474      NaN              NaN           NaN              NaN    NaN   NaN
...           ...              ...           ...              ...    ...   ...
32261521      NaN              NaN           NaN              NaN    NaN   NaN
32261522      NaN              NaN           NaN              NaN    NaN   NaN
32261524      NaN              NaN           NaN              NaN    NaN   NaN
32280062      2.0              2.0           2.0              2.0    2.0   2.0
32280063      2.0              2.0           2.0              2.0    2.0   2.0

[2949 rows x 14 columns], df_name='cdi_sr', label='A43', qtype='multi', survey='sr', text='What types of services do you get from these groups or associations?')
key=moz_A43namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'business_advice': 1, 'farming_advice': 2, 'marketing': 3, 'farm_implements': 4, 'buy_on_credit': 5, 'start_up': 6, 'financial_advice': 7, 'access_to_inputs': 8, 'storage': 9, 'access_to_loans': 10, 'profit_share': 11, 'savings_account': 12, 'other': 13, 'none': 14}, country='moz', df=          business_advice  farming_advice  marketing  farm_implements  \
21948170              NaN             NaN        NaN              NaN
21948180              NaN             NaN        NaN              NaN
21948779              NaN             NaN        NaN              NaN
21951744              NaN             NaN        NaN              NaN
21955646              NaN             NaN        NaN              NaN
...                   ...             ...        ...              ...
23315711              NaN             NaN        NaN              NaN
23324438              1.0             2.0        1.0              2.0
23324440              NaN             NaN        NaN              NaN
23324645              NaN             NaN        NaN              NaN
23324649              1.0             2.0        1.0              2.0

          buy_on_credit  start_up  financial_advice  access_to_inputs  \
21948170            NaN       NaN               NaN               NaN
21948180            NaN       NaN               NaN               NaN
21948779            NaN       NaN               NaN               NaN
21951744            NaN       NaN               NaN               NaN
21955646            NaN       NaN               NaN               NaN
...                 ...       ...               ...               ...
23315711            NaN       NaN               NaN               NaN
23324438            1.0       2.0               2.0               1.0
23324440            NaN       NaN               NaN               NaN
23324645            NaN       NaN               NaN               NaN
23324649            2.0       1.0               2.0               1.0

          storage  access_to_loans  profit_share  savings_account  other  none
21948170      NaN              NaN           NaN              NaN    NaN   NaN
21948180      NaN              NaN           NaN              NaN    NaN   NaN
21948779      NaN              NaN           NaN              NaN    NaN   NaN
21951744      NaN              NaN           NaN              NaN    NaN   NaN
21955646      NaN              NaN           NaN              NaN    NaN   NaN
...           ...              ...           ...              ...    ...   ...
23315711      NaN              NaN           NaN              NaN    NaN   NaN
23324438      2.0              2.0           2.0              2.0    2.0   1.0
23324440      NaN              NaN           NaN              NaN    NaN   NaN
23324645      NaN              NaN           NaN              NaN    NaN   NaN
23324649      2.0              1.0           2.0              2.0    2.0   1.0

[2574 rows x 14 columns], df_name='moz_sr', label='A43', qtype='multi', survey='sr', text='What types of services do you get from these groups or associations?')
key=nga_A43namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'business_advice': 1, 'farming_advice': 2, 'marketing': 3, 'farm_implements': 4, 'buy_on_credit': 5, 'start_up': 6, 'financial_advice': 7, 'access_to_inputs': 8, 'storage': 9, 'access_to_loans': 10, 'profit_share': 11, 'savings_account': 12, 'insurance': 13, 'other': 14, 'none': 15}, country='nga', df=          business_advice  farming_advice  marketing  farm_implements  \
40127279              NaN             NaN        NaN              NaN
40134046              2.0             1.0        2.0              2.0
40135889              NaN             NaN        NaN              NaN
40143258              NaN             NaN        NaN              NaN
40144462              NaN             NaN        NaN              NaN
...                   ...             ...        ...              ...
41076184              1.0             2.0        2.0              1.0
41076185              1.0             1.0        2.0              2.0
41076186              1.0             2.0        1.0              1.0
41076187              2.0             1.0        1.0              2.0
41076188              NaN             NaN        NaN              NaN

          buy_on_credit  start_up  financial_advice  access_to_inputs  \
40127279            NaN       NaN               NaN               NaN
40134046            2.0       2.0               1.0               2.0
40135889            NaN       NaN               NaN               NaN
40143258            NaN       NaN               NaN               NaN
40144462            NaN       NaN               NaN               NaN
...                 ...       ...               ...               ...
41076184            2.0       2.0               2.0               2.0
41076185            2.0       2.0               2.0               2.0
41076186            2.0       1.0               2.0               2.0
41076187            1.0       2.0               2.0               2.0
41076188            NaN       NaN               NaN               NaN

          storage  access_to_loans  profit_share  savings_account  insurance  \
40127279      NaN              NaN           NaN              NaN        NaN
40134046      2.0              2.0           2.0              2.0        2.0
40135889      NaN              NaN           NaN              NaN        NaN
40143258      NaN              NaN           NaN              NaN        NaN
40144462      NaN              NaN           NaN              NaN        NaN
...           ...              ...           ...              ...        ...
41076184      2.0              2.0           2.0              2.0        2.0
41076185      2.0              2.0           2.0              2.0        2.0
41076186      2.0              2.0           2.0              2.0        2.0
41076187      2.0              2.0           2.0              2.0        2.0
41076188      NaN              NaN           NaN              NaN        NaN

          other  none
40127279    NaN   NaN
40134046    2.0   2.0
40135889    NaN   NaN
40143258    NaN   NaN
40144462    NaN   NaN
...         ...   ...
41076184    2.0   2.0
41076185    2.0   2.0
41076186    2.0   2.0
41076187    2.0   2.0
41076188    NaN   NaN

[2773 rows x 15 columns], df_name='nga_sr', label='A43', qtype='multi', survey='sr', text='What types of services do you get from these groups or associations?')
key=tan_A43namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'business_advice': 1, 'farming_advice': 2, 'marketing': 3, 'farm_implements': 4, 'buy_on_credit': 5, 'start_up': 6, 'financial_advice': 7, 'access_to_inputs': 8, 'storage': 9, 'access_to_loans': 10, 'profit_share': 11, 'savings_account': 12, 'insurance': 13, 'other': 14, 'none': 15}, country='tan', df=          business_advice  farming_advice  marketing  farm_implements  \
28845992              NaN             NaN        NaN              NaN
29265802              NaN             NaN        NaN              NaN
28901706              2.0             1.0        2.0              2.0
29302230              NaN             NaN        NaN              NaN
28910973              NaN             NaN        NaN              NaN
...                   ...             ...        ...              ...
29319386              NaN             NaN        NaN              NaN
28924835              NaN             NaN        NaN              NaN
29010663              NaN             NaN        NaN              NaN
29555590              NaN             NaN        NaN              NaN
29198985              NaN             NaN        NaN              NaN

          buy_on_credit  start_up  financial_advice  access_to_inputs  \
28845992            NaN       NaN               NaN               NaN
29265802            NaN       NaN               NaN               NaN
28901706            2.0       2.0               2.0               2.0
29302230            NaN       NaN               NaN               NaN
28910973            NaN       NaN               NaN               NaN
...                 ...       ...               ...               ...
29319386            NaN       NaN               NaN               NaN
28924835            NaN       NaN               NaN               NaN
29010663            NaN       NaN               NaN               NaN
29555590            NaN       NaN               NaN               NaN
29198985            NaN       NaN               NaN               NaN

          storage  access_to_loans  profit_share  savings_account  insurance  \
28845992      NaN              NaN           NaN              NaN        NaN
29265802      NaN              NaN           NaN              NaN        NaN
28901706      2.0              2.0           2.0              2.0        2.0
29302230      NaN              NaN           NaN              NaN        NaN
28910973      NaN              NaN           NaN              NaN        NaN
...           ...              ...           ...              ...        ...
29319386      NaN              NaN           NaN              NaN        NaN
28924835      NaN              NaN           NaN              NaN        NaN
29010663      NaN              NaN           NaN              NaN        NaN
29555590      NaN              NaN           NaN              NaN        NaN
29198985      NaN              NaN           NaN              NaN        NaN

          other  none
28845992    NaN   NaN
29265802    NaN   NaN
28901706    2.0   2.0
29302230    NaN   NaN
28910973    NaN   NaN
...         ...   ...
29319386    NaN   NaN
28924835    NaN   NaN
29010663    NaN   NaN
29555590    NaN   NaN
29198985    NaN   NaN

[2795 rows x 15 columns], df_name='tan_sr', label='A43', qtype='multi', survey='sr', text='What types of services do you get from these groups or associations?')

key=moz_A44namespace(answers={'daily': 1, 'weekly': 2, 'monthly': 3, 'less_than_monthly': 4, 'never': 5}, column_dict={'sms': 1, 'radio': 2, 'television': 3, 'internet': 4, 'print_media': 5, 'friends_family': 6, 'religious_leader': 7, 'community': 8, 'development': 9, 'teachers': 10, 'government': 11, 'suppliers': 12, 'merchants': 13, 'extension': 14, 'middlemen': 15, 'other': 16}, country='moz', df=          sms  radio  television  internet  print_media  friends_family  \
21948170  NaN    NaN         NaN       NaN          NaN             NaN
21948180  4.0    5.0         NaN       NaN          NaN             4.0
21948779  4.0    5.0         NaN       5.0          4.0             2.0
21951744  1.0    5.0         1.0       5.0          5.0             1.0
21955646  NaN    NaN         NaN       NaN          NaN             NaN
...       ...    ...         ...       ...          ...             ...
23315711  5.0    5.0         5.0       5.0          5.0             5.0
23324438  3.0    2.0         4.0       4.0          3.0             2.0
23324440  NaN    NaN         NaN       NaN          NaN             NaN
23324645  NaN    NaN         NaN       NaN          NaN             NaN
23324649  2.0    1.0         4.0       5.0          4.0             2.0

          religious_leader  community  development  teachers  government  \
21948170               NaN        NaN          NaN       NaN         NaN
21948180               5.0        5.0          5.0       5.0         5.0
21948779               4.0        5.0          3.0       4.0         5.0
21951744               5.0        5.0          5.0       5.0         5.0
21955646               NaN        NaN          NaN       NaN         NaN
...                    ...        ...          ...       ...         ...
23315711               5.0        5.0          5.0       5.0         5.0
23324438               2.0        2.0          4.0       5.0         5.0
23324440               NaN        NaN          NaN       NaN         NaN
23324645               NaN        NaN          NaN       NaN         NaN
23324649               2.0        1.0          4.0       5.0         5.0

          suppliers  merchants  extension  middlemen  other
21948170        NaN        NaN        NaN        NaN    NaN
21948180        5.0        5.0        5.0        5.0    5.0
21948779        NaN        3.0        4.0        NaN    5.0
21951744        2.0        1.0        5.0        5.0    5.0
21955646        NaN        NaN        NaN        NaN    NaN
...             ...        ...        ...        ...    ...
23315711        4.0        5.0        5.0        5.0    5.0
23324438        2.0        NaN        5.0        4.0    5.0
23324440        NaN        NaN        NaN        NaN    NaN
23324645        NaN        NaN        NaN        NaN    NaN
23324649        2.0        4.0        5.0        4.0    5.0

[2574 rows x 16 columns], df_name='moz_sr', label='A44', qtype='multi', survey='sr', text=' How often do you use each of the following sources of information for agricultural activities?')
key=nga_A44namespace(answers={'daily': 1, 'weekly': 2, 'monthly': 3, 'less_than_monthly': 4, 'never': 5}, column_dict={'sms': 1, 'radio': 2, 'television': 3, 'internet': 4, 'print_media': 5, 'friends_family': 6, 'religious_leader': 7, 'community': 8, 'development': 9, 'teachers': 10, 'government': 11, 'suppliers': 12, 'merchants': 13, 'extension': 14, 'middlemen': 15, 'other': 16}, country='nga', df=          sms  radio  television  internet  print_media  friends_family  \
40127279  1.0    1.0         4.0       3.0          4.0             2.0
40134046  1.0    2.0         5.0       5.0          5.0             2.0
40135889  1.0    1.0         4.0       5.0          5.0             4.0
40143258  1.0    1.0         1.0       NaN          1.0             NaN
40144462  5.0    3.0         5.0       5.0          5.0             3.0
...       ...    ...         ...       ...          ...             ...
41076184  2.0    2.0         3.0       3.0          2.0             3.0
41076185  2.0    3.0         4.0       5.0          3.0             2.0
41076186  3.0    3.0         2.0       5.0          5.0             2.0
41076187  3.0    4.0         3.0       5.0          3.0             1.0
41076188  2.0    3.0         3.0       2.0          2.0             2.0

          religious_leader  community  development  teachers  government  \
40127279               1.0        2.0          5.0       4.0         4.0
40134046               2.0        2.0          3.0       4.0         4.0
40135889               2.0        4.0          5.0       4.0         5.0
40143258               5.0        NaN          5.0       5.0         5.0
40144462               2.0        2.0          5.0       5.0         5.0
...                    ...        ...          ...       ...         ...
41076184               3.0        4.0          3.0       3.0         3.0
41076185               3.0        3.0          3.0       2.0         4.0
41076186               3.0        3.0          2.0       4.0         3.0
41076187               3.0        4.0          3.0       3.0         3.0
41076188               2.0        2.0          2.0       3.0         2.0

          suppliers  merchants  extension  middlemen  other
40127279        3.0        3.0        4.0        4.0    NaN
40134046        5.0        3.0        4.0        3.0    5.0
40135889        4.0        5.0        4.0        4.0    5.0
40143258        3.0        5.0        5.0        5.0    5.0
40144462        5.0        5.0        5.0        5.0    5.0
...             ...        ...        ...        ...    ...
41076184        3.0        3.0        3.0        4.0    5.0
41076185        4.0        4.0        4.0        3.0    5.0
41076186        2.0        2.0        2.0        3.0    NaN
41076187        5.0        5.0        5.0        5.0    5.0
41076188        2.0        3.0        3.0        3.0    NaN

[2773 rows x 16 columns], df_name='nga_sr', label='A44', qtype='multi', survey='sr', text=' How often do you use each of the following sources of information for agricultural activities?')
key=tan_A44namespace(answers={'daily': 1, 'weekly': 2, 'monthly': 3, 'less_than_monthly': 4, 'never': 5}, column_dict={'sms': 1, 'radio': 2, 'television': 3, 'internet': 4, 'print_media': 5, 'friends_family': 6, 'religious_leader': 7, 'community': 8, 'development': 9, 'teachers': 10, 'government': 11, 'suppliers': 12, 'merchants': 13, 'extension': 14, 'middlemen': 15, 'other': 16}, country='tan', df=          sms  radio  television  internet  print_media  friends_family  \
28845992  1.0    4.0         5.0       5.0          5.0             1.0
29265802  5.0    4.0         5.0       5.0          5.0             1.0
28901706  3.0    2.0         5.0       5.0          5.0             2.0
29302230  5.0    5.0         5.0       5.0          5.0             5.0
28910973  5.0    4.0         5.0       5.0          5.0             2.0
...       ...    ...         ...       ...          ...             ...
29319386  NaN    NaN         NaN       NaN          NaN             NaN
28924835  4.0    4.0         5.0       5.0          5.0             1.0
29010663  2.0    1.0         5.0       5.0          5.0             1.0
29555590  5.0    5.0         5.0       5.0          5.0             1.0
29198985  5.0    3.0         4.0       5.0          NaN             4.0

          religious_leader  community  development  teachers  government  \
28845992               5.0        3.0          5.0       5.0         4.0
29265802               2.0        5.0          5.0       5.0         5.0
28901706               5.0        2.0          5.0       5.0         5.0
29302230               5.0        5.0          5.0       5.0         5.0
28910973               2.0        5.0          5.0       5.0         5.0
...                    ...        ...          ...       ...         ...
29319386               NaN        NaN          NaN       NaN         NaN
28924835               5.0        2.0          5.0       5.0         5.0
29010663               5.0        1.0          5.0       5.0         5.0
29555590               5.0        5.0          5.0       5.0         5.0
29198985               4.0        3.0          5.0       5.0         5.0

          suppliers  merchants  extension  middlemen  other
28845992        3.0        4.0        5.0        5.0    NaN
29265802        5.0        5.0        5.0        5.0    NaN
28901706        5.0        5.0        5.0        2.0    NaN
29302230        5.0        5.0        5.0        5.0    NaN
28910973        5.0        5.0        5.0        5.0    5.0
...             ...        ...        ...        ...    ...
29319386        NaN        NaN        NaN        NaN    NaN
28924835        4.0        5.0        5.0        5.0    5.0
29010663        5.0        5.0        5.0        5.0    5.0
29555590        5.0        5.0        5.0        5.0    5.0
29198985        5.0        5.0        5.0        3.0    5.0

[2795 rows x 16 columns], df_name='tan_sr', label='A44', qtype='multi', survey='sr', text=' How often do you use each of the following sources of information for agricultural activities?')
key=uga_A44namespace(answers={'daily': 1, 'weekly': 2, 'monthly': 3, 'less_than_monthly': 4, 'never': 5}, column_dict={'sms': 1, 'radio': 2, 'television': 3, 'internet': 4, 'print_media': 5, 'friends_family': 6, 'religious_leader': 7, 'community': 8, 'development': 9, 'teachers': 10, 'government': 11, 'suppliers': 12, 'merchants': 13, 'extension': 14, 'middlemen': 15, 'other': 16}, country='uga', df=          sms  radio  television  internet  print_media  friends_family  \
22678446  NaN    NaN         NaN       NaN          NaN             NaN
22678927  NaN    NaN         NaN       NaN          NaN             NaN
22679052  5.0    1.0         5.0       5.0          5.0             1.0
22679076  NaN    NaN         NaN       NaN          NaN             NaN
22679225  5.0    4.0         4.0       5.0          5.0             1.0
...       ...    ...         ...       ...          ...             ...
23500842  5.0    5.0         5.0       5.0          5.0             2.0
23620542  NaN    NaN         NaN       NaN          NaN             NaN
23620647  1.0    1.0         3.0       3.0          2.0             1.0
23620678  2.0    1.0         5.0       5.0          5.0             1.0
23620722  NaN    NaN         NaN       NaN          NaN             NaN

          religious_leader  community  development  teachers  government  \
22678446               NaN        NaN          NaN       NaN         NaN
22678927               NaN        NaN          NaN       NaN         NaN
22679052               2.0        3.0          4.0       5.0         4.0
22679076               NaN        NaN          NaN       NaN         NaN
22679225               5.0        2.0          5.0       5.0         5.0
...                    ...        ...          ...       ...         ...
23500842               5.0        2.0          5.0       5.0         5.0
23620542               NaN        NaN          NaN       NaN         NaN
23620647               1.0        1.0          3.0       1.0         4.0
23620678               5.0        5.0          5.0       5.0         5.0
23620722               NaN        NaN          NaN       NaN         NaN

          suppliers  merchants  extension  middlemen  other
22678446        NaN        NaN        NaN        NaN    NaN
22678927        NaN        NaN        NaN        NaN    NaN
22679052        5.0        5.0        4.0        4.0    5.0
22679076        NaN        NaN        NaN        NaN    NaN
22679225        3.0        5.0        5.0        4.0    NaN
...             ...        ...        ...        ...    ...
23500842        5.0        5.0        5.0        5.0    5.0
23620542        NaN        NaN        NaN        NaN    NaN
23620647        2.0        3.0        5.0        5.0    5.0
23620678        5.0        5.0        5.0        5.0    5.0
23620722        NaN        NaN        NaN        NaN    NaN

[2771 rows x 16 columns], df_name='uga_sr', label='A44', qtype='multi', survey='sr', text=' How often do you use each of the following sources of information for agricultural activities?')
key=bgd_A47namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='bgd', df=        fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
1              NaN    NaN         NaN        NaN   NaN      NaN       NaN
2              NaN    NaN         NaN        NaN   NaN      NaN       NaN
3              NaN    NaN         NaN        NaN   NaN      NaN       NaN
4              1.0    1.0         1.0        1.0   2.0      2.0       3.0
5              1.0    1.0         2.0        2.0   3.0      2.0       2.0
...            ...    ...         ...        ...   ...      ...       ...
800129         1.0    1.0         1.0        1.0   2.0      2.0       2.0
800130         1.0    1.0         1.0        2.0   2.0      1.0       2.0
800131         2.0    2.0         2.0        2.0   2.0      2.0       2.0
800132         1.0    1.0         1.0        1.0   1.0      1.0       1.0
800133         1.0    1.0         1.0        1.0   1.0      2.0       2.0

        investment  storage  irrigation  transportation  machinery  other
1              NaN      NaN         NaN             NaN        NaN    NaN
2              NaN      NaN         NaN             NaN        NaN    NaN
3              NaN      NaN         NaN             NaN        NaN    NaN
4              2.0      2.0         1.0             2.0        2.0    3.0
5              2.0      3.0         2.0             3.0        2.0    3.0
...            ...      ...         ...             ...        ...    ...
800129         1.0      1.0         2.0             2.0        1.0    NaN
800130         1.0      2.0         3.0             3.0        2.0    NaN
800131         2.0      2.0         2.0             3.0        2.0    3.0
800132         2.0      2.0         1.0             1.0        2.0    3.0
800133         2.0      2.0         1.0             2.0        2.0    3.0

[3095 rows x 13 columns], df_name='bgd_sr', label='A47', qtype='multi', survey='sr', text='How important is it to keep money aside for the following agricultural needs—very, somewhat, or not important?')

key=cdi_A47namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='cdi', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
31028570         NaN    NaN         NaN        NaN   NaN      NaN       NaN
31028571         1.0    1.0         1.0        1.0   NaN      1.0       1.0
31036603         NaN    NaN         NaN        NaN   NaN      NaN       NaN
31038817         1.0    1.0         2.0        1.0   3.0      3.0       1.0
31040474         1.0    1.0         1.0        1.0   1.0      1.0       1.0
...              ...    ...         ...        ...   ...      ...       ...
32261521         3.0    1.0         1.0        1.0   1.0      1.0       1.0
32261522         1.0    1.0         1.0        1.0   1.0      1.0       1.0
32261524         3.0    1.0         2.0        1.0   1.0      1.0       1.0
32280062         1.0    1.0         1.0        2.0   2.0      2.0       2.0
32280063         1.0    1.0         1.0        1.0   1.0      1.0       1.0

          investment  storage  irrigation  transportation  machinery  other
31028570         NaN      NaN         NaN             NaN        NaN    NaN
31028571         1.0      1.0         2.0             1.0        1.0    1.0
31036603         NaN      NaN         NaN             NaN        NaN    NaN
31038817         1.0      1.0         3.0             1.0        2.0    NaN
31040474         1.0      1.0         1.0             1.0        1.0    NaN
...              ...      ...         ...             ...        ...    ...
32261521         1.0      1.0         1.0             1.0        1.0    NaN
32261522         1.0      1.0         1.0             1.0        1.0    NaN
32261524         1.0      1.0         1.0             1.0        1.0    NaN
32280062         1.0      2.0         2.0             1.0        3.0    NaN
32280063         1.0      1.0         1.0             1.0        1.0    NaN

[2949 rows x 13 columns], df_name='cdi_sr', label='A47', qtype='multi', survey='sr', text='How important is it to keep money aside for the following agricultural needs—very, somewhat, or not important?')
key=moz_A47namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'other': 11}, country='moz', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
21948170         NaN    NaN         NaN        NaN   NaN      NaN       NaN
21948180         1.0    1.0         1.0        1.0   3.0      3.0       1.0
21948779         2.0    1.0         1.0        2.0   2.0      1.0       2.0
21951744         1.0    1.0         1.0        1.0   1.0      1.0       1.0
21955646         NaN    NaN         NaN        NaN   NaN      NaN       NaN
...              ...    ...         ...        ...   ...      ...       ...
23315711         1.0    1.0         2.0        1.0   1.0      NaN       NaN
23324438         1.0    1.0         2.0        3.0   1.0      3.0       2.0
23324440         NaN    NaN         NaN        NaN   NaN      NaN       NaN
23324645         NaN    NaN         NaN        NaN   NaN      NaN       NaN
23324649         1.0    1.0         1.0        1.0   1.0      3.0       2.0

          investment  storage  irrigation  other
21948170         NaN      NaN         NaN    NaN
21948180         1.0      1.0         1.0    NaN
21948779         1.0      2.0         1.0    1.0
21951744         1.0      1.0         1.0    NaN
21955646         NaN      NaN         NaN    NaN
...              ...      ...         ...    ...
23315711         NaN      3.0         NaN    NaN
23324438         1.0      1.0         1.0    3.0
23324440         NaN      NaN         NaN    NaN
23324645         NaN      NaN         NaN    NaN
23324649         1.0      1.0         1.0    3.0

[2574 rows x 11 columns], df_name='moz_sr', label='A47', qtype='multi', survey='sr', text='How important is it to keep money aside for the following agricultural needs—very, somewhat, or not important?')
key=nga_A47namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='nga', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
40127279         1.0    1.0         1.0        2.0   2.0      2.0       1.0
40134046         1.0    1.0         1.0        1.0   2.0      1.0       1.0
40135889         1.0    1.0         1.0        1.0   1.0      1.0       1.0
40143258         1.0    1.0         2.0        2.0   2.0      1.0       2.0
40144462         2.0    2.0         2.0        2.0   2.0      2.0       2.0
...              ...    ...         ...        ...   ...      ...       ...
41076184         2.0    2.0         1.0        2.0   3.0      1.0       3.0
41076185         2.0    2.0         2.0        1.0   1.0      2.0       2.0
41076186         2.0    2.0         2.0        2.0   3.0      2.0       2.0
41076187         2.0    2.0         2.0        2.0   2.0      1.0       1.0
41076188         3.0    2.0         2.0        2.0   2.0      2.0       2.0

          investment  storage  irrigation  transportation  machinery  other
40127279         1.0      1.0         2.0             1.0        1.0    NaN
40134046         1.0      1.0         2.0             1.0        1.0    NaN
40135889         2.0      1.0         1.0             1.0        2.0    NaN
40143258         2.0      2.0         3.0             2.0        2.0    NaN
40144462         2.0      2.0         2.0             2.0        2.0    2.0
...              ...      ...         ...             ...        ...    ...
41076184         2.0      1.0         2.0             3.0        2.0    NaN
41076185         3.0      2.0         2.0             2.0        1.0    NaN
41076186         2.0      2.0         3.0             2.0        2.0    NaN
41076187         3.0      2.0         2.0             NaN        2.0    NaN
41076188         2.0      2.0         2.0             2.0        2.0    NaN

[2773 rows x 13 columns], df_name='nga_sr', label='A47', qtype='multi', survey='sr', text='How important is it to keep money aside for the following agricultural needs—very, somewhat, or not important?')
key=tan_A47namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='tan', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
28845992         1.0    1.0         1.0        1.0   2.0      3.0       3.0
29265802         1.0    1.0         1.0        1.0   1.0      1.0       1.0
28901706         2.0    1.0         1.0        1.0   1.0      1.0       1.0
29302230         1.0    1.0         1.0        1.0   NaN      NaN       NaN
28910973         1.0    1.0         1.0        1.0   1.0      3.0       3.0
...              ...    ...         ...        ...   ...      ...       ...
29319386         NaN    NaN         NaN        NaN   NaN      NaN       NaN
28924835         1.0    1.0         1.0        1.0   1.0      1.0       1.0
29010663         1.0    1.0         1.0        1.0   2.0      1.0       1.0
29555590         1.0    1.0         1.0        1.0   1.0      1.0       1.0
29198985         1.0    1.0         1.0        1.0   1.0      1.0       3.0

          investment  storage  irrigation  transportation  machinery  other
28845992         3.0      1.0         3.0             2.0        2.0    NaN
29265802         1.0      1.0         1.0             1.0        1.0    1.0
28901706         1.0      1.0         1.0             1.0        1.0    NaN
29302230         NaN      NaN         1.0             1.0        2.0    NaN
28910973         1.0      1.0         1.0             2.0        1.0    NaN
...              ...      ...         ...             ...        ...    ...
29319386         NaN      NaN         NaN             NaN        NaN    NaN
28924835         1.0      1.0         1.0             1.0        1.0    NaN
29010663         1.0      1.0         1.0             2.0        2.0    NaN
29555590         1.0      1.0         1.0             1.0        1.0    NaN
29198985         2.0      1.0         1.0             1.0        1.0    3.0

[2795 rows x 13 columns], df_name='tan_sr', label='A47', qtype='multi', survey='sr', text='How important is it to keep money aside for the following agricultural needs—very, somewhat, or not important?')
key=uga_A47namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'other': 11}, country='uga', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
22678446         NaN    NaN         NaN        NaN   NaN      NaN       NaN
22678927         NaN    NaN         NaN        NaN   NaN      NaN       NaN
22679052         3.0    2.0         2.0        3.0   3.0      3.0       3.0
22679076         NaN    NaN         NaN        NaN   NaN      NaN       NaN
22679225         1.0    1.0         1.0        1.0   3.0      2.0       3.0
...              ...    ...         ...        ...   ...      ...       ...
23500842         1.0    1.0         1.0        1.0   1.0      1.0       1.0
23620542         NaN    NaN         NaN        NaN   NaN      NaN       NaN
23620647         2.0    2.0         2.0        2.0   2.0      2.0       2.0
23620678         2.0    1.0         1.0        1.0   2.0      3.0       2.0
23620722         NaN    NaN         NaN        NaN   NaN      NaN       NaN

          investment  storage  irrigation  other
22678446         NaN      NaN         NaN    NaN
22678927         NaN      NaN         NaN    NaN
22679052         3.0      3.0         3.0    NaN
22679076         NaN      NaN         NaN    NaN
22679225         2.0      2.0         2.0    NaN
...              ...      ...         ...    ...
23500842         1.0      1.0         1.0    NaN
23620542         NaN      NaN         NaN    NaN
23620647         2.0      1.0         1.0    NaN
23620678         2.0      2.0         2.0    NaN
23620722         NaN      NaN         NaN    NaN

[2771 rows x 11 columns], df_name='uga_sr', label='A47', qtype='multi', survey='sr', text='How important is it to keep money aside for the following agricultural needs—very, somewhat, or not important?')
key=bgd_A48namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='bgd', df=        fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
1              NaN    NaN         NaN        NaN   NaN      NaN       NaN
2              NaN    NaN         NaN        NaN   NaN      NaN       NaN
3              NaN    NaN         NaN        NaN   NaN      NaN       NaN
4              2.0    2.0         2.0        2.0   2.0      2.0       NaN
5              2.0    1.0         2.0        2.0   NaN      2.0       2.0
...            ...    ...         ...        ...   ...      ...       ...
800129         2.0    2.0         2.0        2.0   2.0      2.0       2.0
800130         2.0    2.0         2.0        2.0   2.0      2.0       2.0
800131         2.0    2.0         2.0        2.0   2.0      2.0       2.0
800132         1.0    1.0         1.0        2.0   2.0      2.0       2.0
800133         1.0    1.0         1.0        1.0   1.0      2.0       2.0

        investment  storage  irrigation  transportation  machinery  other
1              NaN      NaN         NaN             NaN        NaN    NaN
2              NaN      NaN         NaN             NaN        NaN    NaN
3              NaN      NaN         NaN             NaN        NaN    NaN
4              2.0      2.0         2.0             2.0        2.0    NaN
5              2.0      NaN         2.0             NaN        2.0    NaN
...            ...      ...         ...             ...        ...    ...
800129         2.0      2.0         2.0             2.0        2.0    NaN
800130         2.0      2.0         NaN             NaN        2.0    NaN
800131         2.0      2.0         2.0             NaN        2.0    NaN
800132         2.0      2.0         1.0             2.0        2.0    NaN
800133         2.0      2.0         1.0             2.0        2.0    NaN

[3095 rows x 13 columns], df_name='bgd_sr', label='A48', qtype='multi', survey='sr', text='Do you currently keep money aside for the following agricultural needs?')
key=cdi_A48namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='cdi', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
31028570         NaN    NaN         NaN        NaN   NaN      NaN       NaN
31028571         2.0    2.0         2.0        2.0   NaN      2.0       2.0
31036603         NaN    NaN         NaN        NaN   NaN      NaN       NaN
31038817         2.0    2.0         2.0        2.0   NaN      NaN       2.0
31040474         2.0    2.0         2.0        2.0   2.0      2.0       2.0
...              ...    ...         ...        ...   ...      ...       ...
32261521         NaN    1.0         1.0        1.0   2.0      1.0       2.0
32261522         2.0    2.0         2.0        2.0   2.0      2.0       2.0
32261524         NaN    2.0         2.0        2.0   2.0      2.0       2.0
32280062         1.0    2.0         1.0        1.0   2.0      1.0       2.0
32280063         1.0    1.0         1.0        2.0   2.0      1.0       2.0

          investment  storage  irrigation  transportation  machinery  other
31028570         NaN      NaN         NaN             NaN        NaN    NaN
31028571         2.0      2.0         2.0             2.0        2.0    2.0
31036603         NaN      NaN         NaN             NaN        NaN    NaN
31038817         2.0      2.0         NaN             2.0        2.0    NaN
31040474         2.0      2.0         2.0             2.0        2.0    NaN
...              ...      ...         ...             ...        ...    ...
32261521         2.0      1.0         1.0             1.0        2.0    NaN
32261522         2.0      2.0         2.0             2.0        2.0    NaN
32261524         2.0      2.0         2.0             2.0        2.0    NaN
32280062         1.0      2.0         2.0             1.0        NaN    NaN
32280063         1.0      1.0         1.0             1.0        2.0    NaN

[2949 rows x 13 columns], df_name='cdi_sr', label='A48', qtype='multi', survey='sr', text='Do you currently keep money aside for the following agricultural needs?')

key=moz_A48namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'other': 11}, country='moz', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
21948170         NaN    NaN         NaN        NaN   NaN      NaN       NaN
21948180         1.0    1.0         1.0        1.0   NaN      NaN       1.0
21948779         2.0    2.0         2.0        2.0   2.0      2.0       2.0
21951744         2.0    1.0         2.0        2.0   2.0      2.0       2.0
21955646         NaN    NaN         NaN        NaN   NaN      NaN       NaN
...              ...    ...         ...        ...   ...      ...       ...
23315711         2.0    2.0         2.0        2.0   2.0      NaN       NaN
23324438         1.0    1.0         1.0        NaN   2.0      NaN       2.0
23324440         NaN    NaN         NaN        NaN   NaN      NaN       NaN
23324645         NaN    NaN         NaN        NaN   NaN      NaN       NaN
23324649         1.0    1.0         2.0        1.0   2.0      NaN       1.0

          investment  storage  irrigation  other
21948170         NaN      NaN         NaN    NaN
21948180         1.0      1.0         1.0    NaN
21948779         2.0      2.0         2.0    2.0
21951744         2.0      2.0         1.0    NaN
21955646         NaN      NaN         NaN    NaN
...              ...      ...         ...    ...
23315711         NaN      NaN         NaN    NaN
23324438         1.0      1.0         2.0    NaN
23324440         NaN      NaN         NaN    NaN
23324645         NaN      NaN         NaN    NaN
23324649         1.0      1.0         1.0    NaN

[2574 rows x 11 columns], df_name='moz_sr', label='A48', qtype='multi', survey='sr', text='Do you currently keep money aside for the following agricultural needs?')
key=nga_A48namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='nga', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
40127279         1.0    2.0         1.0        1.0   1.0      1.0       1.0
40134046         2.0    1.0         2.0        2.0   2.0      2.0       2.0
40135889         2.0    2.0         2.0        2.0   2.0      2.0       2.0
40143258         2.0    2.0         2.0        2.0   1.0      1.0       2.0
40144462         1.0    1.0         1.0        2.0   1.0      2.0       2.0
...              ...    ...         ...        ...   ...      ...       ...
41076184         2.0    1.0         2.0        1.0   NaN      1.0       NaN
41076185         1.0    2.0         1.0        2.0   2.0      1.0       2.0
41076186         NaN    1.0         1.0        1.0   NaN      2.0       2.0
41076187         1.0    2.0         2.0        1.0   2.0      2.0       2.0
41076188         NaN    2.0         1.0        2.0   2.0      1.0       1.0

          investment  storage  irrigation  transportation  machinery  other
40127279         1.0      1.0         2.0             1.0        1.0    NaN
40134046         1.0      1.0         2.0             1.0        2.0    NaN
40135889         2.0      2.0         2.0             2.0        2.0    NaN
40143258         2.0      2.0         NaN             1.0        2.0    NaN
40144462         2.0      NaN         2.0             2.0        2.0    2.0
...              ...      ...         ...             ...        ...    ...
41076184         1.0      2.0         2.0             NaN        2.0    NaN
41076185         NaN      2.0         2.0             1.0        1.0    NaN
41076186         2.0      1.0         NaN             2.0        NaN    NaN
41076187         NaN      2.0         2.0             NaN        NaN    NaN
41076188         2.0      2.0         2.0             2.0        NaN    NaN

[2773 rows x 13 columns], df_name='nga_sr', label='A48', qtype='multi', survey='sr', text='Do you currently keep money aside for the following agricultural needs?')
key=tan_A48namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='tan', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
28845992         1.0    2.0         1.0        2.0   2.0      NaN       NaN
29265802         2.0    2.0         2.0        2.0   2.0      2.0       2.0
28901706         1.0    1.0         2.0        1.0   2.0      2.0       2.0
29302230         2.0    2.0         2.0        2.0   NaN      NaN       NaN
28910973         2.0    2.0         2.0        2.0   2.0      NaN       NaN
...              ...    ...         ...        ...   ...      ...       ...
29319386         NaN    NaN         NaN        NaN   NaN      NaN       NaN
28924835         2.0    2.0         2.0        2.0   2.0      2.0       2.0
29010663         2.0    2.0         2.0        2.0   2.0      1.0       2.0
29555590         2.0    2.0         2.0        2.0   2.0      2.0       2.0
29198985         1.0    1.0         1.0        1.0   1.0      1.0       NaN

          investment  storage  irrigation  transportation  machinery  other
28845992         NaN      2.0         NaN             2.0        2.0    NaN
29265802         2.0      2.0         2.0             2.0        2.0    1.0
28901706         2.0      1.0         2.0             2.0        2.0    NaN
29302230         NaN      NaN         2.0             2.0        2.0    NaN
28910973         2.0      1.0         2.0             2.0        2.0    NaN
...              ...      ...         ...             ...        ...    ...
29319386         NaN      NaN         NaN             NaN        NaN    NaN
28924835         2.0      2.0         2.0             2.0        2.0    NaN
29010663         2.0      2.0         2.0             2.0        1.0    NaN
29555590         2.0      2.0         2.0             2.0        2.0    NaN
29198985         1.0      1.0         1.0             1.0        1.0    NaN

[2795 rows x 13 columns], df_name='tan_sr', label='A48', qtype='multi', survey='sr', text='Do you currently keep money aside for the following agricultural needs?')
key=uga_A48namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'other': 11}, country='uga', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
22678446         NaN    NaN         NaN        NaN   NaN      NaN       NaN
22678927         NaN    NaN         NaN        NaN   NaN      NaN       NaN
22679052         NaN    1.0         2.0        NaN   NaN      NaN       NaN
22679076         NaN    NaN         NaN        NaN   NaN      NaN       NaN
22679225         1.0    1.0         1.0        1.0   NaN      1.0       NaN
...              ...    ...         ...        ...   ...      ...       ...
23500842         2.0    2.0         2.0        2.0   2.0      2.0       2.0
23620542         NaN    NaN         NaN        NaN   NaN      NaN       NaN
23620647         1.0    1.0         1.0        1.0   2.0      2.0       2.0
23620678         1.0    1.0         2.0        1.0   2.0      NaN       2.0
23620722         NaN    NaN         NaN        NaN   NaN      NaN       NaN

          investment  storage  irrigation  other
22678446         NaN      NaN         NaN    NaN
22678927         NaN      NaN         NaN    NaN
22679052         NaN      NaN         NaN    NaN
22679076         NaN      NaN         NaN    NaN
22679225         2.0      1.0         2.0    NaN
...              ...      ...         ...    ...
23500842         2.0      2.0         2.0    NaN
23620542         NaN      NaN         NaN    NaN
23620647         2.0      2.0         2.0    NaN
23620678         2.0      1.0         1.0    NaN
23620722         NaN      NaN         NaN    NaN

[2771 rows x 11 columns], df_name='uga_sr', label='A48', qtype='multi', survey='sr', text='Do you currently keep money aside for the following agricultural needs?')
key=bgd_A49namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='bgd', df=        fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
1              NaN    NaN         NaN        NaN   NaN      NaN       NaN
2              NaN    NaN         NaN        NaN   NaN      NaN       NaN
3              NaN    NaN         NaN        NaN   NaN      NaN       NaN
4              1.0    1.0         1.0        1.0   1.0      1.0       1.0
5              2.0    1.0         2.0        2.0   2.0      2.0       2.0
...            ...    ...         ...        ...   ...      ...       ...
800129         1.0    1.0         1.0        2.0   2.0      2.0       2.0
800130         1.0    1.0         1.0        1.0   1.0      2.0       2.0
800131         2.0    2.0         2.0        2.0   2.0      2.0       2.0
800132         1.0    1.0         1.0        1.0   1.0      1.0       1.0
800133         1.0    1.0         1.0        1.0   1.0      2.0       2.0

        investment  storage  irrigation  transportation  machinery  other
1              NaN      NaN         NaN             NaN        NaN    NaN
2              NaN      NaN         NaN             NaN        NaN    NaN
3              NaN      NaN         NaN             NaN        NaN    NaN
4              1.0      1.0         1.0             1.0        1.0    2.0
5              2.0      2.0         2.0             2.0        2.0    2.0
...            ...      ...         ...             ...        ...    ...
800129         1.0      1.0         2.0             2.0        2.0    2.0
800130         1.0      1.0         2.0             2.0        1.0    NaN
800131         2.0      2.0         2.0             2.0        2.0    2.0
800132         1.0      1.0         1.0             1.0        1.0    2.0
800133         2.0      2.0         1.0             1.0        2.0    2.0

[3095 rows x 13 columns], df_name='bgd_sr', label='A49', qtype='multi', survey='sr', text='Do you want to keep money aside for the following agricultural needs?')
key=cdi_A49namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='cdi', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
31028570         NaN    NaN         NaN        NaN   NaN      NaN       NaN
31028571         1.0    1.0         1.0        1.0   2.0      1.0       1.0
31036603         NaN    NaN         NaN        NaN   NaN      NaN       NaN
31038817         1.0    1.0         1.0        1.0   1.0      1.0       1.0
31040474         1.0    1.0         1.0        1.0   1.0      1.0       1.0
...              ...    ...         ...        ...   ...      ...       ...
32261521         1.0    1.0         1.0        1.0   1.0      1.0       1.0
32261522         1.0    1.0         1.0        1.0   1.0      1.0       1.0
32261524         1.0    1.0         1.0        1.0   1.0      1.0       1.0
32280062         1.0    1.0         1.0        1.0   1.0      1.0       1.0
32280063         1.0    1.0         1.0        1.0   1.0      1.0       1.0

          investment  storage  irrigation  transportation  machinery  other
31028570         NaN      NaN         NaN             NaN        NaN    NaN
31028571         1.0      1.0         1.0             2.0        1.0    NaN
31036603         NaN      NaN         NaN             NaN        NaN    NaN
31038817         1.0      1.0         2.0             1.0        1.0    NaN
31040474         1.0      1.0         1.0             1.0        1.0    NaN
...              ...      ...         ...             ...        ...    ...
32261521         1.0      1.0         1.0             1.0        1.0    NaN
32261522         1.0      1.0         1.0             1.0        1.0    2.0
32261524         1.0      1.0         1.0             1.0        1.0    2.0
32280062         1.0      1.0         1.0             1.0        1.0    NaN
32280063         1.0      1.0         1.0             1.0        1.0    NaN

[2949 rows x 13 columns], df_name='cdi_sr', label='A49', qtype='multi', survey='sr', text='Do you want to keep money aside for the following agricultural needs?')
key=moz_A49namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'other': 11}, country='moz', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
21948170         NaN    NaN         NaN        NaN   NaN      NaN       NaN
21948180         1.0    1.0         1.0        1.0   2.0      2.0       1.0
21948779         1.0    1.0         1.0        1.0   1.0      1.0       1.0
21951744         1.0    1.0         1.0        1.0   2.0      2.0       1.0
21955646         NaN    NaN         NaN        NaN   NaN      NaN       NaN
...              ...    ...         ...        ...   ...      ...       ...
23315711         1.0    1.0         NaN        NaN   NaN      NaN       NaN
23324438         1.0    1.0         1.0        2.0   2.0      2.0       1.0
23324440         NaN    NaN         NaN        NaN   NaN      NaN       NaN
23324645         NaN    NaN         NaN        NaN   NaN      NaN       NaN
23324649         1.0    1.0         1.0        1.0   2.0      2.0       1.0

          investment  storage  irrigation  other
21948170         NaN      NaN         NaN    NaN
21948180         1.0      1.0         1.0    NaN
21948779         1.0      1.0         1.0    2.0
21951744         1.0      1.0         2.0    NaN
21955646         NaN      NaN         NaN    NaN
...              ...      ...         ...    ...
23315711         2.0      NaN         2.0    2.0
23324438         1.0      1.0         1.0    2.0
23324440         NaN      NaN         NaN    NaN
23324645         NaN      NaN         NaN    NaN
23324649         1.0      1.0         1.0    2.0

[2574 rows x 11 columns], df_name='moz_sr', label='A49', qtype='multi', survey='sr', text='Do you want to keep money aside for the following agricultural needs?')

key=nga_A49namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='nga', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
40127279         1.0    1.0         1.0        1.0   1.0      1.0       1.0
40134046         1.0    1.0         1.0        1.0   1.0      1.0       1.0
40135889         1.0    1.0         1.0        1.0   1.0      1.0       1.0
40143258         1.0    1.0         1.0        1.0   1.0      1.0       2.0
40144462         2.0    2.0         2.0        2.0   NaN      2.0       2.0
...              ...    ...         ...        ...   ...      ...       ...
41076184         2.0    1.0         NaN        1.0   1.0      2.0       2.0
41076185         1.0    1.0         2.0        2.0   1.0      1.0       1.0
41076186         1.0    2.0         2.0        NaN   1.0      2.0       2.0
41076187         2.0    2.0         2.0        NaN   2.0      1.0       2.0
41076188         1.0    1.0         2.0        NaN   NaN      1.0       2.0

          investment  storage  irrigation  transportation  machinery  other
40127279         1.0      1.0         1.0             1.0        1.0    NaN
40134046         1.0      1.0         1.0             1.0        1.0    2.0
40135889         1.0      1.0         1.0             1.0        1.0    2.0
40143258         1.0      NaN         2.0             1.0        2.0    2.0
40144462         2.0      2.0         2.0             2.0        2.0    2.0
...              ...      ...         ...             ...        ...    ...
41076184         1.0      1.0         2.0             2.0        2.0    NaN
41076185         1.0      1.0         1.0             1.0        2.0    NaN
41076186         2.0      1.0         2.0             2.0        1.0    NaN
41076187         2.0      1.0         2.0             2.0        2.0    NaN
41076188         2.0      2.0         2.0             2.0        2.0    NaN

[2773 rows x 13 columns], df_name='nga_sr', label='A49', qtype='multi', survey='sr', text='Do you want to keep money aside for the following agricultural needs?')
key=tan_A49namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'transportation': 11, 'machinery': 12, 'other': 13}, country='tan', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
28845992         1.0    1.0         1.0        1.0   2.0      1.0       2.0
29265802         1.0    1.0         1.0        1.0   1.0      1.0       1.0
28901706         2.0    1.0         1.0        1.0   1.0      2.0       2.0
29302230         1.0    1.0         1.0        2.0   2.0      2.0       2.0
28910973         1.0    1.0         1.0        1.0   1.0      1.0       1.0
...              ...    ...         ...        ...   ...      ...       ...
29319386         NaN    NaN         NaN        NaN   NaN      NaN       NaN
28924835         1.0    1.0         1.0        1.0   1.0      1.0       1.0
29010663         1.0    1.0         1.0        1.0   1.0      1.0       1.0
29555590         1.0    1.0         1.0        1.0   1.0      1.0       1.0
29198985         1.0    1.0         1.0        1.0   1.0      1.0       2.0

          investment  storage  irrigation  transportation  machinery  other
28845992         1.0      1.0         1.0             1.0        1.0    2.0
29265802         1.0      1.0         1.0             1.0        1.0    NaN
28901706         2.0      1.0         1.0             1.0        1.0    NaN
29302230         2.0      2.0         2.0             1.0        NaN    NaN
28910973         1.0      1.0         1.0             1.0        1.0    NaN
...              ...      ...         ...             ...        ...    ...
29319386         NaN      NaN         NaN             NaN        NaN    NaN
28924835         1.0      1.0         1.0             1.0        1.0    NaN
29010663         1.0      1.0         1.0             1.0        1.0    NaN
29555590         1.0      1.0         1.0             1.0        1.0    2.0
29198985         1.0      1.0         1.0             2.0        1.0    2.0

[2795 rows x 13 columns], df_name='tan_sr', label='A49', qtype='multi', survey='sr', text='Do you want to keep money aside for the following agricultural needs?')
key=uga_A49namespace(answers={'yes': 1, 'no': 2}, column_dict={'fertilizer': 1, 'seeds': 2, 'pesticides': 3, 'equipment': 4, 'fuel': 5, 'workers': 6, 'security': 7, 'investment': 8, 'storage': 9, 'irrigation': 10, 'other': 11}, country='uga', df=          fertilizer  seeds  pesticides  equipment  fuel  workers  security  \
22678446         NaN    NaN         NaN        NaN   NaN      NaN       NaN
22678927         NaN    NaN         NaN        NaN   NaN      NaN       NaN
22679052         1.0    1.0         1.0        1.0   1.0      1.0       2.0
22679076         NaN    NaN         NaN        NaN   NaN      NaN       NaN
22679225         1.0    1.0         1.0        1.0   2.0      1.0       2.0
...              ...    ...         ...        ...   ...      ...       ...
23500842         1.0    1.0         1.0        1.0   1.0      1.0       1.0
23620542         NaN    NaN         NaN        NaN   NaN      NaN       NaN
23620647         1.0    1.0         1.0        1.0   1.0      2.0       1.0
23620678         1.0    1.0         1.0        1.0   1.0      1.0       1.0
23620722         NaN    NaN         NaN        NaN   NaN      NaN       NaN

          investment  storage  irrigation  other
22678446         NaN      NaN         NaN    NaN
22678927         NaN      NaN         NaN    NaN
22679052         1.0      1.0         1.0    2.0
22679076         NaN      NaN         NaN    NaN
22679225         1.0      1.0         1.0    NaN
...              ...      ...         ...    ...
23500842         1.0      1.0         1.0    NaN
23620542         NaN      NaN         NaN    NaN
23620647         1.0      1.0         1.0    NaN
23620678         1.0      1.0         1.0    NaN
23620722         NaN      NaN         NaN    NaN

[2771 rows x 11 columns], df_name='uga_sr', label='A49', qtype='multi', survey='sr', text='Do you want to keep money aside for the following agricultural needs?')
key=bgd_A52namespace(answers={'yes': 1, 'no': 2}, country='bgd', df=        A52
1       NaN
2       NaN
3       NaN
4       2.0
5       2.0
...     ...
800129  1.0
800130  1.0
800131  1.0
800132  2.0
800133  1.0

[3095 rows x 1 columns], df_name='bgd_sr', label='A52', qtype='single', survey='sr', text='Do you currently store any of your crops after the harvest?')
key=cdi_A52namespace(answers={'yes': 1, 'no': 2}, country='cdi', df=          A52
31028570  NaN
31028571  1.0
31036603  NaN
31038817  2.0
31040474  1.0
...       ...
32261521  1.0
32261522  1.0
32261524  1.0
32280062  1.0
32280063  1.0

[2949 rows x 1 columns], df_name='cdi_sr', label='A52', qtype='single', survey='sr', text='Do you currently store any of your crops after the harvest?')
key=moz_A52namespace(answers={'yes': 1, 'no': 2}, country='moz', df=          A52
21948170  NaN
21948180  2.0
21948779  2.0
21951744  1.0
21955646  NaN
...       ...
23315711  2.0
23324438  1.0
23324440  NaN
23324645  NaN
23324649  1.0

[2574 rows x 1 columns], df_name='moz_sr', label='A52', qtype='single', survey='sr', text='Do you currently store any of your crops after the harvest?')
key=nga_A52namespace(answers={'yes': 1, 'no': 2}, country='nga', df=          A52
40127279  1.0
40134046  1.0
40135889  2.0
40143258  2.0
40144462  1.0
...       ...
41076184  2.0
41076185  1.0
41076186  2.0
41076187  2.0
41076188  2.0

[2773 rows x 1 columns], df_name='nga_sr', label='A52', qtype='single', survey='sr', text='Do you currently store any of your crops after the harvest?')
key=tan_A52namespace(answers={'yes': 1, 'no': 2}, country='tan', df=          A52
28845992  1.0
29265802  1.0
28901706  2.0
29302230  1.0
28910973  1.0
...       ...
29319386  NaN
28924835  2.0
29010663  1.0
29555590  1.0
29198985  1.0

[2795 rows x 1 columns], df_name='tan_sr', label='A52', qtype='single', survey='sr', text='Do you currently store any of your crops after the harvest?')
key=uga_A52namespace(answers={'yes': 1, 'no': 2}, country='uga', df=          A52
22678446  NaN
22678927  NaN
22679052  1.0
22679076  NaN
22679225  2.0
...       ...
23500842  1.0
23620542  NaN
23620647  2.0
23620678  2.0
23620722  NaN

[2771 rows x 1 columns], df_name='uga_sr', label='A52', qtype='single', survey='sr', text='Do you currently store any of your crops after the harvest?')
key=bgd_A56namespace(answers={'yes': 1, 'no': 2}, column_dict={'better_price': 1, 'minimize_risk': 2, 'sell_after_season': 3, 'school_fees': 4, 'major_expense': 5, 'consume_later': 6, 'other': 7}, country='bgd', df=        better_price  minimize_risk  sell_after_season  school_fees  \
1                NaN            NaN                NaN          NaN
2                NaN            NaN                NaN          NaN
3                NaN            NaN                NaN          NaN
4                NaN            NaN                NaN          NaN
5                NaN            NaN                NaN          NaN
...              ...            ...                ...          ...
800129           2.0            2.0                2.0          2.0
800130           2.0            2.0                2.0          2.0
800131           2.0            2.0                2.0          2.0
800132           NaN            NaN                NaN          NaN
800133           2.0            2.0                2.0          2.0

        major_expense  consume_later  other
1                 NaN            NaN    NaN
2                 NaN            NaN    NaN
3                 NaN            NaN    NaN
4                 NaN            NaN    NaN
5                 NaN            NaN    NaN
...               ...            ...    ...
800129            2.0            1.0    2.0
800130            2.0            1.0    2.0
800131            2.0            1.0    2.0
800132            NaN            NaN    NaN
800133            2.0            1.0    2.0

[3095 rows x 7 columns], df_name='bgd_sr', label='A56', qtype='multi', survey='sr', text='Why do you store your crops?')
key=cdi_A56namespace(answers={'yes': 1, 'no': 2}, column_dict={'better_price': 1, 'minimize_risk': 2, 'sell_after_season': 3, 'school_fees': 4, 'major_expense': 5, 'consume_later': 6, 'other': 7}, country='cdi', df=          better_price  minimize_risk  sell_after_season  school_fees  \
31028570           NaN            NaN                NaN          NaN
31028571           1.0            2.0                1.0          2.0
31036603           NaN            NaN                NaN          NaN
31038817           NaN            NaN                NaN          NaN
31040474           1.0            2.0                2.0          2.0
...                ...            ...                ...          ...
32261521           1.0            2.0                2.0          2.0
32261522           1.0            2.0                2.0          2.0
32261524           1.0            2.0                2.0          2.0
32280062           2.0            2.0                2.0          2.0
32280063           2.0            1.0                2.0          2.0

          major_expense  consume_later  other
31028570            NaN            NaN    NaN
31028571            2.0            1.0    2.0
31036603            NaN            NaN    NaN
31038817            NaN            NaN    NaN
31040474            2.0            1.0    2.0
...                 ...            ...    ...
32261521            2.0            2.0    2.0
32261522            2.0            2.0    2.0
32261524            2.0            2.0    2.0
32280062            2.0            1.0    2.0
32280063            2.0            1.0    2.0

[2949 rows x 7 columns], df_name='cdi_sr', label='A56', qtype='multi', survey='sr', text='Why do you store your crops?')
key=moz_A56namespace(answers={'yes': 1, 'no': 2}, column_dict={'better_price': 1, 'minimize_risk': 2, 'sell_after_season': 3, 'school_fees': 4, 'major_expense': 5, 'consume_later': 6, 'other': 7}, country='moz', df=          better_price  minimize_risk  sell_after_season  school_fees  \
21948170           NaN            NaN                NaN          NaN
21948180           NaN            NaN                NaN          NaN
21948779           NaN            NaN                NaN          NaN
21951744           2.0            2.0                2.0          2.0
21955646           NaN            NaN                NaN          NaN
...                ...            ...                ...          ...
23315711           NaN            NaN                NaN          NaN
23324438           1.0            2.0                1.0          1.0
23324440           NaN            NaN                NaN          NaN
23324645           NaN            NaN                NaN          NaN
23324649           1.0            1.0                2.0          1.0

          major_expense  consume_later  other
21948170            NaN            NaN    NaN
21948180            NaN            NaN    NaN
21948779            NaN            NaN    NaN
21951744            2.0            1.0    2.0
21955646            NaN            NaN    NaN
...                 ...            ...    ...
23315711            NaN            NaN    NaN
23324438            1.0            1.0    2.0
23324440            NaN            NaN    NaN
23324645            NaN            NaN    NaN
23324649            2.0            1.0    2.0

[2574 rows x 7 columns], df_name='moz_sr', label='A56', qtype='multi', survey='sr', text='Why do you store your crops?')
key=nga_A56namespace(answers={'yes': 1, 'no': 2}, column_dict={'better_price': 1, 'minimize_risk': 2, 'sell_after_season': 3, 'school_fees': 4, 'major_expense': 5, 'consume_later': 6, 'other': 7}, country='nga', df=          better_price  minimize_risk  sell_after_season  school_fees  \
40127279           2.0            2.0                2.0          2.0
40134046           1.0            2.0                2.0          2.0
40135889           NaN            NaN                NaN          NaN
40143258           NaN            NaN                NaN          NaN
40144462           1.0            2.0                2.0          2.0
...                ...            ...                ...          ...
41076184           NaN            NaN                NaN          NaN
41076185           1.0            2.0                1.0          2.0
41076186           NaN            NaN                NaN          NaN
41076187           NaN            NaN                NaN          NaN
41076188           NaN            NaN                NaN          NaN

          major_expense  consume_later  other
40127279            2.0            1.0    2.0
40134046            2.0            1.0    2.0
40135889            NaN            NaN    NaN
40143258            NaN            NaN    NaN
40144462            2.0            1.0    2.0
...                 ...            ...    ...
41076184            NaN            NaN    NaN
41076185            1.0            2.0    2.0
41076186            NaN            NaN    NaN
41076187            NaN            NaN    NaN
41076188            NaN            NaN    NaN

[2773 rows x 7 columns], df_name='nga_sr', label='A56', qtype='multi', survey='sr', text='Why do you store your crops?')
key=tan_A56namespace(answers={'yes': 1, 'no': 2}, column_dict={'better_price': 1, 'minimize_risk': 2, 'sell_after_season': 3, 'school_fees': 4, 'major_expense': 5, 'consume_later': 6, 'other': 7}, country='tan', df=          better_price  minimize_risk  sell_after_season  school_fees  \
28845992           2.0            1.0                1.0          2.0
29265802           2.0            2.0                2.0          2.0
28901706           NaN            NaN                NaN          NaN
29302230           2.0            2.0                2.0          2.0
28910973           2.0            2.0                2.0          2.0
...                ...            ...                ...          ...
29319386           NaN            NaN                NaN          NaN
28924835           NaN            NaN                NaN          NaN
29010663           2.0            2.0                1.0          2.0
29555590           2.0            2.0                2.0          2.0
29198985           2.0            2.0                2.0          2.0

          major_expense  consume_later  other
28845992            2.0            2.0    2.0
29265802            2.0            1.0    2.0
28901706            NaN            NaN    NaN
29302230            2.0            1.0    2.0
28910973            2.0            1.0    2.0
...                 ...            ...    ...
29319386            NaN            NaN    NaN
28924835            NaN            NaN    NaN
29010663            2.0            1.0    2.0
29555590            2.0            1.0    2.0
29198985            2.0            1.0    2.0

[2795 rows x 7 columns], df_name='tan_sr', label='A56', qtype='multi', survey='sr', text='Why do you store your crops?')
key=uga_A56namespace(answers={'yes': 1, 'no': 2}, column_dict={'better_price': 1, 'minimize_risk': 2, 'sell_after_season': 3, 'school_fees': 4, 'major_expense': 5, 'consume_later': 6, 'other': 7}, country='uga', df=          better_price  minimize_risk  sell_after_season  school_fees  \
22678446           NaN            NaN                NaN          NaN
22678927           NaN            NaN                NaN          NaN
22679052           1.0            1.0                2.0          2.0
22679076           NaN            NaN                NaN          NaN
22679225           NaN            NaN                NaN          NaN
...                ...            ...                ...          ...
23500842           2.0            2.0                2.0          2.0
23620542           NaN            NaN                NaN          NaN
23620647           NaN            NaN                NaN          NaN
23620678           NaN            NaN                NaN          NaN
23620722           NaN            NaN                NaN          NaN

          major_expense  consume_later  other
22678446            NaN            NaN    NaN
22678927            NaN            NaN    NaN
22679052            2.0            1.0    2.0
22679076            NaN            NaN    NaN
22679225            NaN            NaN    NaN
...                 ...            ...    ...
23500842            2.0            1.0    2.0
23620542            NaN            NaN    NaN
23620647            NaN            NaN    NaN
23620678            NaN            NaN    NaN
23620722            NaN            NaN    NaN

[2771 rows x 7 columns], df_name='uga_sr', label='A56', qtype='multi', survey='sr', text='Why do you store your crops?')

key=bgd_A57namespace(answers={'yes': 1, 'no': 2}, column_dict={'no_storage': 1, 'expensive': 2, 'no_leftover': 3, 'bad_idea': 4, 'need_money': 5, 'other': 6}, country='bgd', df=        no_storage  expensive  no_leftover  bad_idea  need_money  other
1              NaN        NaN          NaN       NaN         NaN    NaN
2              NaN        NaN          NaN       NaN         NaN    NaN
3              NaN        NaN          NaN       NaN         NaN    NaN
4              2.0        2.0          1.0       2.0         2.0    2.0
5              2.0        2.0          1.0       2.0         2.0    2.0
...            ...        ...          ...       ...         ...    ...
800129         NaN        NaN          NaN       NaN         NaN    NaN
800130         NaN        NaN          NaN       NaN         NaN    NaN
800131         NaN        NaN          NaN       NaN         NaN    NaN
800132         2.0        2.0          1.0       2.0         2.0    2.0
800133         NaN        NaN          NaN       NaN         NaN    NaN

[3095 rows x 6 columns], df_name='bgd_sr', label='A57', qtype='multi', survey='sr', text='Why do you not currently store your crops?')
key=cdi_A57namespace(answers={'yes': 1, 'no': 2}, column_dict={'no_storage': 1, 'expensive': 2, 'no_leftover': 3, 'bad_idea': 4, 'need_money': 5, 'other': 6}, country='cdi', df=          no_storage  expensive  no_leftover  bad_idea  need_money  other
31028570         NaN        NaN          NaN       NaN         NaN    NaN
31028571         NaN        NaN          NaN       NaN         NaN    NaN
31036603         NaN        NaN          NaN       NaN         NaN    NaN
31038817         1.0        2.0          2.0       2.0         2.0    2.0
31040474         NaN        NaN          NaN       NaN         NaN    NaN
...              ...        ...          ...       ...         ...    ...
32261521         NaN        NaN          NaN       NaN         NaN    NaN
32261522         NaN        NaN          NaN       NaN         NaN    NaN
32261524         NaN        NaN          NaN       NaN         NaN    NaN
32280062         NaN        NaN          NaN       NaN         NaN    NaN
32280063         NaN        NaN          NaN       NaN         NaN    NaN

[2949 rows x 6 columns], df_name='cdi_sr', label='A57', qtype='multi', survey='sr', text='Why do you not currently store your crops?')
key=moz_A57namespace(answers={'yes': 1, 'no': 2}, column_dict={'no_storage': 1, 'expensive': 2, 'no_leftover': 3, 'bad_idea': 4, 'need_money': 5, 'other': 6}, country='moz', df=          no_storage  expensive  no_leftover  bad_idea  need_money  other
21948170         NaN        NaN          NaN       NaN         NaN    NaN
21948180         1.0        2.0          2.0       2.0         2.0    2.0
21948779         2.0        2.0          1.0       2.0         2.0    2.0
21951744         NaN        NaN          NaN       NaN         NaN    NaN
21955646         NaN        NaN          NaN       NaN         NaN    NaN
...              ...        ...          ...       ...         ...    ...
23315711         1.0        2.0          2.0       2.0         2.0    2.0
23324438         NaN        NaN          NaN       NaN         NaN    NaN
23324440         NaN        NaN          NaN       NaN         NaN    NaN
23324645         NaN        NaN          NaN       NaN         NaN    NaN
23324649         NaN        NaN          NaN       NaN         NaN    NaN

[2574 rows x 6 columns], df_name='moz_sr', label='A57', qtype='multi', survey='sr', text='Why do you not currently store your crops?')
key=nga_A57namespace(answers={'yes': 1, 'no': 2}, column_dict={'no_storage': 1, 'expensive': 2, 'no_leftover': 3, 'bad_idea': 4, 'need_money': 5, 'other': 6}, country='nga', df=          no_storage  expensive  no_leftover  bad_idea  need_money  other
40127279         NaN        NaN          NaN       NaN         NaN    NaN
40134046         NaN        NaN          NaN       NaN         NaN    NaN
40135889         2.0        2.0          1.0       2.0         1.0    2.0
40143258         2.0        2.0          2.0       2.0         1.0    2.0
40144462         NaN        NaN          NaN       NaN         NaN    NaN
...              ...        ...          ...       ...         ...    ...
41076184         2.0        1.0          2.0       1.0         2.0    2.0
41076185         NaN        NaN          NaN       NaN         NaN    NaN
41076186         2.0        2.0          1.0       2.0         2.0    2.0
41076187         2.0        1.0          1.0       2.0         2.0    2.0
41076188         2.0        2.0          1.0       2.0         1.0    2.0

[2773 rows x 6 columns], df_name='nga_sr', label='A57', qtype='multi', survey='sr', text='Why do you not currently store your crops?')
key=tan_A57namespace(answers={'yes': 1, 'no': 2}, column_dict={'no_storage': 1, 'expensive': 2, 'no_leftover': 3, 'bad_idea': 4, 'need_money': 5, 'other': 6}, country='tan', df=          no_storage  expensive  no_leftover  bad_idea  need_money  other
28845992         NaN        NaN          NaN       NaN         NaN    NaN
29265802         NaN        NaN          NaN       NaN         NaN    NaN
28901706         1.0        2.0          1.0       2.0         2.0    2.0
29302230         NaN        NaN          NaN       NaN         NaN    NaN
28910973         NaN        NaN          NaN       NaN         NaN    NaN
...              ...        ...          ...       ...         ...    ...
29319386         NaN        NaN          NaN       NaN         NaN    NaN
28924835         2.0        2.0          1.0       2.0         2.0    2.0
29010663         NaN        NaN          NaN       NaN         NaN    NaN
29555590         NaN        NaN          NaN       NaN         NaN    NaN
29198985         NaN        NaN          NaN       NaN         NaN    NaN

[2795 rows x 6 columns], df_name='tan_sr', label='A57', qtype='multi', survey='sr', text='Why do you not currently store your crops?')
key=uga_A57namespace(answers={'yes': 1, 'no': 2}, column_dict={'no_storage': 1, 'expensive': 2, 'no_leftover': 3, 'bad_idea': 4, 'need_money': 5, 'other': 6}, country='uga', df=          no_storage  expensive  no_leftover  bad_idea  need_money  other
22678446         NaN        NaN          NaN       NaN         NaN    NaN
22678927         NaN        NaN          NaN       NaN         NaN    NaN
22679052         NaN        NaN          NaN       NaN         NaN    NaN
22679076         NaN        NaN          NaN       NaN         NaN    NaN
22679225         1.0        1.0          2.0       2.0         2.0    2.0
...              ...        ...          ...       ...         ...    ...
23500842         NaN        NaN          NaN       NaN         NaN    NaN
23620542         NaN        NaN          NaN       NaN         NaN    NaN
23620647         1.0        2.0          2.0       2.0         2.0    2.0
23620678         1.0        2.0          2.0       2.0         2.0    2.0
23620722         NaN        NaN          NaN       NaN         NaN    NaN

[2771 rows x 6 columns], df_name='uga_sr', label='A57', qtype='multi', survey='sr', text='Why do you not currently store your crops?')
key=bgd_A58namespace(answers={'yes': 1, 'no': 2}, country='bgd', df=        A58
1       NaN
2       NaN
3       NaN
4       2.0
5       2.0
...     ...
800129  1.0
800130  1.0
800131  2.0
800132  2.0
800133  2.0

[3095 rows x 1 columns], df_name='bgd_sr', label='A58', qtype='single', survey='sr', text='Have you ever purchased livestock as an investment?')
key=cdi_A58namespace(answers={'yes': 1, 'no': 2}, country='cdi', df=          A58
31028570  NaN
31028571  2.0
31036603  NaN
31038817  1.0
31040474  2.0
...       ...
32261521  1.0
32261522  2.0
32261524  2.0
32280062  2.0
32280063  2.0

[2949 rows x 1 columns], df_name='cdi_sr', label='A58', qtype='single', survey='sr', text='Have you ever purchased livestock as an investment?')
key=moz_A58namespace(answers={'yes': 1, 'no': 2}, country='moz', df=          A58
21948170  NaN
21948180  2.0
21948779  2.0
21951744  2.0
21955646  NaN
...       ...
23315711  2.0
23324438  2.0
23324440  NaN
23324645  NaN
23324649  1.0

[2574 rows x 1 columns], df_name='moz_sr', label='A58', qtype='single', survey='sr', text='Have you ever purchased livestock as an investment?')
key=nga_A58namespace(answers={'yes': 1, 'no': 2}, country='nga', df=          A58
40127279  1.0
40134046  1.0
40135889  2.0
40143258  1.0
40144462  1.0
...       ...
41076184  2.0
41076185  1.0
41076186  1.0
41076187  2.0
41076188  2.0

[2773 rows x 1 columns], df_name='nga_sr', label='A58', qtype='single', survey='sr', text='Have you ever purchased livestock as an investment?')
key=tan_A58namespace(answers={'yes': 1, 'no': 2}, country='tan', df=          A58
28845992  2.0
29265802  2.0
28901706  2.0
29302230  2.0
28910973  2.0
...       ...
29319386  NaN
28924835  2.0
29010663  2.0
29555590  2.0
29198985  2.0

[2795 rows x 1 columns], df_name='tan_sr', label='A58', qtype='single', survey='sr', text='Have you ever purchased livestock as an investment?')
key=uga_A58namespace(answers={'yes': 1, 'no': 2}, country='uga', df=          A58
22678446  NaN
22678927  NaN
22679052  2.0
22679076  NaN
22679225  1.0
...       ...
23500842  2.0
23620542  NaN
23620647  2.0
23620678  2.0
23620722  NaN

[2771 rows x 1 columns], df_name='uga_sr', label='A58', qtype='single', survey='sr', text='Have you ever purchased livestock as an investment?')
key=bgd_A59namespace(answers={'yes': 1, 'no': 2}, country='bgd', df=        A59
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
...     ...
800129  1.0
800130  1.0
800131  NaN
800132  NaN
800133  NaN

[3095 rows x 1 columns], df_name='bgd_sr', label='A59', qtype='single', survey='sr', text='Do you currently have livestock that are investments?')
key=cdi_A59namespace(answers={'yes': 1, 'no': 2}, country='cdi', df=          A59
31028570  NaN
31028571  NaN
31036603  NaN
31038817  1.0
31040474  NaN
...       ...
32261521  2.0
32261522  NaN
32261524  NaN
32280062  NaN
32280063  NaN

[2949 rows x 1 columns], df_name='cdi_sr', label='A59', qtype='single', survey='sr', text='Do you currently have livestock that are investments?')
key=moz_A59namespace(answers={'yes': 1, 'no': 2}, country='moz', df=          A59
21948170  NaN
21948180  NaN
21948779  NaN
21951744  NaN
21955646  NaN
...       ...
23315711  NaN
23324438  NaN
23324440  NaN
23324645  NaN
23324649  2.0

[2574 rows x 1 columns], df_name='moz_sr', label='A59', qtype='single', survey='sr', text='Do you currently have livestock that are investments?')
key=nga_A59namespace(answers={'yes': 1, 'no': 2}, country='nga', df=          A59
40127279  2.0
40134046  1.0
40135889  NaN
40143258  1.0
40144462  1.0
...       ...
41076184  NaN
41076185  1.0
41076186  2.0
41076187  NaN
41076188  NaN

[2773 rows x 1 columns], df_name='nga_sr', label='A59', qtype='single', survey='sr', text='Do you currently have livestock that are investments?')

key=tan_A59namespace(answers={'yes': 1, 'no': 2}, country='tan', df=          A59
28845992  NaN
29265802  NaN
28901706  NaN
29302230  NaN
28910973  NaN
...       ...
29319386  NaN
28924835  NaN
29010663  NaN
29555590  NaN
29198985  NaN

[2795 rows x 1 columns], df_name='tan_sr', label='A59', qtype='single', survey='sr', text='Do you currently have livestock that are investments?')
key=uga_A59namespace(answers={'yes': 1, 'no': 2}, country='uga', df=          A59
22678446  NaN
22678927  NaN
22679052  NaN
22679076  NaN
22679225  1.0
...       ...
23500842  NaN
23620542  NaN
23620647  NaN
23620678  NaN
23620722  NaN

[2771 rows x 1 columns], df_name='uga_sr', label='A59', qtype='single', survey='sr', text='Do you currently have livestock that are investments?')
key=bgd_A60namespace(answers={'weather': 1, 'power': 2, 'prices': 3, 'inputs': 4, 'pests_disease': 5, 'contract_broken': 6, 'no_sale': 7, 'perils_accidents': 8, 'health': 9, 'loss_of_land': 10, 'equipment_breakdown': 11, 'input_quality': 12, 'fuel_prices': 13, 'other': 14}, country='bgd', df=        A60
1       NaN
2       NaN
3       NaN
4       1.0
5       1.0
...     ...
800129  5.0
800130  5.0
800131  1.0
800132  1.0
800133  1.0

[3095 rows x 1 columns], df_name='bgd_sr', label='A60', qtype='single', survey='sr', text='Which of the following factors pose the most significant risk to your agricultural activities?')
key=cdi_A60namespace(answers={'weather': 1, 'power': 2, 'prices': 3, 'inputs': 4, 'pests_disease': 5, 'contract_broken': 6, 'no_sale': 7, 'perils_accidents': 8, 'health': 9, 'loss_of_land': 10, 'equipment_breakdown': 11, 'input_quality': 12, 'fuel_prices': 13, 'other': 14}, country='cdi', df=          A60
31028570  NaN
31028571  1.0
31036603  NaN
31038817  9.0
31040474  1.0
...       ...
32261521  3.0
32261522  3.0
32261524  3.0
32280062  1.0
32280063  1.0

[2949 rows x 1 columns], df_name='cdi_sr', label='A60', qtype='single', survey='sr', text='Which of the following factors pose the most significant risk to your agricultural activities?')
key=moz_A60namespace(answers={'weather': 1, 'power': 2, 'prices': 4, 'inputs': 5, 'pests_disease': 6, 'contract_broken': 7, 'no_sale': 8, 'perils_accidents': 9, 'health': 10, 'loss_of_land': 11, 'other': 12}, country='moz', df=          A60
21948170  NaN
21948180  1.0
21948779  1.0
21951744  1.0
21955646  NaN
...       ...
23315711  1.0
23324438  5.0
23324440  NaN
23324645  NaN
23324649  1.0

[2574 rows x 1 columns], df_name='moz_sr', label='A60', qtype='single', survey='sr', text='Which of the following factors pose the most significant risk to your agricultural activities?')
key=nga_A60namespace(answers={'weather': 1, 'power': 2, 'prices': 3, 'inputs': 4, 'pests_disease': 5, 'contract_broken': 6, 'no_sale': 7, 'perils_accidents': 8, 'health': 9, 'loss_of_land': 10, 'equipment_breakdown': 11, 'input_quality': 12, 'fuel_prices': 13, 'other': 14}, country='nga', df=          A60
40127279  1.0
40134046  5.0
40135889  1.0
40143258  1.0
40144462  1.0
...       ...
41076184  3.0
41076185  4.0
41076186  3.0
41076187  4.0
41076188  3.0

[2773 rows x 1 columns], df_name='nga_sr', label='A60', qtype='single', survey='sr', text='Which of the following factors pose the most significant risk to your agricultural activities?')
key=tan_A60namespace(answers={'weather': 1, 'power': 2, 'prices': 3, 'inputs': 4, 'pests_disease': 5, 'contract_broken': 6, 'no_sale': 7, 'perils_accidents': 8, 'health': 9, 'loss_of_land': 10, 'equipment_breakdown': 11, 'input_quality': 12, 'fuel_prices': 13, 'other': 14}, country='tan', df=           A60
28845992   1.0
29265802   1.0
28901706  11.0
29302230   NaN
28910973   1.0
...        ...
29319386   NaN
28924835  10.0
29010663   1.0
29555590   1.0
29198985   1.0

[2795 rows x 1 columns], df_name='tan_sr', label='A60', qtype='single', survey='sr', text='Which of the following factors pose the most significant risk to your agricultural activities?')
key=uga_A60namespace(answers={'weather': 1, 'power': 2, 'prices': 3, 'inputs': 4, 'pests_disease': 5, 'contract_broken': 6, 'no_sale': 7, 'perils_accidents': 8, 'health': 9, 'loss_of_land': 10, 'equipment_breakdown': 11, 'other': 12}, country='uga', df=          A60
22678446  NaN
22678927  NaN
22679052  5.0
22679076  NaN
22679225  3.0
...       ...
23500842  5.0
23620542  NaN
23620647  5.0
23620678  3.0
23620722  NaN

[2771 rows x 1 columns], df_name='uga_sr', label='A60', qtype='single', survey='sr', text='Which of the following factors pose the most significant risk to your agricultural activities?')
key=bgd_A61namespace(answers={'yes': 1, 'no': 2}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9, 'death': 10, 'unrest_or_war': 11, 'DK': 12}, country='bgd', df=        weather  pests_disease  accident  market_prices  input_prices  \
1           NaN            NaN       NaN            NaN           NaN
2           NaN            NaN       NaN            NaN           NaN
3           NaN            NaN       NaN            NaN           NaN
4           2.0            1.0       2.0            2.0           2.0
5           1.0            1.0       2.0            2.0           2.0
...         ...            ...       ...            ...           ...
800129      2.0            1.0       2.0            2.0           2.0
800130      2.0            1.0       2.0            2.0           2.0
800131      1.0            2.0       2.0            2.0           2.0
800132      1.0            2.0       2.0            2.0           2.0
800133      1.0            2.0       2.0            2.0           2.0

        contract_broken  downturn_no_sale  equipment_breakdown  health  death  \
1                   NaN               NaN                  NaN     NaN    NaN
2                   NaN               NaN                  NaN     NaN    NaN
3                   NaN               NaN                  NaN     NaN    NaN
4                   2.0               2.0                  2.0     2.0    2.0
5                   2.0               2.0                  2.0     2.0    2.0
...                 ...               ...                  ...     ...    ...
800129              2.0               2.0                  2.0     2.0    2.0
800130              2.0               2.0                  2.0     2.0    2.0
800131              2.0               2.0                  2.0     2.0    2.0
800132              2.0               2.0                  2.0     2.0    2.0
800133              2.0               2.0                  2.0     2.0    2.0

        unrest_or_war   DK
1                 NaN  NaN
2                 NaN  NaN
3                 NaN  NaN
4                 2.0  2.0
5                 2.0  2.0
...               ...  ...
800129            2.0  2.0
800130            2.0  2.0
800131            2.0  2.0
800132            2.0  2.0
800133            2.0  2.0

[3095 rows x 12 columns], df_name='bgd_sr', label='A61', qtype='multi', survey='sr', text='Have your agricultural activities been seriously affected by any of the following events in the past three years?')
key=cdi_A61namespace(answers={'yes': 1, 'no': 2}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9}, country='cdi', df=          weather  pests_disease  accident  market_prices  input_prices  \
31028570      NaN            NaN       NaN            NaN           NaN
31028571      1.0            2.0       2.0            2.0           2.0
31036603      NaN            NaN       NaN            NaN           NaN
31038817      2.0            2.0       2.0            2.0           2.0
31040474      1.0            2.0       2.0            2.0           2.0
...           ...            ...       ...            ...           ...
32261521      1.0            1.0       1.0            1.0           1.0
32261522      1.0            1.0       1.0            1.0           1.0
32261524      1.0            1.0       1.0            1.0           1.0
32280062      1.0            1.0       2.0            2.0           2.0
32280063      1.0            1.0       2.0            2.0           2.0

          contract_broken  downturn_no_sale  equipment_breakdown  health
31028570              NaN               NaN                  NaN     NaN
31028571              2.0               2.0                  2.0     2.0
31036603              NaN               NaN                  NaN     NaN
31038817              2.0               2.0                  2.0     2.0
31040474              2.0               2.0                  2.0     2.0
...                   ...               ...                  ...     ...
32261521              1.0               1.0                  1.0     2.0
32261522              1.0               1.0                  1.0     1.0
32261524              1.0               1.0                  1.0     2.0
32280062              2.0               2.0                  2.0     2.0
32280063              2.0               2.0                  2.0     2.0

[2949 rows x 9 columns], df_name='cdi_sr', label='A61', qtype='multi', survey='sr', text='Have your agricultural activities been seriously affected by any of the following events in the past three years?')
key=moz_A61namespace(answers={'yes': 1, 'no': 2}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9}, country='moz', df=          weather  pests_disease  accident  market_prices  input_prices  \
21948170      NaN            NaN       NaN            NaN           NaN
21948180      1.0            2.0       2.0            2.0           2.0
21948779      1.0            2.0       2.0            2.0           2.0
21951744      1.0            2.0       2.0            2.0           2.0
21955646      NaN            NaN       NaN            NaN           NaN
...           ...            ...       ...            ...           ...
23315711      1.0            1.0       1.0            1.0           1.0
23324438      1.0            2.0       1.0            2.0           2.0
23324440      NaN            NaN       NaN            NaN           NaN
23324645      NaN            NaN       NaN            NaN           NaN
23324649      1.0            2.0       1.0            2.0           1.0

          contract_broken  downturn_no_sale  equipment_breakdown  health
21948170              NaN               NaN                  NaN     NaN
21948180              2.0               2.0                  2.0     2.0
21948779              2.0               2.0                  2.0     2.0
21951744              2.0               2.0                  2.0     2.0
21955646              NaN               NaN                  NaN     NaN
...                   ...               ...                  ...     ...
23315711              1.0               2.0                  2.0     2.0
23324438              1.0               1.0                  2.0     2.0
23324440              NaN               NaN                  NaN     NaN
23324645              NaN               NaN                  NaN     NaN
23324649              2.0               1.0                  2.0     2.0

[2574 rows x 9 columns], df_name='moz_sr', label='A61', qtype='multi', survey='sr', text='Have your agricultural activities been seriously affected by any of the following events in the past three years?')
key=nga_A61namespace(answers={'yes': 1, 'no': 2}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9}, country='nga', df=          weather  pests_disease  accident  market_prices  input_prices  \
40127279      1.0            1.0       1.0            2.0           2.0
40134046      1.0            1.0       1.0            2.0           1.0
40135889      1.0            1.0       1.0            1.0           1.0
40143258      1.0            2.0       2.0            2.0           1.0
40144462      2.0            2.0       2.0            2.0           2.0
...           ...            ...       ...            ...           ...
41076184      1.0            2.0       1.0            1.0           2.0
41076185      2.0            1.0       1.0            1.0           1.0
41076186      2.0            2.0       2.0            2.0           2.0
41076187      1.0            2.0       2.0            2.0           2.0
41076188      1.0            2.0       2.0            2.0           1.0

          contract_broken  downturn_no_sale  equipment_breakdown  health
40127279              2.0               1.0                  2.0     2.0
40134046              2.0               2.0                  2.0     1.0
40135889              2.0               2.0                  2.0     1.0
40143258              2.0               2.0                  2.0     2.0
40144462              2.0               2.0                  2.0     2.0
...                   ...               ...                  ...     ...
41076184              1.0               2.0                  2.0     2.0
41076185              2.0               2.0                  2.0     2.0
41076186              2.0               1.0                  1.0     2.0
41076187              2.0               1.0                  2.0     2.0
41076188              1.0               1.0                  1.0     1.0

[2773 rows x 9 columns], df_name='nga_sr', label='A61', qtype='multi', survey='sr', text='Have your agricultural activities been seriously affected by any of the following events in the past three years?')
key=tan_A61namespace(answers={'yes': 1, 'no': 2}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9}, country='tan', df=          weather  pests_disease  accident  market_prices  input_prices  \
28845992      2.0            1.0       2.0            1.0           2.0
29265802      1.0            2.0       1.0            1.0           2.0
28901706      1.0            2.0       2.0            2.0           2.0
29302230      2.0            2.0       2.0            2.0           2.0
28910973      1.0            2.0       2.0            1.0           2.0
...           ...            ...       ...            ...           ...
29319386      NaN            NaN       NaN            NaN           NaN
28924835      1.0            1.0       2.0            2.0           1.0
29010663      1.0            2.0       2.0            2.0           2.0
29555590      1.0            2.0       2.0            2.0           2.0
29198985      1.0            2.0       2.0            2.0           1.0

          contract_broken  downturn_no_sale  equipment_breakdown  health
28845992              2.0               2.0                  2.0     2.0
29265802              2.0               2.0                  1.0     1.0
28901706              2.0               1.0                  2.0     2.0
29302230              2.0               2.0                  2.0     2.0
28910973              2.0               2.0                  2.0     2.0
...                   ...               ...                  ...     ...
29319386              NaN               NaN                  NaN     NaN
28924835              2.0               2.0                  2.0     2.0
29010663              2.0               2.0                  2.0     2.0
29555590              2.0               2.0                  2.0     2.0
29198985              2.0               2.0                  2.0     1.0

[2795 rows x 9 columns], df_name='tan_sr', label='A61', qtype='multi', survey='sr', text='Have your agricultural activities been seriously affected by any of the following events in the past three years?')
key=uga_A61namespace(answers={'yes': 1, 'no': 2}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9}, country='uga', df=          weather  pests_disease  accident  market_prices  input_prices  \
22678446      NaN            NaN       NaN            NaN           NaN
22678927      NaN            NaN       NaN            NaN           NaN
22679052      1.0            1.0       2.0            2.0           2.0
22679076      NaN            NaN       NaN            NaN           NaN
22679225      1.0            1.0       2.0            1.0           1.0
...           ...            ...       ...            ...           ...
23500842      2.0            1.0       2.0            2.0           2.0
23620542      NaN            NaN       NaN            NaN           NaN
23620647      2.0            1.0       2.0            2.0           2.0
23620678      2.0            1.0       2.0            2.0           2.0
23620722      NaN            NaN       NaN            NaN           NaN

          contract_broken  downturn_no_sale  equipment_breakdown  health
22678446              NaN               NaN                  NaN     NaN
22678927              NaN               NaN                  NaN     NaN
22679052              2.0               1.0                  2.0     2.0
22679076              NaN               NaN                  NaN     NaN
22679225              2.0               2.0                  2.0     2.0
...                   ...               ...                  ...     ...
23500842              2.0               2.0                  2.0     2.0
23620542              NaN               NaN                  NaN     NaN
23620647              2.0               2.0                  2.0     2.0
23620678              2.0               2.0                  2.0     2.0
23620722              NaN               NaN                  NaN     NaN

[2771 rows x 9 columns], df_name='uga_sr', label='A61', qtype='multi', survey='sr', text='Have your agricultural activities been seriously affected by any of the following events in the past three years?')

key=bgd_A62namespace(answers={'temp_job': 1, 'took_loan': 2, 'borrowed': 3, 'sold_livestock': 4, 'sold_asset': 5, 'used_savings': 6, 'insurance_paid': 7, 'no_need': 8, 'did_nothing': 9}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9, 'death': 10, 'unrest_or_war': 11, 'DK': 12}, country='bgd', df=        weather  pests_disease  accident  market_prices  input_prices  \
1           NaN            NaN       NaN            NaN           NaN
2           NaN            NaN       NaN            NaN           NaN
3           NaN            NaN       NaN            NaN           NaN
4           NaN            9.0       NaN            NaN           NaN
5           3.0            3.0       NaN            NaN           NaN
...         ...            ...       ...            ...           ...
800129      NaN            2.0       NaN            NaN           NaN
800130      NaN            2.0       NaN            NaN           NaN
800131      8.0            NaN       NaN            NaN           NaN
800132      8.0            NaN       NaN            NaN           NaN
800133      2.0            NaN       NaN            NaN           NaN

        contract_broken  downturn_no_sale  equipment_breakdown  health  death  \
1                   NaN               NaN                  NaN     NaN    NaN
2                   NaN               NaN                  NaN     NaN    NaN
3                   NaN               NaN                  NaN     NaN    NaN
4                   NaN               NaN                  NaN     NaN    NaN
5                   NaN               NaN                  NaN     NaN    NaN
...                 ...               ...                  ...     ...    ...
800129              NaN               NaN                  NaN     NaN    NaN
800130              NaN               NaN                  NaN     NaN    NaN
800131              NaN               NaN                  NaN     NaN    NaN
800132              NaN               NaN                  NaN     NaN    NaN
800133              NaN               NaN                  NaN     NaN    NaN

        unrest_or_war
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
...               ...
800129            NaN
800130            NaN
800131            NaN
800132            NaN
800133            NaN

[3095 rows x 11 columns], df_name='bgd_sr', label='A62', qtype='multi', survey='sr', text='How did you mainly cope when this happened?')
key=cdi_A62namespace(answers={'temp_job': 1, 'took_loan': 2, 'borrowed': 3, 'sold_livestock': 4, 'sold_asset': 5, 'used_savings': 6, 'insurance_paid': 7, 'no_need': 8, 'did_nothing': 9}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9}, country='cdi', df=          weather  pests_disease  accident  market_prices  input_prices  \
31028570      NaN            NaN       NaN            NaN           NaN
31028571      6.0            NaN       NaN            NaN           NaN
31036603      NaN            NaN       NaN            NaN           NaN
31038817      NaN            NaN       NaN            NaN           NaN
31040474      6.0            NaN       NaN            NaN           NaN
...           ...            ...       ...            ...           ...
32261521      2.0            2.0       2.0            2.0           2.0
32261522      9.0            9.0       9.0            9.0           9.0
32261524      9.0            9.0       9.0            9.0           9.0
32280062      3.0            3.0       NaN            NaN           NaN
32280063      6.0            6.0       NaN            NaN           NaN

          contract_broken  downturn_no_sale  equipment_breakdown  health
31028570              NaN               NaN                  NaN     NaN
31028571              NaN               NaN                  NaN     NaN
31036603              NaN               NaN                  NaN     NaN
31038817              NaN               NaN                  NaN     NaN
31040474              NaN               NaN                  NaN     NaN
...                   ...               ...                  ...     ...
32261521              2.0               2.0                  2.0     NaN
32261522              9.0               9.0                  9.0     9.0
32261524              9.0               9.0                  9.0     NaN
32280062              NaN               NaN                  NaN     NaN
32280063              NaN               NaN                  NaN     NaN

[2949 rows x 9 columns], df_name='cdi_sr', label='A62', qtype='multi', survey='sr', text='How did you mainly cope when this happened?')
key=moz_A62namespace(answers={'temp_job': 1, 'took_loan': 2, 'borrowed': 3, 'sold_livestock': 4, 'sold_asset': 5, 'used_savings': 6, 'insurance_paid': 7, 'no_need': 8, 'did_nothing': 9}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9}, country='moz', df=          weather  pests_disease  accident  market_prices  input_prices  \
21948170      NaN            NaN       NaN            NaN           NaN
21948180      NaN            NaN       NaN            NaN           NaN
21948779      NaN            NaN       NaN            NaN           NaN
21951744      NaN            NaN       NaN            NaN           NaN
21955646      NaN            NaN       NaN            NaN           NaN
...           ...            ...       ...            ...           ...
23315711      9.0            9.0       9.0            9.0           9.0
23324438      1.0            NaN       3.0            NaN           NaN
23324440      NaN            NaN       NaN            NaN           NaN
23324645      NaN            NaN       NaN            NaN           NaN
23324649      1.0            NaN       3.0            NaN           5.0

          contract_broken  downturn_no_sale  equipment_breakdown  health
21948170              NaN               NaN                  NaN     NaN
21948180              NaN               NaN                  NaN     NaN
21948779              NaN               NaN                  NaN     NaN
21951744              NaN               NaN                  NaN     NaN
21955646              NaN               NaN                  NaN     NaN
...                   ...               ...                  ...     ...
23315711              9.0               NaN                  NaN     NaN
23324438              4.0               2.0                  NaN     NaN
23324440              NaN               NaN                  NaN     NaN
23324645              NaN               NaN                  NaN     NaN
23324649              NaN               6.0                  NaN     NaN

[2574 rows x 9 columns], df_name='moz_sr', label='A62', qtype='multi', survey='sr', text='How did you mainly cope when this happened?')
key=nga_A62namespace(answers={'temp_job': 1, 'took_loan': 2, 'borrowed': 3, 'sold_livestock': 4, 'sold_asset': 5, 'used_savings': 6, 'insurance_paid': 7, 'no_need': 8, 'did_nothing': 9}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9}, country='nga', df=          weather  pests_disease  accident  market_prices  input_prices  \
40127279      3.0            3.0       6.0            NaN           NaN
40134046      5.0            3.0       3.0            NaN           5.0
40135889      1.0            3.0       3.0            3.0           3.0
40143258      NaN            NaN       NaN            NaN           NaN
40144462      NaN            NaN       NaN            NaN           NaN
...           ...            ...       ...            ...           ...
41076184      2.0            NaN       6.0            2.0           NaN
41076185      NaN            3.0       3.0            3.0           5.0
41076186      NaN            NaN       NaN            NaN           NaN
41076187      2.0            NaN       NaN            NaN           NaN
41076188      3.0            NaN       NaN            NaN           2.0

          contract_broken  downturn_no_sale  equipment_breakdown  health
40127279              NaN               5.0                  NaN     NaN
40134046              NaN               NaN                  NaN     3.0
40135889              NaN               NaN                  NaN     3.0
40143258              NaN               NaN                  NaN     NaN
40144462              NaN               NaN                  NaN     NaN
...                   ...               ...                  ...     ...
41076184              5.0               NaN                  NaN     NaN
41076185              NaN               NaN                  NaN     NaN
41076186              NaN               4.0                  3.0     NaN
41076187              NaN               3.0                  NaN     NaN
41076188              2.0               5.0                  7.0     3.0

[2773 rows x 9 columns], df_name='nga_sr', label='A62', qtype='multi', survey='sr', text='How did you mainly cope when this happened?')
key=tan_A62namespace(answers={'temp_job': 1, 'took_loan': 2, 'borrowed': 3, 'sold_livestock': 4, 'sold_asset': 5, 'used_savings': 6, 'insurance_paid': 7, 'no_need': 8, 'did_nothing': 9}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9}, country='tan', df=          weather  pests_disease  accident  market_prices  input_prices  \
28845992      NaN            9.0       NaN           10.0           NaN
29265802      4.0            NaN       4.0            4.0           NaN
28901706      5.0            NaN       NaN            NaN           NaN
29302230      NaN            NaN       NaN            NaN           NaN
28910973     10.0            NaN       NaN            8.0           NaN
...           ...            ...       ...            ...           ...
29319386      NaN            NaN       NaN            NaN           NaN
28924835      4.0            4.0       NaN            NaN           5.0
29010663      4.0            NaN       NaN            NaN           NaN
29555590      3.0            NaN       NaN            NaN           NaN
29198985      4.0            NaN       NaN            NaN           4.0

          contract_broken  downturn_no_sale  equipment_breakdown  health
28845992              NaN               NaN                  NaN     NaN
29265802              NaN               NaN                  4.0     4.0
28901706              NaN               4.0                  NaN     NaN
29302230              NaN               NaN                  NaN     NaN
28910973              NaN               NaN                  NaN     NaN
...                   ...               ...                  ...     ...
29319386              NaN               NaN                  NaN     NaN
28924835              NaN               NaN                  NaN     NaN
29010663              NaN               NaN                  NaN     NaN
29555590              NaN               NaN                  NaN     NaN
29198985              NaN               NaN                  NaN     4.0

[2795 rows x 9 columns], df_name='tan_sr', label='A62', qtype='multi', survey='sr', text='How did you mainly cope when this happened?')
key=uga_A62namespace(answers={'temp_job': 1, 'took_loan': 2, 'borrowed': 3, 'sold_livestock': 4, 'sold_asset': 5, 'used_savings': 6, 'insurance_paid': 7, 'no_need': 8, 'did_nothing': 9}, column_dict={'weather': 1, 'pests_disease': 2, 'accident': 3, 'market_prices': 4, 'input_prices': 5, 'contract_broken': 6, 'downturn_no_sale': 7, 'equipment_breakdown': 8, 'health': 9}, country='uga', df=          weather  pests_disease  accident  market_prices  input_prices  \
22678446      NaN            NaN       NaN            NaN           NaN
22678927      NaN            NaN       NaN            NaN           NaN
22679052      8.0            8.0       NaN            NaN           NaN
22679076      NaN            NaN       NaN            NaN           NaN
22679225      8.0            6.0       NaN            8.0           8.0
...           ...            ...       ...            ...           ...
23500842      NaN            9.0       NaN            NaN           NaN
23620542      NaN            NaN       NaN            NaN           NaN
23620647      NaN            5.0       NaN            NaN           NaN
23620678      NaN            5.0       NaN            NaN           NaN
23620722      NaN            NaN       NaN            NaN           NaN

          contract_broken  downturn_no_sale  equipment_breakdown  health
22678446              NaN               NaN                  NaN     NaN
22678927              NaN               NaN                  NaN     NaN
22679052              NaN               8.0                  NaN     NaN
22679076              NaN               NaN                  NaN     NaN
22679225              NaN               NaN                  NaN     NaN
...                   ...               ...                  ...     ...
23500842              NaN               NaN                  NaN     NaN
23620542              NaN               NaN                  NaN     NaN
23620647              NaN               NaN                  NaN     NaN
23620678              NaN               NaN                  NaN     NaN
23620722              NaN               NaN                  NaN     NaN

[2771 rows x 9 columns], df_name='uga_sr', label='A62', qtype='multi', survey='sr', text='How did you mainly cope when this happened?')
key=bgd_H16namespace(column_dict={'chief': 1, 'lead_farmer': 2, 'other_leader': 3, 'cooperative': 4, 'extension': 5, 'financial_inst': 6, 'middlemen': 7, 'savings_credit_inst': 8, 'other_community': 9, 'friends_family': 10, 'spouse': 11, 'DK_who': 12, 'have_noone': 13, 'dont_seek_advice': 14}, country='bgd', df=        chief  lead_farmer  other_leader  cooperative  extension  \
1           2            2             2            2          2
2           2            2             2            2          2
3           2            2             2            2          2
4           2            2             2            2          2
5           2            2             2            2          2
...       ...          ...           ...          ...        ...
800129      2            2             2            2          2
800130      2            2             2            2          2
800131      2            2             2            2          2
800132      2            2             2            2          2
800133      2            2             2            2          2

        financial_inst  middlemen  savings_credit_inst  other_community  \
1                    2          2                    2                2
2                    2          2                    2                2
3                    2          2                    2                2
4                    2          2                    2                2
5                    2          2                    2                2
...                ...        ...                  ...              ...
800129               2          2                    2                2
800130               2          2                    2                2
800131               2          2                    2                2
800132               2          2                    2                2
800133               2          2                    2                2

        friends_family  spouse  DK_who  have_noone  dont_seek_advice
1                    1       2       2           2                 2
2                    1       2       2           2                 2
3                    1       2       2           2                 2
4                    1       1       2           2                 2
5                    2       1       2           2                 2
...                ...     ...     ...         ...               ...
800129               1       2       2           2                 2
800130               1       1       2           2                 2
800131               1       2       2           2                 2
800132               1       2       2           2                 2
800133               1       2       2           2                 2

[3095 rows x 14 columns], df_name='bgd_sr', label='H16', qtype='multi', survey='sr', text='When it comes to financial or income-related advice, who do you regularly talk to?')
key=cdi_H16namespace(column_dict={'chief': 1, 'lead_farmer': 2, 'other_leader': 3, 'cooperative': 4, 'extension': 5, 'financial_inst': 6, 'middlemen': 7, 'savings_credit_inst': 8, 'other_community': 9, 'friends_family': 10, 'spouse': 11, 'DK_who': 12, 'have_noone': 13, 'dont_seek_advice': 14}, country='cdi', df=          chief  lead_farmer  other_leader  cooperative  extension  \
31028570      2            2             2            2          2
31028571      2            2             2            2          1
31036603      1            2             2            2          2
31038817      2            2             2            2          2
31040474      2            2             2            2          2
...         ...          ...           ...          ...        ...
32261521      2            1             2            2          2
32261522      2            2             2            2          2
32261524      2            2             2            2          2
32280062      2            2             2            2          2
32280063      2            2             2            2          2

          financial_inst  middlemen  savings_credit_inst  other_community  \
31028570               2          2                    2                2
31028571               2          2                    2                2
31036603               2          2                    2                2
31038817               2          2                    2                2
31040474               2          2                    2                2
...                  ...        ...                  ...              ...
32261521               2          2                    2                2
32261522               2          2                    2                2
32261524               2          2                    2                2
32280062               2          2                    2                1
32280063               2          2                    2                1

          friends_family  spouse  DK_who  have_noone  dont_seek_advice
31028570               1       2       2           2                 2
31028571               2       2       2           2                 2
31036603               2       2       2           2                 2
31038817               1       2       2           2                 2
31040474               2       1       2           2                 2
...                  ...     ...     ...         ...               ...
32261521               2       2       2           2                 2
32261522               2       2       1           2                 2
32261524               2       2       1           2                 2
32280062               1       1       2           2                 2
32280063               1       1       2           2                 2

[2949 rows x 14 columns], df_name='cdi_sr', label='H16', qtype='multi', survey='sr', text='When it comes to financial or income-related advice, who do you regularly talk to?')

key=cdi_H17namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4, 'marriage': 5, 'funeral': 6}, country='cdi', df=          future_purchases  unexpected_event  regular_purchases  school_fees  \
31028570               1.0               1.0                1.0          1.0
31028571               1.0               2.0                3.0          1.0
31036603               2.0               2.0                2.0          2.0
31038817               1.0               1.0                1.0          3.0
31040474               1.0               1.0                1.0          1.0
...                    ...               ...                ...          ...
32261521               1.0               1.0                1.0          1.0
32261522               1.0               1.0                1.0          1.0
32261524               1.0               1.0                1.0          1.0
32280062               1.0               1.0                1.0          1.0
32280063               1.0               1.0                1.0          1.0

          marriage  funeral
31028570       1.0      2.0
31028571       1.0      3.0
31036603       2.0      1.0
31038817       1.0      3.0
31040474       1.0      1.0
...            ...      ...
32261521       1.0      1.0
32261522       1.0      1.0
32261524       1.0      1.0
32280062       1.0      1.0
32280063       2.0      1.0

[2949 rows x 6 columns], df_name='cdi_sr', label='H17', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save for each of the following?')
key=moz_H17namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4}, country='moz', df=          future_purchases  unexpected_event  regular_purchases  school_fees
21948170               1.0               1.0                1.0          1.0
21948180               2.0               1.0                2.0          1.0
21948779               1.0               1.0                1.0          1.0
21951744               1.0               1.0                2.0          1.0
21955646               3.0               2.0                1.0          1.0
...                    ...               ...                ...          ...
23315711               NaN               NaN                NaN          NaN
23324438               1.0               1.0                1.0          1.0
23324440               NaN               NaN                NaN          NaN
23324645               NaN               NaN                NaN          NaN
23324649               1.0               2.0                1.0          1.0

[2574 rows x 4 columns], df_name='moz_sr', label='H17', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save for each of the following?')
key=nga_H17namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4, 'marriage': 5, 'healthcare': 6, 'death': 7, 'loss_of_income': 8}, country='nga', df=          future_purchases  unexpected_event  regular_purchases  school_fees  \
40127279               1.0               1.0                1.0          1.0
40134046               1.0               1.0                1.0          1.0
40135889               1.0               1.0                1.0          1.0
40143258               1.0               2.0                2.0          1.0
40144462               1.0               2.0                2.0          2.0
...                    ...               ...                ...          ...
41076184               2.0               2.0                2.0          3.0
41076185               3.0               2.0                3.0          2.0
41076186               3.0               2.0                3.0          3.0
41076187               2.0               2.0                3.0          3.0
41076188               3.0               2.0                3.0          2.0

          marriage  healthcare  death  loss_of_income
40127279       1.0         1.0    3.0             1.0
40134046       1.0         1.0    1.0             1.0
40135889       1.0         1.0    1.0             1.0
40143258       3.0         2.0    3.0             2.0
40144462       2.0         2.0    1.0             2.0
...            ...         ...    ...             ...
41076184       1.0         3.0    2.0             3.0
41076185       3.0         2.0    2.0             3.0
41076186       2.0         2.0    2.0             3.0
41076187       2.0         2.0    2.0             3.0
41076188       3.0         3.0    2.0             2.0

[2773 rows x 8 columns], df_name='nga_sr', label='H17', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save for each of the following?')
key=tan_H17namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4, 'marriage': 5, 'healthcare': 6, 'death': 7, 'loss_of_income': 8}, country='tan', df=          future_purchases  unexpected_event  regular_purchases  school_fees  \
28845992               1.0               1.0                1.0          1.0
29265802               1.0               1.0                1.0          2.0
28901706               1.0               1.0                1.0          1.0
29302230               1.0               1.0                1.0          1.0
28910973               1.0               1.0                1.0          1.0
...                    ...               ...                ...          ...
29319386               1.0               1.0                1.0          1.0
28924835               1.0               1.0                1.0          1.0
29010663               1.0               1.0                1.0          1.0
29555590               1.0               1.0                1.0          1.0
29198985               1.0               1.0                1.0          1.0

          marriage  healthcare  death  loss_of_income
28845992       2.0         1.0    3.0             2.0
29265802       2.0         1.0    1.0             1.0
28901706       2.0         1.0    1.0             1.0
29302230       3.0         3.0    3.0             3.0
28910973       1.0         1.0    1.0             1.0
...            ...         ...    ...             ...
29319386       3.0         1.0    1.0             1.0
28924835       1.0         1.0    1.0             1.0
29010663       1.0         1.0    1.0             1.0
29555590       3.0         1.0    1.0             1.0
29198985       1.0         1.0    1.0             1.0

[2795 rows x 8 columns], df_name='tan_sr', label='H17', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save for each of the following?')
key=uga_H17namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4}, country='uga', df=          future_purchases  unexpected_event  regular_purchases  school_fees
22678446               1.0               2.0                2.0          3.0
22678927               1.0               1.0                2.0          1.0
22679052               1.0               2.0                1.0          1.0
22679076               1.0               1.0                2.0          1.0
22679225               1.0               1.0                1.0          3.0
...                    ...               ...                ...          ...
23500842               1.0               1.0                1.0          1.0
23620542               2.0               2.0                3.0          2.0
23620647               2.0               2.0                2.0          2.0
23620678               2.0               2.0                2.0          1.0
23620722               1.0               1.0                1.0          1.0

[2771 rows x 4 columns], df_name='uga_sr', label='H17', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save for each of the following?')
key=bgd_H18namespace(answers={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4, 'other': 5}, country='bgd', df=        H18
1       5.0
2       2.0
3       4.0
4       5.0
5       1.0
...     ...
800129  2.0
800130  2.0
800131  NaN
800132  4.0
800133  1.0

[3095 rows x 1 columns], df_name='bgd_sr', label='H18', qtype='single', survey='sr', text=' Which of the following do you feel your household needs to save for the most?')
key=cdi_H18namespace(answers={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4, 'marriage': 5, 'funeral': 6}, country='cdi', df=          H18
31028570  1.0
31028571  1.0
31036603  1.0
31038817  1.0
31040474  4.0
...       ...
32261521  1.0
32261522  1.0
32261524  1.0
32280062  3.0
32280063  2.0

[2949 rows x 1 columns], df_name='cdi_sr', label='H18', qtype='single', survey='sr', text=' Which of the following do you feel your household needs to save for the most?')
key=moz_H18namespace(answers={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4}, country='moz', df=          H18
21948170  2.0
21948180  4.0
21948779  1.0
21951744  4.0
21955646  2.0
...       ...
23315711  NaN
23324438  1.0
23324440  NaN
23324645  NaN
23324649  1.0

[2574 rows x 1 columns], df_name='moz_sr', label='H18', qtype='single', survey='sr', text=' Which of the following do you feel your household needs to save for the most?')
key=nga_H18namespace(answers={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4, 'marriage': 5, 'healthcare': 6, 'death': 7, 'loss_of_income': 8}, country='nga', df=          H18
40127279  1.0
40134046  2.0
40135889  3.0
40143258  NaN
40144462  6.0
...       ...
41076184  2.0
41076185  7.0
41076186  7.0
41076187  5.0
41076188  7.0

[2773 rows x 1 columns], df_name='nga_sr', label='H18', qtype='single', survey='sr', text=' Which of the following do you feel your household needs to save for the most?')
key=tan_H18namespace(answers={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4, 'marriage': 5, 'healthcare': 6, 'death': 7, 'loss_of_income': 8}, country='tan', df=          H18
28845992  4.0
29265802  6.0
28901706  8.0
29302230  1.0
28910973  1.0
...       ...
29319386  6.0
28924835  6.0
29010663  6.0
29555590  8.0
29198985  1.0

[2795 rows x 1 columns], df_name='tan_sr', label='H18', qtype='single', survey='sr', text=' Which of the following do you feel your household needs to save for the most?')
key=uga_H18namespace(answers={'future_purchases': 1, 'unexpected_event': 2, 'regular_purchases': 3, 'school_fees': 4}, country='uga', df=          H18
22678446  1.0
22678927  1.0
22679052  4.0
22679076  4.0
22679225  1.0
...       ...
23500842  4.0
23620542  2.0
23620647  4.0
23620678  3.0
23620722  1.0

[2771 rows x 1 columns], df_name='uga_sr', label='H18', qtype='single', survey='sr', text=' Which of the following do you feel your household needs to save for the most?')
key=bgd_H19namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'financial_inst': 1, 'informal_group': 2, 'at_home': 3, 'on_mobile': 4}, country='bgd', df=        financial_inst  informal_group  at_home  on_mobile
1                  2.0             2.0      1.0        2.0
2                  1.0             2.0      3.0        3.0
3                  1.0             2.0      1.0        1.0
4                  1.0             3.0      2.0        1.0
5                  1.0             2.0      2.0        3.0
...                ...             ...      ...        ...
800129             1.0             1.0      2.0        2.0
800130             1.0             2.0      3.0        3.0
800131             2.0             2.0      3.0        3.0
800132             1.0             2.0      1.0        3.0
800133             1.0             2.0      3.0        3.0

[3095 rows x 4 columns], df_name='bgd_sr', label='H19', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save at each of the following?')
key=cdi_H19namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'financial_inst': 1, 'informal_group': 2, 'at_home': 3, 'on_mobile': 4, 'with_collector': 5}, country='cdi', df=          financial_inst  informal_group  at_home  on_mobile  with_collector
31028570             1.0             3.0      2.0        1.0             2.0
31028571             1.0             3.0      1.0        1.0             2.0
31036603             2.0             3.0      2.0        2.0             3.0
31038817             1.0             3.0      2.0        2.0             3.0
31040474             1.0             3.0      2.0        1.0             3.0
...                  ...             ...      ...        ...             ...
32261521             1.0             1.0      1.0        1.0             1.0
32261522             1.0             1.0      1.0        1.0             1.0
32261524             1.0             2.0      1.0        1.0             2.0
32280062             1.0             2.0      1.0        2.0             3.0
32280063             2.0             2.0      1.0        2.0             2.0

[2949 rows x 5 columns], df_name='cdi_sr', label='H19', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save at each of the following?')

key=moz_H19namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'financial_inst': 1, 'informal_group': 2, 'at_home': 3, 'on_mobile': 4}, country='moz', df=          financial_inst  informal_group  at_home  on_mobile
21948170             1.0             NaN      2.0        1.0
21948180             1.0             3.0      3.0        3.0
21948779             2.0             3.0      1.0        NaN
21951744             1.0             3.0      2.0        NaN
21955646             1.0             2.0      1.0        3.0
...                  ...             ...      ...        ...
23315711             3.0             3.0      1.0        3.0
23324438             1.0             2.0      1.0        1.0
23324440             NaN             NaN      NaN        NaN
23324645             NaN             NaN      NaN        NaN
23324649             1.0             1.0      1.0        1.0

[2574 rows x 4 columns], df_name='moz_sr', label='H19', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save at each of the following?')
key=nga_H19namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'financial_inst': 1, 'informal_group': 2, 'at_home': 3, 'on_mobile': 4}, country='nga', df=          financial_inst  informal_group  at_home  on_mobile
40127279             1.0             3.0      1.0        2.0
40134046             1.0             1.0      1.0        1.0
40135889             1.0             1.0      1.0        1.0
40143258             1.0             3.0      3.0        3.0
40144462             2.0             2.0      2.0        3.0
...                  ...             ...      ...        ...
41076184             2.0             2.0      2.0        3.0
41076185             2.0             3.0      2.0        3.0
41076186             1.0             3.0      3.0        3.0
41076187             1.0             2.0      3.0        3.0
41076188             2.0             NaN      2.0        3.0

[2773 rows x 4 columns], df_name='nga_sr', label='H19', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save at each of the following?')
key=tan_H19namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'financial_inst': 1, 'informal_group': 2, 'at_home': 3, 'on_mobile': 4}, country='tan', df=          financial_inst  informal_group  at_home  on_mobile
28845992             1.0             2.0      1.0        2.0
29265802             1.0             1.0      1.0        1.0
28901706             1.0             2.0      3.0        2.0
29302230             NaN             NaN      2.0        NaN
28910973             3.0             3.0      3.0        1.0
...                  ...             ...      ...        ...
29319386             1.0             3.0      2.0        2.0
28924835             1.0             2.0      1.0        1.0
29010663             1.0             3.0      1.0        1.0
29555590             1.0             1.0      1.0        1.0
29198985             3.0             3.0      1.0        3.0

[2795 rows x 4 columns], df_name='tan_sr', label='H19', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save at each of the following?')
key=uga_H19namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'financial_inst': 1, 'informal_group': 2, 'at_home': 3, 'on_mobile': 4}, country='uga', df=          financial_inst  informal_group  at_home  on_mobile
22678446             1.0             1.0      3.0        1.0
22678927             2.0             2.0      3.0        3.0
22679052             3.0             3.0      1.0        3.0
22679076             1.0             2.0      3.0        3.0
22679225             1.0             NaN      2.0        2.0
...                  ...             ...      ...        ...
23500842             1.0             1.0      1.0        1.0
23620542             2.0             3.0      2.0        1.0
23620647             2.0             2.0      2.0        2.0
23620678             2.0             NaN      1.0        1.0
23620722             1.0             NaN      1.0        2.0

[2771 rows x 4 columns], df_name='uga_sr', label='H19', qtype='multi', survey='sr', text=' In your opinion, how important is it for your household to save at each of the following?')
key=bgd_H21namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'farm': 1, 'home': 2, 'education': 3, 'business': 4}, country='bgd', df=        farm  home  education  business
1        2.0   2.0        2.0       2.0
2        3.0   3.0        3.0       1.0
3        3.0   2.0        1.0       2.0
4        1.0   2.0        2.0       1.0
5        2.0   2.0        2.0       3.0
...      ...   ...        ...       ...
800129   1.0   1.0        2.0       1.0
800130   1.0   1.0        1.0       1.0
800131   3.0   2.0        3.0       2.0
800132   1.0   2.0        2.0       1.0
800133   1.0   3.0        2.0       1.0

[3095 rows x 4 columns], df_name='bgd_sr', label='H21', qtype='multi', survey='sr', text='In your opinion, how important is it for your household to invest in each of the following?')
key=cdi_H21namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'farm': 1, 'home': 2, 'education': 3, 'business': 4}, country='cdi', df=          farm  home  education  business
31028570   1.0   1.0        1.0       1.0
31028571   1.0   1.0        1.0       3.0
31036603   NaN   NaN        NaN       NaN
31038817   1.0   1.0        2.0       1.0
31040474   1.0   1.0        2.0       3.0
...        ...   ...        ...       ...
32261521   1.0   1.0        1.0       1.0
32261522   1.0   1.0        1.0       1.0
32261524   1.0   1.0        1.0       1.0
32280062   1.0   1.0        1.0       1.0
32280063   1.0   1.0        1.0       1.0

[2949 rows x 4 columns], df_name='cdi_sr', label='H21', qtype='multi', survey='sr', text='In your opinion, how important is it for your household to invest in each of the following?')
key=moz_H21namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'farm': 1, 'home': 2, 'education': 3}, country='moz', df=          farm  home  education
21948170   1.0   1.0        1.0
21948180   3.0   1.0        1.0
21948779   1.0   1.0        1.0
21951744   3.0   1.0        1.0
21955646   1.0   1.0        1.0
...        ...   ...        ...
23315711   NaN   2.0        2.0
23324438   1.0   1.0        2.0
23324440   NaN   NaN        NaN
23324645   NaN   NaN        NaN
23324649   1.0   1.0        1.0

[2574 rows x 3 columns], df_name='moz_sr', label='H21', qtype='multi', survey='sr', text='In your opinion, how important is it for your household to invest in each of the following?')
key=nga_H21namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'farm': 1, 'home': 2, 'education': 3, 'business': 4, 'healthcare': 5}, country='nga', df=          farm  home  education  business  healthcare
40127279   1.0   1.0        2.0       1.0         1.0
40134046   1.0   1.0        1.0       1.0         1.0
40135889   1.0   1.0        1.0       1.0         1.0
40143258   1.0   2.0        2.0       2.0         2.0
40144462   2.0   2.0        2.0       2.0         2.0
...        ...   ...        ...       ...         ...
41076184   2.0   2.0        2.0       3.0         3.0
41076185   2.0   2.0        2.0       2.0         2.0
41076186   1.0   2.0        2.0       NaN         3.0
41076187   2.0   2.0        2.0       3.0         3.0
41076188   3.0   2.0        3.0       2.0         3.0

[2773 rows x 5 columns], df_name='nga_sr', label='H21', qtype='multi', survey='sr', text='In your opinion, how important is it for your household to invest in each of the following?')
key=tan_H21namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'farm': 1, 'home': 2, 'education': 3, 'business': 4, 'healthcare': 5}, country='tan', df=          farm  home  education  business  healthcare
28845992   1.0   2.0        1.0       2.0         3.0
29265802   1.0   2.0        2.0       1.0         1.0
28901706   1.0   1.0        1.0       1.0         1.0
29302230   1.0   2.0        1.0       1.0         3.0
28910973   1.0   3.0        2.0       1.0         1.0
...        ...   ...        ...       ...         ...
29319386   1.0   1.0        1.0       1.0         1.0
28924835   1.0   1.0        1.0       1.0         1.0
29010663   1.0   1.0        1.0       1.0         1.0
29555590   1.0   1.0        1.0       1.0         1.0
29198985   3.0   1.0        1.0       3.0         1.0

[2795 rows x 5 columns], df_name='tan_sr', label='H21', qtype='multi', survey='sr', text='In your opinion, how important is it for your household to invest in each of the following?')
key=uga_H21namespace(answers={'very_important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'farm': 1, 'home': 2, 'education': 3}, country='uga', df=          farm  home  education
22678446   1.0   1.0        2.0
22678927   2.0   2.0        2.0
22679052   1.0   3.0        1.0
22679076   1.0   2.0        1.0
22679225   1.0   2.0        3.0
...        ...   ...        ...
23500842   1.0   1.0        1.0
23620542   2.0   2.0        2.0
23620647   2.0   3.0        2.0
23620678   1.0   1.0        1.0
23620722   2.0   2.0        2.0

[2771 rows x 3 columns], df_name='uga_sr', label='H21', qtype='multi', survey='sr', text='In your opinion, how important is it for your household to invest in each of the following?')
key=bgd_H25namespace(answers={'yes': 1, 'no': 2}, column_dict={'could_relatives_help': 1, 'household_skip_meal': 2, 'house_unlit': 3, 'too_sick_to_work': 4, 'receive_support': 5}, country='bgd', df=        could_relatives_help  household_skip_meal  house_unlit  \
1                        1.0                  2.0          2.0
2                        1.0                  2.0          2.0
3                        1.0                  2.0          2.0
4                        2.0                  1.0          2.0
5                        2.0                  2.0          2.0
...                      ...                  ...          ...
800129                   1.0                  2.0          2.0
800130                   1.0                  2.0          2.0
800131                   2.0                  2.0          2.0
800132                   1.0                  2.0          2.0
800133                   1.0                  2.0          2.0

        too_sick_to_work  receive_support
1                    1.0              2.0
2                    2.0              2.0
3                    2.0              1.0
4                    2.0              1.0
5                    2.0              2.0
...                  ...              ...
800129               2.0              2.0
800130               2.0              2.0
800131               2.0              2.0
800132               2.0              2.0
800133               2.0              2.0

[3095 rows x 5 columns], df_name='bgd_sr', label='H25', qtype='multi', survey='sr', text='Now I would like to ask you a few questions about how you manage your money.')
key=cdi_H25namespace(answers={'yes': 1, 'no': 2}, column_dict={'could_relatives_help': 1, 'household_skip_meal': 2, 'house_unlit': 3, 'too_sick_to_work': 4, 'receive_support': 5}, country='cdi', df=          could_relatives_help  household_skip_meal  house_unlit  \
31028570                   1.0                  2.0          2.0
31028571                   1.0                  2.0          2.0
31036603                   2.0                  2.0          2.0
31038817                   2.0                  2.0          1.0
31040474                   1.0                  2.0          2.0
...                        ...                  ...          ...
32261521                   2.0                  2.0          2.0
32261522                   2.0                  2.0          2.0
32261524                   2.0                  2.0          2.0
32280062                   1.0                  2.0          2.0
32280063                   1.0                  2.0          2.0

          too_sick_to_work  receive_support
31028570               2.0              2.0
31028571               1.0              2.0
31036603               2.0              1.0
31038817               2.0              2.0
31040474               1.0              2.0
...                    ...              ...
32261521               2.0              2.0
32261522               2.0              2.0
32261524               2.0              2.0
32280062               2.0              2.0
32280063               2.0              2.0

[2949 rows x 5 columns], df_name='cdi_sr', label='H25', qtype='multi', survey='sr', text='Now I would like to ask you a few questions about how you manage your money.')
key=moz_H25namespace(answers={'yes': 1, 'no': 2}, column_dict={'could_relatives_help': 1, 'household_skip_meal': 2, 'house_unlit': 3, 'too_sick_to_work': 4, 'receive_support': 5}, country='moz', df=          could_relatives_help  household_skip_meal  house_unlit  \
21948170                   1.0                  2.0          2.0
21948180                   1.0                  2.0          1.0
21948779                   1.0                  2.0          2.0
21951744                   1.0                  2.0          1.0
21955646                   1.0                  2.0          2.0
...                        ...                  ...          ...
23315711                   2.0                  2.0          2.0
23324438                   1.0                  2.0          1.0
23324440                   NaN                  NaN          NaN
23324645                   NaN                  NaN          NaN
23324649                   1.0                  2.0          1.0

          too_sick_to_work  receive_support
21948170               2.0              2.0
21948180               2.0              NaN
21948779               2.0              2.0
21951744               2.0              2.0
21955646               2.0              1.0
...                    ...              ...
23315711               1.0              2.0
23324438               1.0              2.0
23324440               NaN              NaN
23324645               NaN              NaN
23324649               2.0              1.0

[2574 rows x 5 columns], df_name='moz_sr', label='H25', qtype='multi', survey='sr', text='Now I would like to ask you a few questions about how you manage your money.')

key=nga_H25namespace(answers={'yes': 1, 'no': 2}, column_dict={'could_relatives_help': 1, 'household_skip_meal': 2, 'house_unlit': 3, 'too_sick_to_work': 4, 'receive_support': 5}, country='nga', df=          could_relatives_help  household_skip_meal  house_unlit  \
40127279                   1.0                  2.0          2.0
40134046                   1.0                  2.0          2.0
40135889                   1.0                  2.0          2.0
40143258                   2.0                  2.0          2.0
40144462                   2.0                  2.0          2.0
...                        ...                  ...          ...
41076184                   2.0                  2.0          2.0
41076185                   2.0                  NaN          2.0
41076186                   2.0                  2.0          2.0
41076187                   2.0                  2.0          2.0
41076188                   1.0                  2.0          2.0

          too_sick_to_work  receive_support
40127279               2.0              2.0
40134046               2.0              2.0
40135889               2.0              2.0
40143258               2.0              2.0
40144462               2.0              2.0
...                    ...              ...
41076184               2.0              2.0
41076185               2.0              NaN
41076186               2.0              1.0
41076187               2.0              NaN
41076188               2.0              2.0

[2773 rows x 5 columns], df_name='nga_sr', label='H25', qtype='multi', survey='sr', text='Now I would like to ask you a few questions about how you manage your money.')
key=tan_H25namespace(answers={'yes': 1, 'no': 2}, column_dict={'could_relatives_help': 1, 'household_skip_meal': 2, 'house_unlit': 3, 'too_sick_to_work': 4, 'receive_support': 5}, country='tan', df=          could_relatives_help  household_skip_meal  house_unlit  \
28845992                   1.0                  2.0          2.0
29265802                   2.0                  2.0          1.0
28901706                   2.0                  2.0          1.0
29302230                   2.0                  2.0          NaN
28910973                   1.0                  2.0          2.0
...                        ...                  ...          ...
29319386                   1.0                  2.0          2.0
28924835                   1.0                  2.0          1.0
29010663                   1.0                  2.0          2.0
29555590                   1.0                  2.0          2.0
29198985                   1.0                  2.0          2.0

          too_sick_to_work  receive_support
28845992               2.0              2.0
29265802               1.0              2.0
28901706               1.0              2.0
29302230               NaN              NaN
28910973               2.0              2.0
...                    ...              ...
29319386               2.0              2.0
28924835               2.0              1.0
29010663               2.0              2.0
29555590               2.0              1.0
29198985               1.0              2.0

[2795 rows x 5 columns], df_name='tan_sr', label='H25', qtype='multi', survey='sr', text='Now I would like to ask you a few questions about how you manage your money.')
key=uga_H25namespace(answers={'yes': 1, 'no': 2}, column_dict={'could_relatives_help': 1, 'household_skip_meal': 2, 'house_unlit': 3, 'too_sick_to_work': 4, 'receive_support': 5}, country='uga', df=          could_relatives_help  household_skip_meal  house_unlit  \
22678446                   1.0                  2.0          2.0
22678927                   2.0                  2.0          2.0
22679052                   1.0                  2.0          2.0
22679076                   1.0                  2.0          1.0
22679225                   2.0                  2.0          2.0
...                        ...                  ...          ...
23500842                   2.0                  2.0          2.0
23620542                   2.0                  2.0          2.0
23620647                   2.0                  2.0          2.0
23620678                   2.0                  2.0          2.0
23620722                   1.0                  2.0          2.0

          too_sick_to_work  receive_support
22678446               2.0              2.0
22678927               2.0              2.0
22679052               1.0              2.0
22679076               1.0              2.0
22679225               1.0              2.0
...                    ...              ...
23500842               2.0              2.0
23620542               2.0              2.0
23620647               2.0              2.0
23620678               2.0              2.0
23620722               2.0              2.0

[2771 rows x 5 columns], df_name='uga_sr', label='H25', qtype='multi', survey='sr', text='Now I would like to ask you a few questions about how you manage your money.')
key=bgd_H27namespace(answers={'very_possible': 1, 'somewhat_possible': 2, 'not_possible': 3}, country='bgd', df=        H27
1       1.0
2       3.0
3       1.0
4       2.0
5       2.0
...     ...
800129  3.0
800130  2.0
800131  2.0
800132  2.0
800133  2.0

[3095 rows x 1 columns], df_name='bgd_sr', label='H27', qtype='single', survey='sr', text=' Imagine that you have an emergency and you need to pay <<a lot>>. How possible is it that you could come up with <<a  lot>> within the next month—very possible, somewhat possible, or not possible?')
key=cdi_H27namespace(answers={'very_possible': 1, 'somewhat_possible': 2, 'not_possible': 3}, country='cdi', df=          H27
31028570  3.0
31028571  1.0
31036603  3.0
31038817  2.0
31040474  3.0
...       ...
32261521  2.0
32261522  2.0
32261524  3.0
32280062  2.0
32280063  1.0

[2949 rows x 1 columns], df_name='cdi_sr', label='H27', qtype='single', survey='sr', text=' Imagine that you have an emergency and you need to pay <<a lot>>. How possible is it that you could come up with <<a  lot>> within the next month—very possible, somewhat possible, or not possible?')
key=moz_H27namespace(answers={'very_possible': 1, 'somewhat_possible': 2, 'not_possible': 3}, country='moz', df=          H27
21948170  1.0
21948180  1.0
21948779  1.0
21951744  1.0
21955646  1.0
...       ...
23315711  2.0
23324438  2.0
23324440  NaN
23324645  NaN
23324649  1.0

[2574 rows x 1 columns], df_name='moz_sr', label='H27', qtype='single', survey='sr', text=' Imagine that you have an emergency and you need to pay <<a lot>>. How possible is it that you could come up with <<a  lot>> within the next month—very possible, somewhat possible, or not possible?')
key=nga_H27namespace(answers={'very_possible': 1, 'somewhat_possible': 2, 'not_possible': 3}, country='nga', df=          H27
40127279  1.0
40134046  3.0
40135889  3.0
40143258  1.0
40144462  3.0
...       ...
41076184  2.0
41076185  2.0
41076186  3.0
41076187  2.0
41076188  2.0

[2773 rows x 1 columns], df_name='nga_sr', label='H27', qtype='single', survey='sr', text=' Imagine that you have an emergency and you need to pay <<a lot>>. How possible is it that you could come up with <<a  lot>> within the next month—very possible, somewhat possible, or not possible?')
key=tan_H27namespace(answers={'very_possible': 1, 'somewhat_possible': 2, 'not_possible': 3}, country='tan', df=          H27
28845992  3.0
29265802  3.0
28901706  2.0
29302230  3.0
28910973  3.0
...       ...
29319386  3.0
28924835  3.0
29010663  3.0
29555590  2.0
29198985  1.0

[2795 rows x 1 columns], df_name='tan_sr', label='H27', qtype='single', survey='sr', text=' Imagine that you have an emergency and you need to pay <<a lot>>. How possible is it that you could come up with <<a  lot>> within the next month—very possible, somewhat possible, or not possible?')
key=uga_H27namespace(answers={'very_possible': 1, 'somewhat_possible': 2, 'not_possible': 3}, country='uga', df=          H27
22678446  2.0
22678927  2.0
22679052  3.0
22679076  3.0
22679225  1.0
...       ...
23500842  NaN
23620542  2.0
23620647  2.0
23620678  1.0
23620722  2.0

[2771 rows x 1 columns], df_name='uga_sr', label='H27', qtype='single', survey='sr', text=' Imagine that you have an emergency and you need to pay <<a lot>>. How possible is it that you could come up with <<a  lot>> within the next month—very possible, somewhat possible, or not possible?')
key=bgd_H28namespace(answers={'savings': 1, 'friends_family': 2, 'working': 3, 'employer_loan': 4, 'credit_card': 5, 'financial_inst': 6, 'savings_credit_group': 7, 'money_lender': 8, 'other': 9}, country='bgd', df=        H28
1       2.0
2       NaN
3       1.0
4       2.0
5       3.0
...     ...
800129  NaN
800130  2.0
800131  2.0
800132  3.0
800133  3.0

[3095 rows x 1 columns], df_name='bgd_sr', label='H28', qtype='single', survey='sr', text='What would be the main source of money that you would use to come up with <<a lot>> within the next month?')
key=cdi_H28namespace(answers={'savings': 1, 'friends_family': 2, 'working': 3, 'employer_loan': 4, 'credit_card': 5, 'financial_inst': 6, 'savings_credit_group': 7, 'money_lender': 8, 'other': 9}, country='cdi', df=          H28
31028570  NaN
31028571  2.0
31036603  NaN
31038817  2.0
31040474  NaN
...       ...
32261521  7.0
32261522  1.0
32261524  NaN
32280062  1.0
32280063  1.0

[2949 rows x 1 columns], df_name='cdi_sr', label='H28', qtype='single', survey='sr', text='What would be the main source of money that you would use to come up with <<a lot>> within the next month?')
key=moz_H28namespace(answers={'savings': 1, 'friends_family': 2, 'working': 3, 'employer_loan': 4, 'credit_card': 5, 'financial_inst': 6, 'savings_credit_group': 7, 'money_lender': 8, 'other': 9}, country='moz', df=          H28
21948170  1.0
21948180  3.0
21948779  2.0
21951744  2.0
21955646  2.0
...       ...
23315711  NaN
23324438  2.0
23324440  NaN
23324645  NaN
23324649  3.0

[2574 rows x 1 columns], df_name='moz_sr', label='H28', qtype='single', survey='sr', text='What would be the main source of money that you would use to come up with <<a lot>> within the next month?')
key=nga_H28namespace(answers={'savings': 1, 'friends_family': 2, 'working': 3, 'employer_loan': 4, 'credit_card': 5, 'financial_inst': 6, 'savings_credit_group': 7, 'money_lender': 8, 'other': 9}, country='nga', df=          H28
40127279  2.0
40134046  NaN
40135889  NaN
40143258  2.0
40144462  NaN
...       ...
41076184  2.0
41076185  2.0
41076186  NaN
41076187  3.0
41076188  4.0

[2773 rows x 1 columns], df_name='nga_sr', label='H28', qtype='single', survey='sr', text='What would be the main source of money that you would use to come up with <<a lot>> within the next month?')
key=tan_H28namespace(answers={'savings': 1, 'friends_family': 2, 'working': 3, 'employer_loan': 4, 'credit_card': 5, 'financial_inst': 6, 'savings_credit_group': 7, 'money_lender': 8, 'mobile_credit': 9, 'other': 10}, country='tan', df=           H28
28845992   NaN
29265802   NaN
28901706   2.0
29302230   NaN
28910973   NaN
...        ...
29319386   NaN
28924835   NaN
29010663   NaN
29555590   2.0
29198985  10.0

[2795 rows x 1 columns], df_name='tan_sr', label='H28', qtype='single', survey='sr', text='What would be the main source of money that you would use to come up with <<a lot>> within the next month?')
key=uga_H28namespace(answers={'savings': 1, 'friends_family': 2, 'working': 3, 'employer_loan': 4, 'credit_card': 5, 'financial_inst': 6, 'savings_credit_group': 7, 'money_lender': 8, 'mobile_credit': 9, 'other': 10}, country='uga', df=          H28
22678446  1.0
22678927  1.0
22679052  NaN
22679076  NaN
22679225  1.0
...       ...
23500842  NaN
23620542  1.0
23620647  1.0
23620678  1.0
23620722  2.0

[2771 rows x 1 columns], df_name='uga_sr', label='H28', qtype='single', survey='sr', text='What would be the main source of money that you would use to come up with <<a lot>> within the next month?')
key=bgd_H30namespace(answers={'always_or_mostly': 1, 'sometimes': 2, 'rarely': 3, 'never': 4}, column_dict={'income_exceeds_outgoing?': 1, 'fund_for_unplanned_expenses': 2, 'pay_bills_ontime': 3, 'savings_exceed_debts': 4}, country='bgd', df=        income_exceeds_outgoing?  fund_for_unplanned_expenses  \
1                            2.0                          2.0
2                            3.0                          4.0
3                            2.0                          2.0
4                            1.0                          1.0
5                            4.0                          4.0
...                          ...                          ...
800129                       4.0                          4.0
800130                       4.0                          4.0
800131                       2.0                          2.0
800132                       2.0                          3.0
800133                       2.0                          4.0

        pay_bills_ontime  savings_exceed_debts
1                    1.0                   3.0
2                    1.0                   3.0
3                    1.0                   3.0
4                    3.0                   3.0
5                    2.0                   3.0
...                  ...                   ...
800129               1.0                   4.0
800130               4.0                   4.0
800131               2.0                   3.0
800132               2.0                   3.0
800133               2.0                   3.0

[3095 rows x 4 columns], df_name='bgd_sr', label='H30', qtype='multi', survey='sr', text='I will read several statements. Please, tell me how often does the following apply to you?')
key=cdi_H30namespace(answers={'always_or_mostly': 1, 'sometimes': 2, 'rarely': 3, 'never': 4}, column_dict={'income_exceeds_outgoing?': 1, 'fund_for_unplanned_expenses': 2, 'pay_bills_ontime': 3, 'savings_exceed_debts': 4}, country='cdi', df=          income_exceeds_outgoing?  fund_for_unplanned_expenses  \
31028570                       2.0                          2.0
31028571                       1.0                          3.0
31036603                       1.0                          3.0
31038817                       2.0                          4.0
31040474                       1.0                          1.0
...                            ...                          ...
32261521                       4.0                          2.0
32261522                       2.0                          3.0
32261524                       2.0                          4.0
32280062                       2.0                          1.0
32280063                       2.0                          2.0

          pay_bills_ontime  savings_exceed_debts
31028570               1.0                   4.0
31028571               2.0                   2.0
31036603               1.0                   NaN
31038817               4.0                   4.0
31040474               2.0                   3.0
...                    ...                   ...
32261521               1.0                   4.0
32261522               1.0                   3.0
32261524               6.0                   4.0
32280062               1.0                   2.0
32280063               2.0                   2.0

[2949 rows x 4 columns], df_name='cdi_sr', label='H30', qtype='multi', survey='sr', text='I will read several statements. Please, tell me how often does the following apply to you?')
key=moz_H30namespace(answers={'always_or_mostly': 1, 'sometimes': 2, 'rarely': 3, 'never': 4}, column_dict={'income_exceeds_outgoing?': 1, 'fund_for_unplanned_expenses': 2, 'pay_bills_ontime': 3, 'savings_exceed_debts': 4}, country='moz', df=          income_exceeds_outgoing?  fund_for_unplanned_expenses  \
21948170                       2.0                          1.0
21948180                       1.0                          5.0
21948779                       2.0                          3.0
21951744                       2.0                          5.0
21955646                       2.0                          2.0
...                            ...                          ...
23315711                       5.0                          3.0
23324438                       1.0                          3.0
23324440                       NaN                          NaN
23324645                       NaN                          NaN
23324649                       1.0                          3.0

          pay_bills_ontime  savings_exceed_debts
21948170               1.0                   3.0
21948180               1.0                   NaN
21948779               3.0                   3.0
21951744               2.0                   5.0
21955646               1.0                   3.0
...                    ...                   ...
23315711               2.0                   3.0
23324438               2.0                   1.0
23324440               NaN                   NaN
23324645               NaN                   NaN
23324649               2.0                   1.0

[2574 rows x 4 columns], df_name='moz_sr', label='H30', qtype='multi', survey='sr', text='I will read several statements. Please, tell me how often does the following apply to you?')
key=nga_H30namespace(answers={'always_or_mostly': 1, 'sometimes': 2, 'rarely': 3, 'never': 4}, column_dict={'income_exceeds_outgoing?': 1, 'fund_for_unplanned_expenses': 2, 'pay_bills_ontime': 3, 'savings_exceed_debts': 4}, country='nga', df=          income_exceeds_outgoing?  fund_for_unplanned_expenses  \
40127279                       2.0                          3.0
40134046                       2.0                          2.0
40135889                       2.0                          3.0
40143258                       2.0                          4.0
40144462                       3.0                          3.0
...                            ...                          ...
41076184                       3.0                          3.0
41076185                       2.0                          3.0
41076186                       1.0                          4.0
41076187                       2.0                          3.0
41076188                       4.0                          3.0

          pay_bills_ontime  savings_exceed_debts
40127279               4.0                   2.0
40134046               2.0                   2.0
40135889               3.0                   1.0
40143258               1.0                   2.0
40144462               2.0                   2.0
...                    ...                   ...
41076184               3.0                   4.0
41076185               4.0                   4.0
41076186               3.0                   3.0
41076187               3.0                   4.0
41076188               2.0                   3.0

[2773 rows x 4 columns], df_name='nga_sr', label='H30', qtype='multi', survey='sr', text='I will read several statements. Please, tell me how often does the following apply to you?')
key=tan_H30namespace(answers={'always_or_mostly': 1, 'sometimes': 2, 'rarely': 3, 'never': 4}, column_dict={'income_exceeds_outgoing?': 1, 'fund_for_unplanned_expenses': 2, 'pay_bills_ontime': 3, 'savings_exceed_debts': 4}, country='tan', df=          income_exceeds_outgoing?  fund_for_unplanned_expenses  \
28845992                       4.0                          4.0
29265802                       1.0                          3.0
28901706                       3.0                          4.0
29302230                       3.0                          3.0
28910973                       3.0                          4.0
...                            ...                          ...
29319386                       4.0                          4.0
28924835                       3.0                          3.0
29010663                       2.0                          2.0

key=uga_H30namespace(answers={'always_or_mostly': 1, 'sometimes': 2, 'rarely': 3, 'never': 4}, column_dict={'income_exceeds_outgoing?': 1, 'fund_for_unplanned_expenses': 2, 'pay_bills_ontime': 3, 'savings_exceed_debts': 4}, country='uga', df=          income_exceeds_outgoing?  fund_for_unplanned_expenses  \
22678446                       3.0                          2.0
22678927                       1.0                          4.0
22679052                       2.0                          3.0
22679076                       4.0                          4.0
22679225                       2.0                          2.0
...                            ...                          ...
23500842                       NaN                          4.0
23620542                       2.0                          4.0
23620647                       2.0                          4.0
23620678                       3.0                          4.0
23620722                       4.0                          4.0

          pay_bills_ontime  savings_exceed_debts
22678446               4.0                   2.0
22678927               1.0                   1.0
22679052               2.0                   2.0
22679076               4.0                   3.0
22679225               1.0                   2.0
...                    ...                   ...
23500842               NaN                   1.0
23620542               4.0                   4.0
23620647               3.0                   3.0
23620678               2.0                   2.0
23620722               3.0                   3.0

[2771 rows x 4 columns], df_name='uga_sr', label='H30', qtype='multi', survey='sr', text='I will read several statements. Please, tell me how often does the following apply to you?')
key=bgd_H31namespace(answers={'yes': 1, 'no': 2}, column_dict={'insurance': 1, 'living_will': 2, 'retirement': 3, 'savings': 4, 'investment': 5}, country='bgd', df=        insurance  living_will  retirement  savings  investment
1               1            2           2        1           1
2               2            2           2        1           2
3               2            2           2        1           2
4               2            2           2        2           2
5               2            2           2        2           2
...           ...          ...         ...      ...         ...
800129          2            2           2        2           2
800130          2            1           2        2           2
800131          2            2           2        2           2
800132          1            2           2        1           2
800133          2            2           2        1           2

[3095 rows x 5 columns], df_name='bgd_sr', label='H31', qtype='multi', survey='sr', text=' Do you have any of the following?')
key=cdi_H31namespace(answers={'yes': 1, 'no': 2}, column_dict={'insurance': 1, 'living_will': 2, 'retirement': 3, 'savings': 4, 'investment': 5, 'property_or_house': 6}, country='cdi', df=          insurance  living_will  retirement  savings  investment  \
31028570          2            2           2        2           2
31028571          2            2           2        1           1
31036603          2            2           2        2           2
31038817          2            2           2        2           1
31040474          2            2           2        2           1
...             ...          ...         ...      ...         ...
32261521          2            2           2        2           2
32261522          2            2           2        2           2
32261524          2            2           2        2           2
32280062          2            2           2        2           1
32280063          2            2           2        2           1

          property_or_house
31028570                  1
31028571                  1
31036603                  2
31038817                  1
31040474                  1
...                     ...
32261521                  2
32261522                  2
32261524                  2
32280062                  2
32280063                  2

[2949 rows x 6 columns], df_name='cdi_sr', label='H31', qtype='multi', survey='sr', text=' Do you have any of the following?')
key=moz_H31namespace(answers={'yes': 1, 'no': 2}, column_dict={'insurance': 1, 'living_will': 2, 'retirement': 3, 'savings': 4, 'investment': 5}, country='moz', df=          insurance  living_will  retirement  savings  investment
21948170        2.0          2.0         2.0      1.0         2.0
21948180        2.0          2.0         2.0      2.0         2.0
21948779        2.0          2.0         2.0      2.0         2.0
21951744        2.0          2.0         2.0      1.0         2.0
21955646        2.0          2.0         2.0      2.0         2.0
...             ...          ...         ...      ...         ...
23315711        2.0          2.0         2.0      2.0         2.0
23324438        2.0          1.0         2.0      1.0         2.0
23324440        NaN          NaN         NaN      NaN         NaN
23324645        NaN          NaN         NaN      NaN         NaN
23324649        1.0          2.0         1.0      1.0         2.0

[2574 rows x 5 columns], df_name='moz_sr', label='H31', qtype='multi', survey='sr', text=' Do you have any of the following?')
key=nga_H31namespace(answers={'yes': 1, 'no': 2}, column_dict={'insurance': 1, 'living_will': 2, 'retirement': 3, 'savings': 4, 'investment': 5, 'None': 6}, country='nga', df=          insurance  living_will  retirement  savings  investment  None
40127279          2            2           1        2           1     2
40134046          2            2           2        2           2     1
40135889          2            2           2        2           2     1
40143258          2            2           2        2           1     2
40144462          2            2           2        2           2     1
...             ...          ...         ...      ...         ...   ...
41076184          1            2           2        2           2     2
41076185          2            2           2        2           2     1
41076186          2            2           2        2           2     1
41076187          2            2           2        2           2     1
41076188          2            2           2        2           2     1

[2773 rows x 6 columns], df_name='nga_sr', label='H31', qtype='multi', survey='sr', text=' Do you have any of the following?')
key=tan_H31namespace(answers={'yes': 1, 'no': 2}, column_dict={'insurance': 1, 'living_will': 2, 'retirement': 3, 'savings': 4, 'investment': 5}, country='tan', df=          insurance  living_will  retirement  savings  investment
28845992          2            1           2        2           2
29265802          2            2           2        1           1
28901706          2            2           2        1           2
29302230          2            2           2        2           1
28910973          2            2           2        2           1
...             ...          ...         ...      ...         ...
29319386          2            2           2        2           1
28924835          2            1           2        2           2
29010663          2            2           2        1           2
29555590          1            2           2        2           2
29198985          1            2           2        2           2

[2795 rows x 5 columns], df_name='tan_sr', label='H31', qtype='multi', survey='sr', text=' Do you have any of the following?')
key=uga_H31namespace(answers={'yes': 1, 'no': 2}, column_dict={'insurance': 1, 'living_will': 2, 'retirement': 3, 'savings': 4, 'investment': 5}, country='uga', df=          insurance  living_will  retirement  savings  investment
22678446          1            2           2        1           1
22678927          2            2           2        1           2
22679052          2            2           2        2           2
22679076          2            2           2        1           1
22679225          2            2           2        1           1
...             ...          ...         ...      ...         ...
23500842          2            2           2        2           2
23620542          2            2           2        1           1
23620647          2            2           2        1           2
23620678          2            1           2        2           2
23620722          2            2           2        2           2

[2771 rows x 5 columns], df_name='uga_sr', label='H31', qtype='multi', survey='sr', text=' Do you have any of the following?')
key=bgd_H32namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'life': 2, 'car': 3, 'agriculture': 4, 'house': 5, 'unemployment': 6, 'other': 7, 'None': 8}, country='bgd', df=        medical  life  car  agriculture  house  unemployment  other  None
1           2.0   1.0  2.0          2.0    2.0           1.0    2.0   2.0
2           NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
3           NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
4           NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
5           NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
...         ...   ...  ...          ...    ...           ...    ...   ...
800129      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
800130      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
800131      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
800132      2.0   1.0  2.0          2.0    2.0           2.0    2.0   2.0
800133      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN

[3095 rows x 8 columns], df_name='bgd_sr', label='H32', qtype='multi', survey='sr', text='Which of the following types of insurance do you have?')
key=cdi_H32namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'life': 2, 'car': 3, 'agriculture': 4, 'house': 5, 'unemployment': 6, 'other': 7, 'None': 8}, country='cdi', df=          medical  life  car  agriculture  house  unemployment  other  None
31028570      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
31028571      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
31036603      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
31038817      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
31040474      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
...           ...   ...  ...          ...    ...           ...    ...   ...
32261521      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
32261522      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
32261524      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
32280062      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
32280063      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN

[2949 rows x 8 columns], df_name='cdi_sr', label='H32', qtype='multi', survey='sr', text='Which of the following types of insurance do you have?')
key=moz_H32namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'life': 2, 'car': 3, 'agriculture': 4, 'house': 5, 'unemployment': 6, 'other': 7, 'None': 8}, country='moz', df=          medical  life  car  agriculture  house  unemployment  other  None
21948170      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
21948180      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
21948779      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
21951744      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
21955646      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
...           ...   ...  ...          ...    ...           ...    ...   ...
23315711      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
23324438      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
23324440      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
23324645      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
23324649      1.0   1.0  2.0          2.0    1.0           1.0    2.0   1.0

[2574 rows x 8 columns], df_name='moz_sr', label='H32', qtype='multi', survey='sr', text='Which of the following types of insurance do you have?')
key=nga_H32namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'life': 2, 'car': 3, 'agriculture': 4, 'house': 5, 'unemployment': 6, 'livestock': 7, 'funeral': 8, 'None': 9}, country='nga', df=          medical  life  car  agriculture  house  unemployment  livestock  \
40127279      NaN   NaN  NaN          NaN    NaN           NaN        NaN
40134046      NaN   NaN  NaN          NaN    NaN           NaN        NaN
40135889      NaN   NaN  NaN          NaN    NaN           NaN        NaN
40143258      NaN   NaN  NaN          NaN    NaN           NaN        NaN
40144462      NaN   NaN  NaN          NaN    NaN           NaN        NaN
...           ...   ...  ...          ...    ...           ...        ...
41076184      2.0   2.0  2.0          2.0    2.0           2.0        2.0
41076185      NaN   NaN  NaN          NaN    NaN           NaN        NaN
41076186      NaN   NaN  NaN          NaN    NaN           NaN        NaN
41076187      NaN   NaN  NaN          NaN    NaN           NaN        NaN
41076188      NaN   NaN  NaN          NaN    NaN           NaN        NaN

          funeral  None
40127279      NaN   NaN
40134046      NaN   NaN
40135889      NaN   NaN
40143258      NaN   NaN
40144462      NaN   NaN
...           ...   ...
41076184      2.0   2.0
41076185      NaN   NaN
41076186      NaN   NaN
41076187      NaN   NaN
41076188      NaN   NaN

[2773 rows x 9 columns], df_name='nga_sr', label='H32', qtype='multi', survey='sr', text='Which of the following types of insurance do you have?')
key=tan_H32namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'life': 2, 'car': 3, 'agriculture': 4, 'house': 5, 'unemployment': 6, 'livestock': 7, 'funeral': 8, 'None': 9}, country='tan', df=          medical  life  car  agriculture  house  unemployment  livestock  \
28845992      NaN   NaN  NaN          NaN    NaN           NaN        NaN
29265802      NaN   NaN  NaN          NaN    NaN           NaN        NaN
28901706      NaN   NaN  NaN          NaN    NaN           NaN        NaN
29302230      NaN   NaN  NaN          NaN    NaN           NaN        NaN
28910973      NaN   NaN  NaN          NaN    NaN           NaN        NaN
...           ...   ...  ...          ...    ...           ...        ...
29319386      NaN   NaN  NaN          NaN    NaN           NaN        NaN
28924835      NaN   NaN  NaN          NaN    NaN           NaN        NaN
29010663      NaN   NaN  NaN          NaN    NaN           NaN        NaN
29555590      1.0   2.0  2.0          2.0    2.0           2.0        2.0
29198985      1.0   2.0  2.0          2.0    2.0           2.0        2.0

          funeral  None
28845992      NaN   NaN
29265802      NaN   NaN
28901706      NaN   NaN
29302230      NaN   NaN
28910973      NaN   NaN
...           ...   ...
29319386      NaN   NaN
28924835      NaN   NaN
29010663      NaN   NaN
29555590      2.0   2.0
29198985      2.0   2.0

[2795 rows x 9 columns], df_name='tan_sr', label='H32', qtype='multi', survey='sr', text='Which of the following types of insurance do you have?')
key=uga_H32namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'life': 2, 'car': 3, 'agriculture': 4, 'house': 5, 'unemployment': 6, 'other': 7, 'None': 8}, country='uga', df=          medical  life  car  agriculture  house  unemployment  other  None
22678446      1.0   1.0  2.0          1.0    2.0           2.0    2.0   2.0
22678927      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
22679052      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
22679076      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
22679225      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
...           ...   ...  ...          ...    ...           ...    ...   ...
23500842      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
23620542      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
23620647      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
23620678      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN
23620722      NaN   NaN  NaN          NaN    NaN           NaN    NaN   NaN

[2771 rows x 8 columns], df_name='uga_sr', label='H32', qtype='multi', survey='sr', text='Which of the following types of insurance do you have?')
key=bgd_H34namespace(answers={'yes': 1, 'no': 2}, column_dict={'loss_of_house': 1, 'major_medical': 2, 'bankruptcy_lost_job': 3, 'loss_of_harvest': 4, 'loss_of_property': 5, 'death': 6, 'time_without_food': 7}, country='bgd', df=        loss_of_house  major_medical  bankruptcy_lost_job  loss_of_harvest  \
1                 1.0            1.0                  1.0              1.0
2                 2.0            2.0                  2.0              2.0
3                 1.0            1.0                  1.0              1.0
4                 2.0            2.0                  2.0              2.0
5                 2.0            1.0                  1.0              2.0
...               ...            ...                  ...              ...
800129            2.0            2.0                  2.0              2.0
800130            2.0            2.0                  2.0              2.0
800131            2.0            1.0                  2.0              2.0
800132            2.0            2.0                  2.0              2.0
800133            2.0            2.0                  2.0              2.0

        loss_of_property  death  time_without_food
1                    1.0    1.0                1.0
2                    2.0    2.0                2.0
3                    1.0    1.0                1.0
4                    2.0    2.0                2.0
5                    2.0    2.0                1.0
...                  ...    ...                ...
800129               2.0    2.0                2.0
800130               2.0    2.0                2.0
800131               1.0    2.0                2.0
800132               2.0    2.0                2.0
800133               2.0    2.0                2.0

[3095 rows x 7 columns], df_name='bgd_sr', label='H34', qtype='multi', survey='sr', text='Does your family have a plan to manage the unexpected expenses, which might result from the following?')

key=cdi_H34namespace(answers={'yes': 1, 'no': 2}, column_dict={'loss_of_house': 1, 'major_medical': 2, 'bankruptcy_lost_job': 3, 'loss_of_harvest': 4, 'loss_of_property': 5, 'death': 6, 'time_without_food': 7}, country='cdi', df=          loss_of_house  major_medical  bankruptcy_lost_job  loss_of_harvest  \
31028570            2.0            2.0                  2.0              NaN
31028571            2.0            2.0                  2.0              2.0
31036603            NaN            NaN                  NaN              2.0
31038817            2.0            1.0                  2.0              2.0
31040474            2.0            2.0                  2.0              2.0
...                 ...            ...                  ...              ...
32261521            2.0            2.0                  2.0              2.0
32261522            2.0            2.0                  2.0              2.0
32261524            2.0            2.0                  2.0              2.0
32280062            2.0            1.0                  2.0              1.0
32280063            NaN            1.0                  NaN              NaN

          loss_of_property  death  time_without_food
31028570               2.0    2.0                2.0
31028571               2.0    2.0                2.0
31036603               NaN    1.0                2.0
31038817               2.0    1.0                1.0
31040474               2.0    2.0                2.0
...                    ...    ...                ...
32261521               2.0    2.0                2.0
32261522               2.0    2.0                2.0
32261524               2.0    2.0                2.0
32280062               1.0    1.0                NaN
32280063               1.0    1.0                NaN

[2949 rows x 7 columns], df_name='cdi_sr', label='H34', qtype='multi', survey='sr', text='Does your family have a plan to manage the unexpected expenses, which might result from the following?')
key=moz_H34namespace(answers={'yes': 1, 'no': 2}, column_dict={'loss_of_house': 1, 'major_medical': 2, 'bankruptcy_lost_job': 3, 'loss_of_harvest': 4, 'loss_of_property': 5, 'death': 6, 'time_without_food': 7}, country='moz', df=          loss_of_house  major_medical  bankruptcy_lost_job  loss_of_harvest  \
21948170            NaN            1.0                  2.0              2.0
21948180            2.0            2.0                  2.0              2.0
21948779            2.0            2.0                  2.0              NaN
21951744            2.0            2.0                  2.0              2.0
21955646            1.0            2.0                  2.0              2.0
...                 ...            ...                  ...              ...
23315711            2.0            2.0                  2.0              2.0
23324438            1.0            NaN                  1.0              1.0
23324440            NaN            NaN                  NaN              NaN
23324645            NaN            NaN                  NaN              NaN
23324649            1.0            2.0                  1.0              2.0

          loss_of_property  death  time_without_food
21948170               2.0    1.0                1.0
21948180               2.0    2.0                2.0
21948779               1.0    NaN                1.0
21951744               2.0    2.0                2.0
21955646               2.0    2.0                2.0
...                    ...    ...                ...
23315711               2.0    2.0                NaN
23324438               2.0    1.0                1.0
23324440               NaN    NaN                NaN
23324645               NaN    NaN                NaN
23324649               1.0    1.0                1.0

[2574 rows x 7 columns], df_name='moz_sr', label='H34', qtype='multi', survey='sr', text='Does your family have a plan to manage the unexpected expenses, which might result from the following?')
key=nga_H34namespace(answers={'yes': 1, 'no': 2}, column_dict={'loss_of_house': 1, 'major_medical': 2, 'bankruptcy_lost_job': 3, 'loss_of_harvest': 4, 'loss_of_property': 5, 'death': 6, 'time_without_food': 7, 'crop_failure': 8}, country='nga', df=          loss_of_house  major_medical  bankruptcy_lost_job  loss_of_harvest  \
40127279            2.0            2.0                  2.0              2.0
40134046            2.0            1.0                  2.0              1.0
40135889            2.0            1.0                  2.0              2.0
40143258            2.0            2.0                  2.0              2.0
40144462            1.0            1.0                  2.0              1.0
...                 ...            ...                  ...              ...
41076184            2.0            2.0                  2.0              2.0
41076185            1.0            2.0                  NaN              2.0
41076186            2.0            2.0                  NaN              2.0
41076187            2.0            2.0                  2.0              1.0
41076188            1.0            2.0                  2.0              2.0

          loss_of_property  death  time_without_food  crop_failure
40127279               2.0    1.0                2.0           2.0
40134046               1.0    2.0                2.0           2.0
40135889               2.0    2.0                2.0           2.0
40143258               2.0    2.0                1.0           2.0
40144462               2.0    2.0                2.0           2.0
...                    ...    ...                ...           ...
41076184               2.0    2.0                2.0           2.0
41076185               2.0    2.0                2.0           2.0
41076186               2.0    NaN                NaN           1.0
41076187               2.0    NaN                2.0           NaN
41076188               1.0    2.0                2.0           2.0

[2773 rows x 8 columns], df_name='nga_sr', label='H34', qtype='multi', survey='sr', text='Does your family have a plan to manage the unexpected expenses, which might result from the following?')
key=tan_H34namespace(answers={'yes': 1, 'no': 2}, column_dict={'loss_of_house': 1, 'major_medical': 2, 'bankruptcy_lost_job': 3, 'loss_of_harvest': 4, 'loss_of_property': 5, 'death': 6, 'time_without_food': 7, 'crop_failure': 8}, country='tan', df=          loss_of_house  major_medical  bankruptcy_lost_job  loss_of_harvest  \
28845992            1.0            2.0                  2.0              2.0
29265802            2.0            1.0                  2.0              2.0
28901706            1.0            1.0                  1.0              1.0
29302230            2.0            2.0                  2.0              2.0
28910973            2.0            2.0                  2.0              2.0
...                 ...            ...                  ...              ...
29319386            2.0            2.0                  2.0              2.0
28924835            2.0            1.0                  2.0              2.0
29010663            1.0            1.0                  2.0              1.0
29555590            2.0            2.0                  2.0              2.0
29198985            1.0            1.0                  1.0              1.0

          loss_of_property  death  time_without_food  crop_failure
28845992               2.0    1.0                2.0           1.0
29265802               2.0    1.0                1.0           2.0
28901706               1.0    1.0                1.0           2.0
29302230               2.0    2.0                2.0           2.0
28910973               2.0    2.0                2.0           2.0
...                    ...    ...                ...           ...
29319386               2.0    1.0                2.0           2.0
28924835               2.0    1.0                1.0           1.0
29010663               2.0    1.0                1.0           2.0
29555590               2.0    2.0                2.0           2.0
29198985               1.0    1.0                1.0           2.0

[2795 rows x 8 columns], df_name='tan_sr', label='H34', qtype='multi', survey='sr', text='Does your family have a plan to manage the unexpected expenses, which might result from the following?')
key=uga_H34namespace(answers={'yes': 1, 'no': 2}, column_dict={'loss_of_house': 1, 'major_medical': 2, 'bankruptcy_lost_job': 3, 'loss_of_harvest': 4, 'loss_of_property': 5, 'death': 6, 'time_without_food': 7}, country='uga', df=          loss_of_house  major_medical  bankruptcy_lost_job  loss_of_harvest  \
22678446            2.0            1.0                  2.0              2.0
22678927            1.0            1.0                  2.0              2.0
22679052            2.0            2.0                  2.0              2.0
22679076            2.0            2.0                  2.0              2.0
22679225            2.0            1.0                  2.0              1.0
...                 ...            ...                  ...              ...
23500842            2.0            2.0                  2.0              2.0
23620542            2.0            2.0                  2.0              2.0
23620647            2.0            2.0                  2.0              2.0
23620678            2.0            2.0                  2.0              2.0
23620722            2.0            2.0                  2.0              2.0

          loss_of_property  death  time_without_food
22678446               2.0    2.0                1.0
22678927               2.0    1.0                2.0
22679052               2.0    2.0                2.0
22679076               2.0    2.0                2.0
22679225               1.0    1.0                1.0
...                    ...    ...                ...
23500842               2.0    2.0                2.0
23620542               1.0    1.0                NaN
23620647               2.0    2.0                NaN
23620678               2.0    1.0                1.0
23620722               2.0    2.0                2.0

[2771 rows x 7 columns], df_name='uga_sr', label='H34', qtype='multi', survey='sr', text='Does your family have a plan to manage the unexpected expenses, which might result from the following?')
key=bgd_H35namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'death': 2, 'income_loss': 3, 'job_loss': 4, 'wage_loss': 5, 'wedding': 6, 'construction': 7, 'relocation': 8, 'birth': 9, 'none': 10, 'DK': 11}, country='bgd', df=        medical  death  income_loss  job_loss  wage_loss  wedding  \
1             1      2            1         2          2        2
2             2      2            1         2          1        2
3             1      2            2         2          2        2
4             1      2            2         2          2        1
5             1      2            2         2          2        2
...         ...    ...          ...       ...        ...      ...
800129        2      1            2         2          2        2
800130        1      2            2         2          2        2
800131        1      2            2         2          2        2
800132        1      2            2         2          2        2
800133        1      2            2         2          2        2

        construction  relocation  birth  none  DK
1                  1           2      2     2   2
2                  2           2      2     2   2
3                  1           1      2     2   2
4                  2           2      1     2   2
5                  2           2      2     2   2
...              ...         ...    ...   ...  ..
800129             1           2      2     2   2
800130             1           2      2     2   2
800131             2           2      2     2   2
800132             1           2      2     2   2
800133             2           2      2     2   2

[3095 rows x 11 columns], df_name='bgd_sr', label='H35', qtype='multi', survey='sr', text='In the past 12 months, have you experienced any of the following events?')
key=cdi_H35namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'death': 2, 'income_loss': 3, 'job_loss': 4, 'wage_loss': 5, 'wedding': 6, 'construction': 7, 'relocation': 8, 'birth': 9, 'none': 10, 'DK': 11}, country='cdi', df=          medical  death  income_loss  job_loss  wage_loss  wedding  \
31028570        1      2            2         2          2        2
31028571        2      1            2         2          2        2
31036603        1      1            2         2          2        1
31038817        1      2            2         2          2        2
31040474        1      1            2         2          2        2
...           ...    ...          ...       ...        ...      ...
32261521        1      1            1         1          1        1
32261522        1      1            1         1          1        1
32261524        1      1            1         1          1        1
32280062        1      2            2         2          2        2
32280063        1      1            2         2          2        2

          construction  relocation  birth  none  DK
31028570             2           2      2     2   2
31028571             1           2      2     2   2
31036603             1           2      1     2   2
31038817             2           2      1     2   2
31040474             1           2      2     2   2
...                ...         ...    ...   ...  ..
32261521             1           1      1     2   2
32261522             1           1      1     2   2
32261524             1           1      1     2   2
32280062             2           2      1     2   2
32280063             2           2      1     2   2

[2949 rows x 11 columns], df_name='cdi_sr', label='H35', qtype='multi', survey='sr', text='In the past 12 months, have you experienced any of the following events?')
key=moz_H35namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'death': 2, 'income_loss': 3, 'job_loss': 4, 'wage_loss': 5, 'wedding': 6, 'construction': 7, 'relocation': 8, 'none': 9, 'DK': 10}, country='moz', df=          medical  death  income_loss  job_loss  wage_loss  wedding  \
21948170      2.0    1.0          2.0       2.0        2.0      1.0
21948180      2.0    1.0          2.0       1.0        1.0      2.0
21948779      2.0    2.0          2.0       2.0        2.0      2.0
21951744      2.0    2.0          2.0       2.0        2.0      1.0
21955646      2.0    2.0          2.0       2.0        2.0      2.0
...           ...    ...          ...       ...        ...      ...
23315711      2.0    2.0          2.0       2.0        2.0      2.0
23324438      1.0    2.0          1.0       2.0        1.0      2.0
23324440      NaN    NaN          NaN       NaN        NaN      NaN
23324645      NaN    NaN          NaN       NaN        NaN      NaN
23324649      2.0    1.0          2.0       1.0        1.0      1.0

          construction  relocation  none   DK
21948170           2.0         2.0   1.0  2.0
21948180           2.0         2.0   1.0  2.0
21948779           2.0         1.0   1.0  2.0
21951744           2.0         2.0   1.0  2.0
21955646           2.0         2.0   2.0  2.0
...                ...         ...   ...  ...
23315711           2.0         2.0   1.0  1.0
23324438           1.0         2.0   1.0  2.0
23324440           NaN         NaN   NaN  NaN
23324645           NaN         NaN   NaN  NaN
23324649           2.0         2.0   1.0  2.0

[2574 rows x 10 columns], df_name='moz_sr', label='H35', qtype='multi', survey='sr', text='In the past 12 months, have you experienced any of the following events?')
key=nga_H35namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'death': 2, 'income_loss': 3, 'job_loss': 4, 'wage_loss': 5, 'wedding': 6, 'construction': 7, 'relocation': 8, 'birth': 9, 'crop_failure': 10, 'none': 11}, country='nga', df=          medical  death  income_loss  job_loss  wage_loss  wedding  \
40127279        2      1            2         2          2        2
40134046        1      1            2         2          2        1
40135889        1      1            1         2          2        1
40143258        2      2            2         2          2        2
40144462        2      1            2         2          2        2
...           ...    ...          ...       ...        ...      ...
41076184        2      2            2         2          2        2
41076185        2      2            2         2          2        2
41076186        1      1            2         1          2        2
41076187        2      2            2         2          2        2
41076188        2      2            2         2          2        2

          construction  relocation  birth  crop_failure  none
40127279             2           2      2             2     2
40134046             2           2      2             2     2
40135889             2           1      2             2     2
40143258             2           2      2             2     1
40144462             2           2      2             1     2
...                ...         ...    ...           ...   ...
41076184             2           2      2             1     2
41076185             2           2      2             2     1
41076186             2           2      2             2     2
41076187             2           2      2             1     2
41076188             2           2      2             2     2

[2773 rows x 11 columns], df_name='nga_sr', label='H35', qtype='multi', survey='sr', text='In the past 12 months, have you experienced any of the following events?')
key=tan_H35namespace(answers={'yes': 1, 'no': 2}, column_dict={'medical': 1, 'death': 2, 'income_loss': 3, 'job_loss': 4, 'wage_loss': 5, 'wedding': 6, 'construction': 7, 'relocation': 8, 'birth': 9, 'crop_failure': 10, 'none': 11}, country='tan', df=          medical  death  income_loss  job_loss  wage_loss  wedding  \
28845992        2      2            2         2          2        2
29265802        1      2            2         2          2        1
28901706        1      1            1         2          1        2
29302230        2      2            2         2          2        2
28910973        2      2            2         2          2        2
...           ...    ...          ...       ...        ...      ...
29319386        1      1            2         2          2        2
28924835        1      1            1         2          2        2
29010663        2      2            2         2          2        2
29555590        1      2            2         2          2        2
29198985        1      2            2         2          2        2

          construction  relocation  birth  crop_failure  none
28845992             2           2      2             1     2
29265802             1           2      2             2     2
28901706             2           2      1             1     2
29302230             2           2      1             2     2
28910973             2           2      1             1     2
...                ...         ...    ...           ...   ...
29319386             2           2      2             2     2
28924835             1           2      1             2     2
29010663             1           2      2             2     2
29555590             2           2      2             2     2
29198985             2           2      2             1     2

[2795 rows x 11 columns], df_name='tan_sr', label='H35', qtype='multi', survey='sr', text='In the past 12 months, have you experienced any of the following events?')

key=cdi_H37namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'actions_determine': 1, 'self_determine': 2, 'short_term': 3, 'live_for_today': 4, 'future_determine_itself': 5, 'work_hard': 6, 'what_happens_happens': 7, 'power_determines': 8}, country='cdi', df=          actions_determine  self_determine  short_term  live_for_today  \
31028570                1.0             2.0         2.0             2.0
31028571                1.0             2.0         2.0             2.0
31036603                1.0             NaN         NaN             NaN
31038817                1.0             2.0         1.0             1.0
31040474                1.0             1.0         1.0             1.0
...                     ...             ...         ...             ...
32261521                1.0             1.0         1.0             2.0
32261522                1.0             1.0         1.0             2.0
32261524                1.0             1.0         1.0             2.0
32280062                1.0             1.0         2.0             2.0
32280063                1.0             NaN         2.0             1.0

          future_determine_itself  work_hard  what_happens_happens  \
31028570                      1.0        1.0                   1.0
31028571                      2.0        1.0                   1.0
31036603                      NaN        1.0                   NaN
31038817                      NaN        1.0                   NaN
31040474                      1.0        1.0                   1.0
...                           ...        ...                   ...
32261521                      1.0        1.0                   1.0
32261522                      1.0        1.0                   1.0
32261524                      1.0        1.0                   1.0
32280062                      1.0        1.0                   2.0
32280063                      2.0        1.0                   NaN

          power_determines
31028570               1.0
31028571               2.0
31036603               NaN
31038817               1.0
31040474               2.0
...                    ...
32261521               2.0
32261522               2.0
32261524               2.0
32280062               2.0
32280063               2.0

[2949 rows x 8 columns], df_name='cdi_sr', label='H37', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements?')
key=moz_H37namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'actions_determine': 1, 'self_determine': 2, 'short_term': 3, 'live_for_today': 4, 'future_determine_itself': 5, 'work_hard': 6, 'what_happens_happens': 7, 'power_determines': 8}, country='moz', df=          actions_determine  self_determine  short_term  live_for_today  \
21948170                1.0             2.0         2.0             2.0
21948180                1.0             2.0         2.0             1.0
21948779                1.0             1.0         2.0             2.0
21951744                1.0             1.0         2.0             2.0
21955646                1.0             1.0         1.0             1.0
...                     ...             ...         ...             ...
23315711                1.0             2.0         2.0             NaN
23324438                1.0             1.0         2.0             1.0
23324440                NaN             NaN         NaN             NaN
23324645                NaN             NaN         NaN             NaN
23324649                1.0             2.0         1.0             1.0

          future_determine_itself  work_hard  what_happens_happens  \
21948170                      2.0        1.0                   2.0
21948180                      2.0        1.0                   1.0
21948779                      NaN        1.0                   1.0
21951744                      2.0        1.0                   1.0
21955646                      2.0        2.0                   1.0
...                           ...        ...                   ...
23315711                      NaN        1.0                   1.0
23324438                      2.0        1.0                   1.0
23324440                      NaN        NaN                   NaN
23324645                      NaN        NaN                   NaN
23324649                      2.0        1.0                   2.0

          power_determines
21948170               1.0
21948180               1.0
21948779               1.0
21951744               2.0
21955646               1.0
...                    ...
23315711               2.0
23324438               2.0
23324440               NaN
23324645               NaN
23324649               1.0

[2574 rows x 8 columns], df_name='moz_sr', label='H37', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements?')
key=nga_H37namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'actions_determine': 1, 'self_determine': 2, 'short_term': 3, 'live_for_today': 4, 'future_determine_itself': 5, 'work_hard': 6, 'what_happens_happens': 7, 'power_determines': 8}, country='nga', df=          actions_determine  self_determine  short_term  live_for_today  \
40127279                1.0             1.0         2.0             2.0
40134046                1.0             2.0         1.0             2.0
40135889                1.0             1.0         1.0             2.0
40143258                1.0             2.0         2.0             NaN
40144462                1.0             1.0         1.0             2.0
...                     ...             ...         ...             ...
41076184                2.0             2.0         1.0             2.0
41076185                2.0             1.0         2.0             1.0
41076186                2.0             1.0         2.0             2.0
41076187                1.0             1.0         1.0             1.0
41076188                2.0             1.0         2.0             2.0

          future_determine_itself  work_hard  what_happens_happens  \
40127279                      1.0        1.0                   2.0
40134046                      2.0        2.0                   2.0
40135889                      1.0        2.0                   2.0
40143258                      1.0        2.0                   1.0
40144462                      2.0        2.0                   2.0
...                           ...        ...                   ...
41076184                      1.0        2.0                   1.0
41076185                      1.0        1.0                   1.0
41076186                      1.0        1.0                   1.0
41076187                      1.0        1.0                   2.0
41076188                      1.0        2.0                   2.0

          power_determines
40127279               2.0
40134046               2.0
40135889               2.0
40143258               2.0
40144462               2.0
...                    ...
41076184               2.0
41076185               1.0
41076186               2.0
41076187               1.0
41076188               2.0

[2773 rows x 8 columns], df_name='nga_sr', label='H37', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements?')
key=tan_H37namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'actions_determine': 1, 'self_determine': 2, 'short_term': 3, 'live_for_today': 4, 'future_determine_itself': 5, 'work_hard': 6, 'what_happens_happens': 7, 'power_determines': 8}, country='tan', df=          actions_determine  self_determine  short_term  live_for_today  \
28845992                1.0             2.0         2.0             2.0
29265802                1.0             2.0         2.0             1.0
28901706                1.0             1.0         2.0             2.0
29302230                1.0             2.0         NaN             NaN
28910973                1.0             1.0         1.0             1.0
...                     ...             ...         ...             ...
29319386                1.0             1.0         2.0             2.0
28924835                1.0             2.0         2.0             2.0
29010663                1.0             2.0         2.0             2.0
29555590                1.0             2.0         1.0             1.0
29198985                1.0             2.0         2.0             1.0

          future_determine_itself  work_hard  what_happens_happens  \
28845992                      2.0        2.0                   1.0
29265802                      2.0        1.0                   1.0
28901706                      2.0        1.0                   1.0
29302230                      NaN        NaN                   1.0
28910973                      1.0        1.0                   1.0
...                           ...        ...                   ...
29319386                      2.0        2.0                   1.0
28924835                      2.0        1.0                   1.0
29010663                      2.0        1.0                   1.0
29555590                      1.0        1.0                   1.0
29198985                      2.0        1.0                   1.0

          power_determines
28845992               1.0
29265802               1.0
28901706               1.0
29302230               1.0
28910973               2.0
...                    ...
29319386               1.0
28924835               2.0
29010663               2.0
29555590               1.0
29198985               2.0

[2795 rows x 8 columns], df_name='tan_sr', label='H37', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements?')
key=uga_H37namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'actions_determine': 1, 'self_determine': 2, 'short_term': 3, 'live_for_today': 4, 'future_determine_itself': 5, 'work_hard': 6, 'what_happens_happens': 7, 'power_determines': 8}, country='uga', df=          actions_determine  self_determine  short_term  live_for_today  \
22678446                1.0             2.0         2.0             2.0
22678927                1.0             1.0         1.0             1.0
22679052                1.0             1.0         2.0             1.0
22679076                2.0             2.0         2.0             1.0
22679225                1.0             1.0         2.0             2.0
...                     ...             ...         ...             ...
23500842                1.0             2.0         2.0             2.0
23620542                1.0             1.0         2.0             2.0
23620647                2.0             2.0         2.0             2.0
23620678                1.0             2.0         2.0             2.0
23620722                2.0             1.0         2.0             2.0

          future_determine_itself  work_hard  what_happens_happens  \
22678446                      2.0        1.0                   2.0
22678927                      1.0        1.0                   1.0
22679052                      1.0        1.0                   1.0
22679076                      2.0        2.0                   2.0
22679225                      2.0        1.0                   2.0
...                           ...        ...                   ...
23500842                      2.0        1.0                   1.0
23620542                      2.0        2.0                   2.0
23620647                      2.0        1.0                   2.0
23620678                      2.0        1.0                   1.0
23620722                      2.0        1.0                   1.0

          power_determines
22678446               2.0
22678927               2.0
22679052               2.0
22679076               2.0
22679225               2.0
...                    ...
23500842               2.0
23620542               2.0
23620647               NaN
23620678               2.0
23620722               2.0

[2771 rows x 8 columns], df_name='uga_sr', label='H37', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements?')
key=bgd_H38namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'among_the_best': 1, 'think_hard_first': 2, 'unwise_to_plan': 3, 'impulsive': 4, 'speak_before_think': 5, 'opportunistic': 6, 'have_aspirations': 7}, country='bgd', df=        among_the_best  think_hard_first  unwise_to_plan  impulsive  \
1                  1.0               1.0             1.0        1.0
2                  1.0               1.0             1.0        2.0
3                  1.0               1.0             1.0        1.0
4                  1.0               1.0             2.0        2.0
5                  2.0               1.0             1.0        1.0
...                ...               ...             ...        ...
800129             1.0               1.0             1.0        1.0
800130             1.0               1.0             1.0        2.0
800131             2.0               2.0             1.0        2.0
800132             1.0               2.0             1.0        1.0
800133             1.0               2.0             1.0        1.0

        speak_before_think  opportunistic  have_aspirations
1                      2.0            1.0               1.0
2                      2.0            1.0               1.0
3                      2.0            1.0               1.0
4                      1.0            1.0               1.0
5                      1.0            2.0               2.0
...                    ...            ...               ...
800129                 1.0            1.0               1.0
800130                 1.0            1.0               1.0
800131                 2.0            2.0               2.0
800132                 1.0            1.0               1.0
800133                 1.0            1.0               1.0

[3095 rows x 7 columns], df_name='bgd_sr', label='H38', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements?')
key=cdi_H38namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'among_the_best': 1, 'think_hard_first': 2, 'unwise_to_plan': 3, 'impulsive': 4, 'speak_before_think': 5, 'opportunistic': 6, 'have_aspirations': 7}, country='cdi', df=          among_the_best  think_hard_first  unwise_to_plan  impulsive  \
31028570             1.0               1.0             1.0        1.0
31028571             1.0               1.0             1.0        2.0
31036603             NaN               NaN             NaN        NaN
31038817             1.0               1.0             2.0        2.0
31040474             1.0               1.0             2.0        2.0
...                  ...               ...             ...        ...
32261521             1.0               1.0             2.0        2.0
32261522             1.0               1.0             2.0        1.0
32261524             1.0               1.0             2.0        1.0
32280062             1.0               1.0             1.0        2.0
32280063             1.0               1.0             1.0        2.0

          speak_before_think  opportunistic  have_aspirations
31028570                 1.0            1.0               1.0
31028571                 2.0            1.0               1.0
31036603                 NaN            1.0               NaN
31038817                 2.0            1.0               1.0
31040474                 2.0            1.0               1.0
...                      ...            ...               ...
32261521                 2.0            1.0               1.0
32261522                 2.0            1.0               1.0
32261524                 2.0            1.0               1.0
32280062                 1.0            1.0               1.0
32280063                 2.0            1.0               1.0

[2949 rows x 7 columns], df_name='cdi_sr', label='H38', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements?')
key=moz_H38namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'among_the_best': 1, 'think_hard_first': 2, 'unwise_to_plan': 3, 'impulsive': 4, 'speak_before_think': 5, 'opportunistic': 6, 'have_aspirations': 7}, country='moz', df=          among_the_best  think_hard_first  unwise_to_plan  impulsive  \
21948170             1.0               1.0             NaN        2.0
21948180             1.0               1.0             1.0        2.0
21948779             1.0               1.0             1.0        2.0
21951744             1.0               1.0             2.0        2.0
21955646             1.0               1.0             1.0        2.0
...                  ...               ...             ...        ...
23315711             1.0               2.0             1.0        2.0
23324438             1.0               2.0             1.0        2.0
23324440             NaN               NaN             NaN        NaN
23324645             NaN               NaN             NaN        NaN
23324649             1.0               2.0             1.0        2.0

          speak_before_think  opportunistic  have_aspirations
21948170                 2.0            1.0               2.0
21948180                 2.0            1.0               1.0
21948779                 2.0            1.0               2.0
21951744                 2.0            1.0               1.0
21955646                 2.0            2.0               1.0
...                      ...            ...               ...
23315711                 1.0            NaN               NaN
23324438                 1.0            1.0               2.0
23324440                 NaN            NaN               NaN
23324645                 NaN            NaN               NaN
23324649                 1.0            2.0               1.0

[2574 rows x 7 columns], df_name='moz_sr', label='H38', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements?')
key=nga_H38namespace(answers={'agree': 1, 'disagree': 2}, column_dict={'among_the_best': 1, 'think_hard_first': 2, 'unwise_to_plan': 3, 'impulsive': 4, 'speak_before_think': 5, 'opportunistic': 6, 'have_aspirations': 7}, country='nga', df=          among_the_best  think_hard_first  unwise_to_plan  impulsive  \
40127279             1.0               1.0             2.0        2.0
40134046             1.0               1.0             2.0        1.0
40135889             1.0               2.0             1.0        1.0
40143258             1.0               1.0             1.0        NaN
40144462             1.0               2.0             1.0        2.0
...                  ...               ...             ...        ...
41076184             1.0               2.0             2.0        2.0
41076185             2.0               1.0             1.0        1.0
41076186             1.0               NaN             2.0        2.0
41076187             1.0               2.0             2.0        2.0
41076188             1.0               2.0             2.0        2.0

          speak_before_think  opportunistic  have_aspirations
40127279                 2.0            2.0               1.0
40134046                 1.0            1.0               1.0
40135889                 1.0            2.0               1.0
40143258                 2.0            1.0               1.0
40144462                 2.0            1.0               1.0
...                      ...            ...               ...
41076184                 2.0            2.0               2.0
41076185                 1.0            1.0               1.0
41076186                 2.0            NaN               2.0
41076187                 2.0            1.0               2.0
41076188                 2.0            2.0               2.0

[2773 rows x 7 columns], df_name='nga_sr', label='H38', qtype='multi', survey='sr', text='Do you agree or disagree with the following statements?')

key=cdi_F46namespace(answers={'yes': 1, 'no': 2}, column_dict={'VLSA': 1, 'ROSCA': 2, 'money_guard': 3, 'savings_collector': 4, 'digital_card': 5}, country='cdi', df=          VLSA  ROSCA  money_guard  savings_collector  digital_card
31028570     2      2            2                  2             2
31028571     2      2            2                  2             2
31036603     2      2            2                  2             2
31038817     2      2            2                  2             2
31040474     1      2            1                  2             1
...        ...    ...          ...                ...           ...
32261521     2      2            2                  2             2
32261522     2      2            2                  2             2
32261524     2      2            2                  2             2
32280062     2      2            2                  2             2
32280063     2      2            2                  2             2

[2949 rows x 5 columns], df_name='cdi_sr', label='F46', qtype='multi', survey='sr', text='Have you ever used any of the following financial services?')
key=moz_F46namespace(answers={'yes': 1, 'no': 2}, column_dict={'VLSA': 1, 'money_guard': 2, 'savings_collector': 3, 'digital_card': 4, 'money_lender': 5}, country='moz', df=          VLSA  money_guard  savings_collector  digital_card  money_lender
21948170   2.0          2.0                2.0           2.0           2.0
21948180   2.0          2.0                2.0           2.0           2.0
21948779   2.0          1.0                2.0           2.0           1.0
21951744   1.0          2.0                2.0           2.0           2.0
21955646   2.0          2.0                1.0           2.0           1.0
...        ...          ...                ...           ...           ...
23315711   2.0          2.0                2.0           2.0           2.0
23324438   1.0          1.0                2.0           2.0           1.0
23324440   NaN          NaN                NaN           NaN           NaN
23324645   NaN          NaN                NaN           NaN           NaN
23324649   1.0          1.0                2.0           2.0           1.0

[2574 rows x 5 columns], df_name='moz_sr', label='F46', qtype='multi', survey='sr', text='Have you ever used any of the following financial services?')
key=nga_F46namespace(answers={'yes': 1, 'no': 2}, column_dict={'ROSCA': 1, 'money_guard': 2, 'savings_collector': 3, 'shopkeeper': 4, 'digital_card': 5}, country='nga', df=          ROSCA  money_guard  savings_collector  shopkeeper  digital_card
40127279      2            2                  2           2             2
40134046      2            2                  2           2             2
40135889      2            2                  2           2             2
40143258      2            2                  2           2             2
40144462      2            2                  2           2             2
...         ...          ...                ...         ...           ...
41076184      1            2                  2           1             2
41076185      2            2                  1           1             2
41076186      2            1                  1           2             2
41076187      2            1                  2           2             2
41076188      2            2                  2           2             2

[2773 rows x 5 columns], df_name='nga_sr', label='F46', qtype='multi', survey='sr', text='Have you ever used any of the following financial services?')
key=tan_F46namespace(answers={'yes': 1, 'no': 2}, column_dict={'ROSCA': 1, 'money_guard': 2, 'savings_collector': 3, 'shopkeeper': 4, 'digital_card': 5}, country='tan', df=          ROSCA  money_guard  savings_collector  shopkeeper  digital_card
28845992      2            2                  2           2             2
29265802      2            2                  2           2             2
28901706      2            2                  2           2             2
29302230      2            2                  2           2             2
28910973      2            2                  2           2             2
...         ...          ...                ...         ...           ...
29319386      2            2                  2           2             2
28924835      2            2                  2           2             2
29010663      2            2                  2           2             2
29555590      2            2                  2           2             2
29198985      2            2                  2           2             2

[2795 rows x 5 columns], df_name='tan_sr', label='F46', qtype='multi', survey='sr', text='Have you ever used any of the following financial services?')
key=uga_F46namespace(answers={'yes': 1, 'no': 2}, column_dict={'VLSA': 1, 'ROSCA': 2, 'chama': 3, 'other_informal': 4, 'money_guard': 5, 'savings_collector': 6, 'shopkeeper': 7, 'digital_card': 8, 'money_lender': 9}, country='uga', df=          VLSA  ROSCA  chama  other_informal  money_guard  savings_collector  \
22678446     1      2      2               1            2                  2
22678927     2      2      2               2            2                  2
22679052     2      2      2               2            2                  2
22679076     1      2      2               2            2                  2
22679225     2      2      2               2            2                  2
...        ...    ...    ...             ...          ...                ...
23500842     2      2      2               2            2                  2
23620542     2      2      2               2            2                  2
23620647     2      2      2               2            2                  2
23620678     2      2      2               2            2                  2
23620722     2      2      2               2            2                  2

          shopkeeper  digital_card  money_lender
22678446           2             2             2
22678927           2             2             2
22679052           2             2             2
22679076           2             2             2
22679225           2             2             2
...              ...           ...           ...
23500842           2             2             2
23620542           2             2             2
23620647           2             2             2
23620678           1             2             1
23620722           2             2             2

[2771 rows x 9 columns], df_name='uga_sr', label='F46', qtype='multi', survey='sr', text='Have you ever used any of the following financial services?')
key=bgd_F47namespace(answers={'yesterday': 1, 'last_week': 2, 'last_month': 3, 'last_quarter': 4, 'before_last_quarter': 5, 'stopped_using': 6}, column_dict={'VLSA': 1, 'other_informal': 2, 'money_guard': 3, 'savings_collector': 4, 'hawla_hundi': 5, 'digital_card': 6}, country='bgd', df=        VLSA  other_informal  money_guard  savings_collector  hawla_hundi  \
1        3.0             NaN          NaN                NaN          NaN
2        NaN             NaN          NaN                NaN          NaN
3        NaN             NaN          NaN                NaN          NaN
4        NaN             NaN          NaN                NaN          NaN
5        NaN             NaN          NaN                NaN          NaN
...      ...             ...          ...                ...          ...
800129   NaN             NaN          NaN                NaN          NaN
800130   NaN             NaN          NaN                NaN          NaN
800131   NaN             NaN          NaN                NaN          NaN
800132   NaN             NaN          NaN                NaN          NaN
800133   NaN             NaN          NaN                NaN          NaN

        digital_card
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
...              ...
800129           NaN
800130           NaN
800131           NaN
800132           NaN
800133           NaN

[3095 rows x 6 columns], df_name='bgd_sr', label='F47', qtype='multi', survey='sr', text='When did you last use any of the following financial services?')
key=cdi_F47namespace(answers={'yesterday': 1, 'last_week': 2, 'last_month': 3, 'last_quarter': 4, 'before_last_quarter': 5, 'stopped_using': 6}, column_dict={'VLSA': 1, 'ROSCA': 2, 'money_guard': 3, 'savings_collector': 4, 'digital_card': 5}, country='cdi', df=          VLSA  ROSCA  money_guard  savings_collector  digital_card
31028570   NaN    NaN          NaN                NaN           NaN
31028571   NaN    NaN          NaN                NaN           NaN
31036603   NaN    NaN          NaN                NaN           NaN
31038817   NaN    NaN          NaN                NaN           NaN
31040474   NaN    NaN          NaN                NaN           NaN
...        ...    ...          ...                ...           ...
32261521   NaN    NaN          NaN                NaN           NaN
32261522   NaN    NaN          NaN                NaN           NaN
32261524   NaN    NaN          NaN                NaN           NaN
32280062   NaN    NaN          NaN                NaN           NaN
32280063   NaN    NaN          NaN                NaN           NaN

[2949 rows x 5 columns], df_name='cdi_sr', label='F47', qtype='multi', survey='sr', text='When did you last use any of the following financial services?')
key=moz_F47namespace(answers={'yesterday': 1, 'last_week': 2, 'last_month': 3, 'last_quarter': 4, 'before_last_quarter': 5, 'stopped_using': 6}, column_dict={'VLSA': 1, 'money_guard': 2, 'savings_collector': 3, 'digital_card': 4, 'money_lender': 5}, country='moz', df=          VLSA money_guard savings_collector digital_card money_lender
21948170  None        None              None         None         None
21948180  None        None              None         None         None
21948779  None           2              None         None            4
21951744     3        None              None         None         None
21955646  None        None                 2         None            2
...        ...         ...               ...          ...          ...
23315711  None        None              None         None         None
23324438     3           3              None         None            4
23324440  None        None              None         None         None
23324645  None        None              None         None         None
23324649     3           3              None         None            3

[2574 rows x 5 columns], df_name='moz_sr', label='F47', qtype='multi', survey='sr', text='When did you last use any of the following financial services?')
key=nga_F47namespace(answers={'yesterday': 1, 'last_week': 2, 'last_month': 3, 'last_quarter': 4, 'before_last_quarter': 5, 'stopped_using': 6}, column_dict={'ROSCA': 1, 'money_guard': 2, 'savings_collector': 3, 'shopkeeper': 4, 'digital_card': 5}, country='nga', df=          ROSCA  money_guard  savings_collector  shopkeeper  digital_card
40127279    NaN          NaN                NaN         NaN           NaN
40134046    NaN          NaN                NaN         NaN           NaN
40135889    NaN          NaN                NaN         NaN           NaN
40143258    NaN          NaN                NaN         NaN           NaN
40144462    NaN          NaN                NaN         NaN           NaN
...         ...          ...                ...         ...           ...
41076184    3.0          NaN                NaN         4.0           NaN
41076185    NaN          NaN                NaN         NaN           NaN
41076186    NaN          4.0                5.0         NaN           NaN
41076187    NaN          3.0                NaN         NaN           NaN
41076188    NaN          NaN                NaN         NaN           NaN

[2773 rows x 5 columns], df_name='nga_sr', label='F47', qtype='multi', survey='sr', text='When did you last use any of the following financial services?')
key=tan_F47namespace(answers={'yesterday': 1, 'last_week': 2, 'last_month': 3, 'last_quarter': 4, 'before_last_quarter': 5, 'stopped_using': 6}, column_dict={'ROSCA': 1, 'money_guard': 2, 'savings_collector': 3, 'shopkeeper': 4, 'digital_card': 5}, country='tan', df=          ROSCA  money_guard  savings_collector  shopkeeper  digital_card
28845992    NaN          NaN                NaN         NaN           NaN
29265802    NaN          NaN                NaN         NaN           NaN
28901706    NaN          NaN                NaN         NaN           NaN
29302230    NaN          NaN                NaN         NaN           NaN
28910973    NaN          NaN                NaN         NaN           NaN
...         ...          ...                ...         ...           ...
29319386    NaN          NaN                NaN         NaN           NaN
28924835    NaN          NaN                NaN         NaN           NaN
29010663    NaN          NaN                NaN         NaN           NaN
29555590    NaN          NaN                NaN         NaN           NaN
29198985    NaN          NaN                NaN         NaN           NaN

[2795 rows x 5 columns], df_name='tan_sr', label='F47', qtype='multi', survey='sr', text='When did you last use any of the following financial services?')
key=uga_F47namespace(answers={'yesterday': 1, 'last_week': 2, 'last_month': 3, 'last_quarter': 4, 'before_last_quarter': 5, 'stopped_using': 6}, column_dict={'VLSA': 1, 'ROSCA': 2, 'chama': 3, 'other_informal': 4, 'money_guard': 5, 'savings_collector': 6, 'shopkeeper': 7, 'digital_card': 8, 'money_lender': 9}, country='uga', df=          VLSA  ROSCA  chama  other_informal  money_guard  savings_collector  \
22678446   2.0    NaN    NaN             3.0          NaN                NaN
22678927   NaN    NaN    NaN             NaN          NaN                NaN
22679052   NaN    NaN    NaN             NaN          NaN                NaN
22679076   2.0    NaN    NaN             NaN          NaN                NaN
22679225   NaN    NaN    NaN             NaN          NaN                NaN
...        ...    ...    ...             ...          ...                ...
23500842   NaN    NaN    NaN             NaN          NaN                NaN
23620542   NaN    NaN    NaN             NaN          NaN                NaN
23620647   NaN    NaN    NaN             NaN          NaN                NaN
23620678   NaN    NaN    NaN             NaN          NaN                NaN
23620722   NaN    NaN    NaN             NaN          NaN                NaN

          shopkeeper  digital_card  money_lender
22678446         NaN           NaN           NaN
22678927         NaN           NaN           NaN
22679052         NaN           NaN           NaN
22679076         NaN           NaN           NaN
22679225         NaN           NaN           NaN
...              ...           ...           ...
23500842         NaN           NaN           NaN
23620542         NaN           NaN           NaN
23620647         NaN           NaN           NaN
23620678         3.0           NaN           3.0
23620722         NaN           NaN           NaN

[2771 rows x 9 columns], df_name='uga_sr', label='F47', qtype='multi', survey='sr', text='When did you last use any of the following financial services?')
key=bgd_F50namespace(answer_dict={'VLSA': 1, 'ROSCA': 2, 'other_informal': 3, 'money_guard': 4, 'savings_collector': 5, 'shopkeeper': 6, 'digital_card': 7, 'money_lender': 8}, country='bgd', df=        F50
1       1.0
2       NaN
3       NaN
4       NaN
5       NaN
...     ...
800129  NaN
800130  NaN
800131  NaN
800132  NaN
800133  NaN

[3095 rows x 1 columns], df_name='bgd_sr', label='F50', qtype='single', survey='sr', text='Which of these service providers or services is the most important to you?')
key=cdi_F50namespace(answer_dict={'VLSA': 1, 'ROSCA': 2, 'other_informal': 3, 'money_guard': 4, 'savings_collector': 5, 'shopkeeper': 6, 'digital_card': 7, 'money_lender': 8}, country='cdi', df=          F50
31028570  NaN
31028571  NaN
31036603  NaN
31038817  NaN
31040474  4.0
...       ...
32261521  NaN
32261522  NaN
32261524  NaN
32280062  NaN
32280063  NaN

[2949 rows x 1 columns], df_name='cdi_sr', label='F50', qtype='single', survey='sr', text='Which of these service providers or services is the most important to you?')
key=moz_F50namespace(answer_dict={'VLSA': 1, 'ROSCA': 2, 'other_informal': 3, 'money_guard': 4, 'savings_collector': 5, 'shopkeeper': 6, 'digital_card': 7, 'money_lender': 8}, country='moz', df=          F50
21948170  NaN
21948180  NaN
21948779  4.0
21951744  1.0
21955646  1.0
...       ...
23315711  NaN
23324438  4.0
23324440  NaN
23324645  NaN
23324649  8.0

[2574 rows x 1 columns], df_name='moz_sr', label='F50', qtype='single', survey='sr', text='Which of these service providers or services is the most important to you?')
key=nga_F50namespace(answer_dict={'VLSA': 1, 'ROSCA': 2, 'other_informal': 3, 'money_guard': 4, 'savings_collector': 5, 'shopkeeper': 6, 'digital_card': 7, 'money_lender': 8}, country='nga', df=          F50
40127279  NaN
40134046  NaN
40135889  NaN
40143258  NaN
40144462  NaN
...       ...
41076184  2.0
41076185  5.0
41076186  4.0
41076187  4.0
41076188  NaN

[2773 rows x 1 columns], df_name='nga_sr', label='F50', qtype='single', survey='sr', text='Which of these service providers or services is the most important to you?')
key=tan_F50namespace(answer_dict={'VLSA': 1, 'ROSCA': 2, 'other_informal': 3, 'money_guard': 4, 'savings_collector': 5, 'shopkeeper': 6, 'digital_card': 7, 'money_lender': 8}, country='tan', df=          F50
28845992  NaN
29265802  NaN
28901706  NaN
29302230  NaN
28910973  NaN
...       ...
29319386  NaN
28924835  NaN
29010663  NaN
29555590  NaN
29198985  NaN

[2795 rows x 1 columns], df_name='tan_sr', label='F50', qtype='single', survey='sr', text='Which of these service providers or services is the most important to you?')
key=uga_F50namespace(answer_dict={'VLSA': 1, 'ROSCA': 2, 'other_informal': 3, 'money_guard': 4, 'savings_collector': 5, 'shopkeeper': 6, 'digital_card': 7, 'money_lender': 8}, country='uga', df=          F50
22678446  1.0
22678927  NaN
22679052  NaN
22679076  1.0
22679225  NaN
...       ...
23500842  NaN
23620542  NaN
23620647  NaN
23620678  8.0
23620722  NaN

[2771 rows x 1 columns], df_name='uga_sr', label='F50', qtype='single', survey='sr', text='Which of these service providers or services is the most important to you?')
key=bgd_F49namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'merry_go_round': 1, 'lend_nonmembers': 2, 'lend_members': 3, 'buy_for_members': 4, 'guarantor_security': 5, 'invest': 6, 'purchase_tools': 7, 'purchase_fixed_assets': 8, 'funeral_emergency': 9, 'help_save': 10}, country='bgd', df=        merry_go_round  lend_nonmembers  lend_members  buy_for_members  \
1                  2.0              2.0           2.0              2.0
2                  NaN              NaN           NaN              NaN
3                  NaN              NaN           NaN              NaN
4                  NaN              NaN           NaN              NaN
5                  NaN              NaN           NaN              NaN
...                ...              ...           ...              ...
800129             NaN              NaN           NaN              NaN
800130             NaN              NaN           NaN              NaN
800131             NaN              NaN           NaN              NaN
800132             NaN              NaN           NaN              NaN
800133             NaN              NaN           NaN              NaN

        guarantor_security  invest  purchase_tools  purchase_fixed_assets  \
1                      2.0     1.0             2.0                    2.0
2                      NaN     NaN             NaN                    NaN
3                      NaN     NaN             NaN                    NaN
4                      NaN     NaN             NaN                    NaN
5                      NaN     NaN             NaN                    NaN
...                    ...     ...             ...                    ...
800129                 NaN     NaN             NaN                    NaN
800130                 NaN     NaN             NaN                    NaN
800131                 NaN     NaN             NaN                    NaN
800132                 NaN     NaN             NaN                    NaN
800133                 NaN     NaN             NaN                    NaN

        funeral_emergency  help_save
1                     2.0        2.0
2                     NaN        NaN
3                     NaN        NaN
4                     NaN        NaN
5                     NaN        NaN
...                   ...        ...
800129                NaN        NaN
800130                NaN        NaN
800131                NaN        NaN
800132                NaN        NaN
800133                NaN        NaN

[3095 rows x 10 columns], df_name='bgd_sr', label='F49', qtype='multiple', survey='sr', text='Which of the following services do these groups provide?')
key=cdi_F49namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'merry_go_round': 1, 'lend_nonmembers': 2, 'lend_members': 3, 'buy_for_members': 4, 'guarantor_security': 5, 'invest': 6, 'purchase_tools': 7, 'purchase_fixed_assets': 8, 'funeral_emergency': 9, 'help_save': 10}, country='cdi', df=          merry_go_round  lend_nonmembers  lend_members  buy_for_members  \
31028570             NaN              NaN           NaN              NaN
31028571             NaN              NaN           NaN              NaN
31036603             NaN              NaN           NaN              NaN
31038817             NaN              NaN           NaN              NaN
31040474             2.0              1.0           2.0              1.0
...                  ...              ...           ...              ...
32261521             NaN              NaN           NaN              NaN
32261522             NaN              NaN           NaN              NaN
32261524             NaN              NaN           NaN              NaN
32280062             NaN              NaN           NaN              NaN
32280063             NaN              NaN           NaN              NaN

          guarantor_security  invest  purchase_tools  purchase_fixed_assets  \
31028570                 NaN     NaN             NaN                    NaN
31028571                 NaN     NaN             NaN                    NaN
31036603                 NaN     NaN             NaN                    NaN
31038817                 NaN     NaN             NaN                    NaN
31040474                 2.0     2.0             2.0                    2.0
...                      ...     ...             ...                    ...
32261521                 NaN     NaN             NaN                    NaN
32261522                 NaN     NaN             NaN                    NaN
32261524                 NaN     NaN             NaN                    NaN
32280062                 NaN     NaN             NaN                    NaN
32280063                 NaN     NaN             NaN                    NaN

          funeral_emergency  help_save
31028570                NaN        NaN
31028571                NaN        NaN
31036603                NaN        NaN
31038817                NaN        NaN
31040474                2.0        2.0
...                     ...        ...
32261521                NaN        NaN
32261522                NaN        NaN
32261524                NaN        NaN
32280062                NaN        NaN
32280063                NaN        NaN

[2949 rows x 10 columns], df_name='cdi_sr', label='F49', qtype='multiple', survey='sr', text='Which of the following services do these groups provide?')
key=moz_F49namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'merry_go_round': 1, 'lend_nonmembers': 2, 'lend_members': 3, 'buy_for_members': 4, 'guarantor_security': 5, 'invest': 6, 'purchase_tools': 7, 'purchase_fixed_assets': 8, 'funeral_emergency': 9, 'help_save': 10}, country='moz', df=          merry_go_round  lend_nonmembers  lend_members  buy_for_members  \
21948170             NaN              NaN           NaN              NaN
21948180             NaN              NaN           NaN              NaN
21948779             1.0              2.0           1.0              2.0
21951744             2.0              2.0           2.0              2.0
21955646             2.0              2.0           2.0              2.0
...                  ...              ...           ...              ...
23315711             NaN              NaN           NaN              NaN
23324438             2.0              1.0           2.0              1.0
23324440             NaN              NaN           NaN              NaN
23324645             NaN              NaN           NaN              NaN
23324649             2.0              1.0           2.0              1.0

          guarantor_security  invest  purchase_tools  purchase_fixed_assets  \
21948170                 NaN     NaN             NaN                    NaN
21948180                 NaN     NaN             NaN                    NaN
21948779                 2.0     2.0             2.0                    2.0
21951744                 2.0     2.0             2.0                    2.0
21955646                 2.0     2.0             2.0                    2.0
...                      ...     ...             ...                    ...
23315711                 NaN     NaN             NaN                    NaN
23324438                 2.0     2.0             1.0                    1.0
23324440                 NaN     NaN             NaN                    NaN
23324645                 NaN     NaN             NaN                    NaN
23324649                 2.0     2.0             1.0                    2.0

          funeral_emergency  help_save
21948170                NaN        NaN
21948180                NaN        NaN
21948779                2.0        2.0
21951744                2.0        2.0
21955646                2.0        2.0
...                     ...        ...
23315711                NaN        NaN
23324438                2.0        1.0
23324440                NaN        NaN
23324645                NaN        NaN
23324649                1.0        1.0

[2574 rows x 10 columns], df_name='moz_sr', label='F49', qtype='multiple', survey='sr', text='Which of the following services do these groups provide?')
key=nga_F49namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'merry_go_round': 1, 'lend_nonmembers': 2, 'lend_members': 3, 'buy_for_members': 4, 'guarantor_security': 5, 'invest': 6, 'purchase_tools': 7, 'purchase_fixed_assets': 8, 'funeral_emergency': 9, 'help_save': 10}, country='nga', df=          merry_go_round  lend_nonmembers  lend_members  buy_for_members  \
40127279             NaN              NaN           NaN              NaN
40134046             NaN              NaN           NaN              NaN
40135889             NaN              NaN           NaN              NaN
40143258             NaN              NaN           NaN              NaN
40144462             NaN              NaN           NaN              NaN
...                  ...              ...           ...              ...
41076184             2.0              2.0           1.0              2.0
41076185             2.0              1.0           2.0              1.0
41076186             2.0              2.0           1.0              2.0
41076187             2.0              2.0           2.0              1.0
41076188             NaN              NaN           NaN              NaN

          guarantor_security  invest  purchase_tools  purchase_fixed_assets  \
40127279                 NaN     NaN             NaN                    NaN
40134046                 NaN     NaN             NaN                    NaN
40135889                 NaN     NaN             NaN                    NaN
40143258                 NaN     NaN             NaN                    NaN
40144462                 NaN     NaN             NaN                    NaN
...                      ...     ...             ...                    ...
41076184                 2.0     2.0             2.0                    2.0
41076185                 2.0     2.0             2.0                    2.0
41076186                 2.0     2.0             2.0                    2.0
41076187                 2.0     2.0             2.0                    2.0
41076188                 NaN     NaN             NaN                    NaN

          funeral_emergency  help_save
40127279                NaN        NaN
40134046                NaN        NaN
40135889                NaN        NaN
40143258                NaN        NaN
40144462                NaN        NaN
...                     ...        ...
41076184                2.0        2.0
41076185                2.0        2.0
41076186                2.0        2.0
41076187                2.0        2.0
41076188                NaN        NaN

[2773 rows x 10 columns], df_name='nga_sr', label='F49', qtype='multiple', survey='sr', text='Which of the following services do these groups provide?')
key=tan_F49namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'merry_go_round': 1, 'lend_nonmembers': 2, 'lend_members': 3, 'buy_for_members': 4, 'guarantor_security': 5, 'invest': 6, 'purchase_tools': 7, 'purchase_fixed_assets': 8, 'funeral_emergency': 9, 'help_save': 10}, country='tan', df=          merry_go_round  lend_nonmembers  lend_members  buy_for_members  \
28845992             NaN              NaN           NaN              NaN
29265802             NaN              NaN           NaN              NaN
28901706             NaN              NaN           NaN              NaN
29302230             NaN              NaN           NaN              NaN
28910973             NaN              NaN           NaN              NaN
...                  ...              ...           ...              ...
29319386             NaN              NaN           NaN              NaN
28924835             NaN              NaN           NaN              NaN
29010663             NaN              NaN           NaN              NaN
29555590             NaN              NaN           NaN              NaN
29198985             NaN              NaN           NaN              NaN

          guarantor_security  invest  purchase_tools  purchase_fixed_assets  \
28845992                 NaN     NaN             NaN                    NaN
29265802                 NaN     NaN             NaN                    NaN
28901706                 NaN     NaN             NaN                    NaN
29302230                 NaN     NaN             NaN                    NaN
28910973                 NaN     NaN             NaN                    NaN
...                      ...     ...             ...                    ...
29319386                 NaN     NaN             NaN                    NaN
28924835                 NaN     NaN             NaN                    NaN
29010663                 NaN     NaN             NaN                    NaN
29555590                 NaN     NaN             NaN                    NaN
29198985                 NaN     NaN             NaN                    NaN

          funeral_emergency  help_save
28845992                NaN        NaN
29265802                NaN        NaN
28901706                NaN        NaN
29302230                NaN        NaN
28910973                NaN        NaN
...                     ...        ...
29319386                NaN        NaN
28924835                NaN        NaN
29010663                NaN        NaN
29555590                NaN        NaN
29198985                NaN        NaN

[2795 rows x 10 columns], df_name='tan_sr', label='F49', qtype='multiple', survey='sr', text='Which of the following services do these groups provide?')
key=uga_F49namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'merry_go_round': 1, 'lend_nonmembers': 2, 'lend_members': 3, 'buy_for_members': 4, 'guarantor_security': 5, 'invest': 6, 'purchase_tools': 7, 'purchase_fixed_assets': 8, 'funeral_emergency': 9, 'help_save': 10}, country='uga', df=          merry_go_round  lend_nonmembers  lend_members  buy_for_members  \
22678446             2.0              2.0           2.0              2.0
22678927             NaN              NaN           NaN              NaN
22679052             NaN              NaN           NaN              NaN
22679076             2.0              1.0           2.0              2.0
22679225             NaN              NaN           NaN              NaN
...                  ...              ...           ...              ...
23500842             NaN              NaN           NaN              NaN
23620542             NaN              NaN           NaN              NaN
23620647             NaN              NaN           NaN              NaN
23620678             2.0              1.0           2.0              2.0
23620722             NaN              NaN           NaN              NaN

          guarantor_security  invest  purchase_tools  purchase_fixed_assets  \
22678446                 2.0     2.0             2.0                    2.0
22678927                 NaN     NaN             NaN                    NaN
22679052                 NaN     NaN             NaN                    NaN
22679076                 2.0     2.0             2.0                    2.0
22679225                 NaN     NaN             NaN                    NaN
...                      ...     ...             ...                    ...
23500842                 NaN     NaN             NaN                    NaN
23620542                 NaN     NaN             NaN                    NaN
23620647                 NaN     NaN             NaN                    NaN
23620678                 2.0     2.0             2.0                    2.0
23620722                 NaN     NaN             NaN                    NaN

          funeral_emergency  help_save
22678446                1.0        1.0
22678927                NaN        NaN
22679052                NaN        NaN
22679076                1.0        1.0
22679225                NaN        NaN
...                     ...        ...
23500842                NaN        NaN
23620542                NaN        NaN
23620647                NaN        NaN
23620678                2.0        2.0
23620722                NaN        NaN

[2771 rows x 10 columns], df_name='uga_sr', label='F49', qtype='multiple', survey='sr', text='Which of the following services do these groups provide?')
key=bgd_F51namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'have_formal_account': 1, 'have_no_money': 2, 'stealing': 3, 'unfamilar': 4, 'no_need': 5, 'no_trust': 6, 'time_meeting': 7}, country='bgd', df=        have_formal_account  have_no_money  stealing  unfamilar  no_need  \
1                       NaN            NaN       NaN        NaN      NaN
2                       2.0            2.0       2.0        2.0      2.0
3                       2.0            2.0       2.0        2.0      2.0
4                       2.0            2.0       2.0        2.0      2.0
5                       2.0            2.0       2.0        2.0      2.0
...                     ...            ...       ...        ...      ...
800129                  2.0            1.0       2.0        2.0      1.0
800130                  2.0            2.0       2.0        2.0      2.0
800131                  2.0            2.0       2.0        1.0      2.0
800132                  2.0            2.0       2.0        2.0      2.0
800133                  2.0            2.0       2.0        2.0      2.0

        no_trust  time_meeting
1            NaN           NaN
2            1.0           2.0
3            1.0           2.0
4            2.0           2.0
5            1.0           2.0
...          ...           ...
800129       1.0           2.0
800130       1.0           2.0
800131       2.0           2.0
800132       2.0           2.0
800133       2.0           2.0

[3095 rows x 7 columns], df_name='bgd_sr', label='F51', qtype='multiple', survey='sr', text='Why do you not have a membership with any of these groups?')

key=cdi_F51namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'have_formal_account': 1, 'have_no_money': 2, 'stealing': 3, 'unfamilar': 4, 'no_need': 5, 'no_trust': 6, 'time_meeting': 7}, country='cdi', df=          have_formal_account  have_no_money  stealing  unfamilar  no_need  \
31028570                  2.0            1.0       2.0        2.0      2.0
31028571                  2.0            2.0       2.0        2.0      1.0
31036603                  2.0            1.0       2.0        2.0      2.0
31038817                  2.0            1.0       2.0        2.0      2.0
31040474                  NaN            NaN       NaN        NaN      NaN
...                       ...            ...       ...        ...      ...
32261521                  2.0            1.0       2.0        2.0      2.0
32261522                  2.0            1.0       2.0        2.0      2.0
32261524                  2.0            1.0       2.0        2.0      2.0
32280062                  2.0            2.0       2.0        2.0      2.0
32280063                  2.0            2.0       2.0        2.0      2.0

          no_trust  time_meeting
31028570       2.0           2.0
31028571       2.0           2.0
31036603       2.0           2.0
31038817       2.0           2.0
31040474       NaN           NaN
...            ...           ...
32261521       2.0           2.0
32261522       2.0           2.0
32261524       2.0           2.0
32280062       1.0           2.0
32280063       1.0           2.0

[2949 rows x 7 columns], df_name='cdi_sr', label='F51', qtype='multiple', survey='sr', text='Why do you not have a membership with any of these groups?')
key=moz_F51namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'have_formal_account': 1, 'have_no_money': 2, 'stealing': 3, 'unfamilar': 4, 'no_need': 5, 'no_trust': 6, 'time_meeting': 7}, country='moz', df=          have_formal_account  have_no_money  stealing  unfamilar  no_need  \
21948170                  2.0            2.0       2.0        2.0      1.0
21948180                  2.0            2.0       2.0        2.0      2.0
21948779                  NaN            NaN       NaN        NaN      NaN
21951744                  NaN            NaN       NaN        NaN      NaN
21955646                  NaN            NaN       NaN        NaN      NaN
...                       ...            ...       ...        ...      ...
23315711                  2.0            2.0       2.0        2.0      2.0
23324438                  NaN            NaN       NaN        NaN      NaN
23324440                  NaN            NaN       NaN        NaN      NaN
23324645                  NaN            NaN       NaN        NaN      NaN
23324649                  NaN            NaN       NaN        NaN      NaN

          no_trust  time_meeting
21948170       2.0           2.0
21948180       2.0           2.0
21948779       NaN           NaN
21951744       NaN           NaN
21955646       NaN           NaN
...            ...           ...
23315711       1.0           2.0
23324438       NaN           NaN
23324440       NaN           NaN
23324645       NaN           NaN
23324649       NaN           NaN

[2574 rows x 7 columns], df_name='moz_sr', label='F51', qtype='multiple', survey='sr', text='Why do you not have a membership with any of these groups?')
key=nga_F51namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'have_formal_account': 1, 'have_no_money': 2, 'stealing': 3, 'unfamilar': 4, 'no_need': 5, 'no_trust': 6, 'time_meeting': 7}, country='nga', df=          have_formal_account  have_no_money  stealing  unfamilar  no_need  \
40127279                  2.0            2.0       2.0        2.0      2.0
40134046                  2.0            1.0       2.0        2.0      2.0
40135889                  2.0            1.0       2.0        2.0      2.0
40143258                  1.0            2.0       2.0        2.0      2.0
40144462                  2.0            2.0       2.0        1.0      1.0
...                       ...            ...       ...        ...      ...
41076184                  NaN            NaN       NaN        NaN      NaN
41076185                  NaN            NaN       NaN        NaN      NaN
41076186                  NaN            NaN       NaN        NaN      NaN
41076187                  NaN            NaN       NaN        NaN      NaN
41076188                  2.0            2.0       2.0        1.0      1.0

          no_trust  time_meeting
40127279       2.0           1.0
40134046       2.0           2.0
40135889       1.0           2.0
40143258       2.0           2.0
40144462       1.0           2.0
...            ...           ...
41076184       NaN           NaN
41076185       NaN           NaN
41076186       NaN           NaN
41076187       NaN           NaN
41076188       2.0           2.0

[2773 rows x 7 columns], df_name='nga_sr', label='F51', qtype='multiple', survey='sr', text='Why do you not have a membership with any of these groups?')
key=tan_F51namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'have_formal_account': 1, 'have_no_money': 2, 'stealing': 3, 'unfamilar': 4, 'no_need': 5, 'no_trust': 6, 'time_meeting': 7}, country='tan', df=          have_formal_account  have_no_money  stealing  unfamilar  no_need  \
28845992                  2.0            2.0       2.0        2.0      2.0
29265802                  2.0            1.0       2.0        2.0      1.0
28901706                  2.0            1.0       2.0        2.0      2.0
29302230                  2.0            2.0       2.0        2.0      2.0
28910973                  2.0            2.0       2.0        2.0      1.0
...                       ...            ...       ...        ...      ...
29319386                  2.0            1.0       2.0        2.0      2.0
28924835                  2.0            1.0       2.0        2.0      2.0
29010663                  2.0            1.0       2.0        2.0      2.0
29555590                  2.0            2.0       2.0        1.0      2.0
29198985                  2.0            2.0       2.0        2.0      2.0

          no_trust  time_meeting
28845992       1.0           1.0
29265802       2.0           2.0
28901706       2.0           2.0
29302230       2.0           2.0
28910973       2.0           2.0
...            ...           ...
29319386       2.0           2.0
28924835       2.0           2.0
29010663       2.0           2.0
29555590       2.0           2.0
29198985       2.0           2.0

[2795 rows x 7 columns], df_name='tan_sr', label='F51', qtype='multiple', survey='sr', text='Why do you not have a membership with any of these groups?')
key=uga_F51namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'have_formal_account': 1, 'have_no_money': 2, 'stealing': 3, 'unfamilar': 4, 'no_need': 5, 'no_trust': 6, 'time_meeting': 7}, country='uga', df=          have_formal_account  have_no_money  stealing  unfamilar  no_need  \
22678446                  NaN            NaN       NaN        NaN      NaN
22678927                  2.0            2.0       2.0        2.0      1.0
22679052                  2.0            2.0       2.0        2.0      2.0
22679076                  NaN            NaN       NaN        NaN      NaN
22679225                  2.0            2.0       1.0        2.0      2.0
...                       ...            ...       ...        ...      ...
23500842                  2.0            1.0       2.0        2.0      2.0
23620542                  2.0            1.0       2.0        2.0      2.0
23620647                  2.0            1.0       2.0        2.0      2.0
23620678                  NaN            NaN       NaN        NaN      NaN
23620722                  2.0            2.0       2.0        2.0      2.0

          no_trust  time_meeting
22678446       NaN           NaN
22678927       1.0           2.0
22679052       1.0           2.0
22679076       NaN           NaN
22679225       1.0           2.0
...            ...           ...
23500842       2.0           2.0
23620542       2.0           2.0
23620647       2.0           2.0
23620678       NaN           NaN
23620722       1.0           2.0

[2771 rows x 7 columns], df_name='uga_sr', label='F51', qtype='multiple', survey='sr', text='Why do you not have a membership with any of these groups?')
key=bgd_F53namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'start_business': 1, 'cash_flow': 2, 'buy_inputs': 3, 'big_purchases': 4, 'other_agriculture': 5, 'emergency': 6, 'school_fees': 7, 'daily_expenses': 8}, country='bgd', df=        start_business  cash_flow  buy_inputs  big_purchases  \
1                    2          2           1              2
2                    1          2           2              2
3                    2          2           2              2
4                    2          2           1              2
5                    2          2           1              2
...                ...        ...         ...            ...
800129               2          2           1              2
800130               2          2           2              2
800131               1          1           1              1
800132               2          1           1              2
800133               2          2           1              2

        other_agriculture  emergency  school_fees  daily_expenses
1                       2          1            2               2
2                       2          1            2               2
3                       2          2            1               2
4                       2          1            2               2
5                       2          2            2               2
...                   ...        ...          ...             ...
800129                  2          1            2               2
800130                  2          1            2               1
800131                  2          1            2               2
800132                  1          1            2               2
800133                  1          1            2               2

[3095 rows x 8 columns], df_name='bgd_sr', label='F53', qtype='multiple', survey='sr', text='What would be the main reasons for borrowing money?')
key=cdi_F53namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'start_business': 1, 'cash_flow': 2, 'buy_inputs': 3, 'big_purchases': 4, 'other_agriculture': 5, 'emergency': 6, 'school_fees': 7, 'daily_expenses': 8}, country='cdi', df=          start_business  cash_flow  buy_inputs  big_purchases  \
31028570               1          2           2              2
31028571               1          1           1              1
31036603               1          1           2              2
31038817               1          1           2              2
31040474               2          2           2              2
...                  ...        ...         ...            ...
32261521               1          2           2              2
32261522               2          1           2              2
32261524               2          2           2              2
32280062               2          1           2              2
32280063               2          1           2              2

          other_agriculture  emergency  school_fees  daily_expenses
31028570                  2          2            2               2
31028571                  1          2            1               2
31036603                  2          2            2               2
31038817                  1          2            2               2
31040474                  1          1            2               2
...                     ...        ...          ...             ...
32261521                  2          2            2               2
32261522                  2          2            2               2
32261524                  1          2            2               2
32280062                  1          2            2               2
32280063                  1          1            2               2

[2949 rows x 8 columns], df_name='cdi_sr', label='F53', qtype='multiple', survey='sr', text='What would be the main reasons for borrowing money?')
key=moz_F53namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'start_business': 1, 'cash_flow': 2, 'buy_inputs': 3, 'big_purchases': 4, 'other_agriculture': 5, 'emergency': 6, 'school_fees': 7, 'daily_expenses': 8}, country='moz', df=          start_business  cash_flow  buy_inputs  big_purchases  \
21948170             2.0        2.0         2.0            2.0
21948180             1.0        2.0         2.0            2.0
21948779             2.0        2.0         2.0            2.0
21951744             2.0        2.0         2.0            2.0
21955646             2.0        2.0         2.0            2.0
...                  ...        ...         ...            ...
23315711             2.0        2.0         2.0            2.0
23324438             1.0        1.0         1.0            2.0
23324440             NaN        NaN         NaN            NaN
23324645             NaN        NaN         NaN            NaN
23324649             1.0        2.0         1.0            2.0

          other_agriculture  emergency  school_fees  daily_expenses
21948170                2.0        1.0          2.0             2.0
21948180                2.0        2.0          2.0             2.0
21948779                2.0        2.0          2.0             2.0
21951744                2.0        2.0          2.0             2.0
21955646                2.0        2.0          2.0             2.0
...                     ...        ...          ...             ...
23315711                2.0        2.0          2.0             2.0
23324438                2.0        2.0          2.0             2.0
23324440                NaN        NaN          NaN             NaN
23324645                NaN        NaN          NaN             NaN
23324649                1.0        2.0          1.0             1.0

[2574 rows x 8 columns], df_name='moz_sr', label='F53', qtype='multiple', survey='sr', text='What would be the main reasons for borrowing money?')
key=nga_F53namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'start_business': 1, 'cash_flow': 2, 'buy_inputs': 3, 'big_purchases': 4, 'other_agriculture': 5, 'emergency': 6, 'school_fees': 7, 'daily_expenses': 8}, country='nga', df=          start_business  cash_flow  buy_inputs  big_purchases  \
40127279               2          2           2              2
40134046               2          2           2              1
40135889               2          2           2              2
40143258               1          1           2              2
40144462               2          2           2              2
...                  ...        ...         ...            ...
41076184               2          1           1              2
41076185               2          2           1              1
41076186               2          1           1              1
41076187               2          1           1              2
41076188               1          2           1              2

          other_agriculture  emergency  school_fees  daily_expenses
40127279                  1          1            2               2
40134046                  1          2            2               2
40135889                  2          1            2               1
40143258                  2          2            2               2
40144462                  2          1            2               1
...                     ...        ...          ...             ...
41076184                  2          2            2               2
41076185                  2          2            2               2
41076186                  2          2            2               2
41076187                  2          2            2               2
41076188                  2          2            2               2

[2773 rows x 8 columns], df_name='nga_sr', label='F53', qtype='multiple', survey='sr', text='What would be the main reasons for borrowing money?')
key=tan_F53namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'start_business': 1, 'cash_flow': 2, 'buy_inputs': 3, 'big_purchases': 4, 'other_agriculture': 5, 'emergency': 6, 'school_fees': 7, 'daily_expenses': 8}, country='tan', df=          start_business  cash_flow  buy_inputs  big_purchases  \
28845992               1          2           1              2
29265802               1          1           2              2
28901706               2          1           1              1
29302230               2          2           2              2
28910973               1          2           2              2
...                  ...        ...         ...            ...
29319386               2          2           2              2
28924835               2          2           1              1
29010663               2          2           2              1
29555590               2          2           1              2
29198985               2          2           2              2

          other_agriculture  emergency  school_fees  daily_expenses
28845992                  2          2            2               2
29265802                  2          2            2               2
28901706                  1          1            1               2
29302230                  2          2            2               2
28910973                  2          2            2               2
...                     ...        ...          ...             ...
29319386                  2          2            2               2
28924835                  1          1            2               2
29010663                  2          2            2               2
29555590                  1          1            2               2
29198985                  2          2            2               2

[2795 rows x 8 columns], df_name='tan_sr', label='F53', qtype='multiple', survey='sr', text='What would be the main reasons for borrowing money?')
key=uga_F53namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'start_business': 1, 'cash_flow': 2, 'buy_inputs': 3, 'big_purchases': 4, 'other_agriculture': 5, 'emergency': 6, 'school_fees': 7, 'daily_expenses': 8}, country='uga', df=          start_business  cash_flow  buy_inputs  big_purchases  \
22678446               2          2           2              2
22678927               2          2           2              2
22679052               2          2           2              2
22679076               1          2           1              2
22679225               2          1           1              2
...                  ...        ...         ...            ...
23500842               2          2           2              2
23620542               1          2           2              2
23620647               2          1           1              2
23620678               2          2           1              2
23620722               1          2           2              2

          other_agriculture  emergency  school_fees  daily_expenses
22678446                  1          1            2               2
22678927                  2          1            2               2
22679052                  2          1            2               2
22679076                  2          2            1               2
22679225                  1          2            2               2
...                     ...        ...          ...             ...
23500842                  2          1            2               2
23620542                  2          2            2               2
23620647                  2          2            1               2
23620678                  2          2            2               2
23620722                  2          2            2               2


key=moz_F54namespace(answer_dict={'very important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'bank': 1, 'microfinance': 2, 'cooperative': 3, 'SACCO': 4, 'moneylender': 5, 'friends_family': 6}, country='moz', df=          bank  microfinance  cooperative  SACCO  moneylender  friends_family
21948170   1.0           1.0          1.0    1.0          2.0             2.0
21948180   1.0           1.0          2.0    2.0          3.0             3.0
21948779   1.0           2.0          3.0    3.0          2.0             1.0
21951744   3.0           3.0          3.0    3.0          3.0             3.0
21955646   1.0           3.0          3.0    2.0          2.0             2.0
...        ...           ...          ...    ...          ...             ...
23315711   NaN           NaN          NaN    NaN          NaN             NaN
23324438   1.0           1.0          2.0    2.0          1.0             3.0
23324440   NaN           NaN          NaN    NaN          NaN             NaN
23324645   NaN           NaN          NaN    NaN          NaN             NaN
23324649   1.0           1.0          2.0    3.0          1.0             1.0

[2574 rows x 6 columns], df_name='moz_sr', label='F54', qtype='multiple', survey='sr', text='For your agricultural activities, how important to you is it to borrow from the following?')
key=nga_F54namespace(answer_dict={'very important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'bank': 1, 'microfinance': 2, 'SACCO': 3, 'cooperative': 4, 'moneylender': 5, 'VSLA': 6, 'friends_family': 7}, country='nga', df=          bank  microfinance  SACCO  cooperative  moneylender  VSLA  \
40127279   1.0           1.0    1.0          1.0          3.0   2.0
40134046   1.0           2.0    2.0          3.0          2.0   2.0
40135889   2.0           1.0    1.0          1.0          2.0   3.0
40143258   2.0           3.0    3.0          3.0          3.0   3.0
40144462   2.0           2.0    2.0          2.0          2.0   3.0
...        ...           ...    ...          ...          ...   ...
41076184   3.0           3.0    NaN          3.0          3.0   3.0
41076185   2.0           3.0    NaN          NaN          2.0   3.0
41076186   3.0           2.0    NaN          NaN          3.0   3.0
41076187   2.0           3.0    NaN          3.0          3.0   2.0
41076188   2.0           3.0    NaN          3.0          3.0   NaN

          friends_family
40127279             1.0
40134046             1.0
40135889             1.0
40143258             3.0
40144462             1.0
...                  ...
41076184             1.0
41076185             2.0
41076186             2.0
41076187             2.0
41076188             1.0

[2773 rows x 7 columns], df_name='nga_sr', label='F54', qtype='multiple', survey='sr', text='For your agricultural activities, how important to you is it to borrow from the following?')
key=tan_F54namespace(answer_dict={'very important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'bank': 1, 'microfinance': 2, 'SACCO': 3, 'cooperative': 4, 'moneylender': 5, 'VSLA': 6, 'friends_family': 7}, country='tan', df=          bank  microfinance  SACCO  cooperative  moneylender  VSLA  \
28845992   1.0           1.0    2.0          2.0          2.0   2.0
29265802   1.0           1.0    1.0          1.0          1.0   1.0
28901706   1.0           2.0    3.0          2.0          3.0   2.0
29302230   NaN           NaN    NaN          NaN          NaN   NaN
28910973   1.0           3.0    3.0          NaN          NaN   NaN
...        ...           ...    ...          ...          ...   ...
29319386   1.0           2.0    2.0          2.0          2.0   2.0
28924835   2.0           2.0    2.0          2.0          1.0   1.0
29010663   1.0           1.0    2.0          2.0          2.0   2.0
29555590   1.0           1.0    1.0          1.0          3.0   3.0
29198985   NaN           NaN    NaN          NaN          3.0   3.0

          friends_family
28845992             2.0
29265802             1.0
28901706             2.0
29302230             1.0
28910973             1.0
...                  ...
29319386             2.0
28924835             1.0
29010663             1.0
29555590             1.0
29198985             1.0

[2795 rows x 7 columns], df_name='tan_sr', label='F54', qtype='multiple', survey='sr', text='For your agricultural activities, how important to you is it to borrow from the following?')
key=uga_F54namespace(answer_dict={'very important': 1, 'somewhat_important': 2, 'not_important': 3}, column_dict={'bank': 1, 'microfinance': 2, 'SACCO': 3, 'cooperative': 4, 'moneylender': 5, 'friends_family': 6}, country='uga', df=          bank  microfinance  SACCO  cooperative  moneylender  friends_family
22678446   3.0           3.0    3.0          3.0          2.0             2.0
22678927   3.0           3.0    3.0          3.0          3.0             1.0
22679052   3.0           3.0    3.0          3.0          3.0             3.0
22679076   2.0           2.0    3.0          3.0          3.0             2.0
22679225   NaN           3.0    3.0          3.0          3.0             3.0
...        ...           ...    ...          ...          ...             ...
23500842   3.0           3.0    3.0          3.0          3.0             2.0
23620542   2.0           2.0    2.0          3.0          1.0             1.0
23620647   2.0           3.0    2.0          3.0          NaN             1.0
23620678   2.0           2.0    2.0          3.0          2.0             1.0
23620722   1.0           1.0    1.0          3.0          3.0             2.0

[2771 rows x 6 columns], df_name='uga_sr', label='F54', qtype='multiple', survey='sr', text='For your agricultural activities, how important to you is it to borrow from the following?')
key=bgd_F55namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'cooperative': 3, 'savings_collector': 4, 'VLSA': 5, 'friends_family': 6}, country='bgd', df=        bank  microfinance  cooperative  savings_collector  VLSA  \
1          2             2            2                  2     1
2          2             2            2                  2     2
3          2             2            2                  2     2
4          2             1            2                  2     2
5          2             2            2                  2     2
...      ...           ...          ...                ...   ...
800129     2             2            2                  2     2
800130     2             2            2                  2     2
800131     2             2            2                  2     2
800132     2             1            2                  2     2
800133     2             1            2                  2     2

        friends_family
1                    2
2                    2
3                    1
4                    1
5                    1
...                ...
800129               1
800130               1
800131               1
800132               2
800133               2

[3095 rows x 6 columns], df_name='bgd_sr', label='F55', qtype='multiple', survey='sr', text='In the past 12 months have you attempted to borrow from the following?')
key=cdi_F55namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'savings_collector': 3, 'VLSA': 4, 'friends_family': 5}, country='cdi', df=          bank  microfinance  savings_collector  VLSA  friends_family
31028570     2             2                  2     2               2
31028571     2             2                  2     2               2
31036603     2             2                  2     2               2
31038817     2             2                  2     2               1
31040474     2             2                  2     2               2
...        ...           ...                ...   ...             ...
32261521     2             2                  2     2               1
32261522     2             2                  2     2               2
32261524     2             2                  2     2               2
32280062     2             2                  2     2               1
32280063     2             2                  2     2               1

[2949 rows x 5 columns], df_name='cdi_sr', label='F55', qtype='multiple', survey='sr', text='In the past 12 months have you attempted to borrow from the following?')
key=moz_F55namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'cooperative': 3, 'SACCO': 4, 'moneylender': 5, 'friends_family': 6}, country='moz', df=          bank  microfinance  cooperative  SACCO  moneylender  friends_family
21948170   2.0           2.0          2.0    2.0          2.0             2.0
21948180   2.0           2.0          2.0    2.0          2.0             2.0
21948779   1.0           2.0          2.0    2.0          1.0             2.0
21951744   2.0           2.0          2.0    2.0          2.0             2.0
21955646   2.0           2.0          1.0    2.0          1.0             2.0
...        ...           ...          ...    ...          ...             ...
23315711   2.0           2.0          2.0    2.0          2.0             2.0
23324438   1.0           1.0          2.0    2.0          1.0             1.0
23324440   NaN           NaN          NaN    NaN          NaN             NaN
23324645   NaN           NaN          NaN    NaN          NaN             NaN
23324649   1.0           1.0          1.0    2.0          1.0             1.0

[2574 rows x 6 columns], df_name='moz_sr', label='F55', qtype='multiple', survey='sr', text='In the past 12 months have you attempted to borrow from the following?')
key=nga_F55namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'SACCO': 3, 'cooperative': 4, 'moneylender': 5, 'VSLA': 6, 'friends_family': 7}, country='nga', df=          bank  microfinance  SACCO  cooperative  moneylender  VSLA  \
40127279     2             2      2            2            2     2
40134046     2             2      2            2            2     2
40135889     2             2      2            2            2     2
40143258     1             2      2            2            2     2
40144462     2             2      2            2            2     2
...        ...           ...    ...          ...          ...   ...
41076184     2             2      2            1            2     2
41076185     1             2      2            2            2     2
41076186     2             2      2            2            2     1
41076187     2             1      2            1            2     1
41076188     2             2      2            2            2     2

          friends_family
40127279               2
40134046               2
40135889               2
40143258               2
40144462               2
...                  ...
41076184               1
41076185               1
41076186               1
41076187               1
41076188               1

[2773 rows x 7 columns], df_name='nga_sr', label='F55', qtype='multiple', survey='sr', text='In the past 12 months have you attempted to borrow from the following?')
key=tan_F55namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'SACCO': 3, 'cooperative': 4, 'moneylender': 5, 'VSLA': 6, 'friends_family': 7}, country='tan', df=          bank  microfinance  SACCO  cooperative  moneylender  VSLA  \
28845992     2             2      2            2            2     2
29265802     2             2      2            2            2     2
28901706     2             2      2            2            2     2
29302230     2             2      2            2            2     2
28910973     2             2      2            2            2     2
...        ...           ...    ...          ...          ...   ...
29319386     2             2      2            2            2     2
28924835     2             2      2            2            2     2
29010663     2             2      2            2            2     2
29555590     2             2      2            2            2     2
29198985     2             2      2            2            2     2

          friends_family
28845992               2
29265802               1
28901706               1
29302230               2
28910973               1
...                  ...
29319386               2
28924835               2
29010663               2
29555590               2
29198985               1

[2795 rows x 7 columns], df_name='tan_sr', label='F55', qtype='multiple', survey='sr', text='In the past 12 months have you attempted to borrow from the following?')
key=uga_F55namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'SACCO': 3, 'cooperative': 4, 'moneylender': 5, 'friends_family': 6}, country='uga', df=          bank  microfinance  SACCO  cooperative  moneylender  friends_family
22678446     2             2      2            2            1               1
22678927     2             2      2            2            2               1
22679052     2             2      2            2            2               2
22679076     2             2      2            2            2               2
22679225     2             2      2            2            2               2
...        ...           ...    ...          ...          ...             ...
23500842     2             2      2            2            2               2
23620542     2             2      2            2            2               2
23620647     2             2      2            2            2               2
23620678     1             2      2            2            2               1
23620722     2             1      1            2            2               1

[2771 rows x 6 columns], df_name='uga_sr', label='F55', qtype='multiple', survey='sr', text='In the past 12 months have you attempted to borrow from the following?')
key=bgd_F56namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'cooperative': 3, 'savings_collector': 4, 'VLSA': 5, 'friends_family': 6}, country='bgd', df=        bank  microfinance  cooperative  savings_collector  VLSA  \
1          2             2            2                  2     1
2          1             2            2                  2     2
3          2             2            2                  2     2
4          2             1            2                  2     2
5          2             2            2                  2     2
...      ...           ...          ...                ...   ...
800129     2             2            2                  2     2
800130     2             2            2                  2     2
800131     2             2            2                  2     2
800132     2             2            2                  2     2
800133     2             1            2                  2     2

        friends_family
1                    1
2                    2
3                    1
4                    1
5                    1
...                ...
800129               1
800130               1
800131               1
800132               2
800133               2

[3095 rows x 6 columns], df_name='bgd_sr', label='F56', qtype='multiple', survey='sr', text='If the need arose, would you attempt to borrow from the following?')
key=cdi_F56namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'savings_collector': 3, 'VLSA': 4, 'friends_family': 5}, country='cdi', df=          bank  microfinance  savings_collector  VLSA  friends_family
31028570     1             1                  2     2               2
31028571     1             2                  2     2               1
31036603     2             2                  2     2               2
31038817     1             1                  1     1               1
31040474     1             1                  1     1               1
...        ...           ...                ...   ...             ...
32261521     1             1                  1     1               1
32261522     1             1                  1     1               1
32261524     1             1                  1     1               1
32280062     1             1                  1     2               1
32280063     2             2                  2     2               1

[2949 rows x 5 columns], df_name='cdi_sr', label='F56', qtype='multiple', survey='sr', text='If the need arose, would you attempt to borrow from the following?')

key=moz_F56namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'cooperative': 3, 'SACCO': 4, 'moneylender': 5, 'friends_family': 6}, country='moz', df=          bank  microfinance  cooperative  SACCO  moneylender  friends_family
21948170   1.0           2.0          2.0    2.0          2.0             2.0
21948180   2.0           2.0          2.0    2.0          2.0             2.0
21948779   1.0           2.0          2.0    2.0          1.0             1.0
21951744   2.0           2.0          2.0    2.0          1.0             2.0
21955646   1.0           2.0          1.0    1.0          2.0             2.0
...        ...           ...          ...    ...          ...             ...
23315711   2.0           2.0          2.0    2.0          2.0             2.0
23324438   1.0           1.0          2.0    1.0          1.0             1.0
23324440   NaN           NaN          NaN    NaN          NaN             NaN
23324645   NaN           NaN          NaN    NaN          NaN             NaN
23324649   1.0           2.0          2.0    2.0          1.0             1.0

[2574 rows x 6 columns], df_name='moz_sr', label='F56', qtype='multiple', survey='sr', text='If the need arose, would you attempt to borrow from the following?')
key=nga_F56namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'SACCO': 3, 'cooperative': 4, 'moneylender': 5, 'VSLA': 6, 'friends_family': 7}, country='nga', df=          bank  microfinance  SACCO  cooperative  moneylender  VSLA  \
40127279     1             1      1            1            1     1
40134046     1             1      2            2            2     2
40135889     1             1      2            2            2     2
40143258     1             2      2            2            2     2
40144462     2             2      2            2            2     2
...        ...           ...    ...          ...          ...   ...
41076184     2             2      2            2            2     2
41076185     2             2      2            1            1     2
41076186     2             1      2            2            2     2
41076187     1             2      2            1            2     2
41076188     2             2      2            2            2     2

          friends_family
40127279               1
40134046               1
40135889               1
40143258               2
40144462               2
...                  ...
41076184               1
41076185               1
41076186               1
41076187               1
41076188               1

[2773 rows x 7 columns], df_name='nga_sr', label='F56', qtype='multiple', survey='sr', text='If the need arose, would you attempt to borrow from the following?')
key=tan_F56namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'SACCO': 3, 'cooperative': 4, 'moneylender': 5, 'VSLA': 6, 'friends_family': 7}, country='tan', df=          bank  microfinance  SACCO  cooperative  moneylender  VSLA  \
28845992     1             1      1            1            2     2
29265802     2             2      2            2            2     2
28901706     1             1      2            1            2     2
29302230     2             2      2            2            2     2
28910973     1             2      1            2            2     2
...        ...           ...    ...          ...          ...   ...
29319386     2             2      2            2            2     2
28924835     1             1      1            1            1     1
29010663     1             1      2            1            1     1
29555590     1             2      2            2            2     2
29198985     2             2      2            2            2     2

          friends_family
28845992               1
29265802               1
28901706               1
29302230               2
28910973               1
...                  ...
29319386               2
28924835               1
29010663               1
29555590               1
29198985               1

[2795 rows x 7 columns], df_name='tan_sr', label='F56', qtype='multiple', survey='sr', text='If the need arose, would you attempt to borrow from the following?')
key=uga_F56namespace(answer_dict={'yes': 1, 'no': 2}, column_dict={'bank': 1, 'microfinance': 2, 'SACCO': 3, 'cooperative': 4, 'moneylender': 5, 'friends_family': 6}, country='uga', df=          bank  microfinance  SACCO  cooperative  moneylender  friends_family
22678446     1             2      2            2            1               1
22678927     2             2      2            2            2               1
22679052     2             2      2            2            2               1
22679076     2             2      2            2            2               1
22679225     1             2      2            2            2               2
...        ...           ...    ...          ...          ...             ...
23500842     2             2      2            2            2               1
23620542     2             1      2            1            2               2
23620647     1             2      2            2            1               1
23620678     1             1      1            2            2               1
23620722     1             2      1            2            2               1

[2771 rows x 6 columns], df_name='uga_sr', label='F56', qtype='multiple', survey='sr', text='If the need arose, would you attempt to borrow from the following?')
key=bgd_F58namespace(answers={'yes': 1, 'no': 2}, country='bgd', df=        F58
1         2
2         2
3         2
4         1
5         2
...     ...
800129    1
800130    1
800131    2
800132    1
800133    1

[3095 rows x 1 columns], df_name='bgd_sr', label='F58', qtype='single', survey='sr', text='Do you currently have any loans?')
key=cdi_F58namespace(answers={'yes': 1, 'no': 2}, country='cdi', df=          F58
31028570    2
31028571    2
31036603    2
31038817    2
31040474    2
...       ...
32261521    2
32261522    2
32261524    2
32280062    2
32280063    2

[2949 rows x 1 columns], df_name='cdi_sr', label='F58', qtype='single', survey='sr', text='Do you currently have any loans?')
key=moz_F58namespace(answers={'yes': 1, 'no': 2}, country='moz', df=          F58
21948170  2.0
21948180  2.0
21948779  2.0
21951744  2.0
21955646  2.0
...       ...
23315711  2.0
23324438  2.0
23324440  NaN
23324645  NaN
23324649  1.0

[2574 rows x 1 columns], df_name='moz_sr', label='F58', qtype='single', survey='sr', text='Do you currently have any loans?')
key=nga_F58namespace(answers={'yes': 1, 'no': 2}, country='nga', df=          F58
40127279    2
40134046    2
40135889    2
40143258    2
40144462    2
...       ...
41076184    2
41076185    2
41076186    2
41076187    2
41076188    2

[2773 rows x 1 columns], df_name='nga_sr', label='F58', qtype='single', survey='sr', text='Do you currently have any loans?')
key=tan_F58namespace(answers={'yes': 1, 'no': 2}, country='tan', df=          F58
28845992    2
29265802    2
28901706    2
29302230    2
28910973    2
...       ...
29319386    2
28924835    2
29010663    2
29555590    2
29198985    2

[2795 rows x 1 columns], df_name='tan_sr', label='F58', qtype='single', survey='sr', text='Do you currently have any loans?')
key=uga_F58namespace(answers={'yes': 1, 'no': 2}, country='uga', df=          F58
22678446    2
22678927    2
22679052    2
22679076    2
22679225    2
...       ...
23500842    2
23620542    2
23620647    2
23620678    2
23620722    2

[2771 rows x 1 columns], df_name='uga_sr', label='F58', qtype='single', survey='sr', text='Do you currently have any loans?')
key=bgd_FORMAL_LOANSnamespace(country='bgd', df=        FORMAL_LOANS
1                  0
2                  0
3                  0
4                  0
5                  0
...              ...
800129             0
800130             0
800131             0
800132             0
800133             0

[3095 rows x 1 columns], df_name='bgd_sr', label='FORMAL_LOANS', qtype='single', survey='sr', text='How many loans do you currently have?')
key=cdi_FORMAL_LOANSnamespace(country='cdi', df=          FORMAL_LOANS
31028570             0
31028571             0
31036603             0
31038817             0
31040474             0
...                ...
32261521             0
32261522             0
32261524             0
32280062             0
32280063             0

[2949 rows x 1 columns], df_name='cdi_sr', label='FORMAL_LOANS', qtype='single', survey='sr', text='How many loans do you currently have?')
key=moz_FORMAL_LOANSnamespace(country='moz', df=          FORMAL_LOANS
21948170             3
21948180             0
21948779             2
21951744             0
21955646             1
...                ...
23315711             0
23324438             3
23324440             0
23324645             0
23324649             3

[2574 rows x 1 columns], df_name='moz_sr', label='FORMAL_LOANS', qtype='single', survey='sr', text='How many loans do you currently have?')
key=nga_FORMAL_LOANSnamespace(country='nga', df=          FORMAL_LOANS
40127279             0
40134046             0
40135889             0
40143258             0
40144462             0
...                ...
41076184             0
41076185             0
41076186             0
41076187             1
41076188             1

[2773 rows x 1 columns], df_name='nga_sr', label='FORMAL_LOANS', qtype='single', survey='sr', text='How many loans do you currently have?')
key=tan_FORMAL_LOANSnamespace(country='tan', df=          FORMAL_LOANS
28845992             0
29265802             0
28901706             0
29302230             0
28910973             0
...                ...
29319386             0
28924835             0
29010663             0
29555590             0
29198985             0

[2795 rows x 1 columns], df_name='tan_sr', label='FORMAL_LOANS', qtype='single', survey='sr', text='How many loans do you currently have?')
key=uga_FORMAL_LOANSnamespace(country='uga', df=          FORMAL_LOANS
22678446             1
22678927             0
22679052             0
22679076             0
22679225             0
...                ...
23500842             0
23620542             0
23620647             0
23620678             0
23620722             0

[2771 rows x 1 columns], df_name='uga_sr', label='FORMAL_LOANS', qtype='single', survey='sr', text='How many loans do you currently have?')
key=bgd_SCHOOL_FEE_PLANSnamespace(country='bgd', df=        SCHOOL_FEE_PLANS
1                      0
2                      0
3                      0
4                      0
5                      0
...                  ...
800129                 0
800130                 0
800131                 0
800132                 0
800133                 0

[3095 rows x 1 columns], df_name='bgd_sr', label='SCHOOL_FEE_PLANS', qtype='single', survey='sr', text='How many credit/savings plans for school fees do you currently have?')
key=cdi_SCHOOL_FEE_PLANSnamespace(country='cdi', df=          SCHOOL_FEE_PLANS
31028570                 0
31028571                 0
31036603                 0
31038817                 0
31040474                 0
...                    ...
32261521                 0
32261522                 0
32261524                 0
32280062                 0
32280063                 0

[2949 rows x 1 columns], df_name='cdi_sr', label='SCHOOL_FEE_PLANS', qtype='single', survey='sr', text='How many credit/savings plans for school fees do you currently have?')
key=moz_SCHOOL_FEE_PLANSnamespace(country='moz', df=          SCHOOL_FEE_PLANS
21948170                 0
21948180                 0
21948779                 2
21951744                 0
21955646                 0
...                    ...
23315711                 0
23324438                 2
23324440                 0
23324645                 0
23324649                 2

[2574 rows x 1 columns], df_name='moz_sr', label='SCHOOL_FEE_PLANS', qtype='single', survey='sr', text='How many credit/savings plans for school fees do you currently have?')
key=nga_SCHOOL_FEE_PLANSnamespace(country='nga', df=          SCHOOL_FEE_PLANS
40127279                 0
40134046                 0
40135889                 0
40143258                 0
40144462                 0
...                    ...
41076184                 0
41076185                 0
41076186                 0
41076187                 1
41076188                 0

[2773 rows x 1 columns], df_name='nga_sr', label='SCHOOL_FEE_PLANS', qtype='single', survey='sr', text='How many credit/savings plans for school fees do you currently have?')
key=tan_SCHOOL_FEE_PLANSnamespace(country='tan', df=          SCHOOL_FEE_PLANS
28845992                 0
29265802                 0
28901706                 0
29302230                 0
28910973                 0
...                    ...
29319386                 0
28924835                 0
29010663                 0
29555590                 0
29198985                 0

[2795 rows x 1 columns], df_name='tan_sr', label='SCHOOL_FEE_PLANS', qtype='single', survey='sr', text='How many credit/savings plans for school fees do you currently have?')
key=uga_SCHOOL_FEE_PLANSnamespace(country='uga', df=          SCHOOL_FEE_PLANS
22678446                 0
22678927                 0
22679052                 0
22679076                 0
22679225                 0
...                    ...
23500842                 0
23620542                 0
23620647                 0
23620678                 0
23620722                 0

[2771 rows x 1 columns], df_name='uga_sr', label='SCHOOL_FEE_PLANS', qtype='single', survey='sr', text='How many credit/savings plans for school fees do you currently have?')
key=bgd_AG_INPUTS_PLANSnamespace(country='bgd', df=        AG_INPUTS_PLANS
1                     0
2                     0
3                     0
4                     0
5                     0
...                 ...
800129                1
800130                0
800131                0
800132                0
800133                0

[3095 rows x 1 columns], df_name='bgd_sr', label='AG_INPUTS_PLANS', qtype='single', survey='sr', text='How many savings/payment plans for agricultural inputs do you currently have?')

key=cdi_AG_INPUTS_PLANSnamespace(country='cdi', df=          AG_INPUTS_PLANS
31028570                0
31028571                0
31036603                0
31038817                0
31040474                0
...                   ...
32261521                0
32261522                0
32261524                0
32280062                0
32280063                0

[2949 rows x 1 columns], df_name='cdi_sr', label='AG_INPUTS_PLANS', qtype='single', survey='sr', text='How many savings/payment plans for agricultural inputs do you currently have?')
key=moz_AG_INPUTS_PLANSnamespace(country='moz', df=          AG_INPUTS_PLANS
21948170                2
21948180                0
21948779                2
21951744                0
21955646                1
...                   ...
23315711                0
23324438                2
23324440                0
23324645                0
23324649                1

[2574 rows x 1 columns], df_name='moz_sr', label='AG_INPUTS_PLANS', qtype='single', survey='sr', text='How many savings/payment plans for agricultural inputs do you currently have?')
key=nga_AG_INPUTS_PLANSnamespace(country='nga', df=          AG_INPUTS_PLANS
40127279                0
40134046                0
40135889                0
40143258                0
40144462                1
...                   ...
41076184                0
41076185                2
41076186                1
41076187                0
41076188                1

[2773 rows x 1 columns], df_name='nga_sr', label='AG_INPUTS_PLANS', qtype='single', survey='sr', text='How many savings/payment plans for agricultural inputs do you currently have?')
key=tan_AG_INPUTS_PLANSnamespace(country='tan', df=          AG_INPUTS_PLANS
28845992                0
29265802                0
28901706                0
29302230                0
28910973                0
...                   ...
29319386                0
28924835                0
29010663                1
29555590                0
29198985                0

[2795 rows x 1 columns], df_name='tan_sr', label='AG_INPUTS_PLANS', qtype='single', survey='sr', text='How many savings/payment plans for agricultural inputs do you currently have?')
key=uga_AG_INPUTS_PLANSnamespace(country='uga', df=          AG_INPUTS_PLANS
22678446                0
22678927                0
22679052                0
22679076                0
22679225                0
...                   ...
23500842                0
23620542                0
23620647                0
23620678                0
23620722                0

[2771 rows x 1 columns], df_name='uga_sr', label='AG_INPUTS_PLANS', qtype='single', survey='sr', text='How many savings/payment plans for agricultural inputs do you currently have?')
key=bgd_HH1namespace(country='bgd', df=        HH1
1        66
2        66
3        66
4         5
5         5
...     ...
800129  198
800130  198
800131  198
800132  100
800133  100

[3154 rows x 1 columns], df_name='bgd_hh', label='HH1', qtype='single', survey='hh', text='The cluster, or smallest geographic locale, typically around 15 households')
key=cdi_HH1namespace(country='cdi', df=          HH1
31028570  115
31028571  115
31036603   17
31038817  137
31040474  115
...       ...
32261521  162
32261522  162
32261524  162
32280062  117
32280063  117

[3019 rows x 1 columns], df_name='cdi_hh', label='HH1', qtype='single', survey='hh', text='The cluster, or smallest geographic locale, typically around 15 households')
key=moz_HH1namespace(country='moz', df=          HH1
22251317   94
23135007   48
22289638  120
22103383   10
22208086  121
...       ...
22227757  204
22551138  171
23158719  183
22007852  209
22093406  196

[2574 rows x 1 columns], df_name='moz_hh', label='HH1', qtype='single', survey='hh', text='The cluster, or smallest geographic locale, typically around 15 households')
key=nga_HH1namespace(country='nga', df=          HH1
40177914  145
40229734  156
40239588  144
40244738   77
40252832   16
...       ...
41076184   22
41076185   21
41076186   21
41076187   21
41076188   21

[3026 rows x 1 columns], df_name='nga_hh', label='HH1', qtype='single', survey='hh', text='The cluster, or smallest geographic locale, typically around 15 households')
key=tan_HH1namespace(country='tan', df=          HH1
28986883  188
29244866  158
29198985  153
29555590   98
29010663   25
...       ...
28753779   79
28986832  120
29137010  115
29348455  178
29444692   10

[2993 rows x 1 columns], df_name='tan_hh', label='HH1', qtype='single', survey='hh', text='The cluster, or smallest geographic locale, typically around 15 households')
key=uga_HH1namespace(country='uga', df=          HH1
22678091   49
22678446   61
22678802   49
22678927   53
22679052   61
...       ...
23500842  204
23620542  211
23620647  211
23620678  211
23620722  201

[2870 rows x 1 columns], df_name='uga_hh', label='HH1', qtype='single', survey='hh', text='The cluster, or smallest geographic locale, typically around 15 households')
key=bgd_HH7namespace(country='bgd', df=        HH7
1        33
2        33
3        33
4         6
5         6
...     ...
800129   58
800130   58
800131   58
800132    1
800133    1

[3154 rows x 1 columns], df_name='bgd_hh', label='HH7', qtype='single', survey='hh', text='An intermediate size (between HH1 and HH6) geographic locale. Size ranges from 15 to 234 households.')
key=cdi_HH7namespace(country='cdi', df=             HH7
31028570    OUME
31028571    OUME
31036603    DIVO
31038817  SOUBRE
31040474    OUME
...          ...
32261521  BOUAKE
32261522  BOUAKE
32261524  BOUAKE
32280062  GUIGLO
32280063  GUIGLO

[3019 rows x 1 columns], df_name='cdi_hh', label='HH7', qtype='single', survey='hh', text='An intermediate size (between HH1 and HH6) geographic locale. Size ranges from 15 to 234 households.')
key=moz_HH7namespace(country='moz', df=                  HH7
22251317     Zambezia
23135007      Nampula
22289638         Tete
22103383       Niassa
22208086         Tete
...               ...
22227757  Maputo Prov
22551138    Inhambane
23158719         Gaza
22007852   Maputo Cid
22093406         Gaza

[2574 rows x 1 columns], df_name='moz_hh', label='HH7', qtype='single', survey='hh', text='An intermediate size (between HH1 and HH6) geographic locale. Size ranges from 15 to 234 households.')
key=nga_HH7namespace(country='nga', df=                   HH7
40177914           EPE
40229734         ODEDA
40239588       BADAGRY
40244738          KUJE
40252832           ITU
...                ...
41076184        AGUATA
41076185  ANAMBRA EAST
41076186  ANAMBRA EAST
41076187  ANAMBRA EAST
41076188  ANAMBRA EAST

[3026 rows x 1 columns], df_name='nga_hh', label='HH7', qtype='single', survey='hh', text='An intermediate size (between HH1 and HH6) geographic locale. Size ranges from 15 to 234 households.')
key=tan_HH7namespace(country='tan', df=          HH7
28986883   34
29244866   94
29198985   31
29555590   16
29010663   46
...       ...
28753779   28
28986832  101
29137010   51
29348455  118
29444692   19

[2993 rows x 1 columns], df_name='tan_hh', label='HH7', qtype='single', survey='hh', text='An intermediate size (between HH1 and HH6) geographic locale. Size ranges from 15 to 234 households.')
key=uga_HH7namespace(country='uga', df=                  HH7
22678091       Wakiso
22678446        Busia
22678802       Wakiso
22678927       Wakiso
22679052        Busia
...               ...
23500842      Mitooma
23620542      Masindi
23620647      Masindi
23620678      Masindi
23620722  Kiryandongo

[2870 rows x 1 columns], df_name='uga_hh', label='HH7', qtype='single', survey='hh', text='An intermediate size (between HH1 and HH6) geographic locale. Size ranges from 15 to 234 households.')
key=bgd_HH6namespace(country='bgd', df=        HH6
1        30
2        30
3        30
4        10
5        10
...     ...
800129   60
800130   60
800131   60
800132   40
800133   40

[3154 rows x 1 columns], df_name='bgd_hh', label='HH6', qtype='single', survey='hh', text='The largest geographic locale. Size ranges from 80 to 800 households.')
key=cdi_HH6namespace(country='cdi', df=          HH6
31028570   13
31028571   13
31036603   21
31038817   25
31040474   13
...       ...
32261521    9
32261522    9
32261524    9
32280062    7
32280063    7

[3019 rows x 1 columns], df_name='cdi_hh', label='HH6', qtype='single', survey='hh', text='The largest geographic locale. Size ranges from 80 to 800 households.')
key=moz_HH6namespace(country='moz', df=             HH6
22251317  Centre
23135007   North
22289638  Centre
22103383   North
22208086  Centre
...          ...
22227757   South
22551138   South
23158719   South
22007852   South
22093406   South

[2574 rows x 1 columns], df_name='moz_hh', label='HH6', qtype='single', survey='hh', text='The largest geographic locale. Size ranges from 80 to 800 households.')
key=nga_HH6namespace(country='nga', df=                HH6
40177914      LAGOS
40229734       OGUN
40239588      LAGOS
40244738        FCT
40252832  AKWA-IBOM
...             ...
41076184    ANAMBRA
41076185    ANAMBRA
41076186    ANAMBRA
41076187    ANAMBRA
41076188    ANAMBRA

[3026 rows x 1 columns], df_name='nga_hh', label='HH6', qtype='single', survey='hh', text='The largest geographic locale. Size ranges from 80 to 800 households.')
key=tan_HH6namespace(country='tan', df=          HH6
28986883   24
29244866   19
29198985   15
29555590   11
29010663    5
...       ...
28753779   10
28986832   14
29137010   14
29348455   22
29444692    3

[2993 rows x 1 columns], df_name='tan_hh', label='HH6', qtype='single', survey='hh', text='The largest geographic locale. Size ranges from 80 to 800 households.')
key=uga_HH6namespace(country='uga', df=              HH6
22678091  Central
22678446  Eastern
22678802  Central
22678927  Central
22679052  Eastern
...           ...
23500842  Western
23620542  Western
23620647  Western
23620678  Western
23620722  Western

[2870 rows x 1 columns], df_name='uga_hh', label='HH6', qtype='single', survey='hh', text='The largest geographic locale. Size ranges from 80 to 800 households.')
key=bgd_COUNTRYnamespace(country='bgd', df=       COUNTRY
1          bgd
2          bgd
3          bgd
4          bgd
5          bgd
...        ...
800129     bgd
800130     bgd
800131     bgd
800132     bgd
800133     bgd

[3154 rows x 1 columns], df_name='bgd_hh', label='COUNTRY', qtype='single', survey='hh', text='The country in which the survey was conducted')
key=cdi_COUNTRYnamespace(country='cdi', df=         COUNTRY
31028570     cdi
31028571     cdi
31036603     cdi
31038817     cdi
31040474     cdi
...          ...
32261521     cdi
32261522     cdi
32261524     cdi
32280062     cdi
32280063     cdi

[3019 rows x 1 columns], df_name='cdi_hh', label='COUNTRY', qtype='single', survey='hh', text='The country in which the survey was conducted')
key=moz_COUNTRYnamespace(country='moz', df=         COUNTRY
22251317     moz
23135007     moz
22289638     moz
22103383     moz
22208086     moz
...          ...
22227757     moz
22551138     moz
23158719     moz
22007852     moz
22093406     moz

[2574 rows x 1 columns], df_name='moz_hh', label='COUNTRY', qtype='single', survey='hh', text='The country in which the survey was conducted')
key=nga_COUNTRYnamespace(country='nga', df=         COUNTRY
40177914     nga
40229734     nga
40239588     nga
40244738     nga
40252832     nga
...          ...
41076184     nga
41076185     nga
41076186     nga
41076187     nga
41076188     nga

[3026 rows x 1 columns], df_name='nga_hh', label='COUNTRY', qtype='single', survey='hh', text='The country in which the survey was conducted')

key=tan_COUNTRYnamespace(country='tan', df=         COUNTRY
28986883     tan
29244866     tan
29198985     tan
29555590     tan
29010663     tan
...          ...
28753779     tan
28986832     tan
29137010     tan
29348455     tan
29444692     tan

[2993 rows x 1 columns], df_name='tan_hh', label='COUNTRY', qtype='single', survey='hh', text='The country in which the survey was conducted')
key=uga_COUNTRYnamespace(country='uga', df=         COUNTRY
22678091     uga
22678446     uga
22678802     uga
22678927     uga
22679052     uga
...          ...
23500842     uga
23620542     uga
23620647     uga
23620678     uga
23620722     uga

[2870 rows x 1 columns], df_name='uga_hh', label='COUNTRY', qtype='single', survey='hh', text='The country in which the survey was conducted')
key=bgd_URnamespace(country='bgd', df=        UR
1        2
2        2
3        2
4        1
5        1
...     ..
800129   2
800130   2
800131   2
800132   2
800133   2

[3154 rows x 1 columns], df_name='bgd_hh', label='UR', qtype='single', survey='hh', text='Whether the household is urban or rural')
key=cdi_URnamespace(country='cdi', df=          UR
31028570   2
31028571   2
31036603   2
31038817   1
31040474   2
...       ..
32261521   1
32261522   1
32261524   1
32280062   2
32280063   2

[3019 rows x 1 columns], df_name='cdi_hh', label='UR', qtype='single', survey='hh', text='Whether the household is urban or rural')
key=moz_URnamespace(country='moz', df=          UR
22251317   2
23135007   2
22289638   2
22103383   2
22208086   2
...       ..
22227757   2
22551138   2
23158719   2
22007852   1
22093406   1

[2574 rows x 1 columns], df_name='moz_hh', label='UR', qtype='single', survey='hh', text='Whether the household is urban or rural')
key=nga_URnamespace(country='nga', df=          UR
40177914   1
40229734   1
40239588   1
40244738   1
40252832   1
...       ..
41076184   1
41076185   1
41076186   1
41076187   1
41076188   1

[3026 rows x 1 columns], df_name='nga_hh', label='UR', qtype='single', survey='hh', text='Whether the household is urban or rural')
key=tan_URnamespace(country='tan', df=          UR
28986883   1
29244866   2
29198985   2
29555590   1
29010663   1
...       ..
28753779   2
28986832   1
29137010   1
29348455   1
29444692   1

[2993 rows x 1 columns], df_name='tan_hh', label='UR', qtype='single', survey='hh', text='Whether the household is urban or rural')
key=uga_URnamespace(country='uga', df=          UR
22678091   1
22678446   2
22678802   1
22678927   1
22679052   2
...       ..
23500842   2
23620542   1
23620647   1
23620678   1
23620722   2

[2870 rows x 1 columns], df_name='uga_hh', label='UR', qtype='single', survey='hh', text='Whether the household is urban or rural')
key=bgd_HH_WEIGHTnamespace(country='bgd', df=        HH_WEIGHT
1        0.237001
2        0.237001
3        0.237001
4        0.406254
5        0.406254
...           ...
800129   0.484150
800130   0.484150
800131   0.484150
800132   1.859897
800133   1.859897

[3154 rows x 1 columns], df_name='bgd_hh', label='HH_WEIGHT', qtype='single', survey='hh', text='A weight assigned to the household by the survey designers')
key=cdi_HH_WEIGHTnamespace(country='cdi', df=          HH_WEIGHT
31028570   0.471162
31028571   0.471162
31036603   0.367176
31038817   0.834920
31040474   0.471162
...             ...
32261521   0.590591
32261522   0.590591
32261524   0.590591
32280062   0.957792
32280063   0.957792

[3019 rows x 1 columns], df_name='cdi_hh', label='HH_WEIGHT', qtype='single', survey='hh', text='A weight assigned to the household by the survey designers')
key=moz_HH_WEIGHTnamespace(country='moz', df=          HH_WEIGHT
22251317   1.443359
23135007   1.007245
22289638   0.656072
22103383   1.945751
22208086   1.105552
...             ...
22227757   0.163803
22551138   0.473257
23158719   0.206474
22007852   0.684428
22093406   0.674586

[2574 rows x 1 columns], df_name='moz_hh', label='HH_WEIGHT', qtype='single', survey='hh', text='A weight assigned to the household by the survey designers')
key=nga_HH_WEIGHTnamespace(country='nga', df=          HH_WEIGHT
40177914   0.599362
40229734   0.205265
40239588   0.808798
40244738   1.546050
40252832   0.204767
...             ...
41076184   1.188275
41076185   1.737100
41076186   1.737100
41076187   1.737100
41076188   1.737100

[3026 rows x 1 columns], df_name='nga_hh', label='HH_WEIGHT', qtype='single', survey='hh', text='A weight assigned to the household by the survey designers')
key=tan_HH_WEIGHTnamespace(country='tan', df=          HH_WEIGHT
28986883   0.443885
29244866   0.854067
29198985   1.513361
29555590   0.529056
29010663   0.723888
...             ...
28753779   0.658356
28986832   0.950349
29137010   1.693322
29348455   1.078007
29444692   0.508899

[2993 rows x 1 columns], df_name='tan_hh', label='HH_WEIGHT', qtype='single', survey='hh', text='A weight assigned to the household by the survey designers')
key=uga_HH_WEIGHTnamespace(country='uga', df=          HH_WEIGHT
22678091   0.388002
22678446   1.056963
22678802   0.388002
22678927   0.266185
22679052   1.056963
...             ...
23500842   1.492111
23620542   0.576638
23620647   0.576638
23620678   0.576638
23620722   1.003390

[2870 rows x 1 columns], df_name='uga_hh', label='HH_WEIGHT', qtype='single', survey='hh', text='A weight assigned to the household by the survey designers')
key=bgd_HH10namespace(country='bgd', df=        HH10
1          4
2          9
3          3
4          3
5          7
...      ...
800129     2
800130     4
800131     4
800132     6
800133     6

[3154 rows x 1 columns], df_name='bgd_hh', label='HH10', qtype='single', survey='hh', text='The number of people in the household')
key=cdi_HH10namespace(country='cdi', df=          HH10
31028570     3
31028571     5
31036603     6
31038817     4
31040474     3
...        ...
32261521     3
32261522    11
32261524     3
32280062     4
32280063     4

[3019 rows x 1 columns], df_name='cdi_hh', label='HH10', qtype='single', survey='hh', text='The number of people in the household')
key=moz_HH10namespace(country='moz', df=          HH10
22251317     7
23135007     7
22289638     7
22103383     9
22208086     7
...        ...
22227757     3
22551138     2
23158719     1
22007852     2
22093406     2

[2574 rows x 1 columns], df_name='moz_hh', label='HH10', qtype='single', survey='hh', text='The number of people in the household')
key=nga_HH10namespace(country='nga', df=          HH10
40177914     3
40229734     3
40239588     6
40244738     4
40252832     5
...        ...
41076184     3
41076185     3
41076186     2
41076187     1
41076188     4

[3026 rows x 1 columns], df_name='nga_hh', label='HH10', qtype='single', survey='hh', text='The number of people in the household')
key=tan_HH10namespace(country='tan', df=          HH10
28986883     9
29244866     3
29198985     2
29555590     2
29010663     6
...        ...
28753779     6
28986832     4
29137010     2
29348455     7
29444692     3

[2993 rows x 1 columns], df_name='tan_hh', label='HH10', qtype='single', survey='hh', text='The number of people in the household')
key=uga_HH10namespace(country='uga', df=          HH10
22678091     5
22678446     4
22678802     7
22678927     3
22679052     1
...        ...
23500842     9
23620542    14
23620647     5
23620678     3
23620722     6

[2870 rows x 1 columns], df_name='uga_hh', label='HH10', qtype='single', survey='hh', text='The number of people in the household')
key=bgd_HH11namespace(country='bgd', df=        HH11
1          3
2          4
3          1
4          1
5          1
...      ...
800129     1
800130     2
800131     1
800132     1
800133     1

[3154 rows x 1 columns], df_name='bgd_hh', label='HH11', qtype='single', survey='hh', text='The number of people in the household who are eligible to be interviewed')
key=cdi_HH11namespace(country='cdi', df=          HH11
31028570     2
31028571     1
31036603     1
31038817     2
31040474     1
...        ...
32261521     3
32261522     3
32261524     2
32280062     2
32280063     2

[3019 rows x 1 columns], df_name='cdi_hh', label='HH11', qtype='single', survey='hh', text='The number of people in the household who are eligible to be interviewed')
key=moz_HH11namespace(country='moz', df=          HH11
22251317     3
23135007     3
22289638     2
22103383     2
22208086     3
...        ...
22227757     2
22551138     2
23158719     1
22007852     1
22093406     2

[2574 rows x 1 columns], df_name='moz_hh', label='HH11', qtype='single', survey='hh', text='The number of people in the household who are eligible to be interviewed')

key=nga_HH11namespace(country='nga', df=          HH11
40177914     1
40229734     2
40239588     2
40244738     2
40252832     2
...        ...
41076184     3
41076185     3
41076186     2
41076187     1
41076188     4

[3026 rows x 1 columns], df_name='nga_hh', label='HH11', qtype='single', survey='hh', text='The number of people in the household who are eligible to be interviewed')
key=tan_HH11namespace(country='tan', df=          HH11
28986883     5
29244866     2
29198985     2
29555590     1
29010663     2
...        ...
28753779     1
28986832     2
29137010     2
29348455     1
29444692     1

[2993 rows x 1 columns], df_name='tan_hh', label='HH11', qtype='single', survey='hh', text='The number of people in the household who are eligible to be interviewed')
key=uga_HH11namespace(country='uga', df=          HH11
22678091     2
22678446     2
22678802     3
22678927     2
22679052     1
...        ...
23500842     2
23620542     8
23620647     1
23620678     2
23620722     3

[2870 rows x 1 columns], df_name='uga_hh', label='HH11', qtype='single', survey='hh', text='The number of people in the household who are eligible to be interviewed')
key=bgd_D14namespace(country='bgd', df=        D14
1         1
2         1
3         1
4         1
5         1
...     ...
800129    1
800130    1
800131    1
800132    1
800133    1

[3154 rows x 1 columns], df_name='bgd_hh', label='D14', qtype='single', survey='hh', text='The language spoken at home')
key=cdi_D14namespace(country='cdi', df=              D14
31028570    Gouro
31028571   Baoul�
31036603     Dida
31038817  Malink�
31040474    Gouro
...           ...
32261521   Baoul�
32261522   Baoul�
32261524   Baoul�
32280062   Dioula
32280063   Guerr�

[3019 rows x 1 columns], df_name='cdi_hh', label='D14', qtype='single', survey='hh', text='The language spoken at home')
key=moz_D14namespace(country='moz', df=                 D14
22251317    Chichewa
23135007    Emakhuwa
22289638     Nhungue
22103383         Yao
22208086     Nhungue
...              ...
22227757   Portugese
22551138      Xitswa
23158719  Xichangana
22007852   Portugese
22093406       Chope

[2574 rows x 1 columns], df_name='moz_hh', label='D14', qtype='single', survey='hh', text='The language spoken at home')
key=nga_D14namespace(country='nga', df=          D14
40177914   35
40229734   22
40239588   35
40244738   99
40252832   18
...       ...
41076184   21
41076185   21
41076186   21
41076187   21
41076188   21

[3026 rows x 1 columns], df_name='nga_hh', label='D14', qtype='single', survey='hh', text='The language spoken at home')
key=tan_D14namespace(country='tan', df=                 D14
28986883    kisukuma
29244866     KILUNDI
29198985  kinyilamba
29555590      KIGOGO
29010663     Swahili
...              ...
28753779     Swahili
28986832      KINGUU
29137010     Swahili
29348455      kikala
29444692     KINYIHA

[2993 rows x 1 columns], df_name='tan_hh', label='D14', qtype='single', survey='hh', text='The language spoken at home')
key=uga_D14namespace(country='uga', df=                 D14
22678091     English
22678446       Samia
22678802     luganda
22678927        MADI
22679052     lusamia
...              ...
23500842  Runyankole
23620542     Lugungu
23620647      Ruyoro
23620678      Ruyoro
23620722       aluru

[2870 rows x 1 columns], df_name='uga_hh', label='D14', qtype='single', survey='hh', text='The language spoken at home')
key=bgd_D15namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='bgd', df=        D15
1         8
2         7
3         1
4         7
5         2
...     ...
800129    7
800130    7
800131    7
800132    7
800133    3

[3154 rows x 1 columns], df_name='bgd_hh', label='D15', qtype='single', survey='hh', text='What is your household’s smallest source of income?')
key=cdi_D15namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='cdi', df=          D15
31028570    9
31028571    9
31036603    7
31038817    1
31040474    7
...       ...
32261521    7
32261522    7
32261524    7
32280062    7
32280063    7

[3019 rows x 1 columns], df_name='cdi_hh', label='D15', qtype='single', survey='hh', text='What is your household’s smallest source of income?')
key=moz_D15namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='moz', df=          D15
22251317    7
23135007    4
22289638    9
22103383   98
22208086    2
...       ...
22227757    7
22551138    1
23158719    8
22007852    1
22093406    1

[2574 rows x 1 columns], df_name='moz_hh', label='D15', qtype='single', survey='hh', text='What is your household’s smallest source of income?')
key=nga_D15namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='nga', df=          D15
40177914    3
40229734    7
40239588    8
40244738    7
40252832    2
...       ...
41076184    3
41076185    2
41076186    2
41076187    2
41076188    7

[3026 rows x 1 columns], df_name='nga_hh', label='D15', qtype='single', survey='hh', text='What is your household’s smallest source of income?')
key=tan_D15namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='tan', df=          D15
28986883    2
29244866    6
29198985    2
29555590    6
29010663    7
...       ...
28753779    7
28986832    2
29137010    3
29348455    7
29444692    3

[2993 rows x 1 columns], df_name='tan_hh', label='D15', qtype='single', survey='hh', text='What is your household’s smallest source of income?')
key=uga_D15namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='uga', df=          D15
22678091   98
22678446    2
22678802    4
22678927    3
22679052    6
...       ...
23500842    7
23620542    1
23620647    4
23620678    6
23620722    6

[2870 rows x 1 columns], df_name='uga_hh', label='D15', qtype='single', survey='hh', text='What is your household’s smallest source of income?')
key=bgd_D17namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='bgd', df=        D17
1         7
2         3
3         1
4         6
5         7
...     ...
800129    2
800130    2
800131    1
800132    3
800133    7

[3154 rows x 1 columns], df_name='bgd_hh', label='D17', qtype='single', survey='hh', text='What is your household’s largest source of income?')
key=cdi_D17namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='cdi', df=          D17
31028570    9
31028571    7
31036603    4
31038817    1
31040474    7
...       ...
32261521    7
32261522    7
32261524    7
32280062    7
32280063    7

[3019 rows x 1 columns], df_name='cdi_hh', label='D17', qtype='single', survey='hh', text='What is your household’s largest source of income?')
key=moz_D17namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='moz', df=          D17
22251317    7
23135007    2
22289638    8
22103383   98
22208086    1
...       ...
22227757    1
22551138    1
23158719    8
22007852    1
22093406    1

[2574 rows x 1 columns], df_name='moz_hh', label='D17', qtype='single', survey='hh', text='What is your household’s largest source of income?')
key=nga_D17namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='nga', df=          D17
40177914    7
40229734    7
40239588    7
40244738    7
40252832    7
...       ...
41076184    2
41076185    7
41076186    2
41076187    7
41076188   98

[3026 rows x 1 columns], df_name='nga_hh', label='D17', qtype='single', survey='hh', text='What is your household’s largest source of income?')
key=tan_D17namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='tan', df=          D17
28986883    7
29244866    7
29198985    7
29555590    6
29010663    1
...       ...
28753779    4
28986832    7
29137010    7
29348455    7
29444692    3

[2993 rows x 1 columns], df_name='tan_hh', label='D17', qtype='single', survey='hh', text='What is your household’s largest source of income?')
key=uga_D17namespace(answers={'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}, country='uga', df=          D17
22678091    1
22678446    2
22678802    9
22678927    1
22679052    7
...       ...
23500842    1
23620542    1
23620647    4
23620678    6
23620722    5

[2870 rows x 1 columns], df_name='uga_hh', label='D17', qtype='single', survey='hh', text='What is your household’s largest source of income?')
key=bgd_D19namespace(country='bgd', df=            D19
1       15000.0
2       30000.0
3        5000.0
4       20000.0
5       10000.0
...         ...
800129   8000.0
800130   8000.0
800131  10000.0
800132  15000.0
800133  17000.0

[3154 rows x 1 columns], df_name='bgd_hh', label='D19', qtype='single', survey='hh', text='What is the minimum amount your household needs to survive per month (for personal expenses)?')
key=cdi_D19namespace(country='cdi', df=               D19
31028570       NaN
31028571  110000.0
31036603   40000.0
31038817  150000.0
31040474  500000.0
...            ...
32261521  500000.0
32261522  500000.0
32261524   40000.0
32280062   30000.0
32280063   50000.0

[3019 rows x 1 columns], df_name='cdi_hh', label='D19', qtype='single', survey='hh', text='What is the minimum amount your household needs to survive per month (for personal expenses)?')
key=moz_D19namespace(country='moz', df=              D19
22251317      NaN
23135007    400.0
22289638  10000.0
22103383   3000.0
22208086   5000.0
...           ...
22227757   5000.0
22551138   5000.0
23158719      NaN
22007852      NaN
22093406   6000.0

[2574 rows x 1 columns], df_name='moz_hh', label='D19', qtype='single', survey='hh', text='What is the minimum amount your household needs to survive per month (for personal expenses)?')
key=nga_D19namespace(country='nga', df=              D19
40177914  30000.0
40229734  20000.0
40239588  25000.0
40244738      NaN
40252832  20000.0
...           ...
41076184      NaN
41076185      NaN
41076186      NaN
41076187      NaN
41076188      NaN

[3026 rows x 1 columns], df_name='nga_hh', label='D19', qtype='single', survey='hh', text='What is the minimum amount your household needs to survive per month (for personal expenses)?')

key=tan_D19namespace(country='tan', df=               D19
28986883  100000.0
29244866   50000.0
29198985   30000.0
29555590  300000.0
29010663  100000.0
...            ...
28753779  150000.0
28986832   25000.0
29137010  100000.0
29348455  100000.0
29444692   30000.0

[2993 rows x 1 columns], df_name='tan_hh', label='D19', qtype='single', survey='hh', text='What is the minimum amount your household needs to survive per month (for personal expenses)?')
key=uga_D19namespace(country='uga', df=               D19
22678091  400000.0
22678446  200000.0
22678802  400000.0
22678927  200000.0
22679052   40000.0
...            ...
23500842  150000.0
23620542  600000.0
23620647  500000.0
23620678  280000.0
23620722  600000.0

[2870 rows x 1 columns], df_name='uga_hh', label='D19', qtype='single', survey='hh', text='What is the minimum amount your household needs to survive per month (for personal expenses)?')
key=bgd_D19_Lnamespace(country='bgd', df=            D19_L
1        9.615805
2       10.308953
3        8.517193
4        9.903488
5        9.210340
...           ...
800129   8.987197
800130   8.987197
800131   9.210340
800132   9.615805
800133   9.740969

[3154 rows x 1 columns], df_name='bgd_hh', label='D19_L', qtype='single', survey='hh', text='Log transform of D19 (which is highly skewed)')
key=cdi_D19_Lnamespace(country='cdi', df=              D19_L
31028570        NaN
31028571  11.608236
31036603  10.596635
31038817  11.918391
31040474  13.122363
...             ...
32261521  13.122363
32261522  13.122363
32261524  10.596635
32280062  10.308953
32280063  10.819778

[3019 rows x 1 columns], df_name='cdi_hh', label='D19_L', qtype='single', survey='hh', text='Log transform of D19 (which is highly skewed)')
key=moz_D19_Lnamespace(country='moz', df=             D19_L
22251317       NaN
23135007  5.991465
22289638  9.210340
22103383  8.006368
22208086  8.517193
...            ...
22227757  8.517193
22551138  8.517193
23158719       NaN
22007852       NaN
22093406  8.699515

[2574 rows x 1 columns], df_name='moz_hh', label='D19_L', qtype='single', survey='hh', text='Log transform of D19 (which is highly skewed)')
key=nga_D19_Lnamespace(country='nga', df=              D19_L
40177914  10.308953
40229734   9.903488
40239588  10.126631
40244738        NaN
40252832   9.903488
...             ...
41076184        NaN
41076185        NaN
41076186        NaN
41076187        NaN
41076188        NaN

[3026 rows x 1 columns], df_name='nga_hh', label='D19_L', qtype='single', survey='hh', text='Log transform of D19 (which is highly skewed)')
key=tan_D19_Lnamespace(country='tan', df=              D19_L
28986883  11.512925
29244866  10.819778
29198985  10.308953
29555590  12.611538
29010663  11.512925
...             ...
28753779  11.918391
28986832  10.126631
29137010  11.512925
29348455  11.512925
29444692  10.308953

[2993 rows x 1 columns], df_name='tan_hh', label='D19_L', qtype='single', survey='hh', text='Log transform of D19 (which is highly skewed)')
key=uga_D19_Lnamespace(country='uga', df=              D19_L
22678091  12.899220
22678446  12.206073
22678802  12.899220
22678927  12.206073
22679052  10.596635
...             ...
23500842  11.918391
23620542  13.304685
23620647  13.122363
23620678  12.542545
23620722  13.304685

[2870 rows x 1 columns], df_name='uga_hh', label='D19_L', qtype='single', survey='hh', text='Log transform of D19 (which is highly skewed)')
key=bgd_D19_LZnamespace(country='bgd', df=          D19_LZ
1       1.100223
2       2.318243
3      -0.830292
4       1.605747
5       0.387728
...          ...
800129 -0.004387
800130 -0.004387
800131  0.387728
800132  1.100223
800133  1.320164

[3154 rows x 1 columns], df_name='bgd_hh', label='D19_LZ', qtype='single', survey='hh', text='D19_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=cdi_D19_LZnamespace(country='cdi', df=            D19_LZ
31028570       NaN
31028571  0.608739
31036603 -0.513101
31038817  0.952693
31040474  2.287869
...            ...
32261521  2.287869
32261522  2.287869
32261524 -0.513101
32280062 -0.832133
32280063 -0.265640

[3019 rows x 1 columns], df_name='cdi_hh', label='D19_LZ', qtype='single', survey='hh', text='D19_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=moz_D19_LZnamespace(country='moz', df=            D19_LZ
22251317       NaN
23135007 -1.594559
22289638  1.431337
22103383  0.299545
22208086  0.779745
...            ...
22227757  0.779745
22551138  0.779745
23158719       NaN
22007852       NaN
22093406  0.951136

[2574 rows x 1 columns], df_name='moz_hh', label='D19_LZ', qtype='single', survey='hh', text='D19_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=nga_D19_LZnamespace(country='nga', df=            D19_LZ
40177914  0.573071
40229734  0.074293
40239588  0.348790
40244738       NaN
40252832  0.074293
...            ...
41076184       NaN
41076185       NaN
41076186       NaN
41076187       NaN
41076188       NaN

[3026 rows x 1 columns], df_name='nga_hh', label='D19_LZ', qtype='single', survey='hh', text='D19_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=tan_D19_LZnamespace(country='tan', df=            D19_LZ
28986883  0.181379
29244866 -0.555705
29198985 -1.098911
29555590  1.349631
29010663  0.181379
...            ...
28753779  0.612546
28986832 -1.292790
29137010  0.181379
29348455  0.181379
29444692 -1.098911

[2993 rows x 1 columns], df_name='tan_hh', label='D19_LZ', qtype='single', survey='hh', text='D19_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=uga_D19_LZnamespace(country='uga', df=            D19_LZ
22678091  1.335559
22678446  0.765148
22678802  1.335559
22678927  0.765148
22679052 -0.559307
...            ...
23500842  0.528406
23620542  1.669229
23620647  1.519191
23620678  1.042041
23620722  1.669229

[2870 rows x 1 columns], df_name='uga_hh', label='D19_LZ', qtype='single', survey='hh', text='D19_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=bgd_D21namespace(country='bgd', df=            D21
1       20000.0
2       50000.0
3       10000.0
4       20000.0
5        9000.0
...         ...
800129   8000.0
800130   8000.0
800131  12000.0
800132  16000.0
800133  18000.0

[3154 rows x 1 columns], df_name='bgd_hh', label='D21', qtype='single', survey='hh', text='What is your household’s average monthly income across all sources of money that your household receives?')
key=cdi_D21namespace(country='cdi', df=               D21
31028570       NaN
31028571       NaN
31036603       NaN
31038817   20000.0
31040474   60000.0
...            ...
32261521  100000.0
32261522  100000.0
32261524  100000.0
32280062   90000.0
32280063  100000.0

[3019 rows x 1 columns], df_name='cdi_hh', label='D21', qtype='single', survey='hh', text='What is your household’s average monthly income across all sources of money that your household receives?')
key=moz_D21namespace(country='moz', df=              D21
22251317      NaN
23135007    900.0
22289638   2000.0
22103383   8000.0
22208086      NaN
...           ...
22227757  15000.0
22551138   6000.0
23158719      NaN
22007852      NaN
22093406   6000.0

[2574 rows x 1 columns], df_name='moz_hh', label='D21', qtype='single', survey='hh', text='What is your household’s average monthly income across all sources of money that your household receives?')
key=nga_D21namespace(country='nga', df=              D21
40177914  20000.0
40229734  30000.0
40239588  20000.0
40244738      NaN
40252832  30000.0
...           ...
41076184      NaN
41076185      NaN
41076186      NaN
41076187      NaN
41076188      NaN

[3026 rows x 1 columns], df_name='nga_hh', label='D21', qtype='single', survey='hh', text='What is your household’s average monthly income across all sources of money that your household receives?')
key=tan_D21namespace(country='tan', df=               D21
28986883  200000.0
29244866   50000.0
29198985   30000.0
29555590       NaN
29010663  150000.0
...            ...
28753779  500000.0
28986832   35000.0
29137010  100000.0
29348455  300000.0
29444692   20000.0

[2993 rows x 1 columns], df_name='tan_hh', label='D21', qtype='single', survey='hh', text='What is your household’s average monthly income across all sources of money that your household receives?')
key=uga_D21namespace(country='uga', df=                D21
22678091        NaN
22678446   240000.0
22678802   400000.0
22678927   670000.0
22679052    40000.0
...             ...
23500842        NaN
23620542  1000000.0
23620647  1000000.0
23620678   500000.0
23620722   900000.0

[2870 rows x 1 columns], df_name='uga_hh', label='D21', qtype='single', survey='hh', text='What is your household’s average monthly income across all sources of money that your household receives?')
key=bgd_D21_Lnamespace(country='bgd', df=            D21_L
1        9.903488
2       10.819778
3        9.210340
4        9.903488
5        9.104980
...           ...
800129   8.987197
800130   8.987197
800131   9.392662
800132   9.680344
800133   9.798127

[3154 rows x 1 columns], df_name='bgd_hh', label='D21_L', qtype='single', survey='hh', text='Log transform of D21 (which is highly skewed)')
key=cdi_D21_Lnamespace(country='cdi', df=              D21_L
31028570        NaN
31028571        NaN
31036603        NaN
31038817   9.903488
31040474  11.002100
...             ...
32261521  11.512925
32261522  11.512925
32261524  11.512925
32280062  11.407565
32280063  11.512925

[3019 rows x 1 columns], df_name='cdi_hh', label='D21_L', qtype='single', survey='hh', text='Log transform of D21 (which is highly skewed)')
key=moz_D21_Lnamespace(country='moz', df=             D21_L
22251317       NaN
23135007  6.802395
22289638  7.600902
22103383  8.987197
22208086       NaN
...            ...
22227757  9.615805
22551138  8.699515
23158719       NaN
22007852       NaN
22093406  8.699515

[2574 rows x 1 columns], df_name='moz_hh', label='D21_L', qtype='single', survey='hh', text='Log transform of D21 (which is highly skewed)')
key=nga_D21_Lnamespace(country='nga', df=              D21_L
40177914   9.903488
40229734  10.308953
40239588   9.903488
40244738        NaN
40252832  10.308953
...             ...
41076184        NaN
41076185        NaN
41076186        NaN
41076187        NaN
41076188        NaN

[3026 rows x 1 columns], df_name='nga_hh', label='D21_L', qtype='single', survey='hh', text='Log transform of D21 (which is highly skewed)')
key=tan_D21_Lnamespace(country='tan', df=              D21_L
28986883  12.206073
29244866  10.819778
29198985  10.308953
29555590        NaN
29010663  11.918391
...             ...
28753779  13.122363
28986832  10.463103
29137010  11.512925
29348455  12.611538
29444692   9.903488

[2993 rows x 1 columns], df_name='tan_hh', label='D21_L', qtype='single', survey='hh', text='Log transform of D21 (which is highly skewed)')
key=uga_D21_Lnamespace(country='uga', df=              D21_L
22678091        NaN
22678446  12.388394
22678802  12.899220
22678927  13.415033
22679052  10.596635
...             ...
23500842        NaN
23620542  13.815511
23620647  13.815511
23620678  13.122363
23620722  13.710150

[2870 rows x 1 columns], df_name='uga_hh', label='D21_L', qtype='single', survey='hh', text='Log transform of D21 (which is highly skewed)')
key=bgd_D21_LZnamespace(country='bgd', df=          D21_LZ
1       1.163542
2       2.673807
3       0.021071
4       1.163542
5      -0.152588
...          ...
800129 -0.346722
800130 -0.346722
800131  0.321580
800132  0.795749
800133  0.989883

[3154 rows x 1 columns], df_name='bgd_hh', label='D21_LZ', qtype='single', survey='hh', text='D21_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=cdi_D21_LZnamespace(country='cdi', df=            D21_LZ
31028570       NaN
31028571       NaN
31036603       NaN
31038817 -1.310514
31040474 -0.048424
...            ...
32261521  0.538414
32261522  0.538414
32261524  0.538414
32280062  0.417375
32280063  0.538414

[3019 rows x 1 columns], df_name='cdi_hh', label='D21_LZ', qtype='single', survey='hh', text='D21_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=moz_D21_LZnamespace(country='moz', df=            D21_LZ
22251317       NaN
23135007 -0.568308
22289638  0.209703
22103383  1.560413
22208086       NaN
...            ...
22227757  2.172887
22551138  1.280116
23158719       NaN
22007852       NaN
22093406  1.280116

[2574 rows x 1 columns], df_name='moz_hh', label='D21_LZ', qtype='single', survey='hh', text='D21_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=nga_D21_LZnamespace(country='nga', df=            D21_LZ
40177914 -0.570262
40229734 -0.025080
40239588 -0.570262
40244738       NaN
40252832 -0.025080
...            ...
41076184       NaN
41076185       NaN
41076186       NaN
41076187       NaN
41076188       NaN

[3026 rows x 1 columns], df_name='nga_hh', label='D21_LZ', qtype='single', survey='hh', text='D21_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=tan_D21_LZnamespace(country='tan', df=            D21_LZ
28986883  0.729906
29244866 -0.664967
29198985 -1.178954
29555590       NaN
29010663  0.440444
...            ...
28753779  1.651867
28986832 -1.023849
29137010  0.032469
29348455  1.137880
29444692 -1.586928

[2993 rows x 1 columns], df_name='tan_hh', label='D21_LZ', qtype='single', survey='hh', text='D21_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=uga_D21_LZnamespace(country='uga', df=            D21_LZ
22678091       NaN
22678446  0.467613
22678802  0.874306
22678927  1.284970
22679052 -0.958895
...            ...
23500842       NaN
23620542  1.603810
23620647  1.603810
23620678  1.051962
23620722  1.519928

[2870 rows x 1 columns], df_name='uga_hh', label='D21_LZ', qtype='single', survey='hh', text='D21_L is standardized (Z scores) within country Z scores can be compared across countries ')
key=bgd_D20namespace(answers={'not_enough_for_food': 1, 'food_and_clothes_only': 2, 'can_save_a_bit': 3, 'can_buy_some_expensive_goods': 4}, country='bgd', df=        D20
1       4.0
2       4.0
3       4.0
4       2.0
5       3.0
...     ...
800129  2.0
800130  2.0
800131  3.0
800132  2.0
800133  2.0

[3154 rows x 1 columns], df_name='bgd_hh', label='D20', qtype='single', survey='hh', text="Which answer best reflects your family's current financial situation?")
key=cdi_D20namespace(answers={'not_enough_for_food': 1, 'food_and_clothes_only': 2, 'can_save_a_bit': 3, 'can_buy_some_expensive_goods': 4}, country='cdi', df=          D20
31028570  1.0
31028571  2.0
31036603  2.0
31038817  1.0
31040474  1.0
...       ...
32261521  2.0
32261522  2.0
32261524  1.0
32280062  2.0
32280063  1.0

[3019 rows x 1 columns], df_name='cdi_hh', label='D20', qtype='single', survey='hh', text="Which answer best reflects your family's current financial situation?")
key=moz_D20namespace(answers={'not_enough_for_food': 1, 'food_and_clothes_only': 2, 'can_save_a_bit': 3, 'can_buy_some_expensive_goods': 4}, country='moz', df=          D20
22251317  1.0
23135007  1.0
22289638  1.0
22103383  NaN
22208086  3.0
...       ...
22227757  3.0
22551138  2.0
23158719  3.0
22007852  4.0
22093406  4.0

[2574 rows x 1 columns], df_name='moz_hh', label='D20', qtype='single', survey='hh', text="Which answer best reflects your family's current financial situation?")
key=nga_D20namespace(answers={'not_enough_for_food': 1, 'food_and_clothes_only': 2, 'can_save_a_bit': 3, 'can_buy_some_expensive_goods': 4}, country='nga', df=          D20
40177914  1.0
40229734  2.0
40239588  3.0
40244738  1.0
40252832  1.0
...       ...
41076184  2.0
41076185  3.0
41076186  2.0
41076187  3.0
41076188  2.0

[3026 rows x 1 columns], df_name='nga_hh', label='D20', qtype='single', survey='hh', text="Which answer best reflects your family's current financial situation?")
key=tan_D20namespace(answers={'not_enough_for_food': 1, 'food_and_clothes_only': 2, 'can_save_a_bit': 3, 'can_buy_some_expensive_goods': 4}, country='tan', df=          D20
28986883  1.0
29244866  2.0
29198985  2.0
29555590  1.0
29010663  2.0
...       ...
28753779  3.0
28986832  2.0
29137010  1.0
29348455  1.0
29444692  1.0

[2993 rows x 1 columns], df_name='tan_hh', label='D20', qtype='single', survey='hh', text="Which answer best reflects your family's current financial situation?")
key=uga_D20namespace(answers={'not_enough_for_food': 1, 'food_and_clothes_only': 2, 'can_save_a_bit': 3, 'can_buy_some_expensive_goods': 4}, country='uga', df=          D20
22678091  3.0
22678446  2.0
22678802  2.0
22678927  2.0
22679052  2.0
...       ...
23500842  2.0
23620542  2.0
23620647  2.0
23620678  2.0
23620722  2.0

[2870 rows x 1 columns], df_name='uga_hh', label='D20', qtype='single', survey='hh', text="Which answer best reflects your family's current financial situation?")
key=bgd_D22namespace(answers={'husband_boyfriend': 1, 'wife_girlfriend': 2, 'husband_and_wife': 3, 'another_family_member': 4, 'NA': 5, 'DK': 6}, column_dict={'planting_time': 1, 'purchase_inputs': 2, 'harvest_time': 3, 'amount_crops_to_sell': 4, 'when_where_to_sell': 5, 'where_to_borrow': 6, 'amount_livestock_to_sell': 7, 'what_to_plant': 8}, country='bgd', df=        planting_time  purchase_inputs  harvest_time  amount_crops_to_sell  \
1                   4                4             4                     4
2                   1                1             1                     1
3                   4                4             4                     4
4                   1                1             1                     1
5                   1                1             1                     3
...               ...              ...           ...                   ...
800129              1                1             1                     1
800130              1                1             1                     1
800131              1                1             1                     1
800132              4                4             4                     4
800133              1                1             1                     1

        when_where_to_sell  where_to_borrow  amount_livestock_to_sell  \
1                        4                4                         4
2                        1                1                         1
3                        4                4                        98
4                        1                1                         1
5                        3                1                         3
...                    ...              ...                       ...
800129                   1                1                         1
800130                   1                1                         1
800131                   1                1                         1
800132                   4                4                         5
800133                   1                1                         5

        what_to_plant
1                   4
2                   1
3                  98
4                   1
5                   3
...               ...
800129              1
800130              1
800131              1
800132              5
800133              5

[3154 rows x 8 columns], df_name='bgd_hh', label='D22', qtype='multi', survey='hh', text='Generally, who makes decisions on the following agricultural activities?')
key=cdi_D22namespace(answers={'husband_boyfriend': 1, 'wife_girlfriend': 2, 'husband_and_wife': 3, 'another_family_member': 4, 'NA': 5, 'DK': 6}, column_dict={'planting_time': 1, 'purchase_inputs': 2, 'harvest_time': 3, 'amount_crops_to_sell': 4, 'when_where_to_sell': 5, 'where_to_borrow': 6, 'amount_livestock_to_sell': 7, 'what_to_plant': 8}, country='cdi', df=          planting_time  purchase_inputs  harvest_time  amount_crops_to_sell  \
31028570              5                5             5                     5
31028571              1                1             1                     1
31036603              2                5             2                     2
31038817              2                1             2                     2
31040474              1                1             1                     1
...                 ...              ...           ...                   ...
32261521              1                1             1                     1
32261522              1                1             1                     1
32261524              2                2             2                     2
32280062              3                3             3                     3
32280063              3                3             3                     3

          when_where_to_sell  where_to_borrow  amount_livestock_to_sell  \
31028570                   5                5                         5
31028571                   1                1                         1
31036603                   2                5                         5
31038817                   2                1                         1
31040474                   1                1                         1
...                      ...              ...                       ...
32261521                   1                1                         1
32261522                   1                1                         1
32261524                   2                2                         2
32280062                   3                3                         5
32280063                   3                3                         5

          what_to_plant
31028570              5
31028571              1
31036603              5
31038817              1
31040474              5
...                 ...
32261521              1
32261522              1
32261524              2
32280062              5
32280063              5

[3019 rows x 8 columns], df_name='cdi_hh', label='D22', qtype='multi', survey='hh', text='Generally, who makes decisions on the following agricultural activities?')
key=moz_D22namespace(answers={'husband_boyfriend': 1, 'wife_girlfriend': 2, 'husband_and_wife': 3, 'another_family_member': 4, 'NA': 5, 'DK': 6}, column_dict={'planting_time': 1, 'purchase_inputs': 2, 'harvest_time': 3, 'amount_crops_to_sell': 4, 'when_where_to_sell': 5, 'where_to_borrow': 6, 'amount_livestock_to_sell': 7, 'what_to_plant': 8}, country='moz', df=          planting_time  purchase_inputs  harvest_time  amount_crops_to_sell  \
22251317              3                5             3                     3
23135007              1                1             1                     1
22289638              1               98             1                     1
22103383              3                3             3                     3
22208086              2                2             2                     2
...                 ...              ...           ...                   ...
22227757              2                2             2                     2
22551138              2                2             2                     2
23158719              1                1             1                     1
22007852              5                5             5                     5
22093406              2                2             2                     2

          when_where_to_sell  where_to_borrow  amount_livestock_to_sell  \
22251317                   3                5                         5
23135007                   1                1                         1
22289638                   1               98                         1
22103383                   3                3                         3
22208086                  98               98                        98
...                      ...              ...                       ...
22227757                   2               98                        98
22551138                   2                2                         2
23158719                   1                1                         1
22007852                   5                5                         5
22093406                   2                2                         2

          what_to_plant
22251317              5
23135007              1
22289638              1
22103383              3
22208086             98
...                 ...
22227757             98
22551138              2
23158719              1
22007852              5
22093406              2

[2574 rows x 8 columns], df_name='moz_hh', label='D22', qtype='multi', survey='hh', text='Generally, who makes decisions on the following agricultural activities?')
key=nga_D22namespace(answers={'husband_boyfriend': 1, 'wife_girlfriend': 2, 'husband_and_wife': 3, 'another_family_member': 4, 'NA': 5, 'DK': 6}, column_dict={'planting_time': 1, 'purchase_inputs': 2, 'harvest_time': 3, 'amount_crops_to_sell': 4, 'when_where_to_sell': 5, 'where_to_borrow': 6, 'amount_livestock_to_sell': 7, 'what_to_plant': 8}, country='nga', df=          planting_time  purchase_inputs  harvest_time  amount_crops_to_sell  \
40177914              2                2             2                     2
40229734              1                1             3                     3
40239588              1                1             1                     1
40244738              1                1             1                     1
40252832              3                3             3                     3
...                 ...              ...           ...                   ...
41076184              1                1             1                     1
41076185              1                1             1                     1
41076186              2                2             2                     2
41076187              1                1             1                     1
41076188              2                2             2                     2

          when_where_to_sell  where_to_borrow  amount_livestock_to_sell  \
40177914                   2                2                         5
40229734                   3                1                         3
40239588                   2                5                         1
40244738                   1               98                         1
40252832                   3                5                         5
...                      ...              ...                       ...
41076184                   1                1                         1
41076185                   1                1                         1
41076186                   2                2                         2
41076187                   1                1                         1
41076188                   2                2                         2

          what_to_plant
40177914              5
40229734              1
40239588              1
40244738              1
40252832              5
...                 ...
41076184              1
41076185              1
41076186              2
41076187              1
41076188              2

[3026 rows x 8 columns], df_name='nga_hh', label='D22', qtype='multi', survey='hh', text='Generally, who makes decisions on the following agricultural activities?')
key=tan_D22namespace(answers={'husband_boyfriend': 1, 'wife_girlfriend': 2, 'husband_and_wife': 3, 'another_family_member': 4, 'NA': 5, 'DK': 6}, column_dict={'planting_time': 1, 'purchase_inputs': 2, 'harvest_time': 3, 'amount_crops_to_sell': 4, 'when_where_to_sell': 5, 'where_to_borrow': 6, 'amount_livestock_to_sell': 7, 'what_to_plant': 8}, country='tan', df=          planting_time  purchase_inputs  harvest_time  amount_crops_to_sell  \
28986883              4                4             4                     4
29244866              3                1             1                     1
29198985              4                1             1                     5
29555590              1                1             1                     5
29010663              2                5             3                     5
...                 ...              ...           ...                   ...
28753779              2                2             2                     2
28986832              3                3             3                     3
29137010              3                3             3                     3
29348455              2                2             2                     2
29444692              5                5             5                     5

          when_where_to_sell  where_to_borrow  amount_livestock_to_sell  \
28986883                   4                4                         4
29244866                   1                1                         5
29198985                   5                5                         5
29555590                   5                5                         5
29010663                   5                1                         1
...                      ...              ...                       ...
28753779                   2                2                         5
28986832                   3                3                         3
29137010                   3                3                         5
29348455                   2                2                         2

key=bgd_D23namespace(answers={'not_important': 1, 'somewhat_important': 2, 'very_important': 3}, column_dict={'bank_account': 1, 'mobile_phone': 2, 'mobile_money': 3, 'insurance': 4, 'savings': 5, 'loan': 6, 'credit': 7}, country='bgd', df=        bank_account  mobile_phone  mobile_money  insurance  savings  loan  \
1                2.0           3.0           3.0        3.0      3.0   1.0
2                3.0           3.0           2.0        1.0      3.0   3.0
3                3.0           3.0           3.0        2.0      2.0   1.0
4                2.0           3.0           3.0        2.0      3.0   2.0
5                2.0           3.0           2.0        2.0      1.0   2.0
...              ...           ...           ...        ...      ...   ...
800129           3.0           3.0           1.0        3.0      2.0   3.0
800130           2.0           3.0           3.0        3.0      3.0   3.0
800131           2.0           2.0           2.0        2.0      2.0   2.0
800132           3.0           3.0           2.0        2.0      3.0   3.0
800133           3.0           3.0           3.0        2.0      2.0   3.0

        credit
1          1.0
2          1.0
3          1.0
4          2.0
5          1.0
...        ...
800129     3.0
800130     2.0
800131     2.0
800132     3.0
800133     3.0

[3154 rows x 7 columns], df_name='bgd_hh', label='D23', note='The answers have been re-ordered from not important to very important', qtype='multi', survey='hh', text='Regardless of what you have, how important is it to your household to have the following?')
key=cdi_D23namespace(answers={'not_important': 1, 'somewhat_important': 2, 'very_important': 3}, column_dict={'bank_account': 1, 'mobile_phone': 2, 'mobile_money': 3, 'insurance': 4, 'savings': 5, 'loan': 6, 'credit': 7}, country='cdi', df=          bank_account  mobile_phone  mobile_money  insurance  savings  loan  \
31028570           3.0           3.0           3.0        3.0      2.0   2.0
31028571           3.0           3.0           3.0        3.0      3.0   1.0
31036603           2.0           3.0           3.0        2.0      2.0   1.0
31038817           3.0           3.0           3.0        3.0      3.0   3.0
31040474           3.0           3.0           2.0        3.0      3.0   3.0
...                ...           ...           ...        ...      ...   ...
32261521           3.0           3.0           3.0        3.0      3.0   2.0
32261522           3.0           3.0           3.0        3.0      2.0   2.0
32261524           3.0           3.0           3.0        3.0      2.0   2.0
32280062           3.0           3.0           3.0        3.0      3.0   3.0
32280063           3.0           3.0           3.0        3.0      2.0   2.0

          credit
31028570     1.0
31028571     1.0
31036603     1.0
31038817     3.0
31040474     3.0
...          ...
32261521     2.0
32261522     2.0
32261524     2.0
32280062     3.0
32280063     2.0

[3019 rows x 7 columns], df_name='cdi_hh', label='D23', note='The answers have been re-ordered from not important to very important', qtype='multi', survey='hh', text='Regardless of what you have, how important is it to your household to have the following?')
key=moz_D23namespace(answers={'not_important': 1, 'somewhat_important': 2, 'very_important': 3}, column_dict={'bank_account': 1, 'mobile_phone': 2, 'mobile_money': 3, 'insurance': 4, 'savings': 5, 'loan': 6, 'credit': 7}, country='moz', df=          bank_account  mobile_phone  mobile_money  insurance  savings  loan  \
22251317           NaN           3.0           NaN        NaN      NaN   NaN
23135007           2.0           3.0           1.0        1.0      1.0   NaN
22289638           3.0           3.0           NaN        NaN      NaN   NaN
22103383           NaN           NaN           NaN        NaN      NaN   NaN
22208086           3.0           3.0           2.0        1.0      1.0   NaN
...                ...           ...           ...        ...      ...   ...
22227757           3.0           3.0           3.0        3.0      3.0   3.0
22551138           2.0           3.0           1.0        1.0      1.0   1.0
23158719           1.0           3.0           1.0        3.0      1.0   3.0
22007852           3.0           3.0           2.0        3.0      3.0   3.0
22093406           3.0           3.0           3.0        3.0      NaN   NaN

          credit
22251317     NaN
23135007     NaN
22289638     NaN
22103383     NaN
22208086     NaN
...          ...
22227757     3.0
22551138     1.0
23158719     3.0
22007852     3.0
22093406     NaN

[2574 rows x 7 columns], df_name='moz_hh', label='D23', note='The answers have been re-ordered from not important to very important', qtype='multi', survey='hh', text='Regardless of what you have, how important is it to your household to have the following?')
key=nga_D23namespace(answers={'not_important': 1, 'somewhat_important': 2, 'very_important': 3}, column_dict={'bank_account': 1, 'mobile_phone': 2, 'mobile_money': 3, 'insurance': 4, 'savings': 5, 'loan': 6, 'credit': 7}, country='nga', df=          bank_account  mobile_phone  mobile_money  insurance  savings  loan  \
40177914           2.0           3.0           1.0        1.0      3.0   2.0
40229734           3.0           3.0           1.0        2.0      3.0   3.0
40239588           1.0           3.0           1.0        2.0      3.0   2.0
40244738           1.0           2.0           NaN        NaN      NaN   2.0
40252832           3.0           3.0           1.0        1.0      3.0   1.0
...                ...           ...           ...        ...      ...   ...
41076184           2.0           2.0           2.0        NaN      2.0   1.0
41076185           3.0           1.0           1.0        1.0      2.0   1.0
41076186           2.0           2.0           2.0        2.0      2.0   2.0
41076187           2.0           2.0           2.0        2.0      1.0   1.0
41076188           1.0           2.0           1.0        1.0      1.0   1.0

          credit
40177914     2.0
40229734     3.0
40239588     2.0
40244738     NaN
40252832     1.0
...          ...
41076184     NaN
41076185     1.0
41076186     1.0
41076187     1.0
41076188     NaN

[3026 rows x 7 columns], df_name='nga_hh', label='D23', note='The answers have been re-ordered from not important to very important', qtype='multi', survey='hh', text='Regardless of what you have, how important is it to your household to have the following?')
key=tan_D23namespace(answers={'not_important': 1, 'somewhat_important': 2, 'very_important': 3}, column_dict={'bank_account': 1, 'mobile_phone': 2, 'mobile_money': 3, 'insurance': 4, 'savings': 5, 'loan': 6, 'credit': 7}, country='tan', df=          bank_account  mobile_phone  mobile_money  insurance  savings  loan  \
28986883           1.0           3.0           2.0        3.0      2.0   2.0
29244866           2.0           3.0           3.0        3.0      3.0   3.0
29198985           1.0           3.0           1.0        3.0      3.0   1.0
29555590           3.0           1.0           3.0        3.0      3.0   1.0
29010663           2.0           2.0           2.0        3.0      3.0   1.0
...                ...           ...           ...        ...      ...   ...
28753779           3.0           3.0           3.0        3.0      1.0   2.0
28986832           2.0           3.0           3.0        2.0      2.0   2.0
29137010           3.0           3.0           3.0        3.0      3.0   3.0
29348455           3.0           3.0           3.0        3.0      3.0   3.0
29444692           3.0           3.0           3.0        3.0      3.0   3.0

          credit
28986883     2.0
29244866     3.0
29198985     1.0
29555590     1.0
29010663     1.0
...          ...
28753779     1.0
28986832     2.0
29137010     2.0
29348455     3.0
29444692     3.0

[2993 rows x 7 columns], df_name='tan_hh', label='D23', note='The answers have been re-ordered from not important to very important', qtype='multi', survey='hh', text='Regardless of what you have, how important is it to your household to have the following?')
key=uga_D23namespace(answers={'not_important': 1, 'somewhat_important': 2, 'very_important': 3}, column_dict={'bank_account': 1, 'mobile_phone': 2, 'mobile_money': 3, 'insurance': 4, 'savings': 5, 'loan': 6, 'credit': 7}, country='uga', df=          bank_account  mobile_phone  mobile_money  insurance  savings  loan  \
22678091           3.0           3.0           3.0        2.0      3.0   2.0
22678446           2.0           3.0           3.0        2.0      3.0   2.0
22678802           1.0           3.0           3.0        1.0      2.0   1.0
22678927           3.0           2.0           2.0        1.0      NaN   NaN
22679052           3.0           3.0           3.0        3.0      2.0   NaN
...                ...           ...           ...        ...      ...   ...
23500842           2.0           2.0           2.0        2.0      3.0   2.0
23620542           1.0           3.0           2.0        3.0      3.0   1.0
23620647           3.0           3.0           3.0        1.0      1.0   1.0
23620678           3.0           2.0           1.0        1.0      1.0   1.0
23620722           3.0           3.0           3.0        3.0      2.0   2.0

          credit
22678091     2.0
22678446     2.0
22678802     1.0
22678927     NaN
22679052     NaN
...          ...
23500842     2.0
23620542     1.0
23620647     1.0
23620678     1.0
23620722     2.0

[2870 rows x 7 columns], df_name='uga_hh', label='D23', note='The answers have been re-ordered from not important to very important', qtype='multi', survey='hh', text='Regardless of what you have, how important is it to your household to have the following?')
key=bgd_MOBILESnamespace(country='bgd', df=        MOBILES
1           0.3
2           0.8
3           0.3
4           0.1
5           0.3
...         ...
800129      0.1
800130      0.2
800131      0.1
800132      0.2
800133      0.2

[3154 rows x 1 columns], df_name='bgd_hh', label='MOBILES', qtype='single', survey='hh', text='A derived, min-max scaled variable that represents the number of mobile phones in the household')
key=cdi_MOBILESnamespace(country='cdi', df=          MOBILES
31028570   0.1875
31028571   0.1875
31036603   0.1875
31038817   0.1250
31040474   0.0625
...           ...
32261521   0.3125
32261522   0.3125
32261524   0.0625
32280062   0.1250
32280063   0.1875

[3019 rows x 1 columns], df_name='cdi_hh', label='MOBILES', qtype='single', survey='hh', text='A derived, min-max scaled variable that represents the number of mobile phones in the household')
key=moz_MOBILESnamespace(country='moz', df=           MOBILES
22251317  0.090909
23135007  0.000000
22289638  0.000000
22103383  0.000000
22208086  0.090909
...            ...
22227757  0.181818
22551138  0.181818
23158719  0.090909
22007852  0.181818
22093406  0.181818

[2574 rows x 1 columns], df_name='moz_hh', label='MOBILES', qtype='single', survey='hh', text='A derived, min-max scaled variable that represents the number of mobile phones in the household')
key=nga_MOBILESnamespace(country='nga', df=           MOBILES
40177914  0.666667
40229734  0.666667
40239588  0.666667
40244738  0.000000
40252832  0.000000
...            ...
41076184  0.333333
41076185  0.333333
41076186  0.333333
41076187  0.333333
41076188  0.333333

[3026 rows x 1 columns], df_name='nga_hh', label='MOBILES', qtype='single', survey='hh', text='A derived, min-max scaled variable that represents the number of mobile phones in the household')
key=tan_MOBILESnamespace(country='tan', df=           MOBILES
28986883  0.090909
29244866  0.000000
29198985  0.090909
29555590  0.000000
29010663  0.272727
...            ...
28753779  0.181818
28986832  0.000000
29137010  0.000000
29348455  0.090909
29444692  0.000000

[2993 rows x 1 columns], df_name='tan_hh', label='MOBILES', qtype='single', survey='hh', text='A derived, min-max scaled variable that represents the number of mobile phones in the household')
key=uga_MOBILESnamespace(country='uga', df=           MOBILES
22678091  0.266667
22678446  0.133333
22678802  0.333333
22678927  0.200000
22679052  0.066667
...            ...
23500842  0.000000
23620542  0.400000
23620647  0.066667
23620678  0.066667
23620722  0.066667

[2870 rows x 1 columns], df_name='uga_hh', label='MOBILES', qtype='single', survey='hh', text='A derived, min-max scaled variable that represents the number of mobile phones in the household')
key=bgd_MOBILES_Bnamespace(country='bgd', df=        MOBILES_B
1             2.0
2             4.0
3             2.0
4             1.0
5             2.0
...           ...
800129        1.0
800130        1.0
800131        1.0
800132        1.0
800133        1.0

[3154 rows x 1 columns], df_name='bgd_hh', label='MOBILES_B', qtype='single', survey='hh', text='A binned version of MOBILES')
key=cdi_MOBILES_Bnamespace(country='cdi', df=          MOBILES_B
31028570          1
31028571          1
31036603          1
31038817          1
31040474          1
...             ...
32261521          2
32261522          2
32261524          1
32280062          1
32280063          1

[3019 rows x 1 columns], df_name='cdi_hh', label='MOBILES_B', qtype='single', survey='hh', text='A binned version of MOBILES')
key=moz_MOBILES_Bnamespace(country='moz', df=          MOBILES_B
22251317          1
23135007          1
22289638          1
22103383          1
22208086          1
...             ...
22227757          1
22551138          1
23158719          1
22007852          1
22093406          1

[2574 rows x 1 columns], df_name='moz_hh', label='MOBILES_B', qtype='single', survey='hh', text='A binned version of MOBILES')
key=nga_MOBILES_Bnamespace(country='nga', df=          MOBILES_B
40177914          3
40229734          3
40239588          3
40244738          1
40252832          1
...             ...
41076184          2
41076185          2
41076186          2
41076187          2
41076188          2

[3026 rows x 1 columns], df_name='nga_hh', label='MOBILES_B', qtype='single', survey='hh', text='A binned version of MOBILES')
key=tan_MOBILES_Bnamespace(country='tan', df=          MOBILES_B
28986883        1.0
29244866        1.0
29198985        1.0
29555590        1.0
29010663        2.0
...             ...
28753779        1.0
28986832        1.0
29137010        1.0
29348455        1.0
29444692        1.0

[2993 rows x 1 columns], df_name='tan_hh', label='MOBILES_B', qtype='single', survey='hh', text='A binned version of MOBILES')
key=uga_MOBILES_Bnamespace(country='uga', df=          MOBILES_B
22678091          2
22678446          1
22678802          2
22678927          1
22679052          1
...             ...
23500842          1
23620542          2
23620647          1
23620678          1
23620722          1

[2870 rows x 1 columns], df_name='uga_hh', label='MOBILES_B', qtype='single', survey='hh', text='A binned version of MOBILES')
key=bgd_HOUSING0namespace(country='bgd', df=        HOUSING0
1            1.0
2            1.0
3            0.5
4            0.5
5            0.5
...          ...
800129       0.5
800130       0.5
800131       0.5
800132       0.0
800133       0.5

[3154 rows x 1 columns], df_name='bgd_hh', label='HOUSING0', qtype='single', survey='hh', text='A derived, min-max scaled variable the quality of house construction materials')
key=cdi_HOUSING0namespace(country='cdi', df=          HOUSING0
31028570       1.0
31028571       0.5
31036603       0.5
31038817       0.0
31040474       0.5
...            ...
32261521       0.0
32261522       0.5
32261524       0.0
32280062       0.0
32280063       0.5

[3019 rows x 1 columns], df_name='cdi_hh', label='HOUSING0', qtype='single', survey='hh', text='A derived, min-max scaled variable the quality of house construction materials')
key=moz_HOUSING0namespace(country='moz', df=          HOUSING0
22251317       0.0
23135007       0.0
22289638       0.0
22103383       0.0
22208086       0.0
...            ...
22227757       1.0
22551138       0.5
23158719       1.0
22007852       1.0
22093406       1.0

[2574 rows x 1 columns], df_name='moz_hh', label='HOUSING0', qtype='single', survey='hh', text='A derived, min-max scaled variable the quality of house construction materials')
key=nga_HOUSING0namespace(country='nga', df=          HOUSING0
40177914         1
40229734         1
40239588         0
40244738         1
40252832         1
...            ...
41076184         1
41076185         1
41076186         1
41076187         1
41076188         1

[3026 rows x 1 columns], df_name='nga_hh', label='HOUSING0', qtype='single', survey='hh', text='A derived, min-max scaled variable the quality of house construction materials')
key=tan_HOUSING0namespace(country='tan', df=          HOUSING0
28986883      0.50
29244866      0.25
29198985      1.00
29555590      1.00
29010663      0.50
...            ...
28753779      1.00
28986832      0.50
29137010      0.50
29348455      1.00
29444692      0.50

[2993 rows x 1 columns], df_name='tan_hh', label='HOUSING0', qtype='single', survey='hh', text='A derived, min-max scaled variable the quality of house construction materials')
key=uga_HOUSING0namespace(country='uga', df=          HOUSING0
22678091       1.0
22678446       0.0
22678802       0.5
22678927       1.0
22679052       0.5
...            ...
23500842       0.5
23620542       1.0
23620647       1.0
23620678       0.5
23620722       0.0

[2870 rows x 1 columns], df_name='uga_hh', label='HOUSING0', qtype='single', survey='hh', text='A derived, min-max scaled variable the quality of house construction materials')
key=bgd_HOUSING1namespace(country='bgd', df=        HOUSING1
1            1.0
2            1.0
3            0.5
4            0.5
5            0.5
...          ...
800129       0.5
800130       0.5
800131       0.5
800132       0.0
800133       0.5

[3154 rows x 1 columns], df_name='bgd_hh', label='HOUSING1', qtype='single', survey='hh', text='A derived, min-max scaled variable that includes water, toilet and energy in assessing the quality of the house')
key=cdi_HOUSING1namespace(country='cdi', df=          HOUSING1
31028570  0.815789
31028571  0.421053
31036603  0.684211
31038817  0.105263
31040474  0.605263
...            ...
32261521  0.000000
32261522  0.131579
32261524  0.000000
32280062  0.368421
32280063  0.500000

[3019 rows x 1 columns], df_name='cdi_hh', label='HOUSING1', qtype='single', survey='hh', text='A derived, min-max scaled variable that includes water, toilet and energy in assessing the quality of the house')
key=moz_HOUSING1namespace(country='moz', df=          HOUSING1
22251317     0.000
23135007     0.000
22289638       NaN
22103383     0.125
22208086     0.000
...            ...
22227757     1.000
22551138     0.750
23158719     0.875
22007852     1.000
22093406     1.000

[2574 rows x 1 columns], df_name='moz_hh', label='HOUSING1', qtype='single', survey='hh', text='A derived, min-max scaled variable that includes water, toilet and energy in assessing the quality of the house')
key=nga_HOUSING1namespace(country='nga', df=          HOUSING1
40177914  0.333333
40229734  0.888889
40239588  0.333333
40244738  0.666667
40252832  0.888889
...            ...
41076184  0.777778
41076185  0.888889
41076186  0.555556
41076187  0.555556
41076188  0.888889

[3026 rows x 1 columns], df_name='nga_hh', label='HOUSING1', qtype='single', survey='hh', text='A derived, min-max scaled variable that includes water, toilet and energy in assessing the quality of the house')
key=tan_HOUSING1namespace(country='tan', df=          HOUSING1
28986883      0.50
29244866      0.25
29198985      1.00
29555590      1.00
29010663      0.50
...            ...
28753779      1.00
28986832      0.50
29137010      0.50
29348455      1.00
29444692      0.50

[2993 rows x 1 columns], df_name='tan_hh', label='HOUSING1', qtype='single', survey='hh', text='A derived, min-max scaled variable that includes water, toilet and energy in assessing the quality of the house')
key=uga_HOUSING1namespace(country='uga', df=          HOUSING1
22678091  1.000000
22678446  0.000000
22678802  0.666667
22678927  1.000000
22679052  0.333333
...            ...
23500842  0.333333
23620542  1.000000
23620647  1.000000
23620678  0.333333
23620722  0.000000

[2870 rows x 1 columns], df_name='uga_hh', label='HOUSING1', qtype='single', survey='hh', text='A derived, min-max scaled variable that includes water, toilet and energy in assessing the quality of the house')
key=bgd_HOUSING1_Bnamespace(country='bgd', df=        HOUSING1_B
1                4
2                4
3                2
4                2
5                2
...            ...
800129           2
800130           2
800131           2
800132           1
800133           2

[3154 rows x 1 columns], df_name='bgd_hh', label='HOUSING1_B', qtype='single', survey='hh', text='A binned version of HOUSING1')
key=cdi_HOUSING1_Bnamespace(country='cdi', df=          HOUSING1_B
31028570         4.0
31028571         2.0
31036603         3.0
31038817         1.0
31040474         3.0
...              ...
32261521         1.0
32261522         1.0
32261524         1.0
32280062         2.0
32280063         2.0

[3019 rows x 1 columns], df_name='cdi_hh', label='HOUSING1_B', qtype='single', survey='hh', text='A binned version of HOUSING1')
key=moz_HOUSING1_Bnamespace(country='moz', df=          HOUSING1_B
22251317         1.0
23135007         1.0
22289638         NaN
22103383         1.0
22208086         1.0
...              ...
22227757         4.0
22551138         3.0
23158719         4.0
22007852         4.0
22093406         4.0

[2574 rows x 1 columns], df_name='moz_hh', label='HOUSING1_B', qtype='single', survey='hh', text='A binned version of HOUSING1')
key=nga_HOUSING1_Bnamespace(country='nga', df=          HOUSING1_B
40177914           2
40229734           4
40239588           2
40244738           3
40252832           4
...              ...
41076184           4
41076185           4
41076186           3
41076187           3
41076188           4

[3026 rows x 1 columns], df_name='nga_hh', label='HOUSING1_B', qtype='single', survey='hh', text='A binned version of HOUSING1')
key=tan_HOUSING1_Bnamespace(country='tan', df=          HOUSING1_B
28986883           2
29244866           1
29198985           4
29555590           4
29010663           2
...              ...
28753779           4
28986832           2
29137010           2
29348455           4
29444692           2

[2993 rows x 1 columns], df_name='tan_hh', label='HOUSING1_B', qtype='single', survey='hh', text='A binned version of HOUSING1')
key=uga_HOUSING1_Bnamespace(country='uga', df=          HOUSING1_B
22678091           4
22678446           1
22678802           3
22678927           4
22679052           2
...              ...
23500842           2
23620542           4
23620647           4
23620678           2
23620722           1

[2870 rows x 1 columns], df_name='uga_hh', label='HOUSING1_B', qtype='single', survey='hh', text='A binned version of HOUSING1')
key=bgd_POSSESS0namespace(country='bgd', df=        POSSESS0
1           0.50
2           0.50
3           0.50
4           0.50
5           1.00
...          ...
800129      0.50
800130      0.50
800131      0.75
800132      0.50
800133      1.00

[3154 rows x 1 columns], df_name='bgd_hh', label='POSSESS0', qtype='single', survey='hh', text='A derived, min-max scaled variable that combines questions about household possessions; an index of modest affluence.')
key=cdi_POSSESS0namespace(country='cdi', df=          POSSESS0
31028570      0.00
31028571      0.25
31036603      0.50
31038817      0.00
31040474      0.75
...            ...
32261521      0.00
32261522      0.00
32261524      0.00
32280062      0.50
32280063      0.50

[3019 rows x 1 columns], df_name='cdi_hh', label='POSSESS0', qtype='single', survey='hh', text='A derived, min-max scaled variable that combines questions about household possessions; an index of modest affluence.')
key=moz_POSSESS0namespace(country='moz', df=          POSSESS0
22251317      0.00
23135007      0.00
22289638      0.00
22103383      0.00
22208086      0.25
...            ...
22227757      1.00
22551138      1.00
23158719      1.00
22007852      1.00
22093406      1.00

[2574 rows x 1 columns], df_name='moz_hh', label='POSSESS0', qtype='single', survey='hh', text='A derived, min-max scaled variable that combines questions about household possessions; an index of modest affluence.')
key=nga_POSSESS0namespace(country='nga', df=          POSSESS0
40177914  0.166667
40229734  0.166667
40239588  0.333333
40244738  0.666667
40252832  0.833333
...            ...
41076184  0.166667
41076185  1.000000
41076186  0.166667
41076187  0.166667
41076188  0.666667

[3026 rows x 1 columns], df_name='nga_hh', label='POSSESS0', qtype='single', survey='hh', text='A derived, min-max scaled variable that combines questions about household possessions; an index of modest affluence.')
key=tan_POSSESS0namespace(country='tan', df=          POSSESS0
28986883  0.333333
29244866  0.833333
29198985  0.833333
29555590  0.250000
29010663  0.500000
...            ...
28753779  0.333333
28986832  0.500000
29137010  0.333333
29348455  0.083333
29444692  0.000000

[2993 rows x 1 columns], df_name='tan_hh', label='POSSESS0', qtype='single', survey='hh', text='A derived, min-max scaled variable that combines questions about household possessions; an index of modest affluence.')
key=uga_POSSESS0namespace(country='uga', df=          POSSESS0
22678091       1.0
22678446       1.0
22678802       1.0
22678927       0.5
22679052       0.5
...            ...
23500842       0.5
23620542       1.0
23620647       1.0
23620678       1.0
23620722       1.0

[2870 rows x 1 columns], df_name='uga_hh', label='POSSESS0', qtype='single', survey='hh', text='A derived, min-max scaled variable that combines questions about household possessions; an index of modest affluence.')

key=bgd_POSSESS1namespace(country='bgd', df=        POSSESS1
1       0.333333
2       0.666667
3       0.666667
4       0.333333
5       0.666667
...          ...
800129  0.333333
800130  0.333333
800131  0.500000
800132  0.333333
800133  0.666667

[3154 rows x 1 columns], df_name='bgd_hh', label='POSSESS1', qtype='single', survey='hh', text='A version of POSSESS that includes bicycles, scooters and cars')
key=cdi_POSSESS1namespace(country='cdi', df=          POSSESS1
31028570      0.00
31028571      0.25
31036603      0.50
31038817      0.00
31040474      0.75
...            ...
32261521      0.00
32261522      0.00
32261524      0.00
32280062      0.50
32280063      0.50

[3019 rows x 1 columns], df_name='cdi_hh', label='POSSESS1', qtype='single', survey='hh', text='A version of POSSESS that includes bicycles, scooters and cars')
key=moz_POSSESS1namespace(country='moz', df=          POSSESS1
22251317       0.0
23135007       0.0
22289638       0.0
22103383       0.0
22208086       0.2
...            ...
22227757       1.0
22551138       1.0
23158719       1.0
22007852       1.0
22093406       1.0

[2574 rows x 1 columns], df_name='moz_hh', label='POSSESS1', qtype='single', survey='hh', text='A version of POSSESS that includes bicycles, scooters and cars')
key=nga_POSSESS1namespace(country='nga', df=          POSSESS1
40177914  0.111111
40229734  0.277778
40239588  0.222222
40244738  0.444444
40252832  0.555556
...            ...
41076184  0.444444
41076185  0.666667
41076186  0.277778
41076187  0.277778
41076188  0.611111

[3026 rows x 1 columns], df_name='nga_hh', label='POSSESS1', qtype='single', survey='hh', text='A version of POSSESS that includes bicycles, scooters and cars')
key=tan_POSSESS1namespace(country='tan', df=          POSSESS1
28986883  0.366667
29244866  0.766667
29198985  0.766667
29555590  0.200000
29010663  0.400000
...            ...
28753779  0.266667
28986832  0.400000
29137010  0.266667
29348455  0.166667
29444692  0.000000

[2993 rows x 1 columns], df_name='tan_hh', label='POSSESS1', qtype='single', survey='hh', text='A version of POSSESS that includes bicycles, scooters and cars')
key=uga_POSSESS1namespace(country='uga', df=          POSSESS1
22678091       1.0
22678446       1.0
22678802       1.0
22678927       0.5
22679052       0.5
...            ...
23500842       0.5
23620542       1.0
23620647       1.0
23620678       1.0
23620722       1.0

[2870 rows x 1 columns], df_name='uga_hh', label='POSSESS1', qtype='single', survey='hh', text='A version of POSSESS that includes bicycles, scooters and cars')
key=bgd_POSSESS1_Bnamespace(country='bgd', df=        POSSESS1_B
1                2
2                4
3                4
4                2
5                4
...            ...
800129           2
800130           2
800131           3
800132           2
800133           4

[3154 rows x 1 columns], df_name='bgd_hh', label='POSSESS1_B', qtype='single', survey='hh', text='A binned version of POSSESS1')
key=cdi_POSSESS1_Bnamespace(country='cdi', df=          POSSESS1_B
31028570           1
31028571           2
31036603           3
31038817           1
31040474           4
...              ...
32261521           1
32261522           1
32261524           1
32280062           3
32280063           3

[3019 rows x 1 columns], df_name='cdi_hh', label='POSSESS1_B', qtype='single', survey='hh', text='A binned version of POSSESS1')
key=moz_POSSESS1_Bnamespace(country='moz', df=          POSSESS1_B
22251317           1
23135007           1
22289638           1
22103383           1
22208086           1
...              ...
22227757           5
22551138           5
23158719           5
22007852           5
22093406           5

[2574 rows x 1 columns], df_name='moz_hh', label='POSSESS1_B', qtype='single', survey='hh', text='A binned version of POSSESS1')
key=nga_POSSESS1_Bnamespace(country='nga', df=          POSSESS1_B
40177914           1
40229734           2
40239588           2
40244738           3
40252832           3
...              ...
41076184           3
41076185           4
41076186           2
41076187           2
41076188           4

[3026 rows x 1 columns], df_name='nga_hh', label='POSSESS1_B', qtype='single', survey='hh', text='A binned version of POSSESS1')
key=tan_POSSESS1_Bnamespace(country='tan', df=          POSSESS1_B
28986883           2
29244866           4
29198985           4
29555590           1
29010663           2
...              ...
28753779           2
28986832           2
29137010           2
29348455           1
29444692           1

[2993 rows x 1 columns], df_name='tan_hh', label='POSSESS1_B', qtype='single', survey='hh', text='A binned version of POSSESS1')
key=uga_POSSESS1_Bnamespace(country='uga', df=          POSSESS1_B
22678091           5
22678446           5
22678802           5
22678927           3
22679052           3
...              ...
23500842           3
23620542           5
23620647           5
23620678           5
23620722           5

[2870 rows x 1 columns], df_name='uga_hh', label='POSSESS1_B', qtype='single', survey='hh', text='A binned version of POSSESS1')
key=bgd_D8_MAXnamespace(country='bgd', df=        D8_MAX
1          5.0
2          7.0
3          9.0
4          5.0
5          7.0
...        ...
800129     3.0
800130     5.0
800131     5.0
800132     7.0
800133     5.0

[3154 rows x 1 columns], df_name='bgd_hh', label='D8_MAX', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The education level of the most educated person in the household')
key=cdi_D8_MAXnamespace(country='cdi', df=          D8_MAX
31028570    10.0
31028571     7.0
31036603     5.0
31038817     NaN
31040474     5.0
...          ...
32261521     2.0
32261522     2.0
32261524     NaN
32280062     NaN
32280063     5.0

[3019 rows x 1 columns], df_name='cdi_hh', label='D8_MAX', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The education level of the most educated person in the household')
key=moz_D8_MAXnamespace(country='moz', df=          D8_MAX
22251317     2.0
23135007     5.0
22289638     2.0
22103383     2.0
22208086     2.0
...          ...
22227757     5.0
22551138     5.0
23158719     NaN
22007852     9.0
22093406     5.0

[2574 rows x 1 columns], df_name='moz_hh', label='D8_MAX', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The education level of the most educated person in the household')
key=nga_D8_MAXnamespace(country='nga', df=          D8_MAX
40177914     5.0
40229734     3.0
40239588     5.0
40244738     5.0
40252832     7.0
...          ...
41076184     8.0
41076185     5.0
41076186     8.0
41076187     8.0
41076188    10.0

[3026 rows x 1 columns], df_name='nga_hh', label='D8_MAX', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The education level of the most educated person in the household')
key=tan_D8_MAXnamespace(country='tan', df=          D8_MAX
28986883     5.0
29244866     2.0
29198985     2.0
29555590     NaN
29010663     5.0
...          ...
28753779    10.0
28986832     3.0
29137010     3.0
29348455     5.0
29444692     2.0

[2993 rows x 1 columns], df_name='tan_hh', label='D8_MAX', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The education level of the most educated person in the household')
key=uga_D8_MAXnamespace(country='uga', df=          D8_MAX
22678091    11.0
22678446     7.0
22678802     9.0
22678927     7.0
22679052     3.0
...          ...
23500842     7.0
23620542    11.0
23620647     8.0
23620678     5.0
23620722     5.0

[2870 rows x 1 columns], df_name='uga_hh', label='D8_MAX', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The education level of the most educated person in the household')
key=bgd_D8_MEANnamespace(country='bgd', df=         D8_MEAN
1       2.750000
2       6.125000
3       6.000000
4       4.000000
5       4.857143
...          ...
800129  3.000000
800130  3.000000
800131  4.000000
800132  4.200000
800133  3.000000

[3154 rows x 1 columns], df_name='bgd_hh', label='D8_MEAN', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The average education level in the household')
key=cdi_D8_MEANnamespace(country='cdi', df=           D8_MEAN
31028570  4.666667
31028571  3.500000
31036603  4.600000
31038817       NaN
31040474  3.500000
...            ...
32261521  2.000000
32261522  2.000000
32261524       NaN
32280062       NaN
32280063  3.500000

[3019 rows x 1 columns], df_name='cdi_hh', label='D8_MEAN', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The average education level in the household')
key=moz_D8_MEANnamespace(country='moz', df=          D8_MEAN
22251317      2.0
23135007      2.5
22289638      2.0
22103383      2.0
22208086      2.0
...           ...
22227757      5.0
22551138      3.5
23158719      NaN
22007852      7.0
22093406      5.0

[2574 rows x 1 columns], df_name='moz_hh', label='D8_MEAN', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The average education level in the household')
key=nga_D8_MEANnamespace(country='nga', df=           D8_MEAN
40177914  3.000000
40229734  2.333333
40239588  3.000000
40244738  3.500000
40252832  5.333333
...            ...
41076184  6.000000
41076185  5.000000
41076186  6.500000
41076187  8.000000
41076188  9.250000

[3026 rows x 1 columns], df_name='nga_hh', label='D8_MEAN', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The average education level in the household')
key=tan_D8_MEANnamespace(country='tan', df=          D8_MEAN
28986883      4.0
29244866      2.0
29198985      2.0
29555590      NaN
29010663      3.5
...           ...
28753779      4.0
28986832      3.0
29137010      3.0
29348455      3.0
29444692      2.0

[2993 rows x 1 columns], df_name='tan_hh', label='D8_MEAN', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The average education level in the household')

key=uga_D8_MEANnamespace(country='uga', df=            D8_MEAN
22678091  10.250000
22678446   7.000000
22678802   7.285714
22678927   7.000000
22679052   3.000000
...             ...
23500842   4.200000
23620542   6.916667
23620647   6.000000
23620678   4.000000
23620722   4.000000

[2870 rows x 1 columns], df_name='uga_hh', label='D8_MEAN', note='Education levels have already been rescaled to make them comparable across countries', qtype='single', survey='hh', text='The average education level in the household')
key=bgd_NUM_KIDSnamespace(country='bgd', df=        NUM_KIDS
1              0
2              2
3              0
4              0
5              3
...          ...
800129         0
800130         1
800131         2
800132         3
800133         1

[3154 rows x 1 columns], df_name='bgd_hh', label='NUM_KIDS', qtype='single', survey='hh', text='The number of household members with age <= 15')
key=cdi_NUM_KIDSnamespace(country='cdi', df=          NUM_KIDS
31028570         1
31028571         3
31036603         1
31038817         2
31040474         2
...            ...
32261521         0
32261522         6
32261524         1
32280062         2
32280063         2

[3019 rows x 1 columns], df_name='cdi_hh', label='NUM_KIDS', qtype='single', survey='hh', text='The number of household members with age <= 15')
key=moz_NUM_KIDSnamespace(country='moz', df=          NUM_KIDS
22251317         4
23135007         4
22289638         5
22103383         7
22208086         4
...            ...
22227757         1
22551138         0
23158719         0
22007852         0
22093406         0

[2574 rows x 1 columns], df_name='moz_hh', label='NUM_KIDS', qtype='single', survey='hh', text='The number of household members with age <= 15')
key=nga_NUM_KIDSnamespace(country='nga', df=          NUM_KIDS
40177914         2
40229734         1
40239588         4
40244738         2
40252832         3
...            ...
41076184         0
41076185         1
41076186         1
41076187         0
41076188         0

[3026 rows x 1 columns], df_name='nga_hh', label='NUM_KIDS', qtype='single', survey='hh', text='The number of household members with age <= 15')
key=tan_NUM_KIDSnamespace(country='tan', df=          NUM_KIDS
28986883         4
29244866         1
29198985         0
29555590         0
29010663         2
...            ...
28753779         0
28986832         2
29137010         0
29348455         6
29444692         2

[2993 rows x 1 columns], df_name='tan_hh', label='NUM_KIDS', qtype='single', survey='hh', text='The number of household members with age <= 15')
key=uga_NUM_KIDSnamespace(country='uga', df=          NUM_KIDS
22678091         1
22678446         2
22678802         1
22678927         1
22679052         0
...            ...
23500842         6
23620542         8
23620647         1
23620678         1
23620722         2

[2870 rows x 1 columns], df_name='uga_hh', label='NUM_KIDS', qtype='single', survey='hh', text='The number of household members with age <= 15')
key=bgd_NUM_ADULTSnamespace(country='bgd', df=        NUM_ADULTS
1                4
2                7
3                3
4                3
5                4
...            ...
800129           2
800130           3
800131           2
800132           3
800133           5

[3154 rows x 1 columns], df_name='bgd_hh', label='NUM_ADULTS', qtype='single', survey='hh', text='The number of household members with age > 15')
key=cdi_NUM_ADULTSnamespace(country='cdi', df=          NUM_ADULTS
31028570           2
31028571           2
31036603           5
31038817           2
31040474           1
...              ...
32261521           3
32261522           5
32261524           2
32280062           2
32280063           2

[3019 rows x 1 columns], df_name='cdi_hh', label='NUM_ADULTS', qtype='single', survey='hh', text='The number of household members with age > 15')
key=moz_NUM_ADULTSnamespace(country='moz', df=          NUM_ADULTS
22251317           3
23135007           3
22289638           2
22103383           2
22208086           3
...              ...
22227757           2
22551138           2
23158719           1
22007852           2
22093406           2

[2574 rows x 1 columns], df_name='moz_hh', label='NUM_ADULTS', qtype='single', survey='hh', text='The number of household members with age > 15')
key=nga_NUM_ADULTSnamespace(country='nga', df=          NUM_ADULTS
40177914           1
40229734           2
40239588           2
40244738           2
40252832           2
...              ...
41076184           3
41076185           2
41076186           1
41076187           1
41076188           4

[3026 rows x 1 columns], df_name='nga_hh', label='NUM_ADULTS', qtype='single', survey='hh', text='The number of household members with age > 15')
key=tan_NUM_ADULTSnamespace(country='tan', df=          NUM_ADULTS
28986883           5
29244866           2
29198985           2
29555590           2
29010663           4
...              ...
28753779           6
28986832           2
29137010           2
29348455           1
29444692           1

[2993 rows x 1 columns], df_name='tan_hh', label='NUM_ADULTS', qtype='single', survey='hh', text='The number of household members with age > 15')
key=uga_NUM_ADULTSnamespace(country='uga', df=          NUM_ADULTS
22678091           4
22678446           2
22678802           6
22678927           2
22679052           1
...              ...
23500842           3
23620542           6
23620647           4
23620678           2
23620722           4

[2870 rows x 1 columns], df_name='uga_hh', label='NUM_ADULTS', qtype='single', survey='hh', text='The number of household members with age > 15')
key=bgd_PPI_CUTOFFnamespace(answers={'above_poverty_line': 0, 'below_poverty_line': 1}, country='bgd', df=        PPI_CUTOFF
1                0
2                0
3                0
4                1
5                1
...            ...
800129           1
800130           1
800131           1
800132           1
800133           1

[3154 rows x 1 columns], df_name='bgd_hh', label='PPI_CUTOFF', qtype='single', survey='hh', text='Whether the household is above or below the poverty line')
key=cdi_PPI_CUTOFFnamespace(answers={'above_poverty_line': 0, 'below_poverty_line': 1}, country='cdi', df=          PPI_CUTOFF
31028570           0
31028571           1
31036603           0
31038817           1
31040474           0
...              ...
32261521           1
32261522           1
32261524           1
32280062           0
32280063           0

[3019 rows x 1 columns], df_name='cdi_hh', label='PPI_CUTOFF', qtype='single', survey='hh', text='Whether the household is above or below the poverty line')
key=moz_PPI_CUTOFFnamespace(answers={'above_poverty_line': 0, 'below_poverty_line': 1}, country='moz', df=          PPI_CUTOFF
22251317           1
23135007           1
22289638           1
22103383           1
22208086           1
...              ...
22227757           0
22551138           0
23158719           0
22007852           0
22093406           0

[2574 rows x 1 columns], df_name='moz_hh', label='PPI_CUTOFF', qtype='single', survey='hh', text='Whether the household is above or below the poverty line')
key=nga_PPI_CUTOFFnamespace(answers={'above_poverty_line': 0, 'below_poverty_line': 1}, country='nga', df=          PPI_CUTOFF
40177914           0
40229734           0
40239588           0
40244738           1
40252832           1
...              ...
41076184           0
41076185           0
41076186           0
41076187           0
41076188           1

[3026 rows x 1 columns], df_name='nga_hh', label='PPI_CUTOFF', qtype='single', survey='hh', text='Whether the household is above or below the poverty line')
key=tan_PPI_CUTOFFnamespace(answers={'above_poverty_line': 0, 'below_poverty_line': 1}, country='tan', df=          PPI_CUTOFF
28986883           1
29244866           1
29198985           0
29555590           1
29010663           1
...              ...
28753779           0
28986832           1
29137010           1
29348455           1
29444692           1

[2993 rows x 1 columns], df_name='tan_hh', label='PPI_CUTOFF', qtype='single', survey='hh', text='Whether the household is above or below the poverty line')
key=uga_PPI_CUTOFFnamespace(answers={'above_poverty_line': 0, 'below_poverty_line': 1}, country='uga', df=          PPI_CUTOFF
22678091           0
22678446           1
22678802           0
22678927           0
22679052           0
...              ...
23500842           1
23620542           0
23620647           0
23620678           0
23620722           1

[2870 rows x 1 columns], df_name='uga_hh', label='PPI_CUTOFF', qtype='single', survey='hh', text='Whether the household is above or below the poverty line')

The syntax of data object identifiers is simply `country+'_'+label`. If you ask for, say, `Data.uga_A1`, you get all the metadata for question `A1` and also the data -- the answers in the Uganda survey to question `A1`:

In [21]:
#Data.uga_A1
for x in countries:
    print(len(Data.col(x,'A2')))

3136
3002
2462
2858
2812
2859

Question A1 asks "What is the form of ownership of your land?".  It is a single-answer question (`qtype = 'single'`) which means it expects a single answer that is coded as an integer between 1 and 5. The mapping from answers to integers is described in the `answers` dict. 

Look at question A1 in any User Guide and you'll see that the text strings in the `answers` dict are not identical with the actual answers in the User Guide, but are short mnemonics.

The other metadata fields are 

- `label`: the unique identifier of a question
- `country` : an identifier of the country from which the data is sourced
- `survey` : refers to intermediate data products (see data map, above).  
- `df` : a pandas dataframe that holds the data, itself.

We'll look at the `df` dataframes after I introduce single- and multiple-answer questions.

### CGAP_Decoded API ###

CGAP_Decoded objects have several methods for viewing data and meta-data and assembling dataframes from data objects.  For a CGAP_Decoded object called Data, these methods are:

- `decode(jstring)` : decodes a JSON string representation of data object(s)
- `read_and_decode(file)` : reads JSON from file and decodes it
- `by_name(name)` : convenience function to get a data object by its name; equivalent to Data.__dict__.get(name)
- `add_col(country, label, df, qtype = 'single', text = None, answers = None)` : adds a column to Data. This is used to add derived variables (e.g., a log transform of a variable, or cluster labels, etc.) See section on `add_col`, below. 
- `describe(label, country = 'bgd', display = True)` : prints a short text description of a variable given its label.  If display=False, this returns an f-string representation of the description.
- `col(country,label,*column)`: the workhorse method for assembling pandas dataframes from data objects. Given a country and a label, this returns a dataframe. The optional `*column` argument is for multi-answer questions; see below.
- `col_from_countries(var, countries)` : This assembles a dataframe for one variable from all the specified countries. var is either a label, alone, if the label denotes a single-answer question, or a (label, column_name) tuple if the label denotes a multi-answer question. For example, `col_from_countries(('A5','Rice'),['bgd','nga'])` assembles a dataframe of the `Rice` answer to question `A5` for Bangladesh and Nigeria.
- `cols_from_countries(*vars,countries)`: Assembles a dataframe for all the variables for all the countries. 


Most of these methods are described in some detail later in this Introduction.

### Countries don't always have the same answers to questions ###

One tricky aspect of the CGAP data is that a given question won't always have the same answers in different countries.  Here's a description of `A1` for Uganda:

In [6]:
Data.describe('A1','uga')

label : A1
 text : What is the form of ownership of your land?
 qtype : single
 survey : rr
 answers : {'lease_certificate': 1, 'customary_law': 2, 'communal': 3, 'state_ownership': 4, 'other': 5}

Bangladesh has an additional answer -- Kott -- which it codes as 5:

In [7]:
Data.describe('A1','bgd')

label : A1
 text : What is the form of ownership of your land?
 qtype : single
 survey : rr
 answers : {'lease_certificate': 1, 'customary_law': 2, 'communal': 3, 'state_ownership': 4, 'Kott': 5, 'other': 6}

So 5 means 'other' in Uganda's survey and 'Kott' in Bangladesh's.   Sometimes this variability in coding schemes is so extreme that it's worth recoding the individual country data to a inter-country scheme (crops and livestock are a good example, see below), but in most cases, like question `A1`, I have not tried to recode all answers to an inter-country scheme, so you should be attentive to the `answers` dict and the mapping of answers to numeric codes.

Sometimes, answers aren't recoded but simply recorded "as is", in which case there won't be an `answers` dict.  For example, question `A2` asks how much land is owned:

In [6]:
Data.describe('A2','bgd')

label : A2
 text : How many hectares of agricultural land do you own?
 qtype : single
 survey : rr
 answers : None

## Single- and multiple-answer questions ##

Attributes such as farm size or family size have just one answer per household, but attributes such as the crops grown by a household can have several values. There's no easy way to code multiple answers to one question in a single variable, so CGAP uses multiple variables to code the answers to multi-answer questions. We've seen examples of single-answer questions above, now let's look at multi-answer questions, such as `H17`, which asks how important it is to save money for various purposes:

In [7]:
Data.moz_H17

namespace(qtype='multi',
          text=' In your opinion, how important is it for your household to save for each of the following?',
          label='H17',
          answers={'very_important': 1,
                   'somewhat_important': 2,
                   'not_important': 3},
          column_dict={'future_purchases': 1,
                       'unexpected_event': 2,
                       'regular_purchases': 3,
                       'school_fees': 4},
          country='moz',
          survey='sr',
          df_name='moz_sr',
          df=          future_purchases  unexpected_event  regular_purchases  school_fees
             21948170               1.0               1.0                1.0          1.0
             21948180               2.0               1.0                2.0          1.0
             21948779               1.0               1.0                1.0          1.0
             21951744               1.0               1.0                2.0          1.0
             21955646               3.0               2.0                1.0          1.0
             ...                    ...               ...                ...          ...
             23315711               NaN               NaN                NaN          NaN
             23324438               1.0               1.0                1.0          1.0
             23324440               NaN               NaN                NaN          NaN
             23324645               NaN               NaN                NaN          NaN
             23324649               1.0               2.0                1.0          1.0

             [2574 rows x 4 columns])

The Data object for `H17` for Mozambique has a field called `column_dict` that you won't see in single-answer Data objects, and the `df` field contains a multi-column pandas dataframe. Each of these columns contains numbers that encode the answers described in the `answers` dict; that is, 1, 2 or 3 depending on whether the answer is "very_important", "somewhat important" or "not important", respectively. 

Look at the first row of the dataframe:  It tells us that the survey respondent from the household with ID 21948170 thinks it is very important to save for all four kinds of expenses; whereas the second household thinls it is only somewhat important to save for future purchases and regular purchases.

The dataframe for a multi-answer question has one column per answer, and the names of the columns are the mnemonic strings in `column_dict`.  Thus, you can easily find out which farmers in Uganda grow tomatoes:

In [8]:
Data.moz_A5.df.Tomatoes

22552580    1.0
22487045    2.0
22159366    2.0
22790149    1.0
22790150    2.0
           ...
22757331    2.0
22552539    2.0
22200293    2.0
22102008    2.0
22167545    2.0
Name: Tomatoes, Length: 2462, dtype: float64

Let me break down this query: 

- `Data` is a namespace 
- `moz_A5` is a key into `Data.__dict__` that returns an object that represents question `A5` for Mozambique
- `df` is the field of the object that contains a pandas dataframe
- `Tomatoes` is a column in this dataframe

The df columns for multi-answer questions are always mnemonics for answers.  This is for two reasons:  It's easier for the user to ask for `df.Tomatoes` than, say, `df.A5_27`. More importantly, while `df.A5_27` contains data about tomato-growing in Mozambique, it contains data about growing sesame in Bangladesh and sugarcane in Tanzania.  These differences in coding have all been resolved behind the scenes.

You can get the same data using the `col` method, described below.

In [8]:
Data.col('moz','A5','Tomatoes')

22552580    1.0
22487045    2.0
22159366    2.0
22790149    1.0
22790150    2.0
           ...
22757331    2.0
22552539    2.0
22200293    2.0
22102008    2.0
22167545    2.0
Name: Tomatoes, Length: 2462, dtype: float64

## Household IDs and DataFrame Joins ##

You'll notice that the dataframes associated with Data objects have household ids as their indices.  For example, the first record in any Mozambique Data object can be obtained in the usual pandas way:

In [9]:
Data.moz_A5.df.loc[22552580]

Maize           2.0
Beans           2.0
Sweet_potato    2.0
Sorghum         2.0
Rice            2.0
Groundnuts      1.0
Cowpea          2.0
Millet          2.0
Cassava         1.0
Potato          2.0
Pigeon_pea      2.0
Banana          2.0
Coconut         2.0
Cotton          2.0
Sesame          2.0
Mango           2.0
Cashew          2.0
Sugarcane       2.0
Tobacco         2.0
Tea             2.0
Avocado         2.0
Cocoa           2.0
Sisal           2.0
Cloves          2.0
Coffee          2.0
Sunflower       2.0
Tomatoes        1.0
Onions          2.0
Other_1         2.0
Other_2         2.0
Other_3         2.0
No_crop         1.0
Name: 22552580, dtype: float64

This is answers to question `A5` for the household with `HHID` 22552580.  Similarly, here is the answer to the earlier question about farm size:

In [11]:
Data.moz_A2.df.loc[22552580]

A2    5.0
Name: 22552580, dtype: float64

Because Data object `df` indices are unique household IDs, it is straightforward to join `df`s:

In [12]:
x = Data.moz_A2.df.join(Data.moz_A5.df)
x

,A2,Maize,Beans,Sweet_potato,Sorghum,Rice,Groundnuts,Cowpea,Millet,Cassava,...,Sisal,Cloves,Coffee,Sunflower,Tomatoes,Onions,Other_1,Other_2,Other_3,No_crop
22552580,5.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0
22487045,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
22159366,0.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
22790149,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0
22790150,2.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22757331,2.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
22552539,2.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
22200293,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
22102008,2.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
22167545,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0

Here, the first column, `A2` is the answers to question `A2` and the rest of the dataframe is the answers to questions about crops.

## Country-specific Decoded objects ##

If you want to work with data from a specific country, you can make the notation even simpler by using the `Country_Decoded` subclass of `CGAP_Decoded` that's specific to a country:

In [13]:
bgd = Country_Decoded('bgd',Data)
cdi = Country_Decoded('cdi',Data)
moz = Country_Decoded('moz',Data)
nga = Country_Decoded('nga',Data)
tan = Country_Decoded('tan',Data)
uga = Country_Decoded('uga',Data)

Now you don't have to specify the country as a string:

In [14]:
print(Data.moz_A5.df.Rice.value_counts())

print(moz.A5.df.Rice.value_counts())

print(moz.col('A5','Rice').value_counts())

pd.concat([moz.col('A5','Rice'), moz.col('H28')],axis=1)

2.0    1712
1.0     619
Name: Rice, dtype: int64
2.0    1712
1.0     619
Name: Rice, dtype: int64
2.0    1712
1.0     619
Name: Rice, dtype: int64

          Rice  H28
21948170   2.0  1.0
21948180   2.0  3.0
21948779   2.0  2.0
21951744   2.0  2.0
21955646   2.0  2.0
...        ...  ...
23315711   2.0  NaN
23324438   2.0  2.0
23324440   1.0  NaN
23324645   NaN  NaN
23324649   1.0  3.0

[2574 rows x 2 columns]

## Manipulating data ##

This section introduces three methods of `CGAP_Decoded objects`.  The workhorse is `col`, which gets a column of data given a specification, if possible.  `col` takes a country as an argument, but sometimes you will want to get a column of data for one variable for some or all countries; for this, use `col_from_countries`.  To get columns of data for several variables over some or all countries, use `cols_from_countries`.  And be sure to read the warning at the end of this section!

### col ###

`col` is a `CGAP_Decoded` method that returns a pandas Series. It is there only for convenience, as it's easy to forget how to access columns, particularly those for single-answer questions. 

`Data.col('moz','A5','Rice')` is equivalent to `Data.moz_A5.df.Rice` 

`Data.col('moz','H28')` is equivalent to `Data.moz_H28.df.H28`

In [15]:
# single-answer question:
print (Data.col('moz','H28'))
print()

21948170    1.0
21948180    3.0
21948779    2.0
21951744    2.0
21955646    2.0
           ...
23315711    NaN
23324438    2.0
23324440    NaN
23324645    NaN
23324649    3.0
Name: H28, Length: 2574, dtype: float64

In [16]:
# multi-answer question:
print (Data.col('moz','A5','Rice'))
print()

22552580    2.0
22487045    2.0
22159366    2.0
22790149    2.0
22790150    2.0
           ...
22757331    2.0
22552539    2.0
22200293    2.0
22102008    2.0
22167545    2.0
Name: Rice, Length: 2462, dtype: float64

`col` will provide diagnostic messages and will return `None` when it can't find what you ask for:

In [17]:
# multi-answer question but the user doesn't know it
print(Data.col('moz','A5'))

moz_A5 is a multi-answer question; please specify an answer column.

Options are ['Maize', 'Beans', 'Sweet_potato', 'Sorghum', 'Rice', 'Groundnuts', 'Cowpea', 'Millet', 'Cassava', 'Potato', 'Pigeon_pea', 'Banana', 'Coconut', 'Cotton', 'Sesame', 'Mango', 'Cashew', 'Sugarcane', 'Tobacco', 'Tea', 'Avocado', 'Cocoa', 'Sisal', 'Cloves', 'Coffee', 'Sunflower', 'Tomatoes', 'Onions', 'Other_1', 'Other_2', 'Other_3', 'No_crop']
None

In [18]:
print(Data.col('moz','A6','Wheat'))

A6 is a single-answer question; ignoring Wheat
22552580     8.0
22487045     3.0
22159366    55.0
22790149     3.0
22790150     3.0
            ...
22757331     7.0
22552539     8.0
22200293     3.0
22102008     8.0
22167545     3.0
Name: A6, Length: 2462, dtype: float64

In [19]:
# moz doesn't list wheat as an answer to question A5
Data.col('moz','A5','Wheat') is None

moz_A5.Wheat does not exist

True

In [20]:
Data.col('moz','FooBarHaHaHa!') is None

moz_FooBarHaHaHa! does not exist

True

### col_from_countries ###

If you need to get the value of a variable for all countries, use `col_from_countries`.  Here are the values of variable `A6` for Bangladesh and Cote d'Ivoire:

In [21]:
Data.col_from_countries('A6',countries=['bgd','cdi'])

            A6
1          1.0
2          1.0
3          NaN
4          1.0
5          1.0
...        ...
31186932  41.0
31186933  41.0
31186934  41.0
31285239  43.0
31416319   1.0

[6138 rows x 1 columns]

That's pretty straightforward, but `A6` is a single-answer question.  What if you want the values over countries for a multi-answer question such as `A5`, which asks which crops are grown? Use a tuple of the question label and the name of the column that holds a particular answer:

In [22]:
Data.col_from_countries(('A5','Rice'),countries=['bgd','cdi'])

          Rice
1          1.0
2          1.0
3          NaN
4          1.0
5          1.0
...        ...
31186932   1.0
31186933   1.0
31186934   1.0
31285239   1.0
31416319   1.0

[6138 rows x 1 columns]

### cols_from_countries ###

That's fine for single variables, but what if you want a dataframe of one or more variables over several countries? The method `cols_from_countries` builds a dataframe from several variables that can represent single-answer or multiple-answer questions. For example, here are three variables -- number of hectares (A2), whether rice is grown (A5,Rice) and whether maize is grown (A5,Maize) and country for Tanzania and Uganda:

In [23]:
Data.cols_from_countries('A2',('A5','Rice'),('A5','Maize'),'COUNTRY', countries = ['tan','uga'])

                A2  Rice  Maize COUNTRY
22678091       NaN   2.0    1.0     uga
22678446  0.809717   2.0    1.0     uga
22678802  0.404858   2.0    2.0     uga
22678927       NaN   NaN    NaN     uga
22679052  3.000000   2.0    1.0     uga
...            ...   ...    ...     ...
29633312  1.214575   2.0    2.0     tan
29649585  0.607287   2.0    2.0     tan
29649586  0.607287   2.0    2.0     tan
29680313  1.214575   1.0    1.0     tan
29828751  0.809717   2.0    1.0     tan

[5863 rows x 4 columns]

### A warning about col_from_countries and cols_from_countries ###

You might recall that `col` tries to give you what you want, but when it can't, it prints a warning and returns `None`.  `col_from_countries` and `cols_from_countries` don't fail when they get `None` from `col`. Instead, they just don't include the countries you think you're getting:

In [24]:
wheat = Data.col_from_countries(('A5','Wheat'), countries = ['bgd','cdi','moz','nga','tan','moz'])

print(f"The dataframe includes {len(wheat)} records")

cdi_A5.Wheat does not exist
moz_A5.Wheat does not exist
tan_A5.Wheat does not exist
moz_A5.Wheat does not exist
The dataframe includes 5994 records

Instead of records from all the countries, you're getting only the 5994 records from the countries that grow wheat. You can think of this as a bug or a feature! A more troubling case arises when you ask for more than one variable:

In [25]:
wheat_and_rice = Data.cols_from_countries(('A5','Wheat'),('A5','Rice'), countries = ['bgd','cdi','moz','nga','tan','moz'])

print(f"The dataframe includes {len(wheat_and_rice)} records")
print(f"The Rice column includes {np.sum(np.isnan(wheat_and_rice['Rice']))} NaNs")
print(f"The Wheat column includes {np.sum(np.isnan(wheat_and_rice['Wheat']))} NaNs")

cdi_A5.Wheat does not exist
moz_A5.Wheat does not exist
tan_A5.Wheat does not exist
moz_A5.Wheat does not exist
The dataframe includes 16732 records
The Rice column includes 1026 NaNs
The Wheat column includes 11306 NaNs

What's happened here is that wheat isn't grown in four countries, so the records for households in those countries have NaNs for wheat.  It's the right thing to do, but be aware that it's happening!

## Other data manipulation ##

### Adding new data objects, temporarily ###

You can add new data objects to a CGAP_Decoded object with the `add_col` method.  Here's an example of adding a new variable derived from monthly income (`D21_LZ`) and monthly outgoings (`D19_LZ`):

In [26]:
for country in countries :
    diff = Data.col(country,'D21_LZ') - Data.col(country,'D19_LZ')
    Data.add_col (country = country, 
                  label = 'INCOME_DIFF', 
                  df = diff,
                  text = "Monthly income minus monthly outgoing",
                  qtype = 'single'
                 )

`text` and `answers` default to `None` and `qtype` defaults to `'single'`, so you can get away with specifying just the positional arguments `country`, `label` and `df`, as in:

In [27]:
# make a column of random numbers that's the same length as moz
randoms = np.random.random(len(Data.col('moz','H28')))

# positional arguments are country, label and df
Data.add_col ('moz', 'random_numbers', randoms)

print(Data.__dict__.get('moz_random_numbers'))

namespace(answer=None, country='moz', df=      random_numbers
0           0.077226
1           0.482234
2           0.584238
3           0.827122
4           0.573344
...              ...
2569        0.477449
2570        0.995842
2571        0.901037
2572        0.854165
2573        0.060126

[2574 rows x 1 columns], label='random_numbers', qtype='single', text=None)

Note that `add_col` is permissive about what kind of object is passed as `df`:  Anything that can be turned into a pandas dataframe, such as the numpy array `randoms` in the previous example, will work.

#### NOTE #### 

`add_col` adds a column temporarily to a CGAP_Decoded object such as `Data`.  At present there's no way to write out the addition permanently.  That's because I wrote the encoder in a way that's too specific to CGAP data.  It's a priority to fix this so that people can save derived variables for CGAP and Manobi data objects.

### Other odds and ends (unfinished) ###

Series can be concatenated, provided they have the same indexes:

In [28]:
df = pd.concat([
    Data.col('moz','A5','Rice'),
    Data.col('moz','H28'), # "col" version
    Data.moz_H28.df.H28,  # non="col" version: you have to say H28 twice
        ], axis=1)
df

          Rice  H28  H28
21948170   2.0  1.0  1.0
21948180   2.0  3.0  3.0
21948779   2.0  2.0  2.0
21951744   2.0  2.0  2.0
21955646   2.0  2.0  2.0
...        ...  ...  ...
23315711   2.0  NaN  NaN
23324438   2.0  2.0  2.0
23324440   1.0  NaN  NaN
23324645   NaN  NaN  NaN
23324649   1.0  3.0  3.0

[2574 rows x 3 columns]

Series can also be concatenated with dataframes:

In [29]:
df = pd.concat([
    Data.col('moz','A5','Rice'),
    Data.moz_A61.df
        ], axis=1)
df

,Rice,weather,pests_disease,accident,market_prices,input_prices,contract_broken,downturn_no_sale,equipment_breakdown,health
21948170,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21948180,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
21948779,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
21951744,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
21955646,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
23315711,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0
23324438,2.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0
23324440,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23324645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23324649,1.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,2.0

## Some illustrative data analysis (unfinished) ##



First let's look at the joint distribution of rice and other crops in Cote d'Ivoire:

In [30]:
x = pd.crosstab(Data.col('cdi','A5','Rice'),Data.col('cdi','A5','Groundnuts'),margins=True)
x

Groundnuts  1.0   2.0   All
Rice
1.0         562   870  1432
2.0         311  1169  1480
All         873  2039  2912

We can do the same for multiple countries:

In [31]:
df = Data.cols_from_countries(
    ('A5','Rice'),('A5','Maize'),
    countries = ['cdi','moz','nga']
)

pd.crosstab(df.Rice,df.Maize)

Maize   1.0   2.0
Rice
1.0    2088   612
2.0    3625  1655

This tells us -- among other things -- that growing rice and maize are not independent. For example, if you grow rice in cdi, moz or nga, then the conditional probability of _not_ growing maize is 612/(612+2088) = .23, whereas if you _don't_ grow rice then you probably _will_ grow maize: the conditional probability of growing maize given that you don't grow rice is 3625/(3625+1655)= .69.

Now for something a bit more challenging:  How do respondents generate income?  Question H6 is a single-answer question that asks about a respondent's primary job, while H2B asks about sources of income:

In [32]:
print(Data.bgd_H6.text)
print(Data.bgd_H6.answers)
print()
print(Data.bgd_H2B.text)
print(Data.bgd_H2B.answers)

What is your primary job (i.e., the job where you spend most of your time)?
{'farmer': 1, 'professional': 2, 'shop_owner': 3, 'business_owner': 4, 'laborer': 5, 'other': 6}

Which of these has been your main source of income in the last year?
{'regular_job': 1, 'occasional_job': 2, 'retail_business': 3, 'services_business': 4, 'grant_pension': 5, 'family_friends': 6, 'growing_crops': 7, 'rearing_livestock': 8, 'other': 9}

In [33]:
pd.crosstab(Data.col('bgd','H6'),Data.col('bgd','H2B'), normalize='index')

H2B,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0
H6,,,,,,,,,
1,0.020743,0.029908,0.036179,0.008201,0.004342,0.036662,0.721659,0.115774,0.026532
2,0.691176,0.044118,0.014706,0.073529,0.000000,0.014706,0.117647,0.014706,0.029412
3,0.023810,0.000000,0.500000,0.190476,0.023810,0.071429,0.071429,0.119048,0.000000
4,0.055944,0.017483,0.527972,0.139860,0.000000,0.017483,0.097902,0.132867,0.010490
5,0.208211,0.246334,0.017595,0.017595,0.000000,0.026393,0.164223,0.067449,0.252199
6,0.297735,0.048544,0.009709,0.045307,0.038835,0.158576,0.087379,0.135922,0.177994

So, in Bangladesh, among farmers (H6 == 1) the main sources of income are growing crops (71.6% of farmers) or raising livestock (11.4% of farmers).  Laborers (H6 == 5) have the most variable sources of income, with 20% saying they get income from a regular job (H2B ==1), 24% citing occasional work, 16% citing agriculture and 25% citing 'other' as a source of income. 

Fewer farmers in Mozambique (H6 == 1) get their income primarily from agriculture (only 45% do). Sixteen percent say they get their income primarily from occasional work (H2B == 2).

In [34]:
pd.crosstab(Data.col('moz','H6'),Data.col('moz','H2B'), normalize='index')

H2B,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0
H6,,,,,,,,,
1,0.037545,0.186532,0.030989,0.035161,0.041120,0.087008,0.510131,0.051847,0.019666
2,0.726415,0.094340,0.018868,0.028302,0.018868,0.009434,0.103774,0.000000,0.000000
3,0.176471,0.117647,0.294118,0.058824,0.000000,0.117647,0.117647,0.117647,0.000000
4,0.083333,0.116667,0.233333,0.305556,0.005556,0.038889,0.172222,0.022222,0.022222
5,0.607477,0.242991,0.009346,0.037383,0.000000,0.009346,0.065421,0.028037,0.000000
6,0.281437,0.299401,0.011976,0.071856,0.041916,0.065868,0.089820,0.035928,0.101796

The raw frequencies are instructive: Among 1870 farming households (76% of those surveyed in moz), 303 say their primary source of income is occasional work and 144 say it is family or friends (H2B == 7).  In fact, 49.7% of the farming households say their primary source of income is not either agriculture (H2B == 7) or raising livestock (H2B==8).  (Exercise for the reader: Contrast Mozambique with Nigeria.)

In [35]:
pd.crosstab(Data.col('moz','H6'),Data.col('moz','H2B'))

H2B  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0
H6
1     63  313   52   59   69  146  856   87   33
2     77   10    2    3    2    1   11    0    0
3      3    2    5    1    0    2    2    2    0
4     15   21   42   55    1    7   31    4    4
5     65   26    1    4    0    1    7    3    0
6     47   50    2   12    7   11   15    6   17

### Building a classifier with sklearn and data objects ###

The `cols_from_countries` method of CGAP_Decoded objects makes it easy to assemble dataframes for multiple variables for multiple countries. To illustrate, the following class defines a classifier for one or more countries:

In [36]:
import operator
import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score


class Country_Classifier ():
    def __init__(self,cgap_decoded_obj, countries, X, y, model_class, report = False):
        self.Data = cgap_decoded_obj
        self.X,  self.y = self.Xy_data(countries, X, y, report)
        self.model_class = model_class
        
    def Xy_data (self,countries,X,y, report):
        # make one table of X and y so indices remain aligned 
        # when we drop rows that contain NaNs
        Xy = self.Data.cols_from_countries(*X, y, countries= countries)
        n0 = len(Xy)
        
        # drop rows that contain NaNs
        Xy.dropna(axis=0,inplace=True)
        n1 = len(Xy)
        
        if report : print(f"{countries}:  Removed {n0-n1} rows, loss = {(n0-n1)/n0:.4f}\n")
        
        # reset the index of Xy
        Xy = Xy.reset_index(drop=True)
        
        # return X and y as separate dataframes. If y denotes a column for a 
        # multi-answer then it will be a tuple and the column to drop is the 
        # second value in the tuple
        
        if type(y) in [tuple,list]:
            return Xy.drop(y[1],axis=1) , Xy[y[1]]
        else:
            return Xy.drop(y,axis=1) , Xy[y]
    
    def train_model (self):
        self.model = self.model_class.fit(self.X,self.y) 
        
    def score (self, X = None, y = None):
        """ Returns the model score when tested with X and y.  If these are None
        then the default is X = self.X, y = self.y. However, X and y can be new
        data (e.g., from out of sample) """
        X0 = self.X if X is None else X
        y0 = self.y if y is None else y
        return self.model.score(X0,y0)
    
    def cv_score (self, X = None, y = None, k = 5):
        """ Returns the k-fold cross_validated model score when tested with 
        X and y; also returns the scores themselves.  If X and y are None then 
        the default is X = self.X, y = self.y. """
        X0 = self.X if X is None else X
        y0 = self.y if y is None else y
        cv_scores = cross_val_score(self.model, X0, y0, cv=k)
        return np.mean(cv_scores), cv_scores
    
    def majority_class (self, y = None):
        """ Returns the majority class probability for y and the majority class 
        label.  If y is None then the default is y = self.y. """
        y0 = self.y if y is None else y
        vc = dict(y0.value_counts())
        max_key, max_count = max(vc.items(), key = operator.itemgetter(1))
        return max_count/sum(vc.values()), max_key
    
    
        
ICP = Country_Classifier(
    cgap_decoded_obj = Data,
    countries = ['cdi','nga','tan'],
    X = ['A38',('A41','my_legacy'),'NUM_KIDS'],
    y = ('A41','want_children_continue'),
    model_class = RandomForestClassifier(max_features=None),
    report=True
    )


ICP.train_model()
print(f"Model score on training data: {ICP.score()}")
print(f"Cross-validated model score: {ICP.cv_score()}")
print(f"Majority class in training data: {ICP.majority_class()}")

['cdi', 'nga', 'tan']:  Removed 1917 rows, loss = 0.2121

Model score on training data: 0.7668866732200533
Cross-validated model score: (0.763516361127538, array([0.76350877, 0.74227528, 0.70224719, 0.78160112, 0.82794944]))
Majority class in training data: (0.6501895801151524, 1.0)

Here's an analysis that compares predictions in one country given X from that country and a model from another country.

In [37]:
def intercountry_predictions(cgap_decoded_obj, X,y,model_class, countries):
    
    results = pd.DataFrame(columns=['mc','self','self-mc','n']+countries, index=countries)
    diffs = pd.DataFrame(columns=countries, index=countries)
    country_classifiers = {}
    
    # First train models for each country on data for that country
    
    for country in countries:
        CC = Country_Classifier(
            cgap_decoded_obj = cgap_decoded_obj,
            countries = [country], 
            X = X, y = y, model_class = model_class()
        )
        CC.train_model()      
        country_classifiers[country] = CC
        
        # within-sample classifier score
        results.loc[country,'self'] = round(CC.score(),3)
        
        # majority class prediction score
        results.loc[country,'mc'] = round(CC.majority_class()[0],3)
        
        # improvement of classifier over majority class
        results.loc[country,'self-mc']=round(CC.score() - CC.majority_class()[0],3)
        
        # number of non-NaN records for available to this classifier
        results.loc[country,'n'] = len(CC.y)
        
    
    # Now use these models to predict y's between countries
    for country1 in countries:
        CC1 = country_classifiers[country1]
        
        for country2 in countries:       
            if country1 == country2:
                results.loc[country1,country2] = round(CC1.score(),3)
                diffs.loc[country1,country2] = 0
                  
            else:
                # Use country1's classifier to predict other countries
                CC2 = country_classifiers[country2]
                
                # score of country1's  model on c2 data: how well the model predicts c2
                c12 =  CC1.score(CC2.X,CC2.y) 
                
                # how much worse it is to use c1 model to predict c2 than it is to use c2 model
                c12_loss = c12 - CC2.score()
        
                results.loc[country1,country2] = round(c12,3)
                diffs.loc[country1,country2] = round(c12_loss,3)
            
    return results, diffs
 
X = ['A38',('A41','my_legacy'),'NUM_KIDS']
y = ('A41','want_children_continue')

results, diffs = intercountry_predictions(Data, X, y, RandomForestClassifier, countries)
 
print ("Accuracy when row country predicts column country\n")
print(results)
print()
print ("Loss of accuracy in column country predictions when row country predicts column country\n")
print(diffs)

Accuracy when row country predicts column country

        mc   self self-mc     n    bgd    cdi    moz    nga    tan    uga
bgd  0.693  0.695   0.002  2371  0.695   0.46  0.366  0.421  0.301  0.373
cdi  0.541  0.639   0.098  2281  0.542  0.639  0.777  0.817  0.795  0.737
moz  0.645  0.797   0.152  1316  0.526  0.611  0.797  0.812  0.806  0.758
nga  0.657  0.849   0.192  2232  0.539  0.628  0.786  0.849  0.816  0.771
tan   0.74  0.819   0.079  2608  0.538   0.62  0.785  0.841  0.819   0.77
uga  0.679  0.777   0.098  2071  0.536  0.617  0.786  0.832  0.811  0.777

Loss of accuracy in column country predictions when row country predicts column country

       bgd    cdi    moz    nga    tan    uga
bgd      0 -0.179 -0.431 -0.428 -0.517 -0.404
cdi -0.153      0 -0.021 -0.032 -0.023  -0.04
moz  -0.17 -0.028      0 -0.037 -0.012 -0.019
nga -0.156 -0.011 -0.011      0 -0.003 -0.006
tan -0.158 -0.019 -0.012 -0.008      0 -0.007
uga -0.159 -0.022 -0.011 -0.017 -0.008      0